<div class="page page-form">

    <div class="row ui-section">

        <div class="panel panel-default goals-header">
            <div class="panel-body body-dark">
                <div class="row">
                    <div class="col-md-2 col-xs-12 col-sm-12 padd-top-30">
                        <div class="profile-info">
                            <div class="detail-cont goals-header-label ">
                                <span class="text-size-lg">GOALS SUMMARY</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-xs-12 col-sm-6 padd-top-30">
                        <div class="profile-info">
                            <div class="detail-cont goals-header-label">
                                Goals: <span
                                class="text-inner text-size-lg">{{dashCtrl.goalDashHeader.totalNumberOfGoals}}</span>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-3 col-xs-12 col-sm-6 padd-top-30">
                        <div class="detail-cont goals-header-label">
                            Have: <span class="text-size-lg">{{dashCtrl.goalDashHeader.totalHave | currency}}</span>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-12 col-sm-6 padd-top-30 main-value">
                        <div class="detail-cont goals-header-label">
                            Need: <span class="text-size-lg">{{dashCtrl.goalDashHeader.totalNeeded | currency}}</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-xs-12 col-sm-6">

                        <div goal-pie-chart="dashCtrl.goalDashHeaderPieChart"></div>
                    </div>
                </div>

            </div>


        </div>

        <div class="panel panel-default goals-chart">
            <div class="panel-body panel-body-inner panel-head-bold" style="padding: 15px 0px !important;">
                <div class="col-md-12">
                    <div goals-dash-chart chart-options="dashCtrl.chartOptions"></div>
                </div>
                <div class="col-md-6">
                    <!--<div class="panel-heading-main-chart">Project Goal Achievement: <b>{{dashCtrl.goalAchievementDate}}</b></div>-->
                    <div class="panel-heading-main-chart">Priority &nbsp;&nbsp;&nbsp;
                        <div class="priority-div goal-very-important"></div>
                        <div class="priority-div goal-important"></div>
                        <div class="priority-div goal-average"></div>
                        <div class="priority-div goal-below-average"></div>
                        <div class="priority-div goal-least-average"></div>
                    </div>
                </div>
                <div class="col-md-6 pull-right">
                    <form action="#" class="form-horizontal form-datepicker-main head-date-right ng-pristine ng-valid">
                        <div class="form-body">
                            <div class="form-group">
                                <label class="control-label">Range:</label>
                                <div class="date-con-main">
                                    <div class="input-group input-large date-picker input-daterange">
                                        <datepicker date-format="MMMM dd, yyyy" class="form-control form-datepicker"
                                                    date-set="{{dashCtrl.rangeInit.minDate.toISOString()}}"
                                                    date-max-limit="{{dashCtrl.rangeLimit.limitMinDate.toISOString()}}">
                                            <input type="text" class="date-input form-control form-date-inner"
                                                   ng-model="dashCtrl.range.minDate">
                                        </datepicker>
                                        -
                                        <datepicker date-format="MMMM dd, yyyy" class="form-control form-datepicker"
                                                    date-set="{{dashCtrl.rangeInit.maxDate.toISOString()}}"
                                                    date-min-limit="{{dashCtrl.rangeLimit.limitMaxDate.toISOString()}}">
                                            <input type="text" class="form-control form-date-inner"
                                                   ng-model="dashCtrl.range.maxDate">
                                        </datepicker>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>


                </div>
            </div>


        </div>

        <div class="panel panel-default">
            <div class="panel-body panel-body-inner panel-head-bold">
                <h3><span class="pull-left">Goals</span>
                    <span class="add-com pull-right ">
                        <a>+ Add Goal</a>
                    </span>
                </h3>
                <table class="table no-margin table-goal">
                    <thead>
                    <tr>
                        <th>Goal Name</th>
                        <th>Priority</th>
                        <th>Completion (%)</th>
                        <th>Have</th>
                        <th>Need</th>
						<th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="goal in dashCtrl.goalsDashGrid">
                        <td ng-if="!dashCtrl.isAdvisorView">
                            <a ui-sref="page.client.home.goal.id({goalId:goal.id, goalName: goal.name})" ng-class="goal.className">{{goal.name}}</a>
                        </td>
                        <td ng-if="dashCtrl.isAdvisorView">
                            <a ui-sref="page.advisor.contacts.clientDash.goals.id({goalId:goal.id, goalName: goal.name})" ng-class="goal.className">{{goal.name}}</a>
                        </td>
                        <td>{{goal.priority}}</td>
                        <td>{{goal.percentCompleted}} %</td>
                        <td>{{goal.currentSavings | currency}}</td>
                        <td>{{goal.neededAtTheEnd | currency}}</td>
                        <td>
                            <a><i class="fa fa-cog"></i></a>
                            <a ng-click="dashCtrl.deleteGoal(goal)"><i class="fa fa-trash"><md-tooltip>Delete</md-tooltip></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Total</strong></td>
                        <td></td>
                        <td></td>
                        <td><strong>{{dashCtrl.goalDashHeader.totalHave | currency}}</strong></td>
                        <td><strong>{{dashCtrl.goalDashHeader.totalNeeded | currency}}</strong></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
                <div class="add-com">
                    <a>+ Add Goal</a>
                </div>
            </div>


        </div>
    </div>

</div>
