<div class="page page-form">

    <!--<div class="row">-->

    <div class="panel panel-default">
        <div class="panel-body body-dark">
            <div class="row">
                <div class="col-md-2 col-xs-12 col-sm-6 padd-top-30">
                    <div class="profile-info">
                        <div class="detail-cont">
                            {{goalCtrl.goalDetail.name}}
                        </div>
                    </div>

                </div>
                <!--<div class="col-md-2 col-xs-12 col-sm-6 padd-top-17">-->
                <!--<div class="detail-cont">-->
                <!--<span class="text-size-sm">Age:</span> <span class="text-size-lg">65</span><br>-->
                <!--<span class="text-size-diff">Current:</span> <span class="text-size-diff">43</span>-->
                <!--</div>-->
                <!--</div>-->
                <div class=" col-md-offset-2 col-sm-offset-6 col-md-3 col-xs-12 col-sm-6  retirement-month-value padd-top-30">
                    <div class="detail-cont">
                        <span class="text-size-sm">Goal:</span> <span class="text-size-lg">$5000</span><span
                        class="text-muted">/ month</span>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6 retirement-goal-value padd-top-30">
                    <div class="detail-cont">
                        <span class="text-size-sm">Need:</span> <span class="text-size-lg">{{goalCtrl.goalDetail.neededAtTheEnd |  currency }}</span><span
                        class="text-muted">/ {{goalCtrl.goalDetail.currentSavings |  currency }}</span>
                    </div>
                </div>
                <div class="col-md-2 col-xs-12 col-sm-12">
                    <div goal-pie-chart="goalCtrl.goalHeaderPieChart"></div>
                    <!--<div data-echarts data-options="poptions1" style="height: 80px;"></div>-->
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body panel-body-inner" style="padding: 15px 0px !important;">
            <div class="col-md-12">
               <div goal-account-history-chart chart-options="goalCtrl.accountContributionChartOptions" set-account-colors="goalCtrl.setAccountColors(chartSeries)"></div>
                <div class="col-md-6">
                    <!--<div class="panel-heading-main-chart">Project Goal Achievement: <b>{{goalCtrl.goalDetail.endDate |
                        date: 'MMMM yyyy'}}</b></div>-->
                </div>
                <div class="col-md-6 pull-right">
                    <form action="#" class="form-horizontal form-datepicker-main head-date-right ng-pristine ng-valid">
                        <div class="form-body">
                            <div class="form-group">
                                <label class="control-label">Range:</label>
                                <div class="date-con-main">
                                    <div class="input-group input-large date-picker input-daterange">
                                        <datepicker date-format="MMMM dd, yyyy" class="form-control form-datepicker"
                                                    date-set="{{goalCtrl.rangeInit.minDate.toISOString()}}"
                                                    date-max-limit="{{goalCtrl.rangeLimit.limitMinDate.toISOString()}}">
                                            <input type="text" class="date-input form-control form-date-inner"
                                                   ng-model="goalCtrl.range.minDate">
                                        </datepicker>
                                        -
                                        <datepicker date-format="MMMM dd, yyyy" class="form-control form-datepicker"
                                                    date-set="{{goalCtrl.rangeInit.maxDate.toISOString()}}"
                                                    date-min-limit="{{goalCtrl.rangeLimit.limitMaxDate.toISOString()}}">
                                            <input type="text" class="form-control form-date-inner"
                                                   ng-model="goalCtrl.range.maxDate">
                                        </datepicker>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>


                </div>
            </div>


        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body panel-body-inner">
            <h3>Accounts Assigned to Goal</h3>
            <table class="table no-margin table-goal">
                <thead>
                <tr>
                    <th>Account Name</th>
                    <th></th>
                    <th>Type</th>
                    <th>Institution</th>
                    <th>Balance</th>
                    <th>Allocation to goal</th>

                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="account in goalCtrl.accountsList">
                    <td><span ng-style="{color: account.color}">{{account.accountName}}</span></td>
                    <td><i class="fa fa-random" aria-hidden="true" ng-show="account.heldAway"></i></td>
                    <td>{{account.accountType}}</td>
                    <td>{{account.institutionName}}</td>
                    <td>{{account.balance | currency}}</td>
                    <td>
                        <rzslider rz-slider-model="account.percentage" class="retSlider"
                                  rz-slider-options="goalCtrl.sliderOptions"></rzslider>
                    </td>
                    <td>
                        <div class="value-slider">{{account.fundsAtTheEnd | currency}}</div>
                    </td>
                </tr>

                </tbody>
            </table>
            <div class="add-com">
                <a>+ Add Account</a>
            </div>
        </div>


    </div>


    <!--</div>-->
</div>
