<style>
    .edit-financial {
        text-align: left;
    }
    
    .md-scroll-mask {
        background: none !important;
    }
    
    .finanacial-insurance {
        padding-left: 0;
    }
    
    .finanacial-insurance_add {
        padding-left: 15px !important;
        font-size: 15px;
        position: relative;
        top: -30px;
    }
    
    .label_name_width {
        width: 200px;
        max-width: 200px;
    }
    
    .financial_date {
        font-size: 11px !important;
        padding-left: 2px;
    }
    
    .label-color {
        color: #9d9c9d !important;
        font-size: 15px;
    }
    
    .financial_date_picker_1 {
        margin-left: -17px !important;
    }
    
    .financial_date_picker_1 input {
        margin-left: -17px !important;
    }
    
    .finance_date_picker_2 {
        margin-left: 5px;
    }
    
    .finanial-policy-row {
        margin-top: 20px;
    }
    
    .death-benifit {
        padding-right: 0 !important;
    }
    
    .years {
        padding-left: 0 !important;
    }
    
    .financial_beneficiary_2 {
        margin-top: 0;
    }
    
    .per_year {
        font-size: 12px !important;
    }
    
    @media screen and (max-width: 1300px) and (min-width: 992px) {
        .financial_main {
            width: 100% !important;
        }
        .financial-type {
            width: 100% !important;
        }
    }
    
    @media screen and (max-width: 1050px) and (min-width: 992px) {
        .financial_date {
            font-size: 10px !important;
        }
        .label-color {
            font-size: 12px;
        }
    }
    
    @media screen and (max-width: 991px) {
        .edit-financial {
            text-align: center !important;
        }
    }
</style>



<div class="page page-form">

    <div class="row ui-section">
        <div class="panel panel-default">
            <div class="panel-body body-dark hhd">
                <div class="row account_row_1">
                    <div class="col-md-2 col-xs-12 col-sm-12 hhd-1">
                        <div class="profile-info">
                            <div class="detail-cont details_cont_2">
                                ADD A FINANCIAL
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-xs-12 col-sm-12 hhd-2">
                        <div class="row bs-wizard" style="border-bottom:0;">

                            <div class="col-xs-4 bs-wizard-step complete">

                                <div class="progress">
                                    <div class="progress-bar"></div>
                                </div>
                                <a class="bs-wizard-dot"></a>

                            </div>

                            <div class="col-xs-4 bs-wizard-step complete">

                                <div class="progress">
                                    <div class="progress-bar"></div>
                                </div>
                                <a class="bs-wizard-dot"></a>

                            </div>

                            <div class="col-xs-4 bs-wizard-step complete">

                                <div class="progress">
                                    <div class="progress-bar"></div>
                                </div>
                                <a class="bs-wizard-dot"></a>

                            </div>


                        </div>





                    </div>


                    <div class="col-md-4 col-xs-12 col-sm-12 hhd-3">
                        <ul class="add_goal_buttons pull-right btns_add_goal">
                            <li><button ui-sref="page.addFinancialInstitutionTypeIndv" class="md-raised btn-w-sm md-primary md-button md-ink-ripple btn-grey btn_AddGoal"
                                    type="button"><span class="ng-scope">Cancel</span><div class="md-ripple-container"></div></button></li>
                            <li><button ui-sref="page.addFinancialInstitutionConfirm" class="md-raised btn-w-sm md-primary md-button md-ink-ripple btn-save btn_AddGoal"
                                    type="button"><span class="ng-scope">Add</span><div class="md-ripple-container"></div></button></li>
                        </ul>
                    </div>



                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body panel-body-inner panel-head-bold legend_panel_head">
                <div class="row">
                    <h2 class="outer-head outer_head_1">Select Accounts to Aggregate</h2>
                    <div class="col-md-2 col-sm-12 col-xs-12 financial-type"></div>
                    <div layout="column" class="col-md-8 col-sm-12 col-sm-offset-0 financial_main" ng-cloak class="md-inline-form inputdemoBasicUsage">
                        <div layout-padding>
                            <form class="account-form">
                                <div class="row">
                                    <div class="col-md-5"></div>
                                    <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                                        <div layout layout-sm="column">
                                            <div class="bordered_imgs borderImg_2">
                                                <img src="images/addFinancialIns/addFinancialInstitution_img7.png" class="md-card-image img-border_2">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-3"></div>

                                </div>


                                <div class="row bottom-row">
                                    <div class="table-responsive table-aggregates">
                                        <table class="table no-margin table-responsive table-account">
                                            <thead>
                                                <tr>
                                                    <th class="table-left-column table-headings-column" ng-click="sortReversefirstName = !sortReversefirstName; sortType = 'firstName'">Type

                                                    </th>
                                                    <th class="table-left-column table-headings-column" ng-click="sortReversefirstName = !sortReversefirstName; sortType = 'lastName'">Institution
                                                    </th>
                                                    <th class="table-right-column  table-headings-column" ng-click="sortReversefirstName = !sortReversefirstName; sortType = 'title'">Account Name
                                                    </th>
                                                    
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr ng-repeat="advisorData in advisorGridData | orderBy : sortType : sortReversefirstName ">
                                                   
                                                    <td class="table-left-column"> <md-checkbox md-no-ink aria-label="Checkbox No Ink" class="md-primary" ng-model="percentages.active"></md-checkbox>{{advisorData.type}}</td>
                                                    <td class="table-left-column">{{advisorData.institution}}</td>
                                                    <td class="table-right-column">{{advisorData.accountName}}</td>
                                                
                                                </tr>
                                            </tbody>

                                        </table>
                                    </div>
                                </div>


                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>



</div>
</div>
</div>