<div class="page page-form" ng-controller="financialIsntitutionController">

    <div class="row ui-section account_row_1">

      <div class="panel panel-default">
            <div class="panel-body body-dark hhd">
               <div class="row account_row_1">
                    <div class="col-md-2 col-xs-12 col-sm-12 hhd-1">
                        <div class="profile-info">
                            <div class="detail-cont details_cont_2">
                                ADD A FINANCIAL
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-xs-12 col-sm-12 hhd-2">
                       <div class="row bs-wizard" style="border-bottom:0;">
                
                <div class="col-xs-4 bs-wizard-step complete">
                  
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a ui-sref="page.addFinancialInstitution" class="bs-wizard-dot"></a>
                 
                </div>
                
                <div class="col-xs-4 bs-wizard-step active">
             
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a ui-sref="page.addFinancialInstitutionType" class="bs-wizard-dot"></a>
              
                </div>
                
                <div class="col-xs-4 bs-wizard-step disabled">
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a ui-sref="page.addFinancialInstitutionTypeIndvagg" class="bs-wizard-dot"></a>
                  
                </div>
                
                
            </div>
        
        
        
        
        
	</div>
                   

                    <div class="col-md-4 col-xs-12 col-sm-12 hhd-3">
                        <ul class="add_goal_buttons pull-right btns_add_goal">
                        <li><button ui-sref="page.addFinancialInstitution" class="md-raised btn-w-sm md-primary md-button md-ink-ripple btn-grey btn_AddGoal" type="button"><span class="ng-scope">Cancel</span><div class="md-ripple-container"></div></button></li>
                        <li><button ui-sref="page.addFinancialInstitutionTypeIndv" class="md-raised btn-w-sm md-primary md-button md-ink-ripple btn-save btn_AddGoal" type="button"><span class="ng-scope">Continue</span><div class="md-ripple-container"></div></button></li>
                        </ul>
                    </div>

               

                </div>

            </div>
        </div>
        <div class="panel panel-default">
             <div class="panel-body panel-body-inner panel-head-bold legend_panel_head">


                

                <div class="row">
                        <h2 class="outer-head outer_head_1">Financial Type</h2>
                        <div layout="column" class="col-md-12" ng-cloak class="md-inline-form inputdemoBasicUsage">
      
                        <div class="row aggr_row_1">
                            <div class="col-md-2"></div>
                            <div class="col-md-8" style="text-align:center;">
                                
                                <h4 class="heading-inner aggregate_type">Aggregate your account by institutions:</h4> 
                                

                                    <div layout class="dropdown_row">

                                        <div class="col-md-4"></div>
                                        <div class="col-md-8 col-sm-12 col-xs-12 type-financial" style="text-align:left !important">
                                        <md-input-container>
                                            <!--<label>State</label>-->
                                            <md-select ng-model="user.brand">
                                                <md-option ng-repeat="brand in brandsArr track by $index">
                                                     {{showbrand(brand, $index)}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                        </div>
                                        <div class="col-md-4"></div>


                                    </div>

                                    <div layout layout-sm="column">
                                        <div class="col-md-12 col-sm-12 col-xs-12 type-financial">
                                        
                                            <label class="institution_type">Or choose form these popular institutions:</label>
                                           
                                        </div>
                                    </div>



                                  <div class="bordered-imgs_row">

                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <div class="bordered_imgs">
                                                <img ui-sref="page.addFinancialInstitutionTypeIndv" src="images/addFinancialIns/addFinancialInstitution_img1.png" ng-click="imgSelected('images/addFinancialIns/addFinancialInstitution_img1.png')" class="md-card-image img-border_2">
                                            </div>

                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <div class="bordered_imgs">
                                                <img ui-sref="page.addFinancialInstitutionTypeIndv" src="images/addFinancialIns/addFinancialInstitution_img2.png" ng-click="imgSelected('images/addFinancialIns/addFinancialInstitution_img2.png')" class="md-card-image img-border_2">
                                            </div>

                                        </div>

                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <div class="bordered_imgs">
                                                <img ui-sref="page.addFinancialInstitutionTypeIndv" src="images/addFinancialIns/addFinancialInstitution_img3.png" ng-click="imgSelected('images/addFinancialIns/addFinancialInstitution_img3.png')" class="md-card-image img-border_2">
                                            </div>

                                        </div>

                                       <div class="col-md-3 col-sm-3 col-xs-12">
                                            <div class="bordered_imgs">
                                                <img ui-sref="page.addFinancialInstitutionTypeIndv" src="images/addFinancialIns/addFinancialInstitution_img4.png" ng-click="imgSelected('images/addFinancialIns/addFinancialInstitution_img4.png')" class="md-card-image img-border_2">
                                            </div>

                                        </div>

                                        


                                    </div>

                                    <div class="bordered-imgs_row row-space">

                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <div class="bordered_imgs">
                                                <img ui-sref="page.addFinancialInstitutionTypeIndv" src="images/addFinancialIns/addFinancialInstitution_img8.png" ng-click="imgSelected('images/addFinancialIns/addFinancialInstitution_img8.png')" class="md-card-image img-border_2">
                                            </div>

                                        </div>

                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <div class="bordered_imgs">
                                                <img ui-sref="page.addFinancialInstitutionTypeIndv" src="images/addFinancialIns/addFinancialInstitution_img7.png" ng-click="imgSelected('images/addFinancialIns/addFinancialInstitution_img7.png')" class="md-card-image img-border_2">
                                            </div>

                                        </div>

                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <div class="bordered_imgs">
                                                <img ui-sref="page.addFinancialInstitutionTypeIndv" src="images/addFinancialIns/addFinancialInstitution_img6.png" ng-click="imgSelected('images/addFinancialIns/addFinancialInstitution_img6.png')" class="md-card-image img-border_2">
                                            </div>

                                        </div>

                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <div class="bordered_imgs">
                                                <img ui-sref="page.addFinancialInstitutionTypeIndv" src="images/addFinancialIns/addFinancialInstitution_img5.png" ng-click="imgSelected('images/addFinancialIns/addFinancialInstitution_img5.png')" class="md-card-image img-border_2">
                                            </div>

                                        </div>

                                        


                                    </div>

                            </div> 
                            <div class="col-md-2"></div>
                            
                         
                            
                         
                        </div>
       </div></div>          

                </div>
            </div>



        </div>
    </div>
</div>

