<div class="page page-form" ng-controller="transferAccountCtrl">

    <div class="row ui-section account_row_1">

        <div class="panel panel-default">
            <div class="panel-body body-dark hhd">
               <div class="row account_row_1">
                    <div class="col-md-2 col-xs-12 col-sm-12 hhd-1">
                        <div class="profile-info">
                            <div class="detail-cont details_cont_2">
                                ADD A FINANCIAL
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-xs-12 col-sm-12 hhd-2">
                       <div class="row bs-wizard" style="border-bottom:0;">
                
                <div class="col-xs-4 bs-wizard-step">
                  
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a ui-sref="page.addFinancialInstitution" class="bs-wizard-dot"></a>
                 
                </div>
                
                <div class="col-xs-4 bs-wizard-step disabled">
             
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a ui-sref="page.addFinancialInstitutionType" class="bs-wizard-dot"></a>
              
                </div>
                
                <div class="col-xs-4 bs-wizard-step disabled">
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a ui-sref="page.addFinancialInstitutionTypeIndvagg" class="bs-wizard-dot"></a>
                  
                </div>
                
                
            </div>
        
        
        
        
        
	</div>
                   

                    <div class="col-md-4 col-xs-12 col-sm-12 hhd-3">
                        <ul class="add_goal_buttons pull-right btns_add_goal">
                        <li><button ui-sref="page.addFinancialInstitutionType" class="md-raised btn-w-sm md-primary md-button md-ink-ripple btn-grey btn_AddGoal" type="button"><span class="ng-scope">Cancel</span><div class="md-ripple-container"></div></button></li>
                        <li><button ui-sref="page.addFinancialInstitutionType" class="md-raised btn-w-sm md-primary md-button md-ink-ripple btn-save btn_AddGoal" type="button"><span class="ng-scope">Continue</span><div class="md-ripple-container"></div></button></li>
                        </ul>
                    </div>

               

                </div>

            </div>
        </div>

        <div class="panel panel-default">
             <div class="panel-body panel-body-inner panel-head-bold legend_panel_head">

<div class="row">
                        <h2 class="outer-head outer_head_1">Title</h2>
</div>
                

                <div class="row addfinancialtitlemain">
                      
                         <div>
                        <div class="col-md-6 addfinancialtitle">
                            <button class="md-raised btn-w-lg md-primary md-button md-ink-ripple btn-grey" type="button"><span class="ng-scope">Investment Accounts</span><div class="md-ripple-container"></div></button>
                            <p>Click to aggregate your accounts by institution. Here you can add Bank Accounts, Credit Cards,
                                Investment Accounts, and Loans.</p>

                        </div>

                        <div class="col-md-6 addfinancialtitle">
                            <button class="md-raised btn-w-lg md-primary md-button md-ink-ripple btn-grey" type="button"><span class="ng-scope">Custom Financial Accounts</span><div class="md-ripple-container"></div></button>
                             <p>Click to manually add your accounts. Here you can add Properties, Insurance Policies, and Custom
                                Financial Accounts.</p>
                        </div>


                    </div></div>          

                </div>
            </div>



        </div>
    </div>
</div>
