<div class="vault-container share">
<div class="vault-header">
  <div class="col-xs-6">
      <h4 class="title-score">My vault <span>(12)</span></h4>
  </div>
  
  <div class="col-xs-6 text-right">
  <!-- <ul>
    <li class="grid"><a href="javascript:void(0)"><i class="fa fa-th-large"></i></a></li>
    <li class="bars active"><a href="javascript:void(0)"><i class="fa fa-bars"></i></a></li>
  </ul> -->
  </div>
</div>

<div class="divTable vault-table">

    <div class="divTableHeading">

        <div class="divTableRow">
            <div class="divTableCell" data-field="id">
                Name
            </div>
            <div class="divTableCell" data-field="name">
                Last modified
            </div>
            <div class="divTableCell" data-field="price">File size</div>
            <div class="divTableCell" data-field="price">
                <div class="edit-option">
                  
              </div>
            </div>
        </div><!--divTableRow-->
    </div><!--End divTableHead-->

    <div class="divTableBody">

        <div class="divTableRow">
            <div class="divTableCell">
                <i class="fa file-folder img-icon"></i><a ui-sref="vault-item">Oscar Documents</a>
            </div>
            <div class="divTableCell">
                Mar 1, 2016
            </div>
            <div class="divTableCell">_</div>
            <div class="divTableCell">
                <div class="edit-option">
                  <ul>
                    <li><a href="javascript:void(0)"><i class="fa fa-user-plus" ng-click="showAdvanced($event)"></i></a></li>
                    <!--<li><a href="javascript:void(0)"><i class="fa fa-star-o"></i></a></li>-->
                    <li><a href="javascript:void(0)"><i class="fa fa-comments-o"></i></a></li>
                    <li><a href="javascript:void(0)"><i class="fa-download-custom"></i></a></li>
                    <li><a href="javascript:void(0)"><i class="fa-delete-custom"></i></a></li>
                  </ul>
              </div>
            </div>
        </div><!--divTableRow-->

        <div class="divTableRow">
            <div class="divTableCell">
                <i class="fa  file-folder img-icon"></i>
                <a ui-sref="vault-item">Oscar Documents</a>
            </div>
            <div class="divTableCell">
                Mar 1, 2016
            </div>
            <div class="divTableCell">_</div>
            <div class="divTableCell">
                <div class="edit-option">
                  <ul>
                    <li><a href="javascript:void(0)"><i class="fa fa-user-plus" ng-click="showAdvanced($event)"></i></a></li>
                    <!--<li><a href="javascript:void(0)"><i class="fa fa-star-o"></i></a></li>-->
                    <li><a href="javascript:void(0)"><i class="fa fa-comments-o"></i></a></li>
                    <li><a href="javascript:void(0)"><i class="fa-download-custom"></i></a></li>
                    <li><a href="javascript:void(0)"><i class="fa-delete-custom"></i></a></li>
                  </ul>
              </div>
            </div>
        </div><!--divTableRow-->

        <div class="divTableRow">
            <div class="divTableCell">
                <i class="fa fa-file-text"></i>
                <a href="javascript:void(0)">General Files</a>
             </div>
            <div class="divTableCell">
                Mar 1, 2016
            </div>
            <div class="divTableCell">500KB</div>
            <div class="divTableCell">
                <div class="edit-option">
                  <ul>
                    <li><a href="javascript:void(0)"><i class="fa fa-user-plus" ng-click="showAdvanced($event)"></i></a></li>
                    <!--<li><a href="javascript:void(0)"><i class="fa fa-star-o"></i></a></li>-->
                    <li><a href="javascript:void(0)"><i class="fa fa-comments-o"></i></a></li>
                    <li><a href="javascript:void(0)"><i class="fa-download-custom"></i></a></li>
                    <li><a href="javascript:void(0)"><i class="fa-delete-custom"></i></a></li>
                  </ul>
              </div>
            </div>
        </div><!--divTableRow-->

         <div class="divTableRow">
            <div class="divTableCell">
                <i class="fa file-word img-icon"></i> 
                <a href="javascript:void(0)">Document One</a>
            </div>
            <div class="divTableCell">
                Jan 1, 2016
            </div>
            <div class="divTableCell">1.8MB</div>
            <div class="divTableCell">
                <div class="edit-option">
                  <ul>
                    <li><a href="javascript:void(0)"><i class="fa fa-user-plus" ng-click="showAdvanced($event)"></i></a></li>
                    <!--<li><a href="javascript:void(0)"><i class="fa fa-star-o"></i></a></li>-->
                    <li><a href="javascript:void(0)"><i class="fa fa-comments-o"></i></a></li>
                    <li><a href="javascript:void(0)"><i class="fa-download-custom"></i></a></li>
                    <li><a href="javascript:void(0)"><i class="fa-delete-custom"></i></a></li>
                  </ul>
              </div>
            </div>
        </div><!--divTableRow-->

        <div class="divTableRow">
            <div class="divTableCell">
                <i class="fa file-jpg img-icon"></i>
                <a href="javascript:void(0)">Company Id.jpg</a>
            </div>
            <div class="divTableCell">
                Dec 14, 2015
            </div>
            <div class="divTableCell">907KB</div>
            <div class="divTableCell">
                <div class="edit-option">
                  <ul>
                    <li><a href="javascript:void(0)"><i class="fa fa-user-plus" ng-click="showAdvanced($event)"></i></a></li>
                    <!--<li><a href="javascript:void(0)"><i class="fa fa-star-o"></i></a></li>-->
                    <li><a href="javascript:void(0)"><i class="fa fa-comments-o"></i></a></li>
                    <li><a href="javascript:void(0)"><i class="fa-download-custom"></i></a></li>
                    <li><a href="javascript:void(0)"><i class="fa-delete-custom"></i></a></li>
                  </ul>
              </div>
            </div>
        </div><!--divTableRow-->

        <div class="divTableRow">
            <div class="divTableCell">
                <i class="fa file-lock img-icon"></i>
                <a href="javascript:void(0)">Non desclosure Agreement.pdf</a>
                <span class="share-person">
                <a href="javascript:void(0)">
                  <img src="images/g1.jpg">
                </a>
                <a href="javascript:void(0)">
                  <img src="images/g1.jpg">
                </a>
              </span>
            </div>
            <div class="divTableCell">
                Dec 14, 2015
            </div>
            <div class="divTableCell">907KB</div>
            <div class="divTableCell">
                <div class="edit-option">
                  <ul>
                    <li class="active"><a href="javascript:void(0)"><i class="fa fa-user-plus" ng-click="showAdvanced($event)"></i></a></li>
                    <!--<li><a href="javascript:void(0)"><i class="fa fa-star-o"></i></a></li>-->
                    <li><a href="javascript:void(0)"><i class="fa fa-comments-o"></i></a></li>
                    <li><a href="javascript:void(0)"><i class="fa-download-custom"></i></a></li>
                    <li><a href="javascript:void(0)"><i class="fa-delete-custom"></i></a></li>
                  </ul>
              </div>
            </div>
        </div><!--divTableRow-->

        <div class="divTableRow">
            <div class="divTableCell">
                <i class="fa file-googlesheet img-icon"></i>
                <a href="javascript:void(0)">Spreedsheet.xls</a>
            </div>
            <div class="divTableCell">
                Dec 14, 2015
            </div>
            <div class="divTableCell">907KB</div>
            <div class="divTableCell">
                <div class="edit-option">
                  <ul>
                    <li class=""><a href="javascript:void(0)"><i class="fa fa-user-plus" ng-click="showAdvanced($event)"></i></a></li>
                    <!--<li><a href="javascript:void(0)"><i class="fa fa-star-o"></i></a></li>-->
                    <li><a href="javascript:void(0)"><i class="fa fa-comments-o"></i></a></li>
                    <li><a href="javascript:void(0)"><i class="fa-download-custom"></i></a></li>
                    <li><a href="javascript:void(0)"><i class="fa-delete-custom"></i></a></li>
                  </ul>
              </div>
            </div>
        </div><!--divTableRow-->

        <div class="divTableRow">
            <div class="divTableCell">
                <i class="fa file-pdf img-icon"></i>
                <a href="javascript:void(0)">Questions.pdf</a>
            </div>
            <div class="divTableCell">
                Dec 14, 2015
            </div>
            <div class="divTableCell">907KB</div>
            <div class="divTableCell">
                <div class="edit-option">
                  <ul>
                    <li class=""><a href="javascript:void(0)"><i class="fa fa-user-plus" ng-click="showAdvanced($event)"></i></a></li>
                    <!--<li><a href="javascript:void(0)"><i class="fa fa-star-o"></i></a></li>-->
                    <li><a href="javascript:void(0)"><i class="fa fa-comments-o"></i></a></li>
                    <li><a href="javascript:void(0)"><i class="fa-download-custom"></i></a></li>
                    <li><a href="javascript:void(0)"><i class="fa-delete-custom"></i></a></li>
                  </ul>
              </div>
            </div>
        </div><!--divTableRow-->

    </div>
  </div>

          

</div>


 <!-- <md-button class="md-primary md-raised" ng-click="showAdvanced($event)">
      Custom Dialog
    </md-button> -->

<script type="text/ng-template" id="dialog1.tmpl.html">
<md-dialog class="share-person-modal" aria-label="Mango (Fruit)"  ng-cloak>
  <form >
    <md-toolbar class="header">
      <div class="md-toolbar-tools">
        <h4>Share with others</h4>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <i class="fa fa-times"></i>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <md-input-container class="md-block" flex-gt-sm>
            <label>Invite Advisor</label>
            <input type="text" ng-model="profile.fullname" placeholder="Enter Email Address or Name">
        </md-input-container>
          <p class="share-text">Share with</p>
          <ul class="collection">
            <li>
              <img src="images/g1.jpg">
              <p> Dane Smith  <br> <span>dansmith@gmail.com</span></p>
              <a href="javascript:void(0)">Unshare</a>
            </li>
            <li>
              <img src="images/g1.jpg">
              <p> Dane Smith  <br> <span>dansmith@gmail.com</span></p>
              <a href="javascript:void(0)">Unshare</a>
            </li>
          </ul>

      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button class="md-primary md-raised md-button ng-scope md-ink-ripple"ng-click="answer('useful')" style="margin-right:20px;">
        Share
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
</script>