<div class="vault-container" ng-class="{'msg-toggle': isChatWindowVisible == true}">

    <div class="vault-content">
        <!-- Message sidebar -Menu-->
        <div class="msg-sidebar-menu" ng-show="isChatWindowVisible">
            <div class="msg-header">
               <h4 class="title">Messages: <b>#Oscarspeech</b></h4>
                <!--<a href="javascript:void(0)" class="btn-close" ng-click="toggleChatWindow()"><i class="fa fa-times"></i></a>  -->

            </div>
            <div class="msg-body">
                <p class="chat-timing-interval">Today</p>

                <!--sender-->
                <div class="sender">
                  <img class="sender-img" src="images/g1.jpg">
                  <div class="sender-content">
                    <p>#OscarSpeech! I Think that there are some important lessons here.</p>
                  </div>
                  <span class="time-span">9:55 AM</span>
                </div>

                <!--receiver-->
                <div class="receiver">
                  <div class="receiver-content">
                    <p>Thanks Tina!</p>
                    <p>It's about time. I won this award. I've waited so long. Now we need to talk about the wunnings.</p>
                  </div>
                  <span class="time-span">10:05 AM</span>
                </div>
            </div>
            <div class="msg-footer">
                <p class="typing-text">Tina is typing...</p>
                <div class="inp-msg-group">
                  <input type="text" class="inpText" placeholder="Message">
                  <i class="fa fa-smile-o"></i>
                </div>
                <a href="javascript:void(0)" class="btn-attech"><i class="fa fa-paperclip"></i></a>
            </div>
        </div>
        <!--End of  Message sidebar -Menu-->  
    </div>
<div class="vault-header">
  <div class="col-xs-6">
      <h4 class="title-score">Oscar Documents <span>(3)</span></h4>
  </div>
  
  <div class="col-xs-6 text-right">
  <!-- <ul>
    <li class="grid"><a href="javascript:void(0)"><i class="fa fa-th-large"></i></a></li>
    <li class="bars active"><a href="javascript:void(0)"><i class="fa fa-bars"></i></a></li>
  </ul> -->
  </div>
</div>

  <div class="divTable vault-table">

    <div class="divTableHeading">

        <div class="divTableRow">
            <div class="divTableCell">
                Name
            </div>
            <div class="divTableCell">
                Last modified
            </div>
            <div class="divTableCell">File size</div>
            <div class="divTableCell" data-field="price">
                <div class="edit-option">
                  
              </div>
            </div>
           
            
          
        </div><!--divTableRow-->
    </div><!--End divTableHead-->

    <div class="divTableBody">

        <div class="divTableRow">
            <div class="divTableCell">
                <i class="fa fa-file-text"></i>
                <a href="javascript:void(0)" ng-click="showAdvanced($event)">Winning.pdf</a>
            </div>
            <div class="divTableCell">
                Feb 28, 2016
            </div>
            <div class="divTableCell">202KB</div>
            <div class="divTableCell">
                <div class="edit-option">
                  <ul>
                    <li class="active"><a href="javascript:void(0)"><i class="fa fa-user-plus"></i></a></li>
                    <!--<li><a href="javascript:void(0)"><i class="fa fa-star-o"></i></a></li>-->
                    <li><a href="javascript:void(0)" ng-click="toggleChatWindow()"><i class="fa fa-comments-o"></i></a></li>
                    <li><a href="javascript:void(0)"><i class="fa-download-custom"></i></a></li>
                    <li><a href="javascript:void(0)"><i class="fa-delete-custom"></i></a></li>
                  </ul>
              </div>
            </div>
            
        </div><!--divTableRow-->

        <div class="divTableRow">
            <div class="divTableCell">
                <i class="fa fa-file-text"></i>
                <a href="javascript:void(0)" ng-click="showAdvanced($event)">speech.docx</a>
            </div>
            <div class="divTableCell">
                Apr 10, 2015
            </div>
            <div class="divTableCell">6.8 MB</div>
            <div class="divTableCell">
                <div class="edit-option">
                  <ul>
                    <li class="active"><a href="javascript:void(0)"><i class="fa fa-user-plus"></i></a></li>
                    <!--<li><a href="javascript:void(0)"><i class="fa fa-star-o"></i></a></li>-->
                    <li><a href="javascript:void(0)" ng-click="toggleChatWindow()"><i class="fa fa-comments-o"></i></a></li>
                    <li><a href="javascript:void(0)"><i class="fa-download-custom"></i></a></li>
                    <li><a href="javascript:void(0)"><i class="fa-delete-custom"></i></a></li>
                  </ul>
              </div>
            </div>
        </div><!--divTableRow-->

        <div class="divTableRow">
            <div class="divTableCell">
                <i class="fa fa-file-text"></i>
                <a href="javascript:void(0)" ng-click="showAdvanced($event)">Questions.pdf</a>
            </div>
            <div class="divTableCell">
                MAr 7, 2016
            </div>
            <div class="divTableCell">1.8 MB</div>
            <div class="divTableCell">
                <div class="edit-option">
                  <ul>
                    <li class="active"><a href="javascript:void(0)"><i class="fa fa-user-plus"></i></a></li>
                    <!--<li><a href="javascript:void(0)"><i class="fa fa-star-o"></i></a></li>-->
                    <li><a href="javascript:void(0)" ng-click="toggleChatWindow()"><i class="fa fa-comments-o"></i></a></li>
                    <li><a href="javascript:void(0)"><i class="fa-download-custom"></i></a></li>
                    <li><a href="javascript:void(0)"><i class="fa-delete-custom"></i></a></li>
                  </ul>
              </div>
            </div>
        </div><!--divTableRow-->
    </div>
</div><!-- vault-content-->

<div class="pdf-header" ng-show="isPdfHeaderVisible">
<div class="row"> 
        <div class="col-xs-6"> 
            <ul class="sec1">
                <li><h4><i class="fa fa-file-text"></i> Speech.pdf</h4></li>
                <li>Date : Apr 10, 2015</li>
                <li>Size: 6.8MB</li>
            </ul>
        </div>
        <div class="col-xs-4"> 
            <ul class="icon-ul">
                <li><i class="fa fa-cloud-download"></i></li>
                <li><i class="fa fa-exclamation-circle"></i></li>
                <li><i class="fa fa-trash"></i></li>
                <!--<li><i class="fa fa-star-o"></i></li>-->
            </ul>
        </div>
        <div class="pull-right"> 
            <ul class="icon-ul-2">
                <li><i class="fa fa-comment"></i></li>
                <li><i class="fa fa-times" ng-click=cancel()></i></li>
            </ul>
        </div>
</div>  
    
</div>



<script type="text/ng-template" id="dialog1.tmpl.html">
<md-dialog class="pdf-view-modal" aria-label="Mango (Fruit)"  ng-cloak ng-controller="VaultItemCtrl">
  <form >
    <md-dialog-content>
      <div class="md-dialog-content" style="height: 78vh;">
            <!-- <div  src="http://www.pdf995.com/samples/pdf.pdf"></div> -->
            <embed width="100%" height="100%" name="plugin" id="plugin" ng-src="http://www.pdf995.com/samples/pdf.pdf" type="application/pdf" internalinstanceid="16">
      </div>
    </md-dialog-content>  
  </form>
</md-dialog>
</script>


</div><!--vault-container-->

            