<div ng-controller="messageController">
                <div scroll class="msg-sidebar-menu" ng-show="isChatWindowVisible" style="overflow:auto;">
                    <div class="msg-header">
                        <h4 class="title">Messages:<b>#Oscarspeech</b></h4>
                        <!--<a href="javascript:void(0)" class="btn-close" ng-click="toggleChatWindow()"><i class="fa fa-times"></i></a>-->

                    </div>
                    <div class="msg-body" ng-repeat="(key, value) in global.messages | toArray | orderBy : 'key'">

                        <p class="chat-timing-interval">{{value.key == today ? "Today": value.key | date: 'EEEE, MMMM d'}}</p>
                        <div ng-repeat="message in value.messages">
                            <!--sender-->
                            <div class="sender" ng-if="!message.isSender">
                                <img class="sender-img" data-ng-src="{{avatarUrl}}">
                                <div class="sender-content">
                                    <p>{{message.content}}</p>
                                </div>
                                <span class="time-span"> {{message.date | date : "h:mm a"}}</span>
                            </div>

                            <!--receiver-->
                            <div class="receiver" ng-if="message.isSender">
                                <div class="receiver-content">
                                    <p> {{message.content}}</p>
                                </div>
                                <span class="time-span"> {{message.date | date : "h:mm a"}}</span>
                            </div>
                        </div>
                    </div>

                    <div class="msg">
                        <p class="typing" ng-if="typing">{{typingText}}</p>
                        <div class="answer-add send-msgs">
                            <!-- <div class="bar bar-footer typingStatus" >
                               <div class="title">{{typingText}}dff</div>
                            </div> -->
                            <span>
                                <input placeholder="Message" class="text-box_1" style=""
                                       type="text" placeholder="Message" ng-change="updateTyping()" ng-enter="sendMessage()"
                                       ng-model="message" ng-disabled="disableChatInput">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!--End of  Message sidebar -Menu-->
