﻿<div id="vaultUpload" drop-Zone>
    <div class="vault-container" ng-class="{'msg-toggle': isChatWindowVisible == true}">

        <div class="vault-content">

            <div ng-include src="'app/client/vault/html/vault-chat.html'"></div>


            <div class="vault-header">
                <div class="col-xs-6">
                    <h4 class="title-score">{{vaultHeader}} <span>({{totalCount}})</span></h4>
                </div>

                <div class="col-xs-6 text-right">

                </div>
            </div>

            <!-- Start divTable -->
            <div class="divTable vault-table">
                <input type="file" id="upload" valid-file fileread="file" onchange="angular.element(this).scope().vaultUpload(this)" style="display:none" required>
                <div class="divTableHeading">
                    <div class="divTableRow">
                        <div class="divTableCell">
                            Name
                            <i class="fa fa-sort" aria-hidden="true" ng-click="sortBy('folder','name')"></i>
                        </div>
                        <div class="divTableCell">
                            Last modified
                            <i class="fa fa-sort" aria-hidden="true" ng-click="sortBy('lastModifiedDate','lastModifiedDate')"></i>
                        </div>
                        <div class="divTableCell">
                            File size
                            <i ng-if="vaultFolders.length===0" class="fa fa-sort" aria-hidden="true" ng-click="sortByDynamic('fileSize','fileSize')"></i>
                        </div>                        
                        <div class="divTableCell">
                            <div class="edit-option"></div>
                        </div>
                    </div>
                    <!--divTableRow-->
                </div>
                <!--End divTableHead-->

                <div class="divTableBody">
                                   


                    <div class="divTableRow" ng-repeat="item in vaultFolders | orderBy:propertyFolder:reverse  | filter: searchKeyword ">
                        <div class="divTableCell">
                            <i class="fa fa-folder"></i><span ui-sref="page.client.vault-home.folder({folderName:item.folder})">{{item.folder}}</span>                            
                        </div>
                        <div class="divTableCell">
                            {{item.lastModifiedDate | date:'MMMM d, y'}}
                        </div>
                        <div class="divTableCell">{{item.fileSize | filesize }}</div>
                        <div class="divTableCell">
                            <div class="edit-option">
                                <ul>
                                    <!-- <li><a href="javascript:void(0)" ng-click="showRenameFolderField(item.id,item.folder)"><i class="fa fa-pencil" title="Rename"></i></a></li> -->
                                    <li>
                                        <a href="javascript:void(0)" ng-click="shareVault(item.id, item.shared); item.shared == true ? item.shared = false:item.shared = true"><i class="fa fa-user-plus" ng-class="item.shared == true ? 'fa-user-plus-o':''"></i></a>
                                    </li>
                                    <!--<li>
                        <a href="javascript:void(0)" ng-click="updateVault(item.id, item.starred); item.starred == true ? item.starred = false:item.starred = true"><i class="fa" ng-class="item.starred == true ? 'fa-star':'fa-star-o'"></i></a>
                    </li>-->
                                    <!-- <li><a href="javascript:void(0)" ng-click="toggleChatWindow()"><i class="fa fa-comments-o"></i></a></li> -->
                                    <li><!-- <a href="javascript:void(0)"><i class="fa fa-download"></i></a> --></li>
                                    <li><a href="javascript:void(0)" ng-click="deleteFolder(item.folder);"><i class="fa fa-trash-o"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--divTableRow-->
                    
                    <div class="divTableRow" ng-repeat="item in vaultFiles | orderBy:propertyName:reverse | filter: searchKeyword ">
                        <div class="divTableCell">
                            <i class="fa fa-file-text"></i><a href="javascript:void(0)" ng-click="showAdvanced($event, item.fileUrl, item.name, item.lastModifiedDate, item.fileSize, item.id)"><span>{{item.name}}</span></a>
                            <!--<input class="editableInput"  ng-show="item.name==fileName" type="text" placeholder="Rename File" focus-me="item.name==fileName" />-->
                        </div>
                        <div class="divTableCell">
                            {{item.lastModifiedDate | date:'MMMM d, y'}}
                        </div>
                        <div class="divTableCell">{{item.fileSize | filesize }}</div>
                        <div class="divTableCell">
                            <div class="edit-option">
                                <ul>
                                    <!--<li><a href="javascript:void(0)" ng-click="showRenameFileField(item.name)"><i class="fa fa-pencil" title="Rename" title="Rename" ></i></a></li>-->
                                    <li>
                                        <a href="javascript:void(0)" ng-click="shareVault(item.id, item.shared); item.shared == true ? item.shared = false:item.shared = true"><i class="fa fa-user-plus" ng-class="item.shared == true ? 'fa-user-plus-o':''"></i></a>
                                    </li>
                                    <!--<li>
                                        <a href="javascript:void(0)" ng-click="updateVault(item.id, item.starred);item.starred == true ? item.starred = false:item.starred = true"><i class="fa" ng-class="item.starred == true ? 'fa-star':'fa-star-o'"></i></a>
                                    </li>-->
                                    <li><a href="javascript:void(0)" ng-click="toggleChatWindow()"><i class="fa fa-comments-o"></i></a></li>
                                    <li><a href="javascript:void(0)" ng-click="downloadFromList($event,item)"><i class="fa fa-download"></i></a></li>
                                    <li><a href="javascript:void(0)" ng-click="deleteFile(item.id,item.name);"><i class="fa fa-trash-o"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--divTableRow-->

                </div>
            </div>
            <!-- DivTable.com -->


        </div>
        <!--  </div>Vault content -->

        <div ng-include src="'app/client/vault/html/vault-header.html'"></div>

        <style>
            .md-dialog-container {
                position: fixed;
                top: 0 !important;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                height: 100% !important;
                /*background: rgba(255, 255, 255, 0.5)*/
            }
        </style>


    </div>
    <!-- Vault contaivner -->


</div>

