<div class="vault-container">
    <div class="vault-dragdrop">
         <div class="file-drop-box">
             <p>
                <a href="javascript:void(0);">
                     <span class="dropfile"> Drop files</span> 
                     <span class="to-upload">to upload</span>
                     <span class="file-upload-icon"><i class="fa fa-file-text-o" aria-hidden="true"></i></span>
                </a>
             </p>
         </div>
    </div>
</div>


