<div class="page page-form">
	<div class="row ui-section">
		<div>
            <div class="panel panel-default">
                <div class="panel-body">
	                <div class="col-md-10 col-md-offset-1">
		               

		                <!-- feed-section -->
		              
		                 <div>
							 <div class="feed-section" style="text-align:center;margin:100px 0;">
							<div class="page-err">
    <div class="err-container text-center">
        <div class="err">
            <h1>Page not found!</h1>
            <h2>The goal you are looking for no longer exists</h2>
        </div>

        <div class="err-body">
            <a ui-wave href="#/" class="btn btn-raised btn-lg btn-curve">
                Go Back
            </a>
        </div>
    </div>
</div>
		                	 </div>
    						
						</div>


	                </div>
                </div>
            </div>
          

        </div>
    </div>
</div>