<div class="page-forgot" ng-controller="resetCtrl">


    <div class="wrapper">
        <div class="main-body">
            <div>
                <div class="card">
                    <div class="card-content">

                        <section class="logo text-center">
                            <h1><a><img src="images/logo-login.png" style="width:30%;"></a></h1>
                        </section>

                        <form class="form-horizontal form-signin" name="forgotForm" id="forgotForm">
                            <fieldset>
                               <div class="additional-info text-center text-small head-tp">
                                      Please enter your email address below to reset your password.
                                   </div>
                                <div class="form-group">
                                    <div class="ui-input-group-padd">
                                        <md-input-container class="md-block">
                                         <label>Email</label>
                                         <input type="text" ng-model="email" name="email" ng-required="true" class="form-control">
                                      </md-input-container>
                                        <span class="input-bar"></span>
                                        <md-input-container class="md-block">
                                      <div class="error-msg-main tcenter">{{errorMgs}}</div>
                                       </md-input-container>
                                    
                                </div>
                                
                          
                            </fieldset>
                        </form>
                    </div>
                    <div class="card-action no-border text-center">
                         <a ui-sref="signin" style="margin-right: 12px !important;" class="button-login btn-first-child">Back</a>
                        <a href="javascript:void(0)" id="forgotSubmit" class="button-login" ng-Click="submitForgot()">Submit</a>
                    </div>
                </div>

         <div class="additional-info">
                    <div class="m-bott-5 text-center">
                        <a href="#/signin" class="color-primary">Login</a>
                    </div>
                 
                    <a href="" class="forgot-pass">Sign up</a>
                </div>

            </div>
        </div>

    </div>
</div>

