<header data-ng-include="header"
        id="header"
        class="header-container "
        data-ng-class="{ 'header-fixed': main.fixedHeader,
                                  'bg-white': ['11','12','13','14','15','16','21'].indexOf(main.skin) >= 0,
                                  'bg-dark': main.skin === '31',
                                  'bg-primary': ['22','32'].indexOf(main.skin) >= 0,
                                  'bg-success': ['23','33'].indexOf(main.skin) >= 0,
                                  'bg-info': ['24','34'].indexOf(main.skin) >= 0,
                                  'bg-warning': ['25','35'].indexOf(main.skin) >= 0,
                                  'bg-danger': ['26','36'].indexOf(main.skin) >= 0
                 }"></header>

<div class="main-container"
     data-ng-class="{ 'app-nav-horizontal': main.menu === 'horizontal' }" ng-controller="sideBarController">
    <aside data-ng-include="sideBar"
           id="nav-container"
           class="nav-container"
           ng-class="{ 'nav-fixed': main.fixedSidebar,
                                    'nav-horizontal': main.menu === 'horizontal',
                                    'nav-vertical': main.menu === 'vertical',
                                    'bg-white': ['31','32','33','34','35','36'].indexOf(main.skin) >= 0,
                                    'bg-dark': ['31','32','33','34','35','36'].indexOf(main.skin) < 0
                   }">
    </aside>


    <div id="content" class="content-container" ng-click="toggleRight()" role="none">
        <section data-ui-view
                 class="view-container" ng-class="main.pageTransition.class"></section>
    </div>
</div>
