<div class="page-forgot" ng-controller="resetCtrl">


    <div class="wrapper">
        <div class="main-body">
            <div>
                <div class="card">
                    <div class="card-content">

                        <section class="logo text-center">
                            <h1><a><img src="images/logo-login.png" style="width:30%;"></a></h1>
                        </section>

                        <form class="form-horizontal form-reset" name="resetForm" id="resetForm">
                            <fieldset>
                              <div class="additional-info text-center text-small head-tp">
                                       Please enter you new password below:-
                                   </div>
                                <div class="form-group">
                                    
                                    <div class="ui-input-group-md icon-inner-input">
                                        <md-input-container class="md-icon-float md-icon-right md-block">
                                             <label>New Password</label>
                                            <input type="{{newPass}}" ng-model="resetPassword" name="password" ng-required="true" ng-model="passwordCheckbox" ng-click="hideShowPassword()" class="form-control">
                                          <md-icon md-svg-src="images/eye.svg"  ng-model="passwordCheckbox" ng-click="hideShowNewPassword()"></md-icon>
                                            </md-input-container>
                                        <span class="input-bar"></span>
                                       
                                    </div>
                                </div>
                           		
                            </fieldset>
                            
                            <fieldset>
                             
                                <div class="form-group">
                                    
                                    <div class="ui-input-group-md icon-inner-input">
                                         <md-input-container class="md-icon-float md-icon-right md-block">
                                              <label>Confirm Password</label>
                                        <input type="{{confirmNewPass}}" ng-model="resetConfirmPassword" name="reset-confirm-password" ng-required="true" class="form-control">
                                        <md-icon md-svg-src="images/eye.svg" ng-model="passwordCheckbox" ng-click="hideShowConfirmPassword()"></md-icon>
                                            </md-input-container>
                                        <span class="input-bar"></span>
                                         <md-input-container class="md-icon-float md-icon-right md-block">
                                        <div class="error-msg-main tcenter">{{errorMgs}}</div>
                                         </md-input-container>
                                    </div>
                                   
                                </div>
                           		
                            </fieldset>
                        </form>
                    </div>
                    <div class="card-action no-border text-center">
                        <button id="forgotSubmit" class="button-login" ng-Click="submitReset()">Update</button>
                    </div>
                </div>


            </div>
        </div>

    </div>
</div>

