<div class="page-signin" ng-controller="authCtrl">

    <div class="wrapper">
        <div class="main-body">
            <div>
                <form novalidate class="form-horizontal form-signin" name="loginForm" id="loginForm" ng-submit="submitLogin()">
                    <div class="card">
                        <div class="card-content">

                        <section class="logo text-center">
                            <h1><a><img src="images/logo-login.png" style="width:30%;"></a></h1>
                        </section>

                       
                            <fieldset>
                                <div class="form-group">
                                    <div class="ui-input-group-padd">  
                                        <md-input-container class="md-block">   
                                             <label>Email</label>   
                                        <input type="text" required class="form-control" ng-model="form.username" name="username" ng-required="true">
                                        <span class="input-bar"></span>
                                       
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="ui-input-group-padd">
                                        <md-input-container class="md-block">   
                                             <label>Password</label>     
                                        <input type="password" required class="form-control" ng-model="form.password" name="password" ng-required="true" >
                                        <span class="input-bar"></span>
                                       
                                        </md-input-container>
                                    </div>
                                </div>
  								<!--<div class="error-msg-main" style="" ng-show="loginErrorShow">{{user_error}}</div>-->
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label class="termCondition" ng-init="form.userAgree = true;">
                                            <input type="checkbox" ng-required="true" ng-model="form.userAgree"
                                                   style="display:inline-block;" data-ng-checked="true">
                                            I agree to
                                            <a class="forgot-pass" href="sample-pdf/OranjTermsofUse.pdf"
                                               target="_blank">Terms of Use</a> &
                                            <a class="forgot-pass" href="sample-pdf/OranjAppPrivacyPolicy.pdf"
                                               target="_blank"> Privacy Policy </a>
                                        </label>
                                    </div>
                                </div>
                                <div class="error-msg-main text-center" style="" ng-show="loginErrorShow">
                                    {{user_error}}
                                </div>
                            </fieldset>
                       
                    </div>
                    <div class="card-action no-border text-center">
                        <button type="submit" class="button-login" data-ng-disabled="loginForm.$invalid">LOGIN</button>
                           <!--<a class="button-login" href="#/networth/networthMain">LOGIN</a>-->
                    </div>
                </div>

                <div class="additional-info">
                    <div class="m-bott-5 text-center">
                        <a href="" class="color-primary">Sign up</a>
                    </div>
                 
                    <a href="#/forgot-password" class="forgot-pass">Forgot Password</a>
                </div>
 </form>

            </div>                
        </div>

    </div>

</div>