<style type="text/css">
    .md-scroll-mask {
        background: none !important;
    }
    
    .legend_panel_head_5 {
        padding: 22px 24px !important;
    }
</style>
<div class="page page-form"  data-ng-controller="ProfileInfoCtrl">
    <div class="row ui-section">
        <div class="panel panel-default sett-main sett_main_head_5">
            <div class="row">
                <div class="col-md-12">
                    <div class="setting-sec">
                        <h3>Advisor Info</h3>
                    </div>
                </div>
                <div class="legend_panel_head_5">


                    <div class="col-md-3 col-xs-12 profile-img-main">
                        <div class="panel-body">
                            <div class="profile-img adv-main">

                                <img alt="" src="{{advisorinfo.advisorLogo}}" class="img-circle img-border">
                                 <spansett_main_head_5 class="badge badge-md up badge badge-advisor-info m-l-n-sm count" style="display: inline-block;">
                                    <img class="img-circle advisor-img" src="{{advisorinfo.FirmLogoUrl}}"> 
                                    </span>

                            </div>
                            <div style="text-align:center">                            
                            <a ui-sref="page.messages"><button class="md-raised btn-w-sm md-primary md-button md-ink-ripple btn-grey-m" type="button">Message<div class="md-ripple-container"></div></button></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-9 col-sm-12 col-xs-12">
                        <div class="panel-body">
                            <div layout="column" ng-cloak class="md-inline-form inputdemoBasicUsage">
                                <div layout-padding>
                                    <form name="form_settings" class="form-validation settings-form">
                                        <div class="row">

                                            <div class="row">
                                                <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                                    <div layout layout-sm="column">
                                                        <label>Advisor Name</label>
                                                    </div>
                                                    <div class="form-group"> 
                                                    {{advisorinfo.advisorname}}
                                                    </div>
                                                </div>

                                                <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                                    <div layout layout-sm="column">
                                                    <label>Advisor Title</label>
                                                    </div>
                                                    <div class="form-group"> 
                                                        {{advisorinfo.title}}
                                                    </div>                                                       
                                                </div>
                                            </div>



                                            <div class="row">
                                                <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                                    <div layout layout-sm="column">
                                                    <label>Phone</label>
                                                    </div>
                                                    <div class="form-group">
                                                    {{advisorinfo.phone}}
                                                    </div>
                                                </div>

                                                <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                                    <div layout layout-sm="column">
                                                    	<label>E-mail</label>                                                        
                                                    </div>
                                                    <div class="form-group">
                                                {{advisorinfo.email}}
                                                </div>   
                                                </div>
                                                
                                            </div>


                                            <div class="clearfix"></div>
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                                    <div layout layout-sm="column">
                                                       <label>Bio</label>
                                                </div>
                                                <div class="form-group">
                                                {{advisorinfo.bio}}
                                                </div>                                                
                                                
                                            	</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                                    <div layout layout-sm="column">
                                                       <label>Advisor Firm Address</label>
                                                </div>
                                                <div class="form-group">
                                                {{advisorinfo.firmAddress}}
                                                </div>                                                
                                                
                                            	</div>
                                            </div>                                            
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                                    <div layout layout-sm="column">
                                                       <label>Advisor Firm Phone Number</label>
                                                </div>
                                                <div class="form-group">
                                                {{advisorinfo.phone}}
                                                </div>                                                
                                                
                                            	</div>
                                            </div> 

                                        </div>





                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>