<style>
    .md-scroll-mask {background:none !important;}
    .label-color {
        color: #9d9c9d !important;
        font-size: 15px;
    }
    .text-padding-left{padding-left: 0px}
    .text-padding-right {padding-right: 0px}
    .term-policy-style{width: 58%;display: inline-block;}
    .select-year-style{width: 50%;display: inline-block;}
    .year-label{font-size: 10px;color:#666;}
    .select-style{width:100%;}
    .select-policy-style{width: 90%;}
    .select-purchased-style{width: 90%;}

    .input-width{ width: 70% !important}
    .per-label{    
        font-size: 10px;
        /*margin-left: -75px;*/
        padding-right: 13px;
    }

    @media screen and (max-width: 1300px) and (min-width: 992px) {

        .financial-type {
            width: 100% !important;
        }
    }
    
    @media screen and (max-width: 1050px) and (min-width: 992px) {

        .label-color {
            font-size: 12px;
        }
    }
    
</style>


<div class="page page-form" >

    <div class="row ui-section">
        <div class="panel panel-default">
            <div class="panel-body body-dark hhd">
                <div class="row account_row_1">
                    <div class="col-md-2 col-xs-12 col-sm-12 hhd-1">
                        <div class="profile-info">
                            <div class="detail-cont details_cont_2">
                                ADD A FINANCIAL
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-xs-12 col-sm-12 hhd-2">
                        <div class="row bs-wizard" style="border-bottom:0;">
                            <div class="col-xs-4 bs-wizard-step complete">
                                <div class="progress">
                                    <div class="progress-bar"></div>
                                </div>
                                <a ui-sref="page.addFinancial" class="bs-wizard-dot"></a>
                            </div>

                            <div class="col-xs-4 bs-wizard-step complete">
                                <div class="progress">
                                    <div class="progress-bar"></div>
                                </div>
                                <a ui-sref="page.addFinancialType" class="bs-wizard-dot"></a>
                            </div>

                            <div class="col-xs-4 bs-wizard-step complete">
                                <div class="progress">
                                    <div class="progress-bar"></div>
                                </div>
                                <a ui-sref="page.addFinancialCustom" class="bs-wizard-dot"></a>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-4 col-xs-12 col-sm-12 hhd-3">
                        <ul class="add_goal_buttons pull-right btns_add_goal">
                            <li><button ui-sref="page.addFinancialType" class="md-raised btn-w-sm md-primary md-button md-ink-ripple btn-grey btn_AddGoal"
                                    type="button"><span class="ng-scope">Cancel</span><div class="md-ripple-container"></div></button></li>
                            <li><button ui-sref="page.addFinancialConfirm" class="md-raised btn-w-sm md-primary md-button md-ink-ripple btn-save btn_AddGoal"
                                    type="button"><span class="ng-scope">Add</span><div class="md-ripple-container"></div></button></li>
                        </ul>
                    </div>



                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body panel-body-inner panel-head-bold legend_panel_head">
                <div class="row">
                    <h2 class="outer-head outer_head_1">Financial Type: Insurance</h2>
                    <div class="col-md-1 col-sm-12 col-xs-12 financial-type"></div>
                    <div layout="column" class="col-md-9 col-sm-12 col-sm-offset-0 financial_main" ng-cloak class="md-inline-form inputdemoBasicUsage">
                        <div layout-padding>
                            <form class="account-form">
                                <h3>Details</h3>
                                <div class="row">
                                     <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                        <md-input-container>
                                            <label class="label-color">Policy Type</label>
                                            <md-select ng-model="value1" class="select-policy-style">
                                                <md-option selected value="Term Life" >
                                                    Term Life
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>

                                    <div class="col-md-6 col-sm-12 col-xs-12  form-group">
                                        <div layout layout-sm="column" ng-init="value2='Marx Insurance'">
                                            <md-input-container>
                                                <label class="label-color">Policy Name*</label>
                                                <input ng-model="value2"  md-maxlength="30">
                                            </md-input-container>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                       <div class="row">
                                            <div class="col-md-6 col-sm-12 col-xs-12  form-group">
                                                <div layout layout-sm="column">
                                                   <md-input-container>
                                                        <label class="label-color">Death Benefit*</label>
                                                        <input value="$28,929,029.00">
                                                    </md-input-container>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12 col-xs-12  form-group">
                                                <div layout layout-sm="column">
                                                   <md-input-container >
                                                        <label class="label-color">Term of Policy*</label>
                                                        <md-select ng-model="value4" class="term-policy-style">
                                                            <md-option selected value="12" >
                                                                12
                                                            </md-option>
                                                        </md-select>
                                                        <span class="year-label">years</span>
                                                    </md-input-container>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12 col-xs-12  form-group" ng-init="value3='State Farm'">
                                        <md-input-container>
                                            <label class="label-color">Carrier</label>
                                            <input ng-model="value3"  md-maxlength="30">
                                        </md-input-container>
                                    </div>
                                </div>

                                <div class="row">
                                     <div class="col-md-6 col-sm-12 col-xs-12  form-group" ng-init="value3='State Farm'">
                                        <md-input-container>
                                            <label class="label-color">Purchased By</label>
                                            <md-select ng-model="value5" class="select-purchased-style">
                                                <md-option selected value="Private" >
                                                    Private
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>
                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                       <div class="row">
                                            <div class="col-md-6 col-sm-12 col-xs-12  form-group">
                                                <div layout layout-sm="column">
                                                   <md-input-container>
                                                    <label>Policy Purchase Date</label>
                                                    <datepicker date-format="MM/dd/yyyy">
                                                        <input ng-model="value6" class="date-input" type="text"/>
                                                    </datepicker>
                                                </md-input-container>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12 col-xs-12  form-group">
                                                <div layout layout-sm="column">
                                                   <md-input-container>
                                                    <label>Policy Expiration Date</label>
                                                    <datepicker date-format="MM/dd/yyyy">
                                                    <input ng-model="value7" class="date-input" type="text"/>
                                                    </datepicker>
                                                </md-input-container>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                       <div class="row">
                                            <div class="col-md-12 col-sm-12 col-xs-12 text-padding-right form-group">
                                                <div layout layout-sm="column">
                                                   <md-input-container>
                                                        <label class="label-color">Premium payment</label>
                                                        <input value="$2,000.00" class="input-width">
                                                    </md-input-container>

                                                    <md-input-container > 
                                                    <span class="per-label">per</span>
                                                        <md-select ng-model="value10" class="select-year-style">
                                                            <md-option selected value="year" >year
                                                            </md-option>
                                                        </md-select>
                                                       
                                                    </md-input-container>
                                                </div>
                                            </div>
                                            <!-- <div class="col-md-6 col-sm-12 col-xs-12 text-padding-left form-group">
                                                <div layout layout-sm="column">
                                                   
                                                    
                                                </div>
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12 col-xs-12  form-group" ng-init="value3='State Farm'">
                                        
                                    </div>
                                </div>


                                <div class="row">
                                     <div class="col-md-6 col-sm-12 col-xs-12  form-group" ng-init="value8='Full Name'">
                                        <md-input-container style="width:90%">
                                            <label class="label-color">Beneficiaries</label>
                                            <input ng-model="value8"  md-maxlength="30">
                                        </md-input-container>
                                    </div>
                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                       <div class="row">
                                            <div class="col-md-12 col-sm-12 col-xs-12  form-group">
                                                <div layout layout-sm="column">
                                                   <md-input-container class="select-style">
                                                        
                                                        <md-select ng-model="value9" >
                                                            <md-option selected value="Contigent" >
                                                                Contigent
                                                            </md-option>
                                                        </md-select>
                                                    </md-input-container>

                                                    <md-input-container style="width:30%">
                                                        <!-- <label class="label-color">Initial Value</label> -->
                                                        <input value="75%">
                                                    </md-input-container>
                                                </div>
                                            </div>
                                            <!-- <div class="col-md-4 col-sm-12 col-xs-12 col-offset-2 form-group">
                                                <div layout layout-sm="column">
                                                   
                                                </div>
                                            </div> -->
                                            
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="add-com">
                                                <a>+ Add Additional Beneficiary</a>
                                            </div>
                                        </div>
                                </div>
                                
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
</div>
</div>