<style>
    .md-scroll-mask {background:none !important;}
    .label-color {
        color: #9d9c9d !important;
        font-size: 15px;
    }

    .input-width{ width: 30% !important}
    /*.text-padding{padding-left: 0px}*/
    .input-width-home-health{width: 50% !important}    

    .term-policy-style{width: 50%;display: inline-block;}
    .year-label{font-size: 10px;color:#666;}
    .label-unstyle{transform: none !important;}
    .label-font{font-size: 11px !important;}
    @media screen and (max-width: 1300px) and (min-width: 992px) {

        .financial-type {
            width: 100% !important;
        }
    }
    
    @media screen and (max-width: 1050px) and (min-width: 992px) {

        .label-color {
            font-size: 12px;
        }
    }
    
</style>



<div class="page page-form" >

    <div class="row ui-section">
        <div class="panel panel-default">
            <div class="panel-body body-dark hhd">
                <div class="row account_row_1">
                    <div class="col-md-2 col-xs-12 col-sm-12 hhd-1">
                        <div class="profile-info">
                            <div class="detail-cont details_cont_2">
                                ADD A FINANCIAL
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-xs-12 col-sm-12 hhd-2">
                        <div class="row bs-wizard" style="border-bottom:0;">
                            <div class="col-xs-4 bs-wizard-step complete">
                                <div class="progress">
                                    <div class="progress-bar"></div>
                                </div>
                                <a ui-sref="page.addFinancial" class="bs-wizard-dot"></a>
                            </div>

                            <div class="col-xs-4 bs-wizard-step complete">
                                <div class="progress">
                                    <div class="progress-bar"></div>
                                </div>
                                <a ui-sref="page.addFinancialType" class="bs-wizard-dot"></a>
                            </div>

                            <div class="col-xs-4 bs-wizard-step complete">
                                <div class="progress">
                                    <div class="progress-bar"></div>
                                </div>
                                <a ui-sref="page.addFinancialCustom" class="bs-wizard-dot"></a>
                            </div>
                        </div>

                    </div>


                    <div class="col-md-4 col-xs-12 col-sm-12 hhd-3">
                        <ul class="add_goal_buttons pull-right btns_add_goal">
                            <li><button ui-sref="page.addFinancialType" class="md-raised btn-w-sm md-primary md-button md-ink-ripple btn-grey btn_AddGoal"
                                    type="button"><span class="ng-scope">Cancel</span><div class="md-ripple-container"></div></button></li>
                            <li><button ui-sref="page.addFinancialConfirm" class="md-raised btn-w-sm md-primary md-button md-ink-ripple btn-save btn_AddGoal"
                                    type="button"><span class="ng-scope">Add</span><div class="md-ripple-container"></div></button></li>
                        </ul>
                    </div>



                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body panel-body-inner panel-head-bold legend_panel_head">
                <div class="row">
                    <h2 class="outer-head outer_head_1">Financial Type: Insurance</h2>
                    <div class="col-md-1 col-sm-12 col-xs-12 financial-type"></div>
                    <div layout="column" class="col-md-10 col-sm-12 col-sm-offset-0 financial_main" ng-cloak class="md-inline-form inputdemoBasicUsage">
                        <div layout-padding>
                            <form class="account-form">
                                <h3>Details</h3>
                                <div class="row">
                                    <div class="col-md-5 col-sm-12 col-xs-12 form-group" ng-init="value1='Marx Insurance'">
                                        <md-input-container>
                                                <label class="label-color">Policy Name*</label>
                                                <input ng-model="value1"  md-maxlength="30">
                                        </md-input-container>
                                    </div>

                                    <div class="col-md-2 col-sm-12 col-xs-12 form-group" >
                                    </div>

                                    <div class="col-md-5 col-sm-12 col-xs-12  form-group">
                                        <div layout layout-sm="column" >
                                            <md-input-container >
                                                        <label class="label-color label-font label-unstyle">Assisted Living Facility</label>
                                                        <input value="$ 100" class="input-width">
                                                        <span class="year-label">per day</span>
                                            </md-input-container>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-7 col-sm-12 col-xs-12">
                                       <div class="row">
                                            <div class="col-md-5 col-sm-12 col-xs-12  form-group">
                                                <div layout layout-sm="column">
                                                    <md-input-container >
                                                        <label class="label-color">Length of Contract*</label>
                                                        <md-select ng-model="value2" class="term-policy-style">
                                                            <md-option selected value="10" >
                                                                10
                                                            </md-option>
                                                        </md-select>
                                                        <span class="year-label">years</span>
                                                    </md-input-container>
                                                   
                                                </div>
                                            </div>
                                            <div class="col-md-7 col-sm-12 col-xs-12  form-group text-padding">
                                                <div layout layout-sm="column">
                                                   <md-input-container>
                                                        <label class="label-color label-font label-unstyle">Per Day Benefit:Nursing Home Care*</label>
                                                        <input value="$ 150" class="input-width">
                                                        <span class="year-label">per day</span>
                                                    </md-input-container>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5 col-sm-12 col-xs-12  form-group" ng-init="value3='State Farm'">
                                        <md-input-container>
                                            <label class="label-color">Carrier</label>
                                            <input ng-model="value3"  md-maxlength="30">
                                        </md-input-container>
                                    </div>
                                </div>

                                <div class="row">
                                     <div class="col-md-7 col-sm-12 col-xs-12  form-group" >
                                       <div class="row">
                                            <div class="col-md-5 col-sm-12 col-xs-12  form-group">
                                                <div layout layout-sm="column">
                                                    <md-input-container>
                                                        <label class="label-color label-font label-unstyle">Home Health Care</label>
                                                        <input value="$ 100" class="input-width-home-health">
                                                        <span class="year-label">per day</span>
                                                    </md-input-container>
                                                   
                                                </div>
                                            </div>
                                            <div class="col-md-7 col-sm-12 col-xs-12  form-group text-padding">
                                                <div layout layout-sm="column">
                                                   <md-input-container>
                                                        <label class="label-color label-font label-unstyle">Adult Day Care</label>
                                                        <input value="$ 100" class="input-width">
                                                        <span class="year-label">per day</span>
                                                    </md-input-container>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5 col-sm-12 col-xs-12">
                                       <div class="row">
                                            <div class="col-md-6 col-sm-12 col-xs-12  form-group">
                                                <div layout layout-sm="column">
                                                   <md-input-container >
                                                        <label class="label-color">Elimination Period</label>
                                                        <md-select ng-model="value4" class="term-policy-style">
                                                            <md-option selected value="28" >
                                                                28
                                                            </md-option>
                                                        </md-select>
                                                        <span class="year-label">days</span>
                                                    </md-input-container>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12 col-xs-12  form-group">
                                                <div layout layout-sm="column">
                                                   <md-input-container>
                                                    <label>Purchase Date</label>
                                                    <datepicker date-format="MM/dd/yyyy">
                                                    <input  class="date-input" type="text"/>
                                                    </datepicker>
                                                </md-input-container>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
</div>
</div>