<style>
    .md-scroll-mask {background:none !important;}
    .label-color {
        color: #9d9c9d !important;
        font-size: 15px;
    }

    .term-policy-style{width: 40%;display: inline-block;}
    .select-contract-style{width: 25%;display: inline-block;}
    .year-label{font-size: 10px;color:#666;}
    .input-width{ width: 55% !important}
    .select-style{width:80%;}
    .text-padding{padding-left: 0px}
    .equal-label{padding-left: 10px;font-size: 15px;color:#666;}
    .percent-label{color:#666;}
    .label-unstyle{transform: none !important;}
    .label-font{font-size: 11px !important;}
    @media screen and (max-width: 1300px) and (min-width: 992px) {
        .financial-type {
            width: 100% !important;
        }
    }
    
    @media screen and (max-width: 1050px) and (min-width: 992px) {

        .label-color {
            font-size: 12px;
        }
    }
    
</style>

<div class="page page-form" >

    <div class="row ui-section">
        <div class="panel panel-default">
            <div class="panel-body body-dark hhd">
                <div class="row account_row_1">
                    <div class="col-md-2 col-xs-12 col-sm-12 hhd-1">
                        <div class="profile-info">
                            <div class="detail-cont details_cont_2">
                                ADD A FINANCIAL
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-xs-12 col-sm-12 hhd-2">
                        <div class="row bs-wizard" style="border-bottom:0;">
                            <div class="col-xs-4 bs-wizard-step complete">
                                <div class="progress">
                                    <div class="progress-bar"></div>
                                </div>
                                <a ui-sref="page.addFinancial" class="bs-wizard-dot"></a>
                            </div>

                            <div class="col-xs-4 bs-wizard-step complete">
                                <div class="progress">
                                    <div class="progress-bar"></div>
                                </div>
                                <a ui-sref="page.addFinancialType" class="bs-wizard-dot"></a>
                            </div>

                            <div class="col-xs-4 bs-wizard-step complete">
                                <div class="progress">
                                    <div class="progress-bar"></div>
                                </div>
                                <a ui-sref="page.addFinancialCustom" class="bs-wizard-dot"></a>
                            </div>
                        </div>

                    </div>


                    <div class="col-md-4 col-xs-12 col-sm-12 hhd-3">
                        <ul class="add_goal_buttons pull-right btns_add_goal">
                            <li><button ui-sref="page.addFinancialType" class="md-raised btn-w-sm md-primary md-button md-ink-ripple btn-grey btn_AddGoal"
                                    type="button"><span class="ng-scope">Cancel</span><div class="md-ripple-container"></div></button></li>
                            <li><button ui-sref="page.addFinancialConfirm" class="md-raised btn-w-sm md-primary md-button md-ink-ripple btn-save btn_AddGoal"
                                    type="button"><span class="ng-scope">Add</span><div class="md-ripple-container"></div></button></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body panel-body-inner panel-head-bold legend_panel_head">
                <div class="row">
                    <h2 class="outer-head outer_head_1">Financial Type: Insurance</h2>
                    <div class="col-md-1 col-sm-12 col-xs-12 financial-type"></div>
                    <div layout="column" class="col-md-9 col-sm-12 col-sm-offset-0 financial_main" ng-cloak class="md-inline-form inputdemoBasicUsage">
                        <div layout-padding>
                            <form class="account-form">
                                <h3>Details</h3>
                                <div class="row">
                                     <div class="col-md-6 col-sm-12 col-xs-12 form-group" ng-init="value1='Marx Insurance'">
                                        <md-input-container style="width: 90%">
                                                <label class="label-color">Policy Name*</label>
                                                <input ng-model="value1"  md-maxlength="30">
                                        </md-input-container>
                                        </div>

                                    <div class="col-md-6 col-sm-12 col-xs-12  form-group">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-12 col-xs-12  form-group">
                                                <div layout layout-sm="column">
                                                    <md-input-container>
                                                        <label class="label-color label-font label-unstyle">% of Salary Covered*</label>
                                                        <input value="50" class="input-width">
                                                        <span class="percent-label"> % </span>
                                                        <span class="equal-label"> = </span>
                                                    </md-input-container>
                                                   
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12 col-xs-12  form-group ">
                                                <div layout layout-sm="column">
                                                   <md-input-container>
                                                        <label class="label-color">Salary Covered</label>
                                                        <input value="$ 50,000">
                                                        
                                                    </md-input-container>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                       <div class="row">
                                            <div class="col-md-6 col-sm-12 col-xs-12  form-group">
                                                <div layout layout-sm="column">
                                                    <md-input-container>
                                                    <label>Purchase Date</label>
                                                    <datepicker date-format="MM/dd/yyyy">
                                                        <input ng-model="value6"  type="text"/>
                                                    </datepicker>
                                                    </md-input-container>
                                                   
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12 col-xs-12  form-group">
                                                <div layout layout-sm="column">
                                                   <md-input-container >
                                                        <label class="label-color">Purchased By</label>
                                                        <md-select ng-model="value2" class="select-style">
                                                            <md-option selected value="Private" >
                                                                Private
                                                            </md-option>
                                                        </md-select>
                                                       
                                                    </md-input-container>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12 col-xs-12  form-group" ng-init="value3='State Farm'">
                                        <md-input-container>
                                            <label class="label-color">Carrier</label>
                                            <input ng-model="value3"  md-maxlength="30">
                                        </md-input-container>
                                    </div>
                                </div>

                                <div class="row">
                                     <div class="col-md-6 col-sm-12 col-xs-12  form-group" >
                                       <div class="column">
                                            <md-input-container >
                                                <label class="label-color">Length of Contract*</label>
                                                <md-select ng-model="value4" class="select-contract-style " >
                                                    <md-option selected value="15" >
                                                        15
                                                    </md-option>
                                                </md-select>
                                                <span class="year-label">years</span>
                                            </md-input-container>
                                        </div>
                                    </div>
                                    
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
</div>
</div>