<style>
    .nv-y {
        display: none;
    }
    
    .chart-line .chart-labels {
        display: none;
    }
    
    .label {
        text-align: left !important;
        float: left;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        width: 100px;
        font-weight: 600;
        color: #3e3e3e;
    }
    
    .label2 {
        text-align: right !important;
        float: right;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        width: 100px;
        font-weight: 600;
        color: #3e3e3e;
    }
    
    .netbreakdatalabel {
        position: absolute;
        left: 150px;
    }
    
    .chart-line .chart-labels {
        display: none;
    }
    
    .list_nav_2 {
        margin-top: 20px !important;
        margin-left: 13px;
    }
    
    .list_nav_2 li {
        padding: 20px 0px;
    }
    
    .legend-assets-value_1 {
        text-align: left;
    }
    
    .legend-assets-value_2 {
        text-align: center;
    }
    
    .legend-assets-value_3 {
        text-align: right;
    }
    
    .legends_values_2 {
        text-align: center;
    }
    
    .legend-text-size {
        font-size: 15px;
    }
    
    .panel_body_worth {
        margin-top: 45px;
    }
    
    .networth_legends_values {
        font-size: 14px !important;
    }
    
    .networth_legends_values_4 {
        font-size: 15px !important;
    }
    
    .networth_legends_values_6 {
        float: right !important;
        font-size: 18px;
        margin-left: 57%
    }
    
    .networth_right_text {
        float: right !important;
    }
    
    .networth_chart_2 {
        margin: 0px;
        padding: 0px 2.7%;
    }
    
    .networth_chart {
        height: 300px;
        max-height: 100% !important;
    }
    
    .networth_chart_3 {
        height: 240px;
        max-height: 100% !important;
    }
    
    .chart_center_value {
        text-align: center !important;
    }
    
    @media screen and (max-width:568px)and (min-width:320px) {
        .table-inner-expand-fsize {
            font-size: 13px;
        }
        .pull-right {
            float: left !important;
            padding: 15px 8px 0px;
        }
    }
    
    @media screen and (max-width:1050px) {
        .td_hide_width_networth {
            width: 2.4%;
        }
        .td_hide_width_networth_2 {
            position: relative;
            left: -5%;
        }
    }
    
    .facog-style {
        color: #989898;
    }
</style>
<div class="page" data-ng-controller="networthCtrl">

    <div class="row ui-section">
        <div class="panel panel-default">
            <div class="panel-body head-dark">
                <div class="row">
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="profile-info">
                            <div class="detail-cont legends_values_1">
                                <span class="text-size-sm legend-text-size">Net Worth</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 legend-assets-value_2">
                        <div class="detail-cont legends_values_2">
                            <span class="text-size-sm legend-text-size">Assets:</span> <span class="text-size-lg text-size-lg_1">{{totalAssetsFormat}}</span>
                            <br>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12  text-size-xs">
                        <div class="detail-cont legends_values_3">
                            <span class="text-size-sm legend-text-size">Liabilities:</span> <span class="text-size-lg text-size-lg_1">({{totalLiabilitiesFormat}})</span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="profile-info">
                            <div class="detail-cont legends_values_1 head-con-last">
                                <span class="text-size-sm legend-text-size ">Net worth:</span> <span class="text-size-lg text-size-lg_1">{{totalNetworthFormat}}</span>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default panel-minimal breakdown_networth_5">
                    <div class="panel-body">
                        <div class="panel-heading">Today's net worth Breakdown</div>
                    </div>
                    <div class="panel-body panel-body-client">
                        <div id="chart-area">
                            <div class="row">
                                <div id="netbreakdown" style="width:100%;height:350px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default panel-minimal breakdown_networth_5 main_panel_body_networth">
                    <div class="panel-body">
                        <div class="panel-heading">Changes in net worth</div>
                        <div class="row" style="margin:0;">
                            <div class="col-md-6 col-sm-6 col-xs-12 dash_home">
                                <h3 class="networth_legends_values " style="color:#262626;">NET WORTH 3/21/2016</h3>
                                <p class="networth_legends_values_4 networth_legends_values_6"><b>$ 653,012.00</b></p>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 dash_home padd_left_1">
                                <h3 class="networth_legends_values networth_right_text" style="color:#262626;">NET WORTH 4/22/2016</h3>
                                <p class="networth_legends_values_4 networth_legends_values_6"><b>$ 629,012.00</b></p>
                            </div>
                        </div>
                        <div class="row" style="margin:0;">
                            <div class="col-md-128 col-sm-12 col-xs-12 dash_home padd_left_1 chart_center_value">
                                <h3 class="networth_legends_values" style="color:#262626;">CHANGE</h3>
                                <p class="networth_legends_values_4 networth_legends_values_6"><b>-21% (-$ 24,000.00)</b></p>
                            </div>
                        </div>
                        <div class="chart-outer networth_chart_2">
                            <div id="changesnetworth" style="min-width:400px; height:240px;"></div>
                            <form action="#" class="form-horizontal form-datepicker-main head-date-right ng-pristine ng-valid">
                                <div class="form-body">
                                    <div class="form-group">
                                        <label class="control-label net_label">Range:</label>
                                        <div class="date-con-main">
                                            <div class="input-group input-large date-picker input-daterange">
                                                <datepicker date-format="MMMM dd, yyyy" class="form-control form-datepicker d1">
                                                    <input type="text" class="date-input form-control form-date-inner date-networth" ng-model="date.date1" ng-change="changeTiles()">
                                                </datepicker>
                                                -
                                                <datepicker date-format="MMMM dd, yyyy" class="form-control form-datepicker d2">
                                                    <input type="text" class="form-control form-date-inner date-networth" ng-model="date.date2" ng-change="changeTiles()">
                                                </datepicker>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" ng-init="showNetworthChartDiv=true;">
                <div class="panel panel-default panel-minimal">
                    <div class="panel-body">
                        <div class="row nw-main">
                            <span class="pull-left multiple-btns">
                                <div id="selector" class="btn-group">
                                    <button type="button" class="btn active btn-lg btn_1 btn-2" ng-click="showNetworthChartDiv=true;">Assets</button>
                                    <button type="button" class="btn btn-lg btn_1 btn-liabilties" ng-click="showNetworthChartDiv=false;">Liabilties</button>
                                </div>
                            </span>
                            <span class="pull-right">
                                    <a href="" class="color-grey-light">+ Add Asset / Liability</a>
                            </span>
                        </div>
                    </div>

                    <div class="panel-body panel-body-inner">
                        <!--Assets table  start-->
                        <div ng-show="showNetworthChartDiv">
                            <div class="table-responsive">
                                <table class="table no-margin table-main-inv">
                                    <tbody>
                                        <!-- Cash start-->
                                        <tr ng-repeat-start="clients in networthsDetailscash">
                                            <td width="5%">
                                                <a class="icn-padd" ng-click="networthsDetailscashexpanded = !networthsDetailscashexpanded">
                                                    <i ng-class="networthsDetailscashexpanded ? 'fa fa-caret-down fa-lg' : 'fa fa-caret-right fa-lg'"></i>
                                                </a>
                                            </td>
                                            <td width="15%">{{clients.Name}}</td>
                                            <td width="15%"><b>{{clients.value | currency}}</b></td>
                                            <td class="tdHide"></td>
                                            <td class="tdHide"></td>
                                        </tr>
                                        <tr ng-repeat-end ng-show="networthsDetailscashexpanded">
                                            <td class="tdHide"></td>
                                            <td colspan="5">
                                                <table class="table no-margin table-inner-expand table-inner-expand-fsize">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th class="tdHide"></th>
                                                            <th class="tdHide"></th>
                                                            <th class="tdHide"></th>
                                                            <th class="tdHide"></th>
                                                            <th class="tdHide"></th>
                                                            <th class="tdHide"></th>
                                                            <th class="tdHide"></th>
                                                            <th>Name</th>
                                                            <th>Type</th>
                                                            <th>Today's Balance</th>
                                                            <th>Day Change (%)</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="brand in clients.property">
                                                            <td></td>
                                                            <td class="tdHide"></td>
                                                            <td class="tdHide"></td>
                                                            <td class="tdHide"></td>
                                                            <td class="tdHide"></td>
                                                            <td class="tdHide"></td>
                                                            <td class="tdHide"></td>
                                                            <td class="tdHide"></td>
                                                            <td width="15%">{{brand.Item}}</td>
                                                            <td width="20%">{{brand.Details}}</td>
                                                            <td> {{brand.Balance | currency}}</td>
                                                            <td>({{brand.Change | currency}}) {{calcPercentage(brand.Change)
                                                                | number:1}}%</td>
                                                            <td class="icon-inner-grid">
                                                                <a><i class="fa fa-cog"></i></a>
                                                                <a>
                                                                    <img src="images/assign-goal1.png" style="max-width: 23px;max-height:23px;">
                                                                </a>
                                                                <a><i class="fa fa-trash"></i></a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <!-- Cash end-->

                                        <!--Investment start-->
                                        <tr ng-repeat-start="clients in networthsDetailsinv">
                                            <td width="5%">
                                                <a class="icn-padd" ng-click="networthsDetailsexpanded = !networthsDetailsexpanded">
                                                    <i ng-class="networthsDetailsexpanded ? 'fa fa-caret-down fa-lg' : 'fa fa-caret-right fa-lg'"></i>
                                                </a>
                                            </td>
                                            <td width="15%">{{clients.Name}}</td>
                                            <td width="15%"><b>{{clients.value | currency}}</b></td>
                                            <td class="tdHide"></td>
                                            <td class="tdHide"></td>
                                        </tr>
                                        <tr ng-repeat-end ng-show="networthsDetailsexpanded">
                                            <td class="tdHide"></td>
                                            <td colspan="5">
                                                <table class="table no-margin table-inner-expand table-inner-expand-fsize">
                                                    <thead>
                                                        <tr>
                                                            <th style="width:1%;"></th>
                                                            <th class="tdHide"></th>
                                                            <th class="tdHide"></th>
                                                            <th>Name</th>
                                                            <th>Type</th>
                                                            <th>Today's Balance</th>
                                                            <th>Day Change (%)</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="brand in clients.investments">
                                                            <td></td>
                                                            <td class="tdHide"></td>
                                                            <td class="tdHide"></td>
                                                            <td width="15%">{{brand.Name}}</td>
                                                            <td width="20%">{{brand.Type}}</td>
                                                            <td> {{brand.Balance | currency}}</td>
                                                            <td><span class="color-danger"><i class="fa fa-long-arrow-down" aria-hidden="true"></i> {{brand.Change | currency}} ({{calcPercentage(brand.Change) | number:1}}%)</span></td>
                                                            <td class="icon-inner-grid">
                                                                <div class="icon-group-td">
                                                                    <a ui-sref="oranj.editFinancialCustom"><i class="fa fa-cog fa-lg facog-style"></i></a>
                                                                    <a>
                                                                        <img src="images/assign-goal1.png" style="max-width: 23px;max-height:23px;">
                                                                    </a>
                                                                    <a><i class="fa fa-trash fa-lg facog-style"></i></a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <!-- Investment end-->

                                        <!-- Property Start-->
                                        <tr ng-repeat-start="clients in networthsDetailsprop">
                                            <td width="5%">
                                                <a class="icn-padd" ng-click="networthsDetailspropexpanded = !networthsDetailspropexpanded">
                                                    <i ng-class="networthsDetailspropexpanded ? 'fa fa-caret-down fa-lg' : 'fa fa-caret-right fa-lg'"></i>
                                                </a>
                                            </td>
                                            <td width="15%">{{clients.Name}}</td>
                                            <td width="15%"><b>{{clients.value | currency}}</b></td>
                                            <td class="tdHide"></td>
                                            <td class="tdHide"></td>
                                        </tr>

                                        <tr ng-repeat-end ng-show="networthsDetailspropexpanded">
                                            <td class="tdHide"></td>
                                            <td colspan="5">
                                                <table class="table no-margin table-inner-expand table-inner-expand-fsize">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th class="tdHide"></th>
                                                            <th class="tdHide" style="width:11%"></th>
                                                            <th>Name</th>
                                                            <th>Address</th>
                                                            <th>Value</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="brand in clients.property">
                                                            <td></td>
                                                            <td class="tdHide"></td>
                                                            <td class="tdHide"></td>
                                                            <td width="15%">{{brand.Item}}</td>
                                                            <td width="20%">{{brand.Details}}</td>
                                                            <td>{{brand.Balance | currency}}</td>
                                                            <td class="icon-inner-grid">
                                                                <a ui-sref="oranj.editFinancialProperty"><i class="fa fa-cog"></i></a>
                                                                <a>
                                                                    <img src="images/assign-goal1.png" style="max-width: 23px;max-height:23px;">
                                                                </a>
                                                                <a><i class="fa fa-trash"></i></a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <!-- Property end-->

                                        <!--custom starts-->

                                        <tr ng-repeat-start="clients in networthsDetailscustom">
                                            <td width="5%">
                                                <a class="icn-padd" ng-click="networthsDetailscustomexpanded = !networthsDetailscustomexpanded">
                                                    <i ng-class="networthsDetailspropexpanded ? 'fa fa-caret-down fa-lg' : 'fa fa-caret-right fa-lg'"></i>
                                                </a>
                                            </td>
                                            <td width="15%">{{clients.Name}}</td>
                                            <td width="15%"><b>{{clients.value | currency}}</b></td>
                                            <td class="tdHide"></td>
                                            <td class="tdHide"></td>
                                        </tr>
                                        <tr ng-repeat-end ng-show="networthsDetailscustomexpanded">
                                            <td class="tdHide"></td>
                                            <td colspan="5">
                                                <table class="table no-margin table-inner-expand table-inner-expand-fsize">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th class="tdHide"></th>
                                                            <th class="tdHide" style="width:11%"></th>
                                                            <th>Name</th>
                                                            <th>Type</th>
                                                            <th>Current Value</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="brand in clients.property">
                                                            <td></td>
                                                            <td class="tdHide"></td>
                                                            <td class="tdHide"></td>
                                                            <td width="15%">{{brand.Item}}</td>
                                                            <td width="20%">{{brand.Details}}</td>
                                                            <td>{{brand.Balance | currency}}</td>
                                                            <td class="icon-inner-grid">
                                                                <div class="icon-group-td">
                                                                    <a ui-sref="oranj.editFinancialCustom"><i class="fa fa-cog fa-lg facog-style"></i></a>
                                                                    <a>
                                                                        <img src="images/assign-goal1.png" style="max-width: 23px;max-height:23px;">
                                                                    </a>
                                                                    <a><i class="fa fa-trash fa-lg facog-style"></i></a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <!--custom end-->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!--Assets table  ends-->

                        <!--Liabilities table  start-->
                        <div ng-show="!showNetworthChartDiv">
                            <table class="table no-margin table-main-inv">
                                <tbody>
                                    <!--Credit Card start-->
                                    <tr ng-repeat-start="clients in creditCardLiabilities">
                                        <td width="5%">
                                            <a class="icn-padd" ng-click="creditCardLiabilitiesexpanded = !creditCardLiabilitiesexpanded">
                                                <i ng-class="creditCardLiabilitiesexpanded ? 'fa fa-caret-down fa-lg' : 'fa fa-caret-right fa-lg'"></i>
                                            </a>
                                        </td>
                                        <td width="15%">{{clients.Name}}</td>
                                        <td width="15%"><b>({{clients.value | currency}})</b></td>
                                        <td class="tdHide"></td>
                                        <td class="tdHide"></td>
                                    </tr>

                                    <tr ng-repeat-end ng-show="creditCardLiabilitiesexpanded">
                                        <td class="tdHide"></td>
                                        <td colspan="5">
                                            <table class="table no-margin table-inner-expand table-inner-expand-fsize">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th class="tdHide"></th>
                                                        <th class="tdHide"></th>
                                                        <th class="tdHide"></th>
                                                        <th class="tdHide"></th>
                                                        <th class="tdHide"></th>
                                                        <th class="tdHide"></th>
                                                        <th class="tdHide"></th>
                                                        <!-- <th class="tdHide"></th> -->
                                                        <th>Name</th>
                                                        <th>Type</th>
                                                        <th>Today's Balance</th>
                                                        <th>Day Change (%)</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="brand in clients.creditCard">
                                                        <td></td>
                                                        <td class="tdHide"></td>
                                                        <td class="tdHide"></td>
                                                        <td class="tdHide"></td>
                                                        <td class="tdHide"></td>
                                                        <td class="tdHide"></td>
                                                        <td class="tdHide"></td>
                                                        <td class="tdHide"></td>
                                                        <!-- <td class="tdHide"></td> -->
                                                        <td width="15%">{{brand.Name}}</td>
                                                        <td width="20%">{{brand.Type}}</td>
                                                        <td>({{brand.Balance | currency}})</td>
                                                        <td><span class="color-danger"><i class="fa fa-long-arrow-down" aria-hidden="true"></i> {{brand.DayChange | currency}} ({{calcPercentage(brand.DayChange) | number:1}}%)</span></td>
                                                        <td class="tright"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <!--Credit Card end-->

                                    <!--Loan start-->
                                    <tr ng-repeat-start="clients in loanLiabilities">
                                        <td width="5%">
                                            <a class="icn-padd" ng-click="loanLiabilitiesexpanded = !loanLiabilitiesexpanded">
                                                <i ng-class="loanLiabilitiesexpanded ? 'fa fa-caret-down fa-lg' : 'fa fa-caret-right fa-lg'"></i>
                                            </a>
                                        </td>
                                        <td width="15%">{{clients.Name}}</td>
                                        <td width="15%"><b>({{clients.value | currency}})</b></td>
                                        <td class="tdHide"></td>
                                        <td class="tdHide"></td>
                                    </tr>

                                    <tr ng-repeat-end ng-show="loanLiabilitiesexpanded">
                                        <td class="tdHide"></td>
                                        <td colspan="5">
                                            <table class="table no-margin table-inner-expand table-inner-expand-fsize">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th class="tdHide"></th>
                                                        <th class="tdHide"></th>
                                                        <th class="tdHide"></th>
                                                        <th class="tdHide"></th>
                                                        <th class="tdHide"></th>
                                                        <th class="tdHide"></th>
                                                        <th class="tdHide"></th>
                                                        <!-- <th class="tdHide"></th> -->
                                                        <th>Name</th>
                                                        <th>Type</th>
                                                        <th>Today's Balance</th>
                                                        <th>Day Change (%)</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="brand in clients.loan">
                                                        <td></td>
                                                        <td class="tdHide"></td>
                                                        <td class="tdHide"></td>
                                                        <td class="tdHide"></td>
                                                        <td class="tdHide"></td>
                                                        <td class="tdHide"></td>
                                                        <td class="tdHide"></td>
                                                        <td class="tdHide"></td>
                                                        <!-- <td class="tdHide"></td> -->
                                                        <td width="15%">{{brand.Name}}</td>
                                                        <td width="20%">{{brand.Type}}</td>
                                                        <td>({{brand.Balance | currency}})</td>
                                                        <td><span ng-class="brand.DayChange !== '0.00' ? 'color-danger':''"><i ng-class="brand.DayChange !== '0.00' ? 'fa fa-long-arrow-down':''"  aria-hidden="true"></i>{{brand.DayChange | currency}} ({{calcPercentage(brand.DayChange) | number:1}}%)</span></td>
                                                        <td class="tright"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <!--Loan end-->
                                </tbody>
                            </table>
                        </div>
                        <!--Liabilities table  ends-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#selector button').click(function() {
        $(this).addClass('active').siblings().removeClass('active');

        // TODO: insert whatever you want to do with $(this) here
    });
</script>