<div class="page page-form" ng-controller="transferAccountCtrl">

    <div class="row ui-section account_row_1">

      <div class="panel panel-default">
            <div class="panel-body body-dark hhd">
               <div class="row account_row_1">
                    <div class="col-md-2 col-xs-12 col-sm-12 hhd-1">
                        <div class="profile-info">
                            <div class="detail-cont details_cont_2">
                                EDIT A FINANCIAL
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-xs-12 col-sm-12 hhd-2">
                       <div class="row bs-wizard" style="border-bottom:0;">
                
                <div class="col-xs-6 bs-wizard-step Active">
                  
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a ui-sref="oranj.editFinancialGlobalaccount" class="bs-wizard-dot"></a>
                 
                </div>
                
                <div class="col-xs-6 bs-wizard-step disabled">
             
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a ui-sref="oranj.editFinancialGlobalcredentials" class="bs-wizard-dot"></a>
              
                </div>
                
             
                
                
            </div>
        
        
        
        
        
	</div>
                   

                    <div class="col-md-4 col-xs-12 col-sm-12 hhd-3">
                        <ul class="add_goal_buttons pull-right btns_add_goal">
                        <li><button class="md-raised btn-w-sm md-primary md-button md-ink-ripple btn-grey btn_AddGoal" type="button"><span class="ng-scope">Cancel</span><div class="md-ripple-container"></div></button></li>
                        <li><button ui-sref="oranj.editFinancialGlobalcredentials" class="md-raised btn-w-sm md-primary md-button md-ink-ripple btn-save btn_AddGoal" type="button"><span class="ng-scope">Continue</span><div class="md-ripple-container"></div></button></li>
                        </ul>
                    </div>

               

                </div>

            </div>
            </div>

        <div class="panel panel-default">
             <div class="panel-body panel-body-inner panel-head-bold legend_panel_head">


                

                <div class="row">
                        <h2 class="outer-head outer_head_1">Accounts</h2>
                        <div layout="column" class="col-md-12" ng-cloak class="md-inline-form inputdemoBasicUsage">
      <div class="row">
                            <div class="col-md-8 col-md-offset-4">
                       <h4 class="heading-inner"></h4> 
                     

                        <div layout layout-sm="column">
                                   <ul class="button-type-list">
                            <li>
                                <button ui-sref="oranj.editFinancialGlobalcredentials" class="md-raised btn-w-l-lg md-primary md-button md-ink-ripple btn-grey-h" type="button" href="#/home/addGoalStep2">Wife Savings Account<div class="md-ripple-container"></div></button>
                            </li>


                            <li>
                                <button ui-sref="oranj.editFinancialGlobalcredentials" class="md-raised btn-w-l-lg md-primary md-button md-ink-ripple btn-grey-h" type="button">Goal Saver Account<div class="md-ripple-container"></div></button>
                            </li>


                            <li>
                                <button ui-sref="oranj.editFinancialGlobalcredentials" class="md-raised btn-w-l-lg md-primary md-button md-ink-ripple btn-grey-h" type="button">John Smith Account<div class="md-ripple-container"></div></button>
                            </li>


                            <li>
                                <button ui-sref="oranj.editFinancialGlobalcredentials" class="md-raised btn-w-l-lg md-primary md-button md-ink-ripple btn-grey-h" type="button">Citi Credit Card<div class="md-ripple-container"></div></button>
                            </li>

                            <li>
                                <button ui-sref="oranj.editFinancialGlobalcredentials" class="md-raised btn-w-l-lg md-primary md-button md-ink-ripple btn-grey-h" type="button">My Credit Card<div class="md-ripple-container"></div></button>
                            </li>

                            <li>
                                <button ui-sref="oranj.editFinancialGlobalcredentials" class="md-raised btn-w-l-lg md-primary md-button md-ink-ripple btn-grey-h" type="button">House Checking Account<div class="md-ripple-container"></div></button>
                            </li>
                        </ul>
                           
                        </div>
                            </div> 
                            
                         
                            
                         
                        </div>
       </div></div>          

                </div>
            </div>



        
    </div>
</div>
