﻿<div class="pdf-header" ng-show="isPdfHeaderVisible">
    <div class="row">
        <div class="col-xs-6">
            <ul class="sec1">
                <li>
                    <h4><i class="fa fa-file-text"></i> {{fileName}}</h4>
                </li>
                <li>
                    Date :
                    <!-- Apr 10, 2015 -->{{fileDate | date}}
                </li>
                <li>Size: {{fileSize | filesize}}</li>
            </ul>
        </div>
        <div class="col-xs-4">
            <ul class="icon-ul">
                <li ng-click="downloadfile($event,fileId, fileName, filePath)"><i class="fa fa-cloud-download"></i></li>
                <!-- <li><i class="fa fa-exclamation-circle"></i></li> -->
                <li ng-click="cancel();toggleChatWindow();deleteFile(fileId,fileName)"><i class="fa fa-trash"></i></li>
                <!--<li><i class="fa fa-star-o"></i></li>-->
            </ul>
        </div>
        <div class="pull-right">
            <ul class="icon-ul-2">
                <li><i class="fa fa-comment"></i></li>
                <li><i class="fa fa-times" ng-click="cancel();toggleChatWindow()"></i></li>
            </ul>
        </div>
    </div>

</div>

<script type="text/ng-template" id="dialog1.tmpl.html">
    <md-dialog class="pdf-view-modal" aria-label="Mango (Fruit)" ng-cloak>
        <form>
            <md-dialog-content>
                <div class="md-dialog-content" style="height: 78vh;">
                    <embed width="100%" height="100%" name="plugin" id="plugin" ng-src="{{global.vaultsfilePath | trusted}}" type="{{global.vaultsfileType}}" internalinstanceid="16">                 
                </div>                
            </md-dialog-content>
        </form>
    </md-dialog>
</script>


<script type="text/ng-template" id="dialog2.tmpl.html">
    <md-dialog class="share-person-modal" aria-label="Mango (Fruit)" ng-cloak
               style=" text-align center;">
       
        <p class="share-text m-padding-top tcenter"><b>Sorry, No Preview Available</b></p>
        <p class="share-text tcenter">Supported file types are .jpg, .pdf, .png, .gif only</p>
        <md-dialog-actions layout="row">
            <md-button class="md-primary md-raised md-color-pr md-button ng-scope md-ink-ripple" ng-click="downloadfile($event,global.vaultsfileId,global.vaultsName,global.vaultsfilePath)" style="margin: 0 auto;">
                Download
            </md-button>
        </md-dialog-actions>

    </md-dialog>
</script>