<style type="text/css">
.inpSearch>.inpStyl2+.fa-search {
    top: 21px !important;
}
</style>
<div class="page">
<div id="vaultUpload" drop-Zone="advisor">
   <div>
    <div class="vault-container" ng-class="{'msg-toggle': isChatWindowVisible == true}">

        <div class="vault-content">

  <div ng-include src="'app/advisor/vault/html/vault-chat.html'"></div>

            <div class="vault-header">
                <div class="col-xs-6">
                    <h4 class="title-score">{{vaultHeader}} <span>({{totalCount}})</span></h4>
                </div>

                <div class="col-xs-3 col-xs-offset-3 text-right">
                     <div class="inpSearch">
                         <input type="text" placeholder="Search Files" class="inpStyl inpStyl2" ng-model="searchKeyword">
                         <i class="fa fa-search"></i>
                     </div>
                 </div>
            </div>
        
                <!-- Start divTable -->
                <div class="divTable vault-table">
                    <input type="file" id="upload" multiple="multiple" valid-file fileread="file" onchange="angular.element(this).scope().vaultUpload(this,event)" style="display:none" required>
                    <div class="divTableHeading"> 
                        <div class="divTableRow">
                            <div class="divTableCell">
                                Name
                                <i class="fa fa-sort" aria-hidden="true" ng-click="sortBy('folder','name')"></i>
                            </div>
                            <div class="divTableCell">
                                Last modified
                                <i class="fa fa-sort" aria-hidden="true" ng-click="sortBy('lastModifiedDate','lastModifiedDate')"></i>
                            </div>
                            <div class="divTableCell">
                                File size
                                <i class="fa fa-sort" aria-hidden="true" ng-click="sortByDynamic('fileSize','fileSize')"></i>
                            </div>
                            <div class="divTableCell">
                                <div class="edit-option"></div>
                            </div>
                        </div>
                        <!--divTableRow-->
                    </div>
                    <!--End divTableHead-->

                    <div class="divTableBody">

						 <!--divTableRow for create new folder-->
                    <div class="divTableRow" ng-show="showCreateFolderDiv">
                        <div class="divTableCell">
                            <i class="fa file-folder img-icon"></i>
                            <input type="text" class="inpCreateFolder" ng-blur="createFolder()" ng-model="newName" id="newName" placeholder="New Folder" autofocus />
                        </div>
                        <div class="divTableCell">
                        </div>
                        <div class="divTableCell">_</div>
                        <div class="divTableCell">

                        </div>
                    </div>
                    <!--divTableRow for create new folder-->


                    <div class="divTableRow" ng-repeat="item in vaultFolders | orderBy:propertyFolder:reverse  | filter: searchKeyword " ng-class="item.folder==folderName ? 'editedRow' : '' ">
                        <div class="divTableCell">
                            <i class="fa fa-folder"></i><span ui-sref="page.advisor.vault-home.folder({folderName:item.folder})" ng-hide="item.folder==folderName">{{item.folder}}</span>
                            <input class="editableInput" ng-blur="renameFolder(folderNewName)" ng-model="folderNewName" ng-show="item.folder==folderName"
                                   type="text" placeholder="Rename Folder" focus-me="item.folder==folderName" />
                        </div>
                        <div class="divTableCell">
                            {{item.lastModifiedDate | date:'MMMM d, y'}}
                        </div>
                        <div class="divTableCell">---</div>
                        <div class="divTableCell">
                            <div class="edit-option">
                                <ul>
                                    <!-- <li><a href="javascript:void(0)" ng-click="showRenameFolderField(item.id,item.folder)"><i class="fa fa-pencil" title="Rename"></i></a></li>
                                    <li>
                                        <a href="javascript:void(0)" ng-click="shareVault(item.id, item.shared); item.shared == true ? item.shared = false:item.shared = true"><i class="fa fa-user-plus" ng-class="item.shared == true ? 'fa-user-plus-o':''"></i></a>
                                    </li> -->
                                    <!--<li>
                                        <a href="javascript:void(0)" ng-click="updateVault(item.id, item.starred); item.starred == true ? item.starred = false:item.starred = true"><i class="fa" ng-class="item.starred == true ? 'fa-star':'fa-star-o'"></i></a>
                                    </li>-->
                                    <!-- <li><a href="javascript:void(0)" ng-click="toggleChatWindow()"><i class="fa fa-comments-o"></i></a></li> -->
                                    <li><!-- <a href="javascript:void(0)"><i class="fa fa-download"></i></a> --></li>
                                    <li><a href="javascript:void(0)" ng-click="deleteFolder(item.folder);"><i class="fa fa-trash-o"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                     

                        <div class="divTableRow" ng-repeat="item in vaultFiles | orderBy:propertyName:reverse | filter: { name: searchKeyword } ">
                            <div class="divTableCell">
                                <i class="fa fa-file-text"></i><a href="javascript:void(0)" id="file{{item.id}}" ng-click="showAdvanced($event, item.fileUrl, item.name, item.lastModifiedDate, item.fileSize, item.id)"><span>{{item.name}}</span></a>
                                <!--<input class="editableInput"  ng-show="item.name==fileName" type="text" placeholder="Rename File" focus-me="item.name==fileName" />-->
                            </div>
                            <div class="divTableCell">
                                {{item.lastModifiedDate | date:'MMMM d, y'}}
                            </div>
                            <div class="divTableCell">{{item.fileSize | filesize }}</div>
                            <div class="divTableCell">
                                <div class="edit-option">
                                    <ul>
                                        <!--<li><a href="javascript:void(0)" ng-click="showRenameFileField(item.name)"><i class="fa fa-pencil" title="Rename" title="Rename" ></i></a></li>-->
                                        <!-- <li>
                                            <a href="javascript:void(0)" ng-click="shareVault(item.id, item.shared); item.shared == true ? item.shared = false:item.shared = true"><i class="fa fa-user-plus" ng-class="item.shared == true ? 'fa-user-plus-o':''"></i></a>
                                        </li> -->
                                        <!--<li>
                                    <a href="javascript:void(0)" ng-click="updateVault(item.id, item.starred);item.starred == true ? item.starred = false:item.starred = true"><i class="fa" ng-class="item.starred == true ? 'fa-star':'fa-star-o'"></i></a>
                                </li>-->
                                        <li><a href="javascript:void(0)" ng-click="toggleChatWindow()"><i class="fa fa-comments-o"></i></a></li>
                                        <li><a href="javascript:void(0)" ng-click="downloadFromList($event,item)"><i class="fa fa-download"></i></a></li>
                                        <li><a href="javascript:void(0)" ng-click="deleteFile(item.id,item.name);"><i class="fa fa-trash-o"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--divTableRow-->


                    </div>
                </div>
                <!-- DivTable.com -->


            </div>
        <!--  </div>Vault content -->

        <div ng-include src="'app/advisor/vault/html/vault-header.html'"></div>

        <style>
            .md-dialog-container {
                position: fixed;
                top: 0 !important;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                height: 100% !important;
                /*background: rgba(255, 255, 255, 0.5)*/
            }
           
        </style>


    </div>
    <!-- Vault contaivner -->

	<div ng-show="busy" ng-if="!hideloader" class="loader primary-loader loader--style3" title="2">
	  <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	     width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
	  <path fill="#000" d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z">
	    <animateTransform attributeType="xml"
	      attributeName="transform"
	      type="rotate"
	      from="0 25 25"
	      to="360 25 25"
	      dur="0.6s"
	      repeatCount="indefinite"/>
	    </path>
	  </svg>
	</div>
</div>

</div>
</div>

