<div class="page page-form" ng-controller="FormCtrl">
    <div class="row ui-section" ng-controller="OpenAccount">


        <div class="panel panel-default">
            <div class="panel-body body-dark hhd" style="padding: 20px 0px 28px 25px !important;">
                <div class="row">

                    <div class="col-md-8 col-xs-12 col-sm-8 hhd-1">
                        <div class="profile-info">
                            <div class="detail-cont">
                               Congratulations, you have added a new financial
                            </div>
                        </div>
                    </div>

                



                </div>
            </div>
        </div>

        
                 <div class="panel panel-default">
             <div class="panel-body panel-body-inner panel-head-bold"">


                

                <div class="row">
                       
                        <div layout="column" class="col-md-12">
                                <div layout-padding class="disclaimer-layout">
                              <p class="ac-con"> Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</p> 
                                <ul class="add_goal_buttons tcenter">
                        <li><button ui-sref="client" class="md-raised btn-w-sm md-primary md-button md-ink-ripple btn-grey" type="button"><span class="ng-scope">Continue</span><div class="md-ripple-container"></div></button></li>
                        <li><button  ui-sref="page.addFinancial" class="md-raised btn-w-sm md-primary md-button md-ink-ripple btn-save btn_save_2" type="button"><span class="ng-scope">Add another financial</span><div class="md-ripple-container"></div></button></li>
                        </ul>    
 </div>
       </div></div>          

                </div>
            </div>


                



            
    </div>
