<div class="page page-form" ng-controller="passSettings">

    <div class="row ui-section">

        <div class="panel panel-default">
            <div class="panel-body panel-body-settings">
                <div class="row">

                    <div class="col-md-12">
                        <div class="setting-sec">
                            <h3>Password Settings</h3>
                        </div>
                        <form name="form_passSettings" class="form-validation icon-form">


                            <div class="col-md-4 col-xs-12 col-sm-12 padd-left-0">
                                <md-input-container class="md-icon-float md-icon-right md-block">
                                    <label>Current Password</label>
                                    <input type="{{inputType}}" ng-model="settings.currentPassword" name="password" ng-required="true" class="form-control" ng-maxlength="35">
                                    <md-icon md-svg-src="images/eye_black.svg" ng-click="hideShowPassword()"></md-icon>
                                    <div ng-messages="form_passSettings.password.$error">
                                        <div ng-messages-include src="app/common/message.html"></div>
                                    </div>
                                </md-input-container>
                                <span class="input-bar"></span>

                                <md-input-container class="md-icon-float md-icon-right md-block">
                                    <label>New Password</label>
                                    <input type="{{inputTypenew}}"  name="newPass" ng-model="settings.newPassword" class="form-control" ng-maxlength="35">
                                    <md-icon md-svg-src="images/eye_black.svg" ng-click="hideNewPassword()"></md-icon>
                                    <div ng-messages="form_passSettings.newPassword.$error">
                                        <div ng-messages-include src="app/common/message.html"></div>
                                    </div>
                                </md-input-container>


                                <md-input-container class="md-icon-float md-icon-right md-block">
                                    <label>Confirm New Password</label>
                                    <input type="{{inputTypeconfirm}}"  name="confPass" ng-model="confPass" compare-to="settings.newPassword" class="form-control" ng-maxlength="35">
                                    <md-icon md-svg-src="images/eye_black.svg" ng-click="hideNewConfirmPassword()"></md-icon>
                                    <div ng-messages="form_passSettings.confPass.$error">
                                        <div ng-messages-include src="app/common/message.html"></div>
                                    </div>
                                </md-input-container>

                            </div>

                            <div class="panel-body">
                                <div class="col-md-12">
                                    <div layout="row" class="fright">
                                        <md-button ng-click="changePass()" ng-disabled="!form_passSettings.password.$dirty || form_passSettings.confPass.$invalid" class="md-raised btn-w-md md-primary md-button md-ink-ripple btn-save " layout layout-align="center end">Save</md-button>
                                    </div>

                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
