<style type="text/css">
    md-switch {
        margin-bottom: 0 !important;
    }
</style>
<div class="page page-form">

    <div class="row ui-section">

        <div>
            <div class="panel panel-default" data-ng-controller="settingsCtrl">
                <div class="panel-body panel-body-settings">
                    <div class="row">

                        <form class="form-horizontal">

                            <div class="row">


                                <div class="col-md-12">
                                    <div class="setting-sec">
                                        <h3>Privacy Settings</h3>
                                    </div>


                                    <div class="form-group">
                                        <div class="col-sm-6" style="margin-top: 15px;">Receive monthly notifications</div>
                                        <div class="col-sm-6">
                                            <md-switch ng-model="emailSettings[4].turnedOn" aria-label="Default"> {{emailSettings[4].turnedOn == true?'Yes':'No'}} </md-switch>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-6" style="margin-top: 15px;">Receive weekly notifications</div>
                                        <div class="col-sm-6">
                                            <md-switch ng-model="emailSettings[3].turnedOn" aria-label="Default"> {{emailSettings[3].turnedOn == true ? 'Yes':'No'}} </md-switch>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-6" style="margin-top: 15px;">Receive update profile notifications</div>
                                        <div class="col-sm-6">
                                            <md-switch ng-model="emailSettings[1].turnedOn" aria-label="Default"> {{emailSettings[1].turnedOn == true ?'Yes':'No'}} </md-switch>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <div class="col-sm-6" style="margin-top: 15px;">Receive messages</div>
                                        <div class="col-sm-6">
                                            <md-switch ng-model="emailSettings[6].turnedOn" aria-label="Default"> {{emailSettings[6].turnedOn == true ?'Yes':'No'}} </md-switch>
                                        </div>
                                    </div>




                                    <p class="btn-main">

                                        <button class="md-raised btn-w-md md-primary md-button md-ink-ripple btn-save" type="button" ng-click="postSettings()"><span class="ng-scope">Save</span><div class="md-ripple-container"></div></button>

                                    </p>




                                </div>
                        </form>







                        </div>