<style type="text/css">
    .md-scroll-mask {
        background: none !important;
    }
    .pro-btn-top{margin-top:35px;}
</style>

<div class="page page-form" data-ng-controller="advisorsettingsCtrl">
    <div class="row ui-section">
        <div class="panel panel-default sett-main" ng-init="profileData();">
            <div class="row">
                <div class="setting-sec">
               		<h3 style="font-weight: bold;">Profile Info</h3>
                </div>
                <div class="col-md-3" style="width:260px;">
                    <div class="panel-body">
                        <div class="profile-img">
                           	<img id="adv-avatar" alt="" no-cache-src="{{advisor.profile.advisorAvatarCompleteUrl}}" class="img-circle">
							<input onchange="angular.element(this).scope().loadProfileLogo(this)" id="upload-av" type="file"/>
                            <span uib-dropdown is-open="status.isopenLang" class="badge badge-md up badge badge-profile-info m-l-n-sm count" uib-dropdown-toggle ng-disabled="disabled" style="display: inline-block;">
                             	<i class="fa fa-camera fa-lg" aria-hidden="true"></i>
							     <ul class="with-arrow pull-left list-langs list-upload dropdown-menu-scaleIn" role="menu" uib-dropdown-menu>
                    				<li><a id="avatar-upload">Upload Photo</a></li>
                       				<li><a href="javascript:;" ng-click="removeAvatar()">Remove</a></li>
                				</ul>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-md-8 col-sm-12">
                    <div class="panel-body">
                        <div layout="column" ng-cloak class="md-inline-form inputdemoBasicUsage">
                            <div layout-padding>
                                <form name="form_profile" class="form-validation settings-form">
                                     <div class="row">

		                                <div class="row">
		                                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
		                                        <div layout layout-sm="column">
		                                            <md-input-container>
		                                                <label>First Name</label>
		                                                <input type="text" ng-model="advisor.profile.firstName" required name="firstName" maxlength="35" ng-pattern="/^[a-zA-Z{}`\\!&()\-_?/,.':;&quot;\[\]](?!.*?\s$)[a-zA-Z{}`\\!&()\-_?/,.':;&quot;\[\]\s]{1,35}$/" ng-trim="false">
		                                                <div ng-messages="form_profile.firstName.$error" md-auto-hide="false" ng-if="form_profile.firstName.$touched">
		                                                    <div ng-message="required">Required. Please enter your first name.</div>
		                                                    <div ng-message="pattern">This field must be a valid first name.</div>
		                                                </div>
		                                            </md-input-container>
		                                        </div>
		                                    </div>
		                                    
		                                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
		                                        <div layout layout-sm="column">
		                                            <md-input-container>
		                                                <label>Last Name</label>
		                                                <input type="text" ng-model="advisor.profile.lastName" required name="lastName" maxlength="35" ng-pattern="/^[a-zA-Z{}`\\!&()\-_?/,.':;&quot;\[\]](?!.*?\s$)[a-zA-Z{}`\\!&()\-_?/,.':;&quot;\[\]\s]{1,35}$/"  ng-trim="false">
		                                                <div ng-messages="form_profile.lastName.$error" md-auto-hide="false" ng-if="form_profile.lastName.$touched">
		                                                    <div ng-message="required">Required. Please enter your last name.</div>
		                                                    <div ng-message="pattern">This field must be a valid last name.</div>
		                                                </div>
		                                            </md-input-container>
		                                        </div>
		                                    </div>
		
		                                    
		                                </div>

		                                <div class="row">
		                                	
		                                	<div class="col-md-6 col-sm-12 col-xs-12 form-group">
		                                        <div layout layout-sm="column">
		                                            <md-input-container>
		                                                <label>Title</label>
		                                                <input ng-model="advisor.profile.title" aria-label="Readonly field" name="title" maxlength="10"  ng-pattern="/^[A-Za-z]{1,10}$/">
		                                                <div ng-messages="form_profile.title.$error" md-auto-hide="false" ng-if="form_profile.title.$touched">
		                                                    <!-- <div ng-message="required">Please enter advisor's title.</div> -->
		                                                    <div ng-message="pattern">This field must be a valid title.</div>
		                                                </div>
		                                            </md-input-container>
		                                        </div>
		                                    </div>
		                                    
		                                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
		                                        <div layout layout-sm="column">
		                                            <md-input-container>
		                                                <label>Office Phone</label>
		                                                <input ng-model="advisor.profile.primaryPhone" required name="primaryPhone" maxlength="12" phoneformat>
		                                                <div ng-messages="form_profile.primaryPhone.$error" md-auto-hide="false" ng-if="form_profile.primaryPhone.$touched">
		                                                    <div ng-message="required">Required. Please enter your office phone number.</div>
		                                                    <div ng-message="telephone">This field must be a valid office phone number.</div>
		                                                </div>
		                                            </md-input-container>
		                                        </div>
		                                    </div>
		
		                                    
		                                </div>
		                                
		                                <div class="row">
		                                	<div class="col-md-6 col-sm-12 col-xs-12 form-group">
		                                        <div layout layout-sm="column">
		                                            <md-input-container>
		                                                <label>Cell Phone</label>
		                                                <input type="text" ng-model="advisor.profile.cellPhone" phoneformat name="cellPhone" maxlength="12">
		                                           		<div ng-messages="form_profile.cellPhone.$error" md-auto-hide="false" ng-if="form_profile.cellPhone.$touched">
		                                                    <div ng-message="telephone">This field must be a valid Cell phone number.</div>
		                                                </div>
		                                            </md-input-container>
		                                        </div>
		                                    </div>
		                                	<div class="col-md-6 col-sm-12 col-xs-12 form-group">
		                                        <div layout layout-sm="column">
		                                            <md-input-container>
		                                                <label>E-mail</label>
		                                                <input ng-model="advisor.profile.email" type="email" required name="email" maxlength="50" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"disabled>
		                                                <div ng-messages="form_profile.email.$error" md-auto-hide="false" ng-if="form_profile.email.$touched">
		                                                    <div ng-message="required">Required. Please enter a valid email address.</div>
		                                                    <div ng-message="pattern">Please enter a valid email address.</div>
		                                                </div>
		                                            </md-input-container>
		                                        
		                                        </div>
		                                    </div>
		                                </div>
		                                
		                                <div class="row">
		                                	                                   
		                                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
		                                        <div layout layout-sm="column">
		                                            <md-input-container>
		                                                <label>Firm Name</label>
		                                                <input type="text" ng-model="advisor.profile.firmName" disabled>
		                                            </md-input-container>
		                                        </div>
		                                    </div>
		                                </div>

                                        <div class="clearfix"></div>
                                         <div class="row">
											 <div class="col-md-12 col-sm-12 col-xs-12 form-group">
		                                       <label>Bio</label>
											     <section class="panel panel-default">
                <div class="panel-body">
                    <div text-angular ng-model="advisor.profile.bio" class="ui-editor"></div>
                </div>
            </section>
				                                 
		                                     
											 </div>
										 </div>
										 
										 <div class="row">
											 <div class="col-md-12 col-sm-12 col-xs-12 form-group">
		                                      
													 <label>Email Signature</label>
													 <section class="panel panel-default">
                <div class="panel-body">
                    <div text-angular ng-model='advisor.profile.emailSignature' class="ui-editor"></div>
                </div>
            </section>
				                                   
		                                       
											 </div>
										 </div>

                                    </div>
                                </form>
                                
                            </div>
                              <div class="row pro-btn-top">
                                <ul class="forms-buttons">
	                   				<li>
	                   					<button class="btn_AddGoal md-raised btn-w-sm md-primary md-button md-ink-ripple btn-save" ng-disabled="isDisabled" type="button" ng-click="saveAdvisorProfile();"><span class="ng-scope">Save</span><div class="md-ripple-container"></div></button>
	                   				</li>
	               				</ul>
                               </div>
                        </div>

                    </div>
                </div>
            </div>

           

        </div>
    </div>
</div>


