
@media screen and (min-device-width: 992px) and (max-device-width: 1299px) {

#jqbarchart {
    width: 260px !important;
    height: 250px;
}

.list li {
    width: 150px !important;
}

.legend-chart{
margin-left: 1.333%;
}

}


@media screen and (min-device-width: 769px) and (max-device-width: 1300px) {

.text-box_1 {
    width: 84% !important;

}

.smily {
    margin-left: -7% !important;
}

}
@media only screen and (max-width: 1000px) {
    .cl-block-height{height: auto;}

.divTable {
    display: block !important;
    overflow-x: scroll;
}

.edit-option>ul>li>a {
    font-size: 14px !important;
}
    
}


@media screen and (min-device-width: 769px) and (max-device-width: 990px) {
    
   .col-md-3.col-xs-12.col-sm-6.padd-top-30.retirement-goal-value {
    padding-bottom: 20px;
}
   
   .col-md-3.col-xs-12.col-sm-6.padd-top-30.retirement-month-value {
    padding-bottom: 20px;
}
}



@media only screen and (max-width: 768px) {
   
  
   .retirement-goal-value
   {
       margin-bottom:20px;
   }
   
   .padd-top-30 {
    padding-top: 10px;
    border-bottom: 1px solid #333C4C;
}

  .padd-top-17 {
    border-bottom:1px solid #333C4C;
}

.retirement-month-value {
    margin-bottom: 0px;
    
}

.detail-cont {
    padding-bottom: 15px;
}

.main-value{
    margin-bottom: 20px;
}




.messege-sec .msg{left: 0 !important;}
.messege-sec .smily {margin-left: -6% !important;}


.msg {
    padding: 20px;
    background: #dee1e4;
    position: fixed;
    bottom: 0;
    width: 100% !important;
    height: 60px;
}

.text-box_1{
    
    width:87% !important;
}

.smily {
margin-left: -10% !important;
}



.speech-2 {

    width: 100%;

}


}


@media only screen and (max-width: 480px) {
    
    .smily {
    margin-left: -15%;
}

}



/*--------------------------CHAT MESSSAGE--------------------------*/




.msg {
    padding: 17px;
    background: #dee1e4;
    position: fixed;
    bottom: 0;
    width: calc(100% - 120px);
	left:120px;
    min-height: 60px;
}

.panel-body-settings {
    padding: 35px 60px 10px !important;
}

.smily {
    margin-left: -30px;
}



.text-box_1{
    
    width:94%; padding:5px 15px; border-radius:50px; border:1px solid #a0a09f;
}










.panel-control {
    height: 100%;
    position: relative;
    float: right;
    padding: 0 15px;
}
.panel-title {
    font-weight: normal;
    padding: 0 20px 0 20px;
    font-size: 1.416em;
    line-height: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid #a0a09f;
    text-align:center;
     color:#838c8f;
}
.panel-control>.btn:last-child, .panel-control>.btn-group:last-child>.btn:first-child {
    border-bottom-right-radius: 0;
}
.panel-control .btn, .panel-control .dropdown-toggle.btn {
    border: 0;
}
.nano {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.nano>.nano-content {
    position: absolute;
    overflow-x: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.pad-all {
    padding: 15px;
}
.mar-btm {
    margin-bottom: 15px;
}
.media-block .media-left {
    display: block;
    float: left;
}
.img-sm {
    width: 46px;
    height: 46px;
}
.media-block .media-body {
    display: block;
    overflow: hidden;
    width: auto;
}
.pad-hor {
    padding-left: 15px;
    padding-right: 15px;
}
.speech {
    position: relative;
    background: #dee1e4;
    color: #444545;
    display: inline-block;
    border-radius: 0;
    width: 50%;
    padding: 12px 20px;


}



.speech-right>.speech:before {
    left: auto;
    right: 7px;
    content: url('../images/receiver-icon.png');
    border-right: 0;
    margin: 15px -5px 0 0;
    top: -16px;
}





.speech .media-heading {
    font-size: 1.2em;
    color: #317787;
    display: block;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    margin-bottom: 10px;
    padding-bottom: 5px;
    font-weight: 300;
}
.speech-time {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: .8em;
    color: #838c8f;
    font-weight: 300;
}
.media-block .media-right {
    float: right;
}
.speech-right {
    text-align: right;
}
.pad-hor {
    padding-left: 15px;
    padding-right: 15px;
}
.speech-right>.speech {
    background: #8374b5;
    color: #fff;
    text-align: left;
    border-radius: 8px 0px 8px 8px;

}
.speech-right>.speech .media-heading {
    color: #a07617;
}



.nano>.nano-pane {
    background-color: rgba(0,0,0,0.1);
    position: absolute;
    width: 5px;
    right: 0;
    top: 0;}
.type-message {   opacity: 0;
    -webkit-transition: all .7s;
    transition: all .7s;
}

#left-chat{
    min-width:200px !important;
} 

.type-message{
    margin-left: 7%;
     padding-bottom: 2% !important;
      color:#838c8f;
}

.nano-slider{
    height: 141px;
     transform: translate(0px, 0px);
}

.nano-content pad-all{
    right: -17px;
}

.nano-1 {
    height: 565px;
}

.speech-bubble-img:before {
    content: url('../images/sender-icon.png');;
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    top: 0;
  
    margin: 15px 0 0 -6px;
}



.speech-bubble-img-1:before {
    content: url('../images/sender-icon.png');
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    left: -11px;
    top: -15px;
    margin: 15px 0 0 -6px;
}


.speech-left {
    position: relative;
    background: #dee1e4;
    color: #444545;
    display: inline-block;
    border-radius: 0;
    padding: 12px 20px;
    border-radius: 0px 8px 8px 8px;
}


.speech-2 {
    position: relative;
    background: #dee1e4;
    color: #444545;
    display: inline-block;
    border-radius: 0;
    width:50%;
    padding: 12px 20px;
    border-radius: 0px 8px 8px 8px;
}

img.img-back {
    position: absolute;
    right: -16px;
    top: 0px;

}

img.img-back-1 {
    position: absolute;
    left: -16px;
    top: 0px;

}

.typing{
    
      color: #838c8f;
    position: absolute;
    top: -30px;
    background: #fff;
    width: 100%;
    left: 1px;
    padding: 6px 0 5px 20px;
}
