.client-dash .nv-y {
    display: none;
}

.client-dash .chart-line .chart-labels {
    display: none;
}

.client-dash .boxx {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 0px;
    margin-right: 10px;
}

.client-dash md-list-item.md-3-line,
.client-dash md-list-item.md-3-line>.md-no-style {
    min-height: 70px !important;
}
