.mb-20{ margin-bottom: 20px; }
.md-color-pr{background: #3db6b6 !important}
.m-padding-top{
    padding-top: 12px;
}
.share-person-modal .md-button:nth-child(1){    background-color: #3db6b6 !important}

/*open account*/

.cl0{
    width:40%;
}

.cl1{
    width:40%;
}

.cl2{
    width:55%;
}
.cl3{
    width:55%;
}
.cl4{
    width:95%;
}
.cl5{
    width:100%;
}
.cl6{
    width:90%;
}
.cl7{
    width:42%;
}
.cl8{
    width:45%;
}
.cl9{
    width:40%;
}
.cl10{
    width:30%;
}
.cl11{
    width:30%;
}
.cl12{
    width:30%;
}
.cl13{
    width:30%;
}
.cl14{
    width:30%;
}
.cl15{
    width:30%;
}
.cl16{
    width:30%;
}
.cl17{
    width:60%;
}
.cl18{
    width:50%;
}





.left-side-nav .nav>li>a .fa
{
    display: block;
    margin: 0 auto;
    font-size: 22px;
}


.left-side-nav .nav>li>a
{
    font-weight: normal;
    font-size: 12px;
    text-align: center;
    color: #8294a4 !important;
        width: 100%;
}
.left-side-nav .nav>li:hover>a, .left-side-nav .nav>li.active-mm a
{
    color: #fff !important;
}

.left-side-nav .nav>li.nav-profile
{
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
    border-top: 1px solid #294763;
}
.left-side-nav .nav>li.nav-profile .profile-on {
    color: #36b8b7;
    position: absolute;
    left: 43px;
    right: 0;
    top: 45px;
    font-size: 14px !important;
}

.left-side-nav .nav>li.nav-profile>a img {
    width: 100%;
    min-width: 50px;
    height: 50px;
}
.nav-collapsed-min .left-side-nav .nav>li.nav-profile>a img
{
        margin-left: -6px;
}

.nav-collapsed-min .sub-header
{
    padding-left: 0px;

}
.sub-header
{
    padding-left: 85px;
}
.sub-header .inpText
{
    background: #435E76;
    border: 0px solid #102240;
    padding: 5px 6px;
    width: 100%;
}
.sub-header-content .main-title
{
    text-decoration: none;
    margin-top: 15px;
    margin-bottom: 5px;
    display: block;
}
.sub-header-content .main-title + ul
{
    padding-left: 0;
    list-style: none;
}
.sub-header-content .main-title + ul>li>a
{
    text-decoration: none;
    font-weight: normal;
    width: 100%;
    display: block;
    padding: 4px 0;
    color: #8294A4;
}
.sub-header-content .main-title + ul>li>a:hover
{
    color: #fff;
}

.sub-header-content
{
    padding: 6px 15px;
}
.sub-header-content + .sub-header-content
{
    border-top: 1px solid #8294a4 !important;
    padding-top: 0;
}
.sub-header-content + .sub-header-content .main-title
{
    border-bottom: 1px solid #fff;
    margin-bottom: 10px;
}
.inp-group-serch
{
    position: relative;

}

.nav-collapsed-min .sub-header-content
{
    display: none;
}
.sub-header-content
{
    display: block;
}
.inp-group-serch .fa-search
{
    position: absolute;
    left: 9px;
    top: 8px;
    color: #8294A4;
    display: inline-block;
    font-size: 11px;
}
.nav-collapsed-min .fa-search
{
    display: none;
}
.nav-container .md-button
{
    float: right;
}


.fa-star-rating
{
    color:#FFFF05;
}
.sub-header input[type=text]
{
    box-sizing: border-box;
    background-position: 6px 6px;
    background-repeat: no-repeat;
    padding-left: 25px;
    font-size: 12px;
}
.chk-content ul li
{
    position: relative;
    padding-left: 20px;
}
.collapse-arrow
{
    float: right;
}
.nav-collapsed-min #nav-container ul.main-nav
{
    width: 100px;
}

ul#nav.nav.nav-mm {
  width: 80px !important; /* width of left sidebar */
}
.toggle-nav
{
    display: block;
    text-align: right;
    padding-right: 8px;
}

/*** custom checkboxes ***/

input[type=checkbox] { display:none; } /* to hide the checkbox itself */
input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
  font-weight: 100;
}
input[type=checkbox] + label {
  font-weight: 100;
  cursor: pointer;
}
input[type=checkbox] + label:before { content: "\f096"; font-weight: normal;position: absolute;left: 0;} /* unchecked icon */
input[type=checkbox] + label:before { letter-spacing: 10px; } /* space between checkbox and label */

input[type=checkbox]:checked + label:before { content: "\f046"; font-weight: normal;} /* checked icon */
input[type=checkbox]:checked + label:before { letter-spacing: 5px; } /* allow space for check mark */

/** Media Query **/

@media (min-width: 768px)
{
    .app.nav-collapsed-min #nav-container {width: 100px; }

}

/** For Feed Page **/

.feed-panel
{
    position: relative;
    padding-left: 50px;
    padding-right: 60px;
    margin-bottom: 15px;
}
.feed-panel>img, .notification-img
{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    left: 0px;
    top: 5px;
}
.feed-panel .time-count
{
    position: absolute;
    right: 0;
    color: #999;
}
.feed-panel .feed-content ul
{
    list-style: none;
    position: relative;
    padding-left: 15px;
}

.feed-panel .feed-content ul>li
{
    position: relative;
    padding-left: 35px;
    color: #999;



}
.feed-panel .feed-content ul>li>p
{
    max-height: 45px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin-bottom: 0;
    line-height: 1.8;
}
.feed-panel .feed-content ul>li:before {
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: 25px;
    left: 0px;
    top: -12px;
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
    z-index: 1;
}
.feed-panel .feed-content ul>li:after
{
content: "";
    display: block;
    position: absolute;
    z-index: 1;
    left: 0px;
    top: 0;
    bottom: 0;
}
.feed-panel .feed-content ul>li>.fa
{
    position: absolute;
    left:18px;
    top: 6px;
}
.feed-panel .feed-content ul>li>span
{
    position: relative;
    margin-right: 8px;
}
.feed-panel .feed-content ul>li>span:after
{
    content: ">";
    display: block;
    position: absolute;
    right: -10px;
    top: -4px;

}
.files-link, .files-link:hover
{
    color: #333;
    text-decoration: none;
    font-weight: bold;
}
.feed-time-tille
{
    border-bottom: 1px solid #d7d7d7;
    padding-bottom: 5px;
    font-weight: 500;
    color: #999;
}

/**** Styles For Vault section ****/

.title-score{font-weight: bold;font-size: 14px;display: inline-block;color: #262626;}
.title-score>span{font-weight: normal;}
/*.view-container{ background: #fff;}*/
.vault-header{background: #F5F6F7;display: inline-block;width: 100%;height: 50px;line-height: 50px;margin-bottom: -5px;}
.vault-header ul{display: inline-block;float: right;list-style: none;margin-bottom: 0;}
.vault-header ul>li
{
    display: inline-block;
    float: left;
    width: 30px;
}
.vault-header ul>li.active>a{color:#6e50a1; }

.vault-header ul>li>a{color: #999;font-size: 22px;}

.vault-table .fa-folder{position: absolute;top: 16px;left: 15px;color:#70c3e5;font-size: 16px; }
.vault-table .fa-file-text, .vault-table .fa-lock{position: absolute;top: 16px;left: 15px;color:#969696;font-size: 16px; }
.vault-table .fa-file-word-o{position: absolute;top: 16px;left: 15px;color:#0e57c1;font-size: 16px;}
.vault-table .fa-file-image-o{position: absolute;top: 16px;left: 15px;color:#f4cf31;font-size: 16px;}
.vault-table .fa-file-excel-o{position: absolute;top: 16px;left: 15px;color:#30c473;font-size: 16px;}
.vault-table .fa-file-pdf-o{position: absolute;top: 16px;left: 15px;color:#e83a3a;font-size: 16px;}


.vault-table>.divTableBody>.divTableRow>.divTableCell:first-child{position: relative;padding-left: 40px;}
.vault-table>.divTableBody>.divTableRow>.divTableCell:first-child>.share-person{margin-left: 15px;}
.vault-table>.divTableBody>.divTableRow>.divTableCell>.share-person>a{width:20px;display:inline-block;height:20px;border-radius: 50%;}
.vault-table>.divTableBody>.divTableRow>.divTableCell>a{color:#969696;text-decoration: none;}
.vault-table>.divTableBody>.divTableRow>.divTableCell>.share-person>a>img{width:100%;border-radius: 50%;}
.vault-table>.divTableBody>.divTableRow:last-child>.divTableCell{border-bottom: 1px solid #ddd;}
.vault-table>.divTableHead>.divTableRow>.divTableCell{border-bottom: 1px solid #ddd !important;}
.vault-table{color: #838c8f;}
.vault-table>.divTableBody>.divTableRow:hover{background-color: #F5F6F7 !important;cursor: pointer;}
.edit-option{display: inline-block;width: 100%;min-width: 90px;height: 14px;position: relative;top: -5px; min-width: 110px; max-width: 250px; float: right;}
.edit-option>ul{padding-left: 0;list-style: none}
.edit-option>ul>li{display: inline-block;float: left;width:16.6%;width: -webkit-calc(100% / 6);width: -moz-calc(100% / 6);width: -o-calc(100% / 6);width: calc(100% / 6);text-align:center; }
.edit-option>ul>li>a{display: none;font-size: 18px;}
.vault-table>.divTableBody>.divTableRow:hover>.divTableCell>.edit-option>ul>li>a{color: #969696;display: block;}

.vault-container{background: #fff;padding-right: 0;}
.vault-container.msg-toggle{padding-right: 345px;}
.vault-container.share .edit-option>ul>li{display: inline-block;float: left;width:20%;text-align:center; }
.vault-container.share .edit-option>ul>li>a{color: #838c8f !important; }
.vault-container.share .edit-option>ul>li.active>a{color: #6e50a1 !important; }
.vault-container.share .edit-option{min-width: 110px;}

/** Chat window for message **/

.msg-sidebar-menu
{
    width:0px;
    border:1px solid #ddd;
    position: fixed;
    height: calc(100% - 62px);
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    z-index: 99999;
    top: 62px;
    display: block !important;
    -webkit-transition: width 0.25s ease-in-out;
    transition: width 0.25s ease-in-out;
	padding-bottom: 60px;
}
.msg-toggle .msg-sidebar-menu
{
    width: 345px;
    -webkit-transition: width 0.50s ease-in-out;
    transition: width 0.50s ease-in-out;
}
.msg-sidebar-menu>.msg-header
{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    top: 2px;
    border-bottom: 1px solid #ddd;
    background: #F5F6F7;
    padding: 0 15px;
}
.msg-sidebar-menu>.msg-header>.title
{
    color: #262626;
    font-weight: normal;
    line-height: 50px;
    margin: 0;
    width: 95%;
}
.msg-sidebar-menu>.msg-header>.btn-close
{
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 18px;
    color: #838c8f;
}
.msg-sidebar-menu>.msg-header>.btn-close:hover
{
    color: #262626;
}
.msg-footer
{
    background: #dee1e4;
    height: 60px;
    position: absolute;
    bottom: 0;
    z-index: 2;
    width: 100%;
    line-height: 60px;
    padding: 0px 20px;
    border-width: 1px 0 0 1px;
    border-style: solid;
    border-color: #d7d7d7;
}
.msg-footer .typing-text
{
    position: absolute;
    top: -25px;
    color: #969696;
}
.msg-footer>.inp-msg-group
{

    position: relative;
    width: 87%;
}
.msg-footer .btn-attech
{
    position: absolute;
    right: 0;
    top: 0;
    right: 22px;
    font-size: 18px;
    color: #999;
}
.msg-footer>.inp-msg-group>.inpText
{
    border-radius: 20px;
    border: 1px solid #ddd;
    height: 32px;
    width: 100%;
    padding: 6px 15px;
    padding-right: 30px;
}
.msg-footer>.inp-msg-group>.inpText + .fa-smile-o
{
    position: absolute;
    right: 18px;
    top: 23px;
    font-size: 16px;
    color: #999;
}
.msg-body
{
    padding: 15px 20px;
}
.msg-body .chat-timing-interval
{
    border-bottom: 1px solid #ddd;
    color: #969696;
    text-align: center;
    margin-bottom: 0;
    padding: 8px 0;
}
/** Sender**/
.msg-body .sender {position: relative;padding-left: 55px;}
.msg-body .sender .sender-img
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    left: 0px;
}
.msg-body .sender .sender-content
{
    background: #dee1e4;
    padding: 15px;
    border-radius: 0px 6px 6px 6px;
    margin-top: 20px;
    position: relative;
    color: #444545;
}
.msg-body .sender .sender-content:before
{
    background: url("../../images/sender-icon.png");
    content: "";
    display: block;
    width: 18px;
    height: 23px;
    z-index: 1;
    background-size: 100%;
    position: absolute;
    left: -17px;
    background-repeat: no-repeat;
    top: 0;
}
.msg-body .sender .sender-content p {margin-bottom: 0;font-weight: 400;}
.msg-body .sender .time-span{margin-top:3px;color: #969696;display: block;font-size: 12px}

/** Receiver **/
.msg-body .receiver {position: relative;}

.msg-body .receiver .receiver-content
{
    background: #8374b5;
    padding: 15px;
    border-radius: 6px 0 6px 6px;
    margin-top: 20px;
    position: relative;
    color: #fff;
}
.msg-body .receiver .receiver-content:before
{
    background: url("../../images/receiver-icon.png");
    content: "";
    display: block;
    width: 18px;
    height: 23px;
    z-index: 1;
    background-size: 100%;
    position: absolute;
    right: -16px;
    background-repeat: no-repeat;
    top: 0;
}


.msg-body .receiver .receiver-content p {margin-bottom: 0;font-weight: 300;}
.msg-body .receiver .time-span{margin-top:3px;color: #969696;display: block;text-align: right; font-size: 12px}


/** End Css for chat messaging**/


.dialogdemoBasicUsage #popupContainer {
  position: relative; }

.dialogdemoBasicUsage .footer {
  width: 100%;
  text-align: center;
  margin-left: 20px; }

.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
  font-size: 0.8em;
  margin-top: 50px; }

.dialogdemoBasicUsage button {
  width: 200px; }

.dialogdemoBasicUsage div#status {
  color: #c60008; }

.share-person-modal{max-width: 550px;width: 100%;}
.share-person-modal .header{background:#eaeaea !important;min-height: 50px; }
.share-person-modal .header h4{font-weight:400;font-size:16px;color:#464646 !important;}
.share-person-modal .header .md-icon-button{font-size:18px;color:#464646 !important;}
.share-person-modal .md-primary{border-radius: 50px;background: #3db6b6 !important;font-weight: normal; text-transform: capitalize;margin-bottom: 30px;}
.share-person-modal .md-toolbar-tools{min-height: 50px;height: 50px;}
.collection{padding-left: 0;list-style: none;}
.collection>li>img{position: absolute;left:0px;width:40px;height:40px;border-radius: 50%;top:0px;}
.collection>li{position: relative;padding-left: 50px;height: 45px;line-height: 45px;margin-bottom: 10px;}
.collection>li a{float: right; }
.collection>li>P{display: inline-block;width: 85%;line-height: 1;margin-bottom: 0;}
.collection>li>P>span{font-size:12px;color: #999; }
.share-text{color: #999;margin-bottom: 10px;}
.share-person-modal .md-input-has-placeholder{margin-bottom: 0;}


/* DivTable.com */
.divTable{
    display: table;
    width: 100%;
    border-collapse: collapse;
}
.divTableRow {
    display: table-row;
}
.divTableHeading {
    background-color: transparent;
    display: table-header-group;
}
.divTableCell, .divTableHead {

    display: table-cell;
    padding: 15px;
    line-height: 1.42857;
    vertical-align: top;
    border-top: 1px solid #ddd;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
}
.divTableHeading {
    background-color: transparent;
    display: table-header-group;
    font-weight: bold;
}
.divTableFoot {
    background-color: transparent;
    display: table-footer-group;
    font-weight: bold;
}
.divTableBody {
    display: table-row-group;
}

/** pdf-view-modal **/
.pdf-view-modal
{
    width: 60%;
    height: 100vh;
    margin-right: 345px;
}
.pdf-header
{
    background: #102240 !important;
    height: 70px;
    line-height: 70px;
    width:100%;
    left: 0;
    top: 0;
    z-index: 99999999;
    position: fixed;
    color: #fff;
    padding: 0 25px;

}
.pdf-header ul{list-style: none;padding-left: 0;}
.pdf-header ul>li{display: inline-block;float: left;width: calc(100% / 3); font-weight: 300;color: #999;    padding-left: 18px;}
.pdf-header ul>li span{font-weight: 300;}
.pdf-header ul>li h4{font-size:16px;font-weight: 300;display: inline-block;color: #fff;padding-left: 8px;}
.pdf-header ul>li h4 .fa{position: absolute;left: 0; }
.mzero{margin:0!important; }
.md-scroll-mask {
    background: rgba(107, 107, 107, 0.85)!important;
}
.icon-ul{width: 175px;display: inline-block;}
.icon-ul>li{width:calc(100% / 4) !important;}
.icon-ul>li>.fa{color: #fff;font-size: 20px;cursor: pointer;}

.icon-ul-2{display: inline-block;float: right;}
.icon-ul-2>li{width:calc(100% / 2) !important;}
.icon-ul-2>li>.fa{color: #fff;font-size: 20px;}

.pdf-header .sec1{display: inline-block;width: 100%;}


/*** For insurance Page ***/
.text-bold{font-weight: bold;}
.insurance-container{padding: 15px 15px;}
.insurance-planner-info{box-shadow: 2px 0px 10px #ccc;padding: 20px 0;background: #29303d;}
.insurance-container .panel{margin-top:20px; }
.insurance-container .guage-circle-chart{max-width: 90px;width: 100%;}
.tex-score {font-weight: 600;font-size: 18px !important;color: #262626;}
/*.insurance-container .panel-header{padding: 15px 0px 0;display: inline-block;width: 100%;}*/
.panel-body{}
.grid-col{width: calc(100% / 5);float: left;padding: 0 20px;}
.policies-category{list-style: none;padding-left: 0;}
.policies-category>li{display: block;}
.policies-category>li:last-child>a{border-bottom: 1px solid #ddd;}
.policies-category>li>a, .policies-category>li>a{display: inline-block;width:100%;color:#969696 !important; text-decoration: none;border-top: 1px solid #ddd; padding: 12px 0;}
.policies-category .insurance-table .divTableCell{padding: 3px 15px;border-top:0;}
.policies-category .tex-score{font-weight: bold;margin-left:5px;font-size:14px;color: #262626;}
.policies-category .insurance-table{margin: 0px 0 15px;}
.policies-category .divTableHeading{color: #969696;}

/**/
.insurance-container .panel-header a.add-policy{text-decoration:none;color:#ddd;}
.insurance-container .panel-header a.add-policy:hover{text-decoration:none;color: #262626;}
.insurance-container .insurance-table{border-top: 1px solid #ddd;}

/** For investment + for investment-main **/
.investment-container{padding: 15px 15px;}
.investment-planner-info{background: #262626;color: #fff;padding: 20px 0;}
.investment-container .panel{margin-top:20px; }
.investment-container .tex-score{font-weight: 500;font-size:20px;color: #fff;}
.amt-green{color:green!important;}
.random-icon{color: #fff;font-size: 35px;}
.investment-planner-info .grid-col{width: calc(100% / 5);float: left;padding: 15px 20px;}
.width-15{width: 15% !important;}
.width-10{width: 10% !important;}
.width-30{width: 30% !important;}
.investment-container .panel-header{padding: 15px 0px 0;display: inline-block;width: 100%;font-weight: 600;font-size: 16px}
.changeAmountUp{color:#029C02 !important;}
.changeAmountDown{color:#B30202 !important;}
.investment-table .tablehead-color{color:#9f9f9f !important;}
.investment-table .divTableRow{border-bottom:1px solid #ddd !important;}
.investment-table .divTableCell{padding: 10px 0px 18px;border-top:0;}
.investment-table{margin: 0px 0 15px;}
.investment-table .icon-random{float: right;margin-right: 18px;color: #9f9f9f;}

/**/
.inner-table-div{width: 95%;margin-left: 5%;}
.inner-table-div .client-investment-table{margin: 0px 0 15px;}
.inner-table-div .client-investment-table .tablehead-color{color:#9f9f9f !important;}
.inner-table-div .client-investment-table .divTableRow{border-bottom:1px solid #ddd !important;}
.inner-table-div .client-investment-table .divTableCell{padding: 10px 0px 18px;border-top:0;}
.inner-table-div .width-30{width:30% !important;}
.inner-table-div .width-10{width:10% !important;}
.inner-table-div .width-10{width:10% !important;}
.inner-table-div .width-20{width:20% !important;}

/**/
.investment-container .add-account a{text-decoration:none;color:#ddd;}
.investment-container .add-account a:hover{text-decoration:none;color: #262626;}

/* media Queary for investment */
@media screen and (max-width: 900px) {
    .investment-container .tex-score{font-weight: 500;font-size:16px;color: #fff;}
    .random-icon{color: #fff;font-size: 20px;}
}

/*  acounts table responsive content */
.investment-account-table{}
.investment-account-table tr th, .client-investment-table tr th{padding: 10px 0 !important;color:#9f9f9f !important;}
.investment-account-table tr td, .client-investment-table tr td{padding: 10px 0 20px !important;}
.investment-account-table tr:last-child{border-bottom: 1px solid #ddd;}
.inner-client-table-div{width: 95%;margin-left: 5%;}
.client-investment-table{}
.client-investment-table .width-30{width:30% !important;}
.client-investment-table .width-10{width:10% !important;}
.client-investment-table .width-10{width:10% !important;}
.client-investment-table .width-20{width:21% !important;}
.icon-random{float: right;margin-right: 18px;color: #9f9f9f;}
.changeAmountUp{color:#029C02 !important;}
.changeAmountDown{color:#B30202 !important;}




/* For VAULT Drag and Drop */
.vault-container .vault-dragdrop{padding: 15px 15px;}
.vault-container .vault-dragdrop .file-drop-box{box-shadow: 0px 0px 10px; border-radius: 5px;height: 60vh;width:100%;padding-top: 18vh;}
.vault-container .vault-dragdrop .file-drop-box p{text-align: center;}
.vault-container .vault-dragdrop .file-drop-box p a{text-decoration: none;color: #d7d7d7;}
.vault-container .vault-dragdrop .file-drop-box p a:hover{text-decoration: none;}
.dropfile{font-weight: 600;font-size: 30px;}
.to-upload{font-size: 25px;}
.file-upload-icon{display: block;font-size: 6em;}






/** Sidebar **/
.vault-item-upload
{
    position: relative;
    padding: 15px 0px 15px 0px;
    border-bottom: 1px solid #8294a4;
    z-index: 0;
    left: 0px;
     overflow: hidden;
    margin-bottom: 15px;
}
.vault-item-upload .fa-plus
{
    float: right;
    cursor: pointer;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: #f0f0f0;
}
.inpSearch
{
    position: relative;
}
.inpSearch>.inpStyl
{
    width: 100%;
    border-radius: 20px;
    background: transparent;
        border: 1px solid #8294a4;
    padding: 0px 15px 0 25px;
    font-size: 12px;
    line-height: 26px;
    height: 26px;
}
.inpSearch>.inpStyl+.fa-search
{
    position: absolute;
    top: 7px;
    left: 10px;
    font-size: 11px;
    color: #969696;
}
.vault-item-upload .inpFile
{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 15px;
    opacity: 0;
    cursor: pointer;
}
.vault-item-upload .inpFile:hover + .fa-plus
{
    color: #fff;
}
.fa-download-custom
{
    background: url(../images/doc-download.png);
    width: 18px;
    height: 18px;
    background-size: 100%;
    display: inline-block;
    top: 2px;
    position: relative;
}
.fa-delete-custom
{
    background: url(../images/doc-delete.png);
    width: 15px;
    height: 17px;
    background-size: 100%;
    display: inline-block;
    top: 2px;
    position: relative;
    background-repeat: no-repeat;
}
.img-icon
{
    background-size: 100% !important;
    display: inline-block;
    top: 17px;
    position: absolute;
    left: 15px;
    background-repeat: no-repeat !important;
}
.file-word{background: url(../images/doc-word.png);width: 15px;height: 19px;}
.file-jpg{background: url(../images/jpg.png);width: 15px;height: 19px;}
.file-lock{background: url(../images/lock.png);width: 15px;height: 19px;}
.file-googlesheet{background: url(../images/googlesheet.png);width: 15px;height: 19px;}
.file-pdf{background: url(../images/pdf.png);width: 15px;height: 19px;}
.file-folder{background: url(../images/file-folder.png);width: 19px;height: 20px;top:18px;}
.file-upload-icon{background: url(../images/file-upload-icon.png);width: 14px;height: 100%;top: 12px;left: 15px;}
.addnew-folder{background: url(../images/addnew-folder.png);width: 18px;height: 100%;   top: 12px;left: 15px;}

.ml-10{margin-left: 10px}
.dark{color: #262626;}
.insuranceMainTable th, .insuranceMainTabler td{border-bottom: 0 !important;padding: 3px 0 !important;}
.insuranceMainTable tbody>tr>td>a, .insuranceMainTable>tbody>tr>td>a:hover{color: #969696;text-decoration: none;cursor: pointer;}
.termCondition{display: block;text-align: center;font-size: 12px;}
.termCondition a{color:#fff;text-decoration: underline;}
.termCondition a:hover{text-decoration: none;}

.fa-outdent-icon
{
    background: url(../images/indent-icon.png);width: 15px;height: 19px;
    width: 32px;
    height: 30px;
    background-size: 100% !important;
    display: inline-block;
    top: 24px;
    position: absolute;
    left: 15px;
    background-repeat: no-repeat;
}
.fa-indent-icon
{
    background: url(../images/outdent-icon.png);width: 15px;height: 19px;
    width: 32px;
    height: 30px;
    background-size: 100% !important;
    display: inline-block;
    top: 24px;
    position: absolute;
    left: 15px;
    background-repeat: no-repeat;
}

.vault-item-upload .ul-dropdown
{
    padding-left: 0;
    list-style:none;
    background: #fff !important;
    position: fixed;
    z-index: 999;
    width: 150px;
    top: 120px;
}
.vault-item-upload .ul-dropdown>li
{
margin:0 !important;
}
.vault-item-upload .ul-dropdown>li>a
{
   text-decoration: none;
   color:#000;
   padding: 10px 10px 10px 40px;
   display: inline-block;
   width: 100%;
    position: relative;
        font-size: 14px;
}
.vault-item-upload .ul-dropdown>li>a:hover
{
   text-decoration: none;
   background: #f0f0f0;
}
.vault-table .fa-star
{
	 color: #800080;
}
.vault-table .fa-user-plus-o
{
	 color: #800080;
}
.inpCreateFolder
{
    padding-left:30px;
    border: 0;
    top: 0px;
    position: absolute;
    left: 10px;
    height: 100%;
    background: transparent;
}
.inpFileUpload
{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 1;
    opacity: 0;
}
.a-text, .a-text:hover{text-decoration: none;}
}



.seeMore a{text-decoration: underline;float: right;}
.notification-section{padding:14px;}
.feed-content .labelColor{color: #009688 !important;}
.notification-section .files-link, .notification-section .files-link:hover
{
    color: #009688;
    text-decoration: none;
    font-weight: bold;
}

/** ======= table chart client Dash ======**/
.networthTableDiv, .investmentTableDiv, .goalTableDiv, .insuranceTableDiv, .liquidityTableDiv{padding:15px;}
.networthTableDiv .icn-padd {padding: 10px 0;}
.PercentChangeUp{color:green;}
.PercentChangeDown{color:red;}
.Investment-table-Account tr td, .liquidity-table-Account tr td{padding: 15px 0!important;}
.Investment-table-Account .icn-padd, .liquidity-table-Account .icn-padd{padding: 10px 0!important;}
.Investment-table-Account tr td a, .liquidity-table-Account tr td a{text-decoration: none;color: #3D4051;}


.common-container{height: 300px; position: relative;}
.notifications.common-container{height: 355px; position: relative;}
.common-container .feed-panel .feed-content ul>li>p{max-height: 72px;-webkit-line-clamp: 3;}

#jqbarchart{width: 100% !important;height: 100% !important;position: absolute;top: 0px;}
.panel-footer{width: 100%;height: 55px;background: #fff;border: 0 !important;text-align: center;}
.panel-footer .btn-chart-overlay{bottom: 0;right: auto !important;}
.panel-footer .btn-chart-overlay .btn-group{display: inline-block !important;}
#clientDashLiquidity
{
    height: 100% !important;
    position: absolute;
    top: 82px;
    bottom: 0px;
    left: -20px;
    right: 0;
    width: calc(100% + 40px) !important
}
.seeMore{float: right;}
.seeMore a{text-decoration: underline;}
.common-container .chart-container{position: static !important;}

.common-container canvas#investmentMainDoughnut{width: 100% !important;}
.panel-footer .btn-chart-overlay button.btn.btn-lg.btn_1.btn-2 {width:100px;text-align:center;padding:5px 15px 5px 15px; }
.panel-footer button.btn.btn-lg.btn_1.btn-2.active{text-align: center !important;}

.panel-footer  .btn-chart-overlay button.btn.btn-lg.btn_1.btn-liabilties {width: 100px;text-align: center;padding: 5px 15px 5px 15px;}
.panel-footer  .btn-chart-overlay button.btn.btn-lg.btn_1.btn-liabilties.active {text-align: center !important;padding: 5px 15px 5px 15px !important;}

.panel-footer .btn-chart-overlay button.btn.btn-lg.btn_1.btn-2.long-btn{min-width: 210px;}
.panel-footer .btn-chart-overlay button.btn.btn-lg.btn_1.btn-2.long-btn.active{min-width: 200px !important;}
.panel-footer  .btn-chart-overlay button.btn.btn-lg.btn_1.btn-liabilties.long-btn{min-width: 140px;}
.common-container #my-legend>table{float: right;margin-right: 20px;}

.common-container .wedding-bar .progress-bar{background-color: #2f4e9f !important;}
.common-container .newcar-bar .progress-bar{background: #11bfe0 !important;}
.common-container .retirement-bar .progress-bar{background: #40b449 !important;}
.common-container .home-bar .progress-bar{background: #a2cc39 !important;}

.common-container .progressbar-container{position: relative;padding-right: 40px;margin-bottom: 40px;}
.common-container .progress{position: absolute;position: absolute;width: calc(100% - 10px); }

.clientHomeDash-panel{background: #29303d;    color: #fff;padding: 30px 20px !important;}
.clientHomeDash-panel .form-datepicker{background: transparent;color: #fff;border-bottom: 2px solid #fff !important;}
.clientHomeDash-panel .input-group-datedash {background-color: transparent !important;color: #fff !important;position: relative;}
.clientHomeDash-panel .input-group-datedash:after{content: "";width: 10px;height: 1px;background: #fff;position: absolute;top: 16px;left: 8px;}
#bar-legend>.doughnut-legend>li{width: 100%;text-align: left;}
.addYourtarget{position: absolute;top: 48%;width:100%;}
.addYourtarget>.md-button{margin: 0 auto; padding: 0 15px;}
.mb-10{margin-bottom: 10px !important ;}
#barchart-legend>ul>li{width: 100%;text-align:left;}
.pieChartStyle>div{overflow:visible !important;}

.mb-25{margin-bottom:25px;}
.panel #demo-chat-body:last-child{margin-bottom: 50px;}
.msg-sidebar-menu .msg{width: 345px;right: 0;min-height: 60px;z-index: 999;left: auto;}
.edit-option>ul>li>a:hover, .edit-option>ul>li>a.active{color: #800080 !important;}
.editedRow .edit-option>ul>li>a{display: block;color: #969696;}
.editedRow  {background-color: #F5F6F7 !important;}
.editedRow .edit-option>ul>li>a .fa-pencil{color: #800080 !important;}
.vault-table .editableInput{border: 0;background: transparent;}

.modalcls{
      top: 25% !important;
      opacity: 1 !important;
      width:308px;
      border-radius: 8px;
      left:42%;
}
.modalcls .modal-content { width:308px; border-radius: 12px;font-size: 16px;}
.modalcls .modal-body {font-size: 16px;color: #0E790E;}
#veil {
    text-align: center;
    position: fixed;
    width: 100%;
    top: calc(50% - 100px);
    left: 0;
    height: 100%;
    background: rgba(0,0,0,0.42);
    z-index: 999;
}

 /*#loadingDiv{position:fixed;top:0px;right:0px;width:100%;height:100%;background-color:#666;background-image:url('/images/loading.gif'); background-repeat:no-repeat;background-position:center;z-index:10000000;  opacity: 0.4;*/
/*filter: alpha(opacity=40); !* For IE8 and earlier *!}*/

.app  .main-container > .nav-container{width:272px; }

#vaultUpload{min-height: calc(100vh - 85px);}
@media only screen and (max-width: 844px)
{
    #vaultUpload{min-height: calc(100vh - 150px);}
}


.category-icon
{
    background: #b3c1ce;
    width: 30px;
    height: 30px;
    border-radius: 25px;
    display: inline-block;
    position: relative;
    line-height: 30px;
    text-align: center;
    color: #f0f0f0;
}

.mbzero{margin-bottom:0 !important;}
.mb-65{margin-bottom:65px !important;}
.pb-30{padding-bottom:30px !important;}