.goals-home .goals-header .goals-header-label {
    font-size: 14px;
}

.goals-home .table-goal .goal-very-important {
    color: #12243F
}

.progressbar-container  .goal-very-important > .progress-bar, .goals-home .priority-div.goal-very-important{
    background-color: #12243F !important;
}

.goals-home .priority-div {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: none;
    margin-left: 15px;
}

.goals-home .table-goal .goal-important {
    color: #2F559C
}

.progressbar-container  .goal-important > .progress-bar, .goals-home .priority-div.goal-important {
    background-color: #2F559C !important;
}

.goals-home .table-goal .goal-average {
    color: #5084C0
}

.progressbar-container  .goal-average > .progress-bar, .goals-home .priority-div.goal-average {
    background-color: #5084C0 !important;
}

.goals-home .table-goal .goal-below-average {
    color: #45ABF0
}

.progressbar-container  .goal-below-average > .progress-bar, .goals-home .priority-div.goal-below-average {
    background-color: #45ABF0 !important;
}

.goals-home .table-goal .goal-least-important {
    color: #79C9FF;
}

.progressbar-container  .goal-least-average > .progress-bar, .goals-home .priority-div.goal-least-average {
    background-color: #79C9FF !important;
}

.goals-home .date-picker .form-date-inner {
    width: 135px !important;
}

.table-goal th{
    font-weight: 500;
    color: #9f9f9f;
    border-bottom: 1px solid #ddd !important;
    padding: 15px 0 !important;
}

.table-goal td{
    padding: 15px 15px 15px 0px !important;
}

.table-goal h3 {
    display: inline-block;
}

.goals-home .goals-chart .goals-chart-tick {
    font-size: 20px;
}

.goals-home .retSlider .rz-bubble {
    color : #9f9f9f !important;
}

.goals-home .add-com {
    color: #9f9f9f;
    padding-bottom: 15px;
}

.value-slider {
    padding-top: 4px;
    margin-left: 20px;
    color: #9f9f9f;
}
.value-slider-addgoal {
    margin-left: 20px;
    border-bottom: 2px solid #6dc7c5;
    width: 87px;
    padding-bottom: 4px;
}
