.setting-myprofile {
    width: 95px !important;
    height: 90px;
    background: #ffffff !important;
    position: fixed;
    overflow: hidden;
    border: 1px solid #eee;
    left: 86px;
    z-index: 9999999999;
    padding: 16px;
    bottom: 0;
}

.setting-myprofile li {
    list-style-type: none;
    display: inline-block;
    margin: 0 0 13px 9px;
    background: transparent !important;
}

.setting-myprofile li a:hover {
    background: transparent !important;
}

.setting-myprofile li a {
    color: #868686 !important;
    font-weight: normal;
    font-size: 14px !important;
    padding: 0px !important;
    background: transparent !important;
}

/*.hidden{
visibility: hidden;
}*/
.nav-container .nav ul {
    display: block;
}

.nav-inner {
    margin: 0 10px;
    max-height: 450px;
}
.nav-inner li a{ text-overflow: ellipsis;}

.nav-inner li a span{     white-space: pre-line;}

.nav-inner li a :hover {
    text-decoration: none !important;
}

.highlightsub {
    border-bottom: 2px solid #ffffff
}

.nav-inner li {
    margin: 0 0 20px 0px;
}

.nav-inner li a {
    font-weight: normal;
    font-size: 12px;
        word-wrap: break-word;
}

.nav-inner li a span {
    font-weight: 300;
}

.nav-inner li.active {
    border-bottom: 2px #fff solid;
}

.nav-inner-list {
    margin-top: 15px;
    margin-left: 10px;
        width: 135px;
}

.nav-inner-list li {
    margin: 0 0 10px 10px;
}


#nav .nav-profile .setting-myprofile {
    display : none;
}

#nav .nav-profile:hover .setting-myprofile {
    display : block;
}


.sub-nav {
    background:#294763 !important;
    height: 100% !important;
    overflow: hidden;
}

.sub-nav ul.nav-inner-list li {
    width: auto;
    word-break: break-all;
    overflow: hidden;
}


.sub-nav li.client-dash-sub-nav {
    height: 90%;
    overflow: hidden;
}
