<style>
    .nv-y {
        display: none;
    }
    
    .chart-line .chart-labels {
        display: none;
    }
    .form-datepicker{
    background: transparent !important;
    color: #fff;
    border-color: #fff !important;
}
.date-input{color:#ffffff;}
.form-date-inner{color:#ffffff;}
.form-date-inner {
    border: 1px solid;
    border-bottom-color: #ffffff;
    border-left-color: #29303d;
    border-right-color: #29303d;
    border-top-color: #29303d;
    padding: 1px 0px !important;
    width: 107px !important;
    background: transparent;
    text-align: center;
}
.input-group-datedash{
    background: transparent !important;
    color: #fff;
    border-color: #fff !important;
}
.padd-head-sm {
    padding: 49px 22px !important;
}
.control-label{ color: #fff;}
</style>

<div class="page" data-ng-controller="networthCtrl">

    <div class="row ui-section">
        <div class="panel panel-default panel-minimal">
            <div class="panel-body body-dark padd-head-sm">
                <div class="row">
                   <form action="#" class="form-horizontal form-datepicker-main head-date-right ng-pristine ng-valid">
                        <div class="form-body">
                            <div class="form-group">
                                <label class="control-label">Range:</label>
                                <div class="date-con-main">
                                    <div class="input-group input-large date-picker input-daterange">
                                        <datepicker date-format="MMMM dd, yyyy" class="form-control form-datepicker d1">
                                                 <input type="text" class="date-input form-control form-date-inner" ng-model="date.date1" ng-change="changeTiles()">
                                                </datepicker>
                                        - 
                                                <datepicker date-format="MMMM dd, yyyy" class="form-control form-datepicker d2">
                                                 <input type="text" class="form-control form-date-inner" ng-model="date.date2" ng-change="changeTiles()">
                                                </datepicker>
                                    </div>
                                </div>
                            
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            
            <div class="col-md-6">
                <div class="panel panel-default panel-minimal">
                    <div class="panel-body">
                        <div class="panel-heading">Chart</div>
                    </div>
                    <div class="panel-body panel-body-client">
                        <div id="chart-area">
                            <div class="row">
                                <div class="col-md-8">
                                    <canvas id="jqbarchart2" width="399" height="350"></canvas>
                                </div>
                                <div class="col-md-3">
                                    <div id="my-legend" class="chart-legend">
                                        <ul class="doughnut-legend">
                                            <li><span class="doughnut-legend-icon" style="background-color:#A3CC38"></span>
                                                <span class="doughnut-legend-text">Assets</span>
                                            </li>
                                            <li><span class="doughnut-legend-icon" style="background-color:#23C0E1"></span>
                                                <span class="doughnut-legend-text">Liabilities</span>
                                            </li>
                                            <li><span class="doughnut-legend-icon" style="background-color:#2D4EA0"></span>
                                                <span class="doughnut-legend-text">Net Worth</span>
                                            </li>
                                        </ul>
                                    </div>



                                </div>
                            </div>
                        </div>

                        <form action="#" class="form-horizontal form-datepicker-main">
                            <div class="form-body">
                                <div class="form-group fright">
                                    <label class="control-label col-md-2">Range:</label>
                                    <div class="col-md-10 padd-0">
                                        <div class="input-group input-large date-picker input-daterange fright">
                                            <input type='text' class="form-control form-datepicker" value="January 1,2014" id='datepickerrange1' />
                                            <span class="input-group-addon input-group-datedash"> - </span>
                                            <input type='text' class="form-control form-datepicker" value="January 1,2018" id='datepickerrange2' />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default panel-minimal">
                    <div class="panel-body">
                        <div class="panel-heading">Performance</div>
                        <div class="row" style="margin:0;">

                            <div class="col-md-6 dash_home">
                                <h3 style="color:#262626;">$629,012</h3>
                                <p style="font-size:15px;">+ <i>2 % ($ 24,000)</i></p>
                            </div>
                            <div class="col-md-6 dash_home" ng-controller="pieChartController">
                                <div data-echarts data-options="poptions1" style="height: 80px;"></div>
                            </div>

                        </div>
                    </div>
                    <div class="chart-outer">
                        <div ng-controller="linechartController">
                            <canvas id="myChart" height="156" class="chart chart-line" chart-legend="false" chart-data="data1" chart-colours="colours1"
                                chart-labels="labels1" chart-legend="true" chart-series="series1" chart-options="options1">
                            </canvas>
                        </div>
                    </div>


                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">

                <div class="panel panel-default panel-minimal">

                    <div class="panel-body">
                        <div class="row nw-main">

                            <span class="pull-left multiple-btns">
                                <div id="selector" class="btn-group">
                                    <button type="button" class="btn active btn-lg btn_1 btn-2">Assets</button>
                                    <button type="button" class="btn btn-lg btn_1 btn-liabilties">Liabilties</button>
                                </div>
                            </span>

                            <span class="pull-right">
                               
                                    <a href="" class="color-grey-light">+ Add Asset / Liability</a>
                              
                            </span>

                        </div>
                    </div>

                    <div class="panel-body panel-body-inner">
                        <table class="table no-margin table-main-inv">

                            <tbody>
                                <tr ng-repeat-start="clients in networthsDetailsinv">
                                    <td width="5%">
                                        <a class="icn-padd" ng-click="networthsDetailsexpanded = !networthsDetailsexpanded">
                                            <i ng-class="networthsDetailsexpanded ? 'fa fa-caret-down fa-lg' : 'fa fa-caret-right fa-lg'"></i>
                                        </a>
                                    </td>
                                    <td width="15%">{{clients.Name}}</td>
                                    <td width="15%"><b>{{clients.value}}</b></td>
                                    <td></td>
                                    <td></td>
                                </tr>

                                <tr ng-repeat-end ng-show="networthsDetailsexpanded">
                                    <td></td>
                                    <td colspan="5">
                                        <table class="table no-margin table-inner-expand">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th></th>
                                                    <th></th>
                                                    <th></th>
                                                    <th></th>
                                                    <th></th>
                                                    <th>Name</th>
                                                    <th>Type</th>
                                                    <th>Balance</th>
                                                    <th>Change (%)</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="brand in clients.investments">
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>

                                                    <td width="10%">{{brand.Name}}</td>
                                                    <td width="8%">{{brand.Type}}</td>
                                                    <td width="15%">$ {{brand.Balance}}</td>
                                                    <td><span class="color-danger"><i class="fa fa-arrow-down" aria-hidden="true"></i> $ {{brand.Change}}</span></td>


                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>


                                <tr ng-repeat-start="clients in networthsDetailsprop">
                                    <td width="5%">
                                        <a class="icn-padd" ng-click="networthsDetailspropexpanded = !networthsDetailspropexpanded">
                                            <i ng-class="networthsDetailspropexpanded ? 'fa fa-caret-down fa-lg' : 'fa fa-caret-right fa-lg'"></i>
                                        </a>
                                    </td>
                                    <td width="15%">{{clients.Name}}</td>
                                    <td width="15%"><b>{{clients.value}}</b></td>
                                    <td></td>
                                    <td></td>
                                </tr>

                                <tr ng-repeat-end ng-show="networthsDetailspropexpanded">
                                    <td></td>
                                    <td colspan="5">
                                        <table class="table no-margin table-inner-expand">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th></th>
                                                    <th></th>
                                                    <th></th>
                                                    <th></th>
                                                    <th></th>
                                                    <th></th>
                                                    <th></th>
                                                    <th></th>
                                                    <th>Item</th>
                                                    <th>Details</th>
                                                    <th>Balance</th>
                                                    <th>Change (%)</th>


                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="brand in clients.property">
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>{{brand.Item}}</td>
                                                    <td width="20%">{{brand.Details}}</td>
                                                    <td>$ {{brand.Balance}}</td>
                                                    <td><span class="color-success"><i class="fa fa-arrow-up" aria-hidden="true"></i> $ {{brand.Change}}</span></td>


                                                </tr>

                                            </tbody>
                                        </table>
                                    </td>
                                </tr>


                                <tr ng-repeat-start="clients in networthsDetailscash">
                                    <td width="5%">
                                        <a class="icn-padd" ng-click="networthsDetailscashexpanded = !networthsDetailscashexpanded">
                                            <i ng-class="networthsDetailscashexpanded ? 'fa fa-caret-down fa-lg' : 'fa fa-caret-right fa-lg'"></i>
                                        </a>
                                    </td>
                                    <td width="15%">{{clients.Name}}</td>
                                    <td width="15%"><b>{{clients.value}}</b></td>
                                    <td></td>
                                    <td></td>
                                </tr>

                                <tr ng-repeat-end ng-show="networthsDetailscashexpanded">
                                    <td></td>
                                    <td colspan="5">
                                        <table class="table no-margin table-inner-expand">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th></th>
                                                    <th></th>
                                                    <th></th>
                                                    <th></th>
                                                    <th></th>
                                                    <th></th>
                                                    <th></th>
                                                    <th></th>
                                                    <th>Item</th>
                                                    <th>Details</th>
                                                    <th>Balance</th>
                                                    <th>Change (%)</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="brand in clients.property">
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td width="15%">{{brand.Item}}</td>
                                                    <td width="20%">{{brand.Details}}</td>
                                                    <td>$ {{brand.Balance}}</td>
                                                    <td><span class="color-success"><i class="fa fa-arrow-up" aria-hidden="true"></i> $ {{brand.Change}}</span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>



                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
  
        
        
$('#selector button').click(function() {
    $(this).addClass('active').siblings().removeClass('active');

    // TODO: insert whatever you want to do with $(this) here
});


</script>