<style>
    .container {
        width: 1170px;
        max-width: 100%;
        margin: 0 auto;
        padding: 10px 0px;
        background: #2a303d;
    }
    a.tip {
    padding-top: 25px;
    text-decoration: none
}
a.tip:hover {
    cursor: default;
    position: relative
}
a.tip span {
    display: none
}
a.tip:hover span {
    padding: 7px 10px 8px 15px;
    display: block;
    z-index: 100;
    background: #333;
       margin: 20px;
    width: 250px;
    position: absolute;
    top: 10px;
    text-decoration: none;
    color:#fff;
    border-radius:5px;
    font-size:13px;

}
    .firm-list{    width: 300px;
    background: #fff;
    position:relative;
    top:-20px;
    left:0;
    border: 1px solid #ddd;
        box-shadow: 2px 0px 10px #666;
    }
    .mbzero{margin-bottom:0 !important;}
    .firm-list .item{padding-left:0px;}
    .firm-list .item li{list-style:none;padding: 3px 10px;}
    .firm-list .item li:hover{background:#d7d7d7;}
    .searchInp{position:relative;margin-bottom:0 !important;}
        .searchInp .close-icon {
            position: absolute;
            right: 0;
            top: 3px;
        }
</style>

<div data-ng-controller="addGoalCtrl">
    <div class="page page-form" ng-if="step1">
        <div class="row ui-section">
            <div class="panel panel-default">
                <div class="panel-body body-dark hhd">
                    <div class="row">
                        <div class="col-md-2 col-xs-12 col-sm-6 hhd-1">
                            <div class="profile-info">
                                <div class="detail-cont">
                                    ADD A GOAL
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12 col-sm-6 hhd-2">
                            <div class="row bs-wizard" style="border-bottom:0;">

                                <div class="col-xs-4 bs-wizard-step">

                                    <div class="progress"><div class="progress-bar"></div></div>
                                    <a  class="bs-wizard-dot" ng-click="routeChangedCancel('step2')"></a>
                                    <md-tooltip>Select Goal Type</md-tooltip>
                                </div>

                                <div class="col-xs-4 bs-wizard-step disabled">

                                    <div class="progress"><div class="progress-bar"></div></div>
                                    <a  class="bs-wizard-dot" ng-click="routeChangedCancel('step3')"></a>
                                    <md-tooltip>Add Goal Details</md-tooltip>
                                </div>

                                <div class="col-xs-4 bs-wizard-step disabled">

                                    <div class="progress"><div class="progress-bar"></div></div>
                                    <a href="javascript:void(0);" class="bs-wizard-dot"></a>
                                    <md-tooltip>Set Allocation Goal</md-tooltip>
                                </div>

                            </div>





                        </div>

                        <div class="col-md-4 col-xs-12 col-sm-6 hhd-3">
                            <ul class="add_goal_buttons pull-right">
                                <li><button ui-sref="{{prevRoute}}" class="md-raised btn-w-sm md-primary md-button md-ink-ripple btn-grey" type="button"><span class="ng-scope">Cancel</span><div class="md-ripple-container"></div></button></li>
                                <li><button class="md-raised btn-w-sm md-primary md-button md-ink-ripple btn-save" type="button"><span class="ng-scope">Continue</span><div class="md-ripple-container"></div></button></li>                                
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body panel-body-inner panel-head-bold" style="padding: 22px 75px !important;">

                    <h3 class="head-border">Goal Type</h3>
                    <div class="row">
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-8">
                            <ul class="goal-type-list">
                                <li>
                                    <button ng-click="routeChangedContinue('step1');goalType('RETIREMENT')" class="md-raised btn-w-md md-primary md-button md-ink-ripple btn-grey-h" type="button"><span class="ng-scope">Retirement</span><div class="md-ripple-container"></div></button>
                                </li>

                                <li>
                                    <button ng-click="routeChangedContinue('step1');goalType('COLLEGE')" class="md-raised btn-w-md md-primary md-button md-ink-ripple btn-grey-h" type="button"><span class="ng-scope">College</span><div class="md-ripple-container"></div></button>
                                </li>

                                <li>
                                    <button ng-click="routeChangedContinue('step1');goalType('Insurance')" class="md-raised btn-w-md md-primary md-button md-ink-ripple btn-grey-h" type="button"><span class="ng-scope">Life Insurance</span><div class="md-ripple-container"></div></button>
                                </li>

                                <li>
                                    <button ng-click="routeChangedContinue('step1');goalType('HOME')" class="md-raised btn-w-md md-primary md-button md-ink-ripple btn-grey-h" type="button"><span class="ng-scope">Home</span><div class="md-ripple-container"></div></button>
                                </li>
                                <li>
                                    <button ng-click="routeChangedContinue('step1');goalType('SPECIAL_EVENT')" class="md-raised btn-w-md md-primary md-button md-ink-ripple btn-grey-h" type="button"><span class="ng-scope">Special Event</span><div class="md-ripple-container"></div></button>
                                </li>
                                <li>
                                    <button ng-click="routeChangedContinue('step1');goalType('CUSTOM_GOAL')" class="md-raised btn-w-md md-primary md-button md-ink-ripple btn-grey-h" type="button"><span class="ng-scope">Custom Goal</span><div class="md-ripple-container"></div></button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- second step  -->
    <form name="goalAddForm">
        <div class="page page-form" ng-if="step2">
            <div class="row ui-section">
                <div class="panel panel-default">
                    <div class="panel-body body-dark hhd">
                        <div class="row">
                            <div class="col-md-2 col-xs-12 col-sm-6 hhd-1">
                                <div class="profile-info">
                                    <div class="detail-cont">
                                        ADD A GOAL
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12 col-sm-6 hhd-2">
                                <div class="row bs-wizard" style="border-bottom:0;">

                                    <div class="col-xs-4 bs-wizard-step complete">

                                        <div class="progress"><div class="progress-bar"></div></div>
                                        <a class="bs-wizard-dot" ng-click="routeChangedCancel('step2')"></a>
                                        <md-tooltip>Select Goal Type</md-tooltip>
                                    </div>

                                    <div class="col-xs-4 bs-wizard-step active">

                                        <div class="progress"><div class="progress-bar"></div></div>
                                        <a  class="bs-wizard-dot" ng-click="routeChangedCancel('step3')"></a>
                                        <md-tooltip>Add Goal Details</md-tooltip>
                                    </div>

                                    <div class="col-xs-4 bs-wizard-step disabled">

                                        <div class="progress"><div class="progress-bar"></div></div>
                                        <a  class="bs-wizard-dot"></a>
                                        <md-tooltip>Set Allocation Goal</md-tooltip>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 col-xs-12 col-sm-6 hhd-3">
                                <ul class="add_goal_buttons pull-right">
                                    <li><button ng-click="routeChangedCancel('step2')" class="md-raised btn-w-sm md-primary md-button md-ink-ripple btn-grey" type="button"><span class="ng-scope">Cancel</span><div class="md-ripple-container"></div></button></li>
                                    <li><button ng-click="routeChangedContinue('step2');goalsAdd()" ng-disabled="!goalAddForm.goalName.$dirty || !goalAddForm.type.$dirty" class="md-raised btn-w-sm md-primary md-button md-ink-ripple btn-save" type="button"><span class="ng-scope">Continue</span><div class="md-ripple-container"></div></button></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body panel-body-inner panel-head-bold" style="padding: 22px 75px !important;">

                        <!-- <h3 class="head-border">Goal Type</h3> -->
                        <div class="row">
                           <!--  <div class="col-md-3">
                                <ul class="goal-type-list">
                                    <li>
                                        <button ng-click="routeChangedContinue('step1');goalType('RETIREMENT')" class="md-raised btn-w-md md-primary md-button md-ink-ripple btn-grey-h" ng-class=" {'active': type === 'RETIREMENT'} " type="button"><span class="ng-scope">Retirement</span><div class="md-ripple-container"></div></button>
                                    </li>

                                    <li>
                                        <button ng-click="routeChangedContinue('step1');goalType('COLLEGE')" class="md-raised btn-w-md md-primary md-button md-ink-ripple btn-grey-h" ng-class=" {'active' : type==='COLLEGE' } " type="button"><span class="ng-scope">College</span><div class="md-ripple-container"></div></button>
                                    </li>

                                    <li>
                                        <button ng-click="routeChangedContinue('step1');goalType('Insurance')" class="md-raised btn-w-md md-primary md-button md-ink-ripple btn-grey-h" ng-class=" {'active' : type==='Insurance' } " type="button"><span class="ng-scope">Life Insurance</span><div class="md-ripple-container"></div></button>
                                    </li>

                                    <li>
                                        <button ng-click="routeChangedContinue('step1');goalType('HOME')" class="md-raised btn-w-md md-primary md-button md-ink-ripple btn-grey-h" ng-class=" {'active' : type==='HOME' } " type="button"><span class="ng-scope">Home</span><div class="md-ripple-container"></div></button>
                                    </li>
                                    <li>
                                        <button ng-click="routeChangedContinue('step1');goalType('SPECIAL_EVENT')" class="md-raised btn-w-md md-primary md-button md-ink-ripple btn-grey-h" ng-class=" {'active' : type==='SPECIAL_EVENT' } " type="button"><span class="ng-scope">Special Event</span><div class="md-ripple-container"></div></button>
                                    </li>
                                    <li>
                                        <button ng-click="routeChangedContinue('step1');goalType('CUSTOM_GOAL')" class="md-raised btn-w-md md-primary md-button md-ink-ripple btn-grey-h" ng-class=" {'active' : type==='CUSTOM_GOAL' } " type="button"><span class="ng-scope">Custom Goal</span><div class="md-ripple-container"></div></button>
                                    </li>
                                </ul>
                            </div> -->
                            <!-- Retirement -->
                            <div class="col-md-9" ng-if="type =='RETIREMENT'">
                                <h2>Goal Details</h2>
                                <div layout layout-sm="column">
                                    <md-input-container flex="35">
                                        <label>Goal Name</label>
                                        <textarea ng-model="goalDetailsRetirement.name" md-maxlength="50" rows="5" md-select-on-focus required md-no-asterisk name="goalName"></textarea>
                                        <div ng-messages="goalAddForm.goalName.$error">
                                            <div ng-message="required">This is required.</div>
                                            <div ng-message="md-maxlength">The name has to be less than 50 characters long.</div>
                                        </div>
                                    </md-input-container>
                                    <div flex="30"></div>
                                    <md-input-container flex="15">
                                        <label>Retirement Age</label>
                                        <md-select ng-model="goalDetailsRetirement.retirement.age" name="type" required>
                                            <md-option ng-repeat="retirementAge in ages" value="{{retirementAge.abbrev}}">
                                                {{retirementAge.abbrev}}
                                            </md-option>
                                        </md-select>
                                        <div class="errors" ng-messages="goalAddForm.type.$error">
                                            <div ng-message="required">Required</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout layout-sm="column">
                                    <md-input-container flex="50">
                                        <label>Goal Priority</label>
                                    </md-input-container>
                                    <div flex="15"></div>
                                    <md-input-container flex="35">
                                        <rzslider rz-slider-model="percentages.low1" class="goal-slide" rz-slider-options="percentages.options1" value="22.4"></rzslider>
                                        <!--<input ng-model="profile.email" type="email">-->
                                    </md-input-container>
                                </div>
                                <div layout layout-sm="column">
                                    <md-input-container flex="50">
                                        <label>How much in today's dollars would you like per month ? </label>
                                    </md-input-container>
                                    <div flex="15"></div>
                                    <md-input-container flex="35">
                                        <rzslider rz-slider-model="percentages.low2" class="goal-slide" rz-slider-options="percentages.options2" value="22.4"></rzslider>
                                    </md-input-container>
                                </div>
                                <div layout layout-sm="column">
                                    <md-input-container flex="50">
                                        <h2>Risk Assessment </h2>
                                    </md-input-container>
                                </div>
                                <div layout layout-sm="column">
                                    <md-input-container flex="50">
                                        <label>How much risk are you willing to take to achieve a higher return ? </label>
                                    </md-input-container>
                                    <div flex="15"></div>
                                    <md-input-container flex="35">
                                        <rzslider rz-slider-model="percentages.low3" class="goal-slide" rz-slider-options="percentages.options3" value="22.4"></rzslider>
                                    </md-input-container>
                                </div>
                                <div layout layout-sm="column" style="margin-top:20px;">

                                    When saving for this goal,assuming you decide to invest this money in the market and it experiences a 15% decline of its value, would you:

                                </div>
                                <div layout layout-sm="column">
                                    <md-radio-group class="ui-md-radio-group-inline" ng-model="lowerReturn" ng-change="optionSelectedInvestment(lowerReturn)">
                                        <md-radio-button value="1">Look for a way to invest more</md-radio-button>
                                        <md-radio-button value="2">Be somewhat concerned</md-radio-button>
                                    </md-radio-group>
                                </div>

                                <div layout layout-sm="column">
                                    <md-radio-group class="ui-md-radio-group-inline" ng-model="lowerReturn" ng-change="optionSelectedInvestment(lowerReturn)">
                                        <md-radio-button value="3">Avoid any investment that can could suddenly lost 15% of its value</md-radio-button>
                                        <md-radio-button value="4">Take no action</md-radio-button>
                                    </md-radio-group>
                                </div>
                                <div layout layout-sm="column" style="margin:20px 0">

                                    How willing are you to alter your retirement goal

                                </div>
                                <div layout layout-sm="column">
                                    <md-radio-group class="ui-md-radio-group" ng-model="sellPortions" ng-change="optionSelectedsellPortions(sellPortions)">
                                        <md-radio-button value="1">Very willing</md-radio-button>
                                        <md-radio-button value="2"> Somewhat </md-radio-button>
                                        <md-radio-button value="3">Not at all</md-radio-button>
                                    </md-radio-group>
                                </div>
                            </div>
                            <!-- COLLEGE  -->
                            <div class="col-md-9" ng-if="type =='COLLEGE'">
                                <h2>Goal Details</h2>
                                <div layout layout-sm="column">
                                    <md-input-container flex="35">
                                        <label>Goal Name</label>
                                        <textarea ng-model="goalDetailsCollege.name" md-maxlength="50" rows="5" md-select-on-focus required md-no-asterisk name="goalName"></textarea>
                                        <div ng-messages="goalAddForm.goalName.$error">
                                            <div ng-message="required">This is required.</div>
                                            <div ng-message="md-maxlength">The name has to be less than 50 characters long.</div>
                                        </div>
                                    </md-input-container>
                                    <div flex="30"></div>
                                    <md-input-container flex="15">
                                        <label>Individual</label>
                                        <md-select ng-model="dependentName" ng-change="getDependent(dependentName)" name="type" required>
                                            <md-option ng-repeat="dependent in goalCollegeDependents" value="{{dependent.name}}">
                                                {{dependent.name}}
                                            </md-option>
                                        </md-select>
                                        <div class="errors" ng-messages="goalAddForm.type.$error">
                                            <div ng-message="required">Required</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout layout-sm="column">
                                    <md-input-container flex="50">
                                        <label>Goal Priority</label>
                                    </md-input-container>
                                    <div flex="15"></div>
                                    <md-input-container flex="35">
                                        <rzslider rz-slider-model="percentages.low1" class="goal-slide" rz-slider-options="percentages.options1" value="22.4"></rzslider>
                                        <!--<input ng-model="profile.email" type="email">-->
                                    </md-input-container>
                                </div>
                                <div layout layout-sm="column">
                                    <md-input-container flex="20">
                                        <label>State of School</label>
                                        <md-select ng-model="colState" ng-change="getListOfState(colState)" name="type" required>
                                            <md-option ng-repeat="state in collegeStates" value="{{state.abbrev}}">
                                                {{state.abbrev}}
                                            </md-option>
                                        </md-select>
                                        <div class="errors" ng-messages="goalAddForm.type.$error">
                                            <div ng-message="required">Required</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout layout-sm="column">
                                    <md-input-container flex="15">
                                        <label>College</label>
                                        <md-select ng-model="colId" ng-change="getListOfCollege(colId)" name="type" required>
                                            <md-option ng-repeat="item in collegeList" value="{{item.id}}">
                                                {{item.name}}
                                            </md-option>
                                        </md-select>
                                        <div class="errors" ng-messages="goalAddForm.type.$error">
                                            <div ng-message="required">Required</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout layout-sm="column">
                                    <md-input-container flex="35">
                                        <label>College Cost</label>
                                      
                                        
                                        <input ng-currency ng-model="goalDetailsCollege.college.cost" rows="5" format-currency md-select-on-focus required md-no-asterisk name="type"/>
                                        <div ng-messages="goalAddForm.type.$error">
                                            <div ng-message="required">This is required.</div>
                                        </div>
                                    </md-input-container>
                                   <a ng-href="" class="tip"><i class="fa fa-info-circle" aria-hidden="true"></i><span>Enter the total cost of all years of education you would like to fund (in today's dollars).  For example, if you want to fund 4 years of college for $15,000 a year, enter $60,000. Our goal calculation assumes this amount will be available when the child's age is 18.</span></a>
                                </div>
                                <div layout layout-sm="column">
                                    <md-input-container flex="50">
                                        <label>How much risk are you willing to take to achieve a higher return ? </label>
                                    </md-input-container>
                                    <div flex="15"></div>
                                    <md-input-container flex="35">
                                        <rzslider rz-slider-model="percentages.low3" class="goal-slide" rz-slider-options="percentages.options3" value="22.4"></rzslider>
                                    </md-input-container>
                                </div>
                                <div layout layout-sm="column" style="margin-top:20px;">

                                    When saving for this goal,assuming you decide to invest this money in the market and it experiences a 15% decline of its value, would you:

                                </div>
                                <div layout layout-sm="column">
                                    <md-radio-group class="ui-md-radio-group" ng-model="lowerReturn" ng-change="optionSelectedInvestment(lowerReturn)">
                                        <md-radio-button value="1">Look for a way to invest more</md-radio-button>
                                        <md-radio-button value="2">Avoid any investment that could suddenly lose 15% of its value</md-radio-button>
                                        <md-radio-button value="3">Be somewhat concerned</md-radio-button>
                                        <md-radio-button value="4">Take no action</md-radio-button>
                                    </md-radio-group>
                                </div>

                       
                                <div layout layout-sm="column" style="margin:20px 0">

                                    How willing are you to alter your college goal

                                </div>
                                <div layout layout-sm="column">
                                    <md-radio-group class="ui-md-radio-group" ng-model="sellPortions" ng-change="optionSelectedsellPortions(sellPortions)">
                                        <md-radio-button value="1">Very willing</md-radio-button>
                                        <md-radio-button value="2"> Somewhat </md-radio-button>
                                        <md-radio-button value="3">Not at all</md-radio-button>
                                    </md-radio-group>
                                </div>
                            </div>
                            <!-- insurance -->
                            <div class="col-md-9" ng-if="type ==='Insurance'">
                                <h2>Goal Details</h2>
                                <div layout layout-sm="column">
                                    <md-input-container flex="35">
                                        <label>Goal Name</label>
                                        <textarea ng-model="goalDetailsInsurance.name" md-maxlength="50" rows="5" md-select-on-focus required md-no-asterisk name="goalName"></textarea>
                                        <div ng-messages="goalAddForm.goalName.$error">
                                            <div ng-message="required">This is required.</div>
                                            <div ng-message="md-maxlength">The name has to be less than 50 characters long.</div>
                                        </div>
                                    </md-input-container>
                                    <div flex="30"></div>
                                    <md-input-container flex="15">
                                        <label>Insured</label>
                                        <md-select ng-model="insuredName" ng-change="getInsured(insuredName)" name="type" required>
                                            <md-option ng-repeat="insured in insuredList" value="{{insured.name}}">
                                                {{insured.name}}
                                            </md-option>
                                        </md-select>
                                        <div class="errors" ng-messages="goalAddForm.type.$error">
                                            <div ng-message="required">Required</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout layout-sm="column">
                                    <md-input-container flex="50">
                                        <label>Goal Priority</label>
                                    </md-input-container>
                                    <div flex="15"></div>
                                    <md-input-container flex="35">
                                        <rzslider rz-slider-model="percentages.low1" class="goal-slide" rz-slider-options="percentages.options1" value="22.4"></rzslider>
                                    </md-input-container>
                                </div>
                                <!-- <div layout layout-sm="column" style="margin-top:20px;">
                                    Life Insurance Plan Needs:
                                </div>
                                <div layout layout-sm="column">
                                    <md-radio-group class="ui-md-radio-group-inline" ng-model="goalDetailsInsurance.risk.replaceIncome" ng-change="optionSelectedInvestment(lowerReturn)">
                                        <md-radio-button value="replaceFullMonthlyExpenses">100% of Expenses</md-radio-button>
                                        <md-radio-button value="replaceHalfMonthlyExpenses">50% of Expenses</md-radio-button>
                                    </md-radio-group>
                                </div> -->
                                <div layout layout-sm="column" style="margin-top:20px;">
                                    Additional Life Insurance Needs:
                                </div>
                                <div layout layout-sm="column">
                                    <md-input-container flex="25">
                                        <md-select ng-model="goalDetailsInsurance.risk.coverFullMortgage" data-skip="true" name="type">
                                            <md-option value="false" ng-selected="{{goalDetailsInsurance.risk.coverFullMortgage != true && goalDetailsInsurance.risk.coverHalfMortgage != true}}">None</md-option>
                                            <md-option value="100" ng-selected="{{goalDetailsInsurance.risk.coverFullMortgage == true}}">100% of Mortgage</md-option>
                                            <md-option value="50" ng-selected="{{goalDetailsInsurance.risk.coverHalfMortgage == true}}">50% of Mortgage</md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                                <div layout layout-sm="column">
                                    <md-input-container flex="25">
                                        <md-select ng-model="goalDetailsInsurance.risk.coverFullCollegeExpenses" data-skip="true" name="type">
                                            <md-option value="false" ng-selected="{{goalDetailsInsurance.risk.coverFullCollegeExpenses != true && goalDetailsInsurance.risk.coverHalfCollegeExpenses != true}}">None</md-option>
                                            <md-option value="100" ng-selected="{{goalDetailsInsurance.risk.coverFullCollegeExpenses == true}}">100% of College Goal(s)</md-option>
                                            <md-option value="50" ng-selected="{{goalDetailsInsurance.risk.coverHalfCollegeExpenses == true}}">50% of College Goal(s)</md-option>
                                        </md-select>
                                        <div class="errors" ng-messages="goalAddForm.type.$error">
                                            <div ng-message="required">Required</div>
                                        </div>
                                    </md-input-container>
                                </div>

                                <!--<div layout layout-sm="column" style="margin:20px 0">

                                    Do you have long-term disability through your employer?

                                </div>
                                <div layout layout-sm="column">
                                    <md-radio-group class="ui-md-radio-group" ng-model="goalDetailsInsurance.risk.longTermDisability">
                                        <md-radio-button value="true">Yes</md-radio-button>
                                        <md-radio-button value="false">No</md-radio-button>
                                    </md-radio-group>
                                </div>

                                <div layout layout-sm="column" style="margin:20px 0">
                                    What is your long-term disability coverage?
                                </div>
                                <div layout layout-sm="column">
                                    <md-input-container flex="35">                                       
                                        <input type="text" ng-model="goalDetailsInsurance.risk.longTermDisabilityCoverage" rows="5" md-select-on-focus required md-no-asterisk name="goalName" format-currency placeholder="$0.00">
                                        <div ng-messages="goalAddForm.goalName.$error">
                                            <div ng-message="required">This is required.</div>
                                        </div>
                                    </md-input-container>
                                </div>-->


                            </div>
                            <!--  home -->
                            <div class="col-md-9" ng-if="type ==='HOME'">
                                <h2>Goal Details</h2>
                                <div layout layout-sm="column">
                                    <md-input-container flex="35">
                                        <label>Goal Name</label>
                                        <textarea ng-model="goalDetailsHome.name" md-maxlength="50" rows="5" md-select-on-focus required md-no-asterisk name="goalName"></textarea>
                                        <div ng-messages="goalAddForm.goalName.$error">
                                            <div ng-message="required">This is required.</div>
                                            <div ng-message="md-maxlength">The name has to be less than 50 characters long.</div>
                                        </div>
                                    </md-input-container>
                                    <div flex="30"></div>
                                    <md-input-container flex="15">
                                        <label>Type </label>
                                        <md-select ng-model="goalDetailsHome.home.type" name="type" required>
                                            <md-option ng-repeat="type in insuranceType" value="{{type.abbrev}}">
                                                {{type.abbrev | capitalize}}
                                            </md-option>
                                        </md-select>
                                        <div class="errors" ng-messages="goalAddForm.type.$error">
                                            <div ng-message="required">Required</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout layout-sm="column">
                                    <md-input-container flex="50">
                                        <label>Goal Priority</label>
                                    </md-input-container>
                                    <div flex="15"></div>
                                    <md-input-container flex="35">
                                        <rzslider rz-slider-model="percentages.low1" class="goal-slide" rz-slider-options="percentages.options1" value="22.4"></rzslider>
                                        <!--<input ng-model="profile.email" type="email">-->
                                    </md-input-container>
                                </div>
                                <div layout layout-sm="column">
                                    <md-input-container flex="15">
                                        <label>Funding</label>
                                        <md-select ng-model="goalDetailsHome.home.term" name="type" id="" ng-required="true">
                                            <md-option ng-repeat="fundingType in funding" value="{{fundingType.val}}">
                                                {{fundingType.abbrev}}
                                            </md-option>
                                        </md-select>
                                        <div class="errors" ng-messages="goalAddForm.type.$error">
                                            <div ng-message="required">Required</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout layout-sm="column">
                                    <md-input-container flex="35">
                                        <label>Interest Rate</label>
                                        <input type="number" ng-model="goalDetailsHome.home.interestRate" rows="5" md-select-on-focus required md-no-asterisk name="type"/>
                                        <div ng-messages="goalAddForm.type.$error">
                                            <div ng-message="required">This is required.</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout layout-sm="column">
                                    <md-input-container flex="35">
                                        <label>Purchase Price</label>
                                        <input type="number" ng-model="goalDetailsHome.home.purchasePrice" rows="5" md-select-on-focus required md-no-asterisk name="type"/>
                                        <div ng-messages="goalAddForm.type.$error">
                                            <div ng-message="required">This is required.</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout layout-sm="column">
                                    <md-input-container flex="35">
                                        <label>Date</label>
                                        <datepicker date-format="MMMM dd, yyyy" class="form-control form-datepicker d1">
                                        <input type="text" class="date-input form-control form-date-inner" ng-model="date" name="type" ng-change="dateFormat(date)">
                                        <div ng-messages="goalAddForm.type.$error">
                                            <div ng-message="required">This is required.</div>
                                        </div>
                                    </datepicker>
                                    </md-input-container>
                                </div>
                                <div layout layout-sm="column">
                                    <md-input-container flex="50">
                                        <h2>Risk Assessment </h2>
                                    </md-input-container>
                                </div>
                                <div layout layout-sm="column">
                                    <md-input-container flex="50">
                                        <label>How much risk are you willing to take to achieve a higher return ? </label>
                                    </md-input-container>
                                    <div flex="15"></div>
                                    <md-input-container flex="35">
                                        <rzslider rz-slider-model="percentages.low3" class="goal-slide" rz-slider-options="percentages.options3" value="22.4"></rzslider>
                                    </md-input-container>
                                </div>
                                <div layout layout-sm="column" style="margin-top:20px;">

                                    When saving for this goal, assuming you decide to invest this money in the market and it experiences a 15% decline of its value, would you:

                                </div>
                                <div layout layout-sm="column">
                                    <md-radio-group class="ui-md-radio-group" ng-model="lowerReturn" ng-change="optionSelectedInvestment(lowerReturn)">
                                        <md-radio-button value="1">Look for a way to invest more</md-radio-button>
                                        <md-radio-button value="2">Be somewhat concerned</md-radio-button>
                                        <md-radio-button value="3">Avoid any investment that could suddenly lose 15% of its value</md-radio-button>
                                        <md-radio-button value="4">Take no action</md-radio-button>
                                    </md-radio-group>
                                </div>
                              
                                <div layout layout-sm="column" style="margin:20px 0">

                                    How willing are you to alter your home goal ?

                                </div>
                                <div layout layout-sm="column">
                                    <md-radio-group class="ui-md-radio-group" ng-model="sellPortions" ng-change="optionSelectedsellPortions(sellPortions)">
                                        <md-radio-button value="1">Very willing</md-radio-button>
                                        <md-radio-button value="2"> Somewhat </md-radio-button>
                                        <md-radio-button value="3">Not at all</md-radio-button>
                                    </md-radio-group>
                                </div>
                            </div>

                            <!--  special Event -->
                            <div class="col-md-9" ng-if="type ==='SPECIAL_EVENT'">
                                <h2>Goal Details</h2>
                                <div layout layout-sm="column">
                                    <md-input-container flex="35">
                                        <label>Goal Name</label>
                                        <textarea ng-model="goalDetailsSpecialEvent.name" md-maxlength="50" rows="5" md-select-on-focus required md-no-asterisk name="goalName"></textarea>
                                        <div ng-messages="goalAddForm.goalName.$error">
                                            <div ng-message="required">This is required.</div>
                                            <div ng-message="md-maxlength">The name has to be less than 50 characters long.</div>
                                        </div>
                                    </md-input-container>
                                    <div flex="30"></div>
                                    <md-input-container flex="15">
                                        <label>Occasion</label>
                                        <md-select ng-model="goalDetailsSpecialEvent.specialEvent.occasion" name="type" required>
                                            <md-option ng-repeat="occasionType in occasion" value="{{occasionType.val}}">
                                                {{occasionType.abbrev | capitalize}}
                                            </md-option>
                                        </md-select>
                                        <div class="errors" ng-messages="goalAddForm.type.$error">
                                            <div ng-message="required">Required</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout layout-sm="column">
                                    <md-input-container flex="50">
                                        <label>Goal Priority</label>
                                    </md-input-container>
                                    <div flex="15"></div>
                                    <md-input-container flex="35">
                                        <rzslider rz-slider-model="percentages.low1" class="goal-slide" rz-slider-options="percentages.options1" value="22.4"></rzslider>
                                        <!--<input ng-model="profile.email" type="email">-->
                                    </md-input-container>
                                </div>
                                <div layout layout-sm="column">
                                    <md-input-container flex="15">
                                        <label>Funding</label>
                                        <md-select ng-model="fundingName" ng-change="getFunding(fundingName)" name="type" required>
                                            <md-option ng-repeat="funding in specialEventFundingItems" value="{{funding.name}}">
                                                {{funding.name}}
                                            </md-option>
                                        </md-select>
                                        <div class="errors" ng-messages="goalAddForm.type.$error">
                                            <div ng-message="required">Required</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout layout-sm="column">
                                    <md-input-container flex="35">
                                        <label>Goal Amount</label>
                                        <input ng-currency ng-model="goalDetailsSpecialEvent.specialEvent.cost" rows="5" md-select-on-focus required md-no-asterisk name="type"/>
                                        <div ng-messages="goalAddForm.type.$error">
                                            <div ng-message="required">This is required.</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout layout-sm="column">
                                    <md-input-container flex="35">
                                        <label>Date</label>
                                        <datepicker date-format="MMMM dd, yyyy" class="form-control form-datepicker d1">
                                            <input type="text" class="date-input form-control form-date-inner" ng-model="date" name="type" ng-change="dateFormat(date)">
                                            <div ng-messages="goalAddForm.type.$error">
                                                <div ng-message="required">This is required.</div>
                                            </div>
                                        </datepicker>
                                    </md-input-container>
                                </div>
                                <div layout layout-sm="column">
                                    <md-input-container flex="50">
                                        <h2>Risk Assessment </h2>
                                    </md-input-container>
                                </div>
                                <div layout layout-sm="column">
                                    <md-input-container flex="50">
                                        <label>How much risk are you willing to take to achieve a higher return ? </label>
                                    </md-input-container>
                                    <div flex="15"></div>
                                    <md-input-container flex="35">
                                        <rzslider rz-slider-model="percentages.low3" class="goal-slide" rz-slider-options="percentages.options3" value="22.4"></rzslider>
                                    </md-input-container>
                                </div>
                                <div layout layout-sm="column" style="margin-top:20px;">

                                    When saving for this goal, assuming you decide to invest this money in the market and it experiences a 15% decline of its value, would you:

                                </div>
                                <div layout layout-sm="column">
                                    <md-radio-group class="ui-md-radio-group" ng-model="lowerReturn" ng-change="optionSelectedInvestment(lowerReturn)">
                                        <md-radio-button value="1">Look for a way to invest more</md-radio-button>
                                        <md-radio-button value="2">Be somewhat concerned</md-radio-button>
                                        <md-radio-button value="3">Avoid any investment that could suddenly lose 15% of its value</md-radio-button>
                                        <md-radio-button value="4">Take no action</md-radio-button>
                                    </md-radio-group>
                                </div>
                               
                                <div layout layout-sm="column" style="margin:20px 0">

                                    How willing are you to alter your special event ?

                                </div>
                                <div layout layout-sm="column">
                                    <md-radio-group class="ui-md-radio-group" ng-model="sellPortions" ng-change="optionSelectedsellPortions(sellPortions)">
                                        <md-radio-button value="1">Very willing</md-radio-button>
                                        <md-radio-button value="2">Somewhat </md-radio-button>
                                        <md-radio-button value="3">Not at all</md-radio-button>
                                    </md-radio-group>
                                </div>
                            </div>
                            <!--  Custom Goal -->
                            <div class="col-md-9" ng-if="type ==='CUSTOM_GOAL'">
                                <h2>Goal Details</h2>
                                <div layout layout-sm="column">
                                    <md-input-container flex="35">
                                        <label>Goal Name</label>
                                        <textarea ng-model="goalDetailsCustomGoal.name" md-maxlength="50" rows="5" md-select-on-focus required md-no-asterisk name="goalName"></textarea>
                                        <div ng-messages="goalAddForm.goalName.$error">
                                            <div ng-message="required">This is required.</div>
                                            <div ng-message="md-maxlength">The name has to be less than 50 characters long.</div>
                                        </div>
                                    </md-input-container>
                                    <div flex="30"></div>
                                    <md-input-container flex="15">
                                        <label>Goal Type</label>
                                        <md-select ng-model="goalDetailsCustomGoal.custom.type" name="type" required>
                                            <md-option ng-repeat="type in customGoalType" value="{{type.abbrev}}">
                                                {{type.abbrev | capitalize}}
                                            </md-option>
                                        </md-select>
                                        <div class="errors" ng-messages="goalAddForm.type.$error">
                                            <div ng-message="required">Required</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout layout-sm="column">
                                    <md-input-container flex="50">
                                        <label>Goal Priority</label>
                                    </md-input-container>
                                    <div flex="15"></div>
                                    <md-input-container flex="35">
                                        <rzslider rz-slider-model="percentages.low1" class="goal-slide" rz-slider-options="percentages.options1" value="22.4"></rzslider>
                                        <!--<input ng-model="profile.email" type="email">-->
                                    </md-input-container>
                                </div>
                                <div layout layout-sm="column" ng-if="goalDetailsCustomGoal.custom.type=='TAX_SAVINGS'">
                                    <md-input-container flex="25">
                                        <label>Purpose</label>
                                        <md-select ng-model="goalDetailsCustomGoal.custom.taxSavingPurpose" name="type" required>
                                            <md-option ng-repeat="type in taxSavingPurpose" value="{{type.abbrev}}">
                                                {{type.abbrev | capitalize}}
                                            </md-option>
                                        </md-select>
                                        <div class="errors" ng-messages="goalAddForm.type.$error">
                                            <div ng-message="required">Required</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout layout-sm="column" ng-if="goalDetailsCustomGoal.custom.type=='TAX_SAVINGS'">
                                    <md-input-container flex="35">
                                        <label>Goal Amount</label>
                                        <input ng-currency ng-model="goalDetailsCustomGoal.custom.taxSavingTargetAmount" md-maxlength="50" rows="5" md-select-on-focus required md-no-asterisk name="type"/>
                                        <div ng-messages="goalAddForm.type.$error">
                                            <div ng-message="required">This is required.</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout layout-sm="column" ng-if="goalDetailsCustomGoal.custom.type=='ESTATE_PLANNING'">
                                    <md-input-container flex="20">
                                        <label>Purpose</label>
                                        <md-select ng-model="goalDetailsCustomGoal.custom.estatePlanningPurpose" name="type" required>
                                            <md-option ng-repeat="type in estatePlanningPurpose" value="{{type.abbrev}}">
                                                {{type.abbrev | capitalize}}
                                            </md-option>
                                        </md-select>
                                        <div class="errors" ng-messages="goalAddForm.type.$error">
                                            <div ng-message="required">Required</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout layout-sm="column" ng-if="goalDetailsCustomGoal.custom.type=='ESTATE_PLANNING'">
                                    <md-input-container flex="35">
                                        <label>Target Amount</label>
                                        <input ng-currency ng-model="goalDetailsCustomGoal.custom.estatePlanningTargetAmount" rows="5" md-select-on-focus required md-no-asterisk name="type"/>
                                        <div ng-messages="goalAddForm.type.$error">
                                            <div ng-message="required">This is required.</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout layout-sm="column" ng-if="goalDetailsCustomGoal.custom.type=='SPECIAL_NEEDS'">
                                    <md-input-container flex="30">
                                        <label>Purpose</label>
                                        <md-select ng-model="goalDetailsCustomGoal.custom.specialNeedsPurpose" name="type" required>
                                            <md-option ng-repeat="type in specialNeedPurpose" value="{{type.abbrev}}">
                                                {{type.abbrev | capitalize}}
                                            </md-option>
                                        </md-select>
                                        <div class="errors" ng-messages="goalAddForm.type.$error">
                                            <div ng-message="required">Required</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout layout-sm="column" ng-if="goalDetailsCustomGoal.custom.type=='SPECIAL_NEEDS'">
                                    <md-input-container flex="35">
                                        <label>Special Needs Amount</label>
                                        <input ng-currency ng-model="goalDetailsCustomGoal.custom.specialNeedsAmount" rows="5" md-select-on-focus required md-no-asterisk name="type"/>
                                        <div ng-messages="goalAddForm.type.$error">
                                            <div ng-message="required">This is required.</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout layout-sm="column" ng-if="goalDetailsCustomGoal.custom.type=='SPECIAL_NEEDS'">
                                    <md-input-container flex="35">
                                        <label>Special Needs Individual</label>
                                        <md-select ng-model="IndividualName" ng-change="getIndiviual(IndividualName)" name="type" required>
                                            <md-option ng-repeat="Individual in specialNeedIndividualItems" value="{{Individual.name}}">
                                                {{Individual.name}}
                                            </md-option>
                                        </md-select>
                                        <div class="errors" ng-messages="goalAddForm.type.$error">
                                            <div ng-message="required">Required</div>
                                        </div>
                                    </md-input-container>
                                </div>

                                <div layout layout-sm="column" ng-if="goalDetailsCustomGoal.custom.type=='INVESTMENT_RETURN'">
                                    <md-input-container flex="35">
                                        <label>Goal Amount</label>
                                        <input ng-currency ng-model="goalDetailsCustomGoal.custom.investmentTargetAmount" md-maxlength="50" rows="5" md-select-on-focus required md-no-asterisk name="type"/>
                                        <div ng-messages="goalAddForm.type.$error">
                                            <div ng-message="required">This is required.</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout layout-sm="column" ng-if="goalDetailsCustomGoal.custom.type=='OTHER'">
                                    <md-input-container flex="35">
                                        <label>Goal Amount</label>
                                        <input ng-currency ng-model="goalDetailsCustomGoal.custom.amount" md-maxlength="50" rows="5" md-select-on-focus required md-no-asterisk name="type"/>
                                        <div ng-messages="goalAddForm.type.$error">
                                            <div ng-message="required">This is required.</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout layout-sm="column">
                                    <md-input-container flex="35">
                                        <label>Goal Date</label>
                                        <datepicker date-format="MMMM dd, yyyy" class="form-control form-datepicker d1">
                                        <input type="text" class="date-input form-control form-date-inner" ng-model="date" name="type" ng-change="dateFormat(date)">
                                        <div ng-messages="goalAddForm.type.$error">
                                            <div ng-message="required">This is required.</div>
                                        </div>
                                    </datepicker>
                                    </md-input-container>
                                </div>
                                <div layout layout-sm="column">
                                    <md-input-container flex="50">
                                        <h2>Risk Assessment </h2>
                                    </md-input-container>
                                </div>
                                <div layout layout-sm="column">
                                    <md-input-container flex="50">
                                        <label>How much risk are you willing to take to achieve a higher return ? </label>
                                    </md-input-container>
                                    <div flex="15"></div>
                                    <md-input-container flex="35">
                                        <rzslider rz-slider-model="percentages.low3" class="goal-slide" rz-slider-options="percentages.options3" value="22.4"></rzslider>
                                    </md-input-container>
                                </div>
                                <div layout layout-sm="column" style="margin-top:20px;">

                                    When saving for this goal, assuming you decide to invest this money in the market and it experiences a 15% decline of its value, would you:

                                </div>
                                <div layout layout-sm="column">
                                    <md-radio-group class="ui-md-radio-group" ng-model="lowerReturn" ng-change="optionSelectedInvestment(lowerReturn)">
                                        <md-radio-button value="1">Look for a way to invest more</md-radio-button>
                                        <md-radio-button value="2">Be somewhat concerned</md-radio-button>
                                        <md-radio-button value="3">Avoid any investment that can could suddenly lost 15% of its value</md-radio-button>
                                        <md-radio-button value="4">Take no action</md-radio-button>
                                    </md-radio-group>
                                </div>
                               
                                <div layout layout-sm="column" style="margin:20px 0">

                                    How willing are you to alter your custom goal ?

                                </div>
                                <div layout layout-sm="column">
                                    <md-radio-group class="ui-md-radio-group" ng-model="sellPortions" ng-change="optionSelectedsellPortions(sellPortions)">
                                        <md-radio-button value="1">Very willing</md-radio-button>
                                        <md-radio-button value="2"> Somewhat </md-radio-button>
                                        <md-radio-button value="3">Not at all</md-radio-button>
                                    </md-radio-group>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- step 3 -->
    <div class="page page-form" ng-if="step3">
        <div class="row ui-section">
            <div class="panel panel-default">
                <div class="panel-body body-dark hhd">
                    <div class="row">
                        <div class="col-md-2 col-xs-12 col-sm-6 hhd-1">
                            <div class="profile-info">
                                <div class="detail-cont">
                                    ADD A GOAL
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12 col-sm-6 hhd-2">
                            <div class="row bs-wizard" style="border-bottom:0;">

                                <div class="col-xs-4 bs-wizard-step complete">

                                    <div class="progress"><div class="progress-bar"></div></div>
                                    <a  class="bs-wizard-dot" ng-click="routeChangedCancel('step2')"></a>
                                    <md-tooltip>Select Goal Type</md-tooltip>
                                </div>

                                <div class="col-xs-4 bs-wizard-step complete">

                                    <div class="progress"><div class="progress-bar"></div></div>
                                    <a  class="bs-wizard-dot" ng-click="routeChangedCancel('step3')"></a>
                                    <md-tooltip>Add Goal Details</md-tooltip>
                                </div>

                                <div class="col-xs-4 bs-wizard-step active">

                                    <div class="progress"><div class="progress-bar"></div></div>
                                    <a class="bs-wizard-dot"></a>
                                    <md-tooltip>Set Allocation Goal</md-tooltip>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-xs-12 col-sm-6 hhd-3">
                            <ul class="add_goal_buttons pull-right">
                                <li><button ng-click="routeChangedCancel('step3')" class="md-raised btn-w-sm md-primary md-button md-ink-ripple btn-grey" type="button"><span class="ng-scope">Cancel</span><div class="md-ripple-container"></div></button></li>
                                <li><button ui-sref="{{prevRoute}}" class="md-raised btn-w-sm md-primary md-button md-ink-ripple btn-save" type="button"><span class="ng-scope">Continue</span><div class="md-ripple-container"></div></button></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body body-dark" style="background:#2b4a63">
                    <div class="row">
                        <div class="col-md-2 col-xs-12 col-sm-6 padd-top-30">
                            <div class="profile-info">
                                <div class="detail-cont">
                                    {{goalDetailsType}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-xs-12 col-sm-6 padd-top-30">
                            <div class="detail-cont">
                                <span class="text-size-sm">Age:</span> <span class="text-size-lg">{{goalDetails.goalDetailsType.age}}</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-12 col-sm-6 padd-top-30">
                            <div class="detail-cont">
                                <span class="text-size-sm">GOAL:</span> <span class="text-size-lg">${{goalDetails.goalDetailsType.monthlyWithdrawal}}</span><span> /month</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-12 col-sm-6 padd-top-30 main-value">
                            <div class="detail-cont">
                                <span class="text-size-sm">Need:</span> <span class="text-size-lg">$2,498,932</span><span> / $1,429,031</span>
                            </div>
                        </div>
                        <div class="col-md-2 col-xs-12 col-sm-6" ng-controller="pieChartController">
                            <div data-echarts data-options="poptions1" style="height: 80px;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body panel-body-inner panel-head-bold" style="padding: 15px 0px !important;">
                    <div class="col-md-12">
                        <div class="panel-heading"><b>Marx Retirement</b></div>
                        <canvas id="canvas" width="500" height="200"></canvas>
                    </div>
                    <div class="col-md-6">
                        <div class="panel-heading-main-chart">Projected All Goals Achieved: <b>August 2017</b></div>
                    </div>
                </div>
            </div>
            <div ng-show="searchAccountShow" class="searchInp">
                <h3> Account Name</h3>
                <md-input-container flex="25" class="mbzero">                   
                    <input type="text" ng-model="$parent.searchAccount" ng-change="search(searchAccount)" />
                    <a class="close-icon" href="javascript:void(0)" ng-click="closeSearchlist()"><i class="fa fa-times"></i></a>
                </md-input-container>
                <div class="firm-list" ng-show="matchAccount.length > 0">
                    <ul class="item">
                        <li ng-repeat="acc in matchAccount" ng-click="setAccount(acc.name)">{{acc.name}}</li>
                    </ul>
                </div>
               
                
            </div>
            <div class="panel panel-default" ng-show="!searchAccountShow">
                <div class="panel-body panel-body-inner">
                    <h3>Accounts Assigned to Goal</h3>
                    <table class="table no-margin table-goal">
                        <thead>
                            <tr>
                                <th>Account Name</th>
                                <th></th>
                                <th>Type</th>
                                <th>Institution</th>
                                <th>Balance</th>
                                <th>Allocation to goal</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="account in matchAccount">
                                <td><span class="color-purple">{{account.name}}</span></td>
                                <td><i class="fa fa-random" aria-hidden="true"></i></td>
                                <td>{{account.type}}</td>
                                <td>{{account.Institution}}</td>
                                <td>{{account.value | currency}}</td>
                                <td>
                                    <rzslider rz-slider-model="percentages.low4" class="retSlider" rz-slider-options="percentages.options4"></rzslider>
                                </td>
                                <td>
                                    <div class="value-slider-addgoal">$ 265,999.22</div>
                                </td>

                                <td>
                                    <a class="icon-buttons" ng-click="goals.length > 1?goals.splice($index,1):''"> <i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="add-com" ng-click="addAccount()">
                        <a>+ Assign Account</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>