<style>
    .container {
        width: 1170px;
        max-width: 100%;
        margin: 0 auto;
        padding: 10px 0px;
        background: #2a303d;
    }
</style>

<div class="page page-form"  data-ng-controller="addGoalCtrl">

    <div class="row ui-section">

     <div class="panel panel-default">
            <div class="panel-body body-dark hhd">
               <div class="row">
                    <div class="col-md-2 col-xs-12 col-sm-6 hhd-1">
                        <div class="profile-info">
                            <div class="detail-cont">
                                ADD A GOAL
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-xs-12 col-sm-6 hhd-2">
                       <div class="row bs-wizard" style="border-bottom:0;">
                
                <div class="col-xs-4 bs-wizard-step complete">
                  
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a ui-sref="page.addGoalStep1" class="bs-wizard-dot"></a>
                 <md-tooltip>Select Goal Type</md-tooltip>
                </div>
                
                <div class="col-xs-4 bs-wizard-step complete">
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a ui-sref="page.addGoalStep2" class="bs-wizard-dot"></a>
              <md-tooltip>Add Goal Details</md-tooltip>
                </div>
                
                <div class="col-xs-4 bs-wizard-step active">
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a ui-sref="page.addGoalStep3" class="bs-wizard-dot"></a>
                  <md-tooltip>Set Allocation Goal</md-tooltip>
                </div>
                
                       </div>
        
        
        
        
        
	</div>
                   

                    <div class="col-md-4 col-xs-12 col-sm-6 hhd-3">
                        <ul class="add_goal_buttons pull-right">
                        <li><button ui-sref="page.addGoalStep2" class="md-raised btn-w-sm md-primary md-button md-ink-ripple btn-grey" type="button"><span class="ng-scope">Cancel</span><div class="md-ripple-container"></div></button></li>
                        <li><button ui-sref="page.addGoalStep3" class="md-raised btn-w-sm md-primary md-button md-ink-ripple btn-save" type="button"><span class="ng-scope">Continue</span><div class="md-ripple-container"></div></button></li>
                        </ul>
                    </div>

               

                </div>

            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body body-dark" style="background:#2b4a63">
                <div class="row">

                    <div class="col-md-2 col-xs-12 col-sm-6 padd-top-30">
                        <div class="profile-info">
                            <div class="detail-cont">
                                RETIREMENT
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2 col-xs-12 col-sm-6 padd-top-30">
                        <div class="detail-cont">
                            <span class="text-size-sm">Age:</span> <span class="text-size-lg">65</span>
                        </div>
                    </div>

                    <div class="col-md-3 col-xs-12 col-sm-6 padd-top-30">
                        <div class="detail-cont">
                            <span class="text-size-sm">GOAL:</span> <span class="text-size-lg">$5000</span><span> /month</span>
                        </div>
                    </div>

                    <div class="col-md-3 col-xs-12 col-sm-6 padd-top-30 main-value">
                        <div class="detail-cont">
                            <span class="text-size-sm">Need:</span> <span class="text-size-lg">$2,498,932</span><span> / $1,429,031</span>
                        </div>
                    </div>

                    <div class="col-md-2 col-xs-12 col-sm-6" ng-controller="pieChartController">
                        <div data-echarts data-options="poptions1" style="height: 80px;"></div>
                    </div>

                </div>

            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body panel-body-inner panel-head-bold" style="padding: 15px 0px !important;">

                <div class="col-md-12">
                    <div class="panel-heading"><b>Marx Retirement</b></div>
                    <canvas id="canvas" width="500" height="200"></canvas>
                </div>
                <div class="col-md-6">
                    <div class="panel-heading-main-chart">Projected All Goals Achieved: <b>August 2017</b></div>
                </div>

            </div>
        </div>

        <div class="panel panel-default" ng-controller="addGoalCtrl">
            <div class="panel-body panel-body-inner">
                <h3>Accounts Assigned to Goal</h3>
                <table class="table no-margin table-goal">
                    <thead>
                        <tr>
                            <th>Account Name</th>
                            <th></th>
                            <th>Type</th>
                            <th>Institution</th>
                            <th>Balance</th>
                            <th>Allocation to goal</th>

                        </tr>
                    </thead>

                    <tbody>

                        <tr ng-repeat="account in goals">
                            <td><span class="color-purple">{{account.Name}}</span></td>
                            <td><i class="fa fa-random" aria-hidden="true"></i></td>
                            <td>{{account.Type}}</td>
                            <td>{{account.Institution}}</td>
                            <td>{{account.Balance}}</td>
                            <td>
                                <rzslider rz-slider-model="percentages.low4" class="retSlider" rz-slider-options="percentages.options4"></rzslider>
                            </td>
                            <td>
                                <div class="value-slider-addgoal">$ 265,999.22</div>
                            </td>
                         
                            <td>
                               <a class="icon-buttons" ng-click="goals.length > 1?goals.splice($index,1):''"> <i class="fa fa-trash-o" aria-hidden="true" ></i></a>
                            </td>
                        </tr>

                    </tbody>
                </table>
                <div class="add-com" ng-click="addAccount()">
                    <a >+ Assign Account</a>
                </div>
            </div>

        </div>

    </div>
</div>