<style>
    .container {
        width: 1170px;
        max-width: 100%;
        margin: 0 auto;
        padding: 10px 0px;
        background: #2a303d;
    }
</style>


<div class="page page-form" data-ng-controller="addGoalCtrl">

    <div class="row ui-section">

        <div class="panel panel-default">
            <div class="panel-body body-dark">
                <div class="row">

                    <div class="col-md-2 col-xs-12 col-sm-6 padd-top-30">
                        <div class="profile-info">
                            <div class="detail-cont">
                                ADD A GOAL
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-xs-12 col-sm-6 padd-top-30">
                        <div class="container">

                            <div class="col-md-12 main-section">

                                <div class="section-step section-step-final">

                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 section-step-column">
                                    <div class="section-step_1">

                                    </div>
                                    <p class="section-step_content">
                                        Select goal type
                                        <p>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 section-step-column">
                                    <div class="section-step_2 section-step-highlight">

                                    </div>
                                    <p class="section-step_content_1 ">
                                        Add goal details
                                        <p>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 section-step-column">
                                    <div class="section-step_3 section-step-highlight">

                                    </div>
                                    <p class="section-step_content_2">
                                        set allocation goal
                                        <p>
                                </div>


                            </div>

                        </div>
                    </div>

                    <div class="col-md-4 col-xs-12 col-sm-6 padd-top-30">
                        <ul class="add_goal_buttons pull-right">
                        <li><button class="md-raised btn-w-sm md-primary md-button md-ink-ripple btn-grey" type="button"><span class="ng-scope">Cancel</span><div class="md-ripple-container"></div></button></li>
                        <li><button class="md-raised btn-w-sm md-primary md-button md-ink-ripple btn-save" type="button"><span class="ng-scope">Continue</span><div class="md-ripple-container"></div></button></li>
                        </ul>
                    </div>

               

                </div>

            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body body-dark" style="background: #2b4a63;">
                <div class="row">

                    <div class="col-md-2 col-xs-12 col-sm-6 padd-top-30">
                        <div class="profile-info">
                            <div class="detail-cont">
                                RETIREMENT
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2 col-xs-12 col-sm-6 padd-top-30">
                        <div class="detail-cont">
                            <span class="text-size-sm">Age:</span> <span class="text-size-lg">65</span>
                        </div>
                    </div>

                    <div class="col-md-3 col-xs-12 col-sm-6 padd-top-30">
                        <div class="detail-cont">
                            <span class="text-size-sm">GOAL:</span> <span class="text-size-lg">$5000</span><span class="text-muted"> /month</span>
                        </div>
                    </div>

                    <div class="col-md-3 col-xs-12 col-sm-6 padd-top-30 main-value">
                        <div class="detail-cont">
                            <span class="text-size-sm">Need:</span> <span class="text-size-lg">$2,498,932</span><span class="text-muted"> / $1,429,031</span>
                        </div>
                    </div>

                    <div class="col-md-2 col-xs-12 col-sm-6" ng-controller="pieChartController">
                        <div data-echarts data-options="poptions1" style="height: 80px;"></div>
                    </div>

                </div>

            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body panel-body-inner panel-head-bold" style="padding: 15px 0px !important;">

                <div class="col-md-12">
                    <div class="panel-heading"><b>Marx Retirement</b></div>
                    <canvas id="canvas" width="500" height="200"></canvas>
                </div>
                <div class="col-md-6">
                    <div class="panel-heading-main-chart">Projected All Goals Achieved: <b>August 2017</b></div>
                </div>

            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body panel-body-inner panel-head-bold" style="padding: 15px 0px !important;">
                <form name="form_passSettings" class="form-validation settings-form">
                    <div class="col-md-4 col-xs-12 col-sm-12 ">
                        <!--<md-input-container class="md-block">
                            <label>Account Name</label>
                            <input type="text">
                        </md-input-container>-->
                         <label>Account Name</label>
                        <md-autocomplete ng-disabled="isDisabled" md-no-cache="noCache" md-selected-item="selectedItem" md-search-text-change="searchTextChange(searchText)"
                            md-search-text="searchText" md-items="item in querySearch(searchText)"
                            md-item-text="item.display" md-min-length="0" placeholder="Type account name">
                            <md-item-template>
                                <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.display}}</span>
                            </md-item-template>
                            <md-not-found>
                                No states matching "{{searchText}}" were found.
                                <a ng-click="newState(searchText)">Create a new one!</a>
                            </md-not-found>
                        </md-autocomplete>
                    </div>
                </form>
            </div>
        </div>

    </diV>

</div>
</div>