<style>
    .nv-y {
        display: none;
    }

    .chart-line .chart-labels {
        display: none;
    }

    .label {
        text-align: left !important;
        float: left;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        width: 100px;
        font-weight: 600;
        color: #3e3e3e;
    }

    .label2 {
        text-align: right !important;
        float: right;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        width: 100px;
        font-weight: 600;
        color: #3e3e3e;
    }

    .netbreakdatalabel {
        position: absolute;
        left: 150px;
    }

    .chart-line .chart-labels {
        display: none;
    }

    .list_nav_2 {
        margin-top: 20px !important;
        margin-left: 13px;
    }

    .list_nav_2 li {
        padding: 20px 0px;
    }

    .legend-assets-value_1 {
        text-align: left;
    }

    .legend-assets-value_2 {
        text-align: center;
    }

    .legend-assets-value_3 {
        text-align: right;
    }

    .legends_values_2 {
        text-align: center;
    }

    .legend-text-size {
        font-size: 15px;
    }

    .panel_body_worth {
        margin-top: 45px;
    }

    .networth_legends_values {
        font-size: 14px !important;
    }

    .networth_legends_values_4 {
        font-size: 15px !important;
    }

    .networth_legends_values_6 {
        float: right !important;
        font-size: 18px;
        margin-left: 57%
    }

    .networth_right_text {
        float: right !important;
    }

    .networth_chart_2 {
        margin: 0px;
        padding: 0px 2.7%;
    }

    .networth_chart {
        height: 300px;
        max-height: 100% !important;
    }

    .networth_chart_3 {
        height: 240px;
        max-height: 100% !important;
    }

    .chart_center_value {
        text-align: center !important;
    }

    @media screen and (max-width:568px)and (min-width:320px) {
        .table-inner-expand-fsize {
            font-size: 13px;
        }
        .pull-right {
            float: left !important;
            padding: 15px 8px 0px;
        }
    }

    @media screen and (max-width:1050px) {
        .td_hide_width_networth {
            width: 2.4%;
        }
        .td_hide_width_networth_2 {
            position: relative;
            left: -5%;
        }
    }

    .facog-style {
        color: #989898;
    }
</style>

<div class="client-dash" ng-controller="clientHomeDashController as clientDashCtrl">
    <div class="page">
        <div class="row ui-section">
            <!-- HIDE THIS HEADER WHEN IN ADVISOR MODE.-->
            <div class="panel panel-default ng-hide" ng-hide="clientDashCtrl.hideHeader">
                <div class="panel-body panel-body-client">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <!-- TODO change the time of the day below "Afternoon" -->
                            <div class="panel-heading-main padd-top-5">Good {{clientDashCtrl.headerGreeting}}, {{clientDashCtrl.name}}!</div>
                        </div>
                        <div class="col-md-4 col-sm-12 col-sm-offset-0 col-md-offset-2">
                           <!-- This is the place to add the date picker. -->

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!--NETWORTH-->
                <div class="col-md-6" ng-controller="clientDashNetworthController as networthCtrl">
                    <div class="panel panel-default panel-minimal">
                        <div class="panel-body " data-slim-scroll>
                            <div class="panel-heading">
                                <span class="">NET WORTH</a></span>
                                <span class="pull-right" ng-hide="clientDashCtrl.hideHeader"><a ui-sref="page.networthMain">See more</a></span>
                            </div>

                            <div class="common-container ">
                                <!-- Table Div Start -->
                                <div class="networthTableDiv responsive-content "
                                     ng-hide="networthCtrl.showNetworthChartDiv && !networth.noDataSnapshot">
                                    <table class="table no-margin table-goal insuranceMainTable">
                                        <tbody ng-repeat="(accntCat,accntCatObj) in networthCtrl.networthFinancials">
                                        <!-- ngRepeat: clients in networthsDetailsinv -->

                                        <tr style="border-bottom: 1px solid #DDDDDD;">
                                            <td style="width:40%;">
                                                <a class="icn-padd"
                                                   ng-click="accntCatObj.isOpen = !accntCatObj.isOpen;">
                                                    <i ng-class="accntCatObj.isOpen ? 'fa fa-caret-down fa-lg' : 'fa fa-caret-right fa-lg'"
                                                       class="fa fa-lg fa-caret-right"></i>
                                                    <span class="ml-10">{{accntCat}}</span>
                                                </a>
                                            </td>
                                            <td><span class="dark"><b>{{accntCatObj.totalVal | currency}}</b></span>
                                            </td>
                                        </tr>
                                        <tr ng-show="accntCatObj.isOpen" aria-hidden="true">
                                            <td colspan="5">
                                                <table class="table no-margin table-inner-expand insurancetable-inner">
                                                    <thead>
                                                    <tr>
                                                        <!-- <th style="width:20%;"></th> -->
                                                        <th style="width:25%;">Name</th>
                                                        <th style="width:25%;">Balance</th>
                                                        <th style="width:25%;">Type</th>
                                                        <th style="width:25%;">Day Change (%)</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <!-- ngRepeat: brand in clients.Brands -->
                                                    <tr ng-repeat="accnt in accntCatObj.accntList">
                                                        <!--  <td></td> -->
                                                        <td>{{accnt.name}}</td>
                                                        <td>{{accnt.value | currency}}</td>
                                                        <td>{{accnt.type}}</td>
                                                        <td ng-style="accnt.changePositive ? {color:'green'} : {color: 'red'}">
                                                            <i class="fa" ng-class="{'fa-long-arrow-down' : !accnt.changePositive,
                                                            'fa-long-arrow-up' : accnt.changePositive}"
                                                               aria-hidden="true" ng-show="accnt.changeValue != 0"></i>
                                                            {{accnt.changeValue}} ({{accnt.changePercent}} %)
                                                        </td>
                                                    </tr>
                                                    <!-- end ngRepeat: brand in clients.Brands -->
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <!-- end ngRepeat: clients in networthsDetailsinv -->
                                        </tbody>
                                    </table>
                                    <!-- table end -->
                                </div>
                                <!-- Div table end -->

                                <!-- For chart-->
                                <div class="networthChartDiv"
                                     ng-show="networthCtrl.showNetworthChartDiv && !networth.noDataSnapshot">
                                    <div class="chart-outer" style="padding:0 20px;">
                                        <div class="row">
                                            <div oranj-highchart chart-options="networthCtrl.networthChart"
                                                 style="width:100%;height:350px;"></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- For chart-->

                                <!--when No data in dashboard-->
                                <div class="addYourtarget ng-hide" ng-show="networthCtrl.noDataSnapshot">
                                    <md-button ng-click=""
                                               class="md-raised btn-w-md md-primary md-button md-ink-ripple btn-save"
                                               layout layout-align="center end">Add Financial
                                    </md-button>
                                </div>
                            </div>
                        </div>
                        <!--common container-->

                        <!--Panel-footer-->
                        <div class="panel-footer" ng-show="!networth.noDataSnapshot">
                            <!-- Toggle Button -->
                            <div class="multiple-btns btn-chart-overlay">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-lg btn_1 btn-2"
                                            ng-click="networthCtrl.showNetworthChartDiv=true;"
                                            ng-class="{'active': networthCtrl.showNetworthChartDiv}">Chart
                                    </button>
                                    <button type="button" class="btn btn-lg btn_1 btn-liabilties"
                                            ng-click="networthCtrl.showNetworthChartDiv=false;"
                                            ng-class="{'active':!networthCtrl.showNetworthChartDiv}">Table
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!--End of Panel-footer-->

                    </div>
                </div>

                <!--Notifications-->

                <div class="col-md-6" ng-controller="clientDashNotificationController as notificationCtrl">
                    <div class="panel panel-default panel-minimal">
                        <div class="panel-body" data-slim-scroll>
                            <div class="panel-heading">
                                Feed
                            </div>
                            <div style="width:100%;height:300px;">
                                <div ng-repeat="(date,items) in notificationCtrl.items">
                                    <div class="feed-panel" ng-repeat="item in items">
                                        <img class="notification-img"
                                             ng-src="{{!!item.avatarUrl ? item.avatarUrl : 'images/avatar.jpg'}}"/>
                                        <span class="time-count">{{item.createdOn | date:"h:mm a"}}</span>
                                        <div class="feed-content">
                                            <p>
                                                <label>{{item.userName}}</label>
                                                <span ng-hide="item.state!='profile update'"
                                                      ng-click="redirectProfile()"> {{item.message}}</span>
                                                <span ng-hide="item.state=='profile update'"> {{item.message}} {{(item.state=='delete')&&(item.type == "goal")?"goal(s)":""}}</span>
                                                <label
                                                    ng-hide="item.state=='delete' || item.state=='profile update' || item.state=='update'" ng-click="redirect_link(item.type)">{{item.type}}</label>.
                                            </p>
                                            <ul ng-hide="item.state=='profile update'">
                                                <li ng-repeat="row in item.values">
                                                    <p ng-show='item.type == "vault"'>
				                						<i class="fa fa-file-text"></i>
				                						<span>{{row.contextProperties.folder}}</span>
				                						<a class="files-link" ng-hide="item.state=='delete'" ng-click="redirectVault(row)" href="javascript:void(0)">{{row.contextName}}</a>
				                						<a class="files-link" ng-hide="item.state!='delete'" href="javascript:void(0)">{{row.contextName}}</a>
													</p>
                                                    <p ng-show='item.type == "goal"'>
                                                        <i class="fa fa-file-text"></i>
                                                        <span>{{row.contextType}}</span>
                                                        <a class="files-link" ng-hide="item.state=='delete'"
                                                           ui-sref="page.client.home.goal.id({id:row.contextId, name:row.contextName})"
                                                           href="javascript:void(0)">{{row.contextName}}</a>
                                                        <a class="files-link" ng-hide="item.state!='delete'"
                                                           href="javascript:void(0)">{{row.contextName}}</a>
                                                    </p>
                                                    <p ng-show='item.type == "message"'>
                                                        <i class="fa fa-file-text"></i>
                                                        <span ng-click="redirectMessage()">{{row.messageContent}}</span>
                                                    </p>
                                                    <p ng-show='item.type == "financial"'>
                                                        <i class="fa fa-file-text"></i>
                                                        <span>{{row.contextType}}</span>
                                                        <a class="files-link" ng-hide="item.state=='delete'"
                                                           ui-sref="page.client.home.accounts.specific({id:row.contextId,accountName:row.contextName})"
                                                           href="javascript:void(0)">{{row.contextName}}</a>
                                                        <a class="files-link" ng-hide="item.state!='delete'"
                                                           href="javascript:void(0)">{{row.contextName}}</a>
                                                    </p>
                                                    <p ng-show='item.type == "account"'>
                                                        <i class="fa fa-file-text"></i>
                                                        <span>{{row.contextType}}</span>
                                                        <a class="files-link" ng-hide="item.state=='delete'"
                                                           ui-sref="page.client.home.investment.specific({id:row.contextId,name:row.contextName})"
                                                           href="javascript:void(0)">{{row.contextName}}</a>
                                                        <a class="files-link" ng-hide="item.state!='delete'"
                                                           href="javascript:void(0)">{{row.contextName}}</a>
                                                    </p>

                                                </li>

                                            </ul>
                                        </div><!-- End of Feed content-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer" ng-hide="clientDashCtrl.hideHeader">
                            <a class="inner-m-link inner-link-align-act" ui-sref="page.client.feed.activity" md-button>See all activity</a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">

                <!--INVESTMENT-->
                <div class="col-md-6" ng-controller="clientDashInvestmentController as investmentCtrl">
                    <div class="panel panel-default panel-minimal">
                        <div class="panel-body" data-slim-scroll>
                            <div class="panel-heading">
                                <span>INVESTMENTS</span>
                                <span class="pull-right" ng-hide="clientDashCtrl.hideHeader"><a ui-sref="page.client.home.investment.dash">See more</a></span>
                            </div>
                            <div class="common-container">

                                <!-- investment Table Div-->
                                <div class="investmentTableDiv responsive-content ng-hide"
                                     ng-hide="investmentCtrl.showInvestmentChartDiv">
                                    <table class="table Investment-table-Account">
                                        <thead>
                                        <tr>
                                            <td>Name</td>
                                            <td>Type</td>
                                            <td>Balance</td>
                                            <td>Day Change (%)</td>
                                        </tr>
                                        </thead>
                                        <tbody ng-repeat="(accntId,accnt) in investmentCtrl.investmentAccnts">
                                        <tr>
                                            <td>
                                                <a class="icn-padd"
                                                   ng-click="accnt.isOpen = !accnt.isOpen">
                                                    <i ng-class="accnt.isOpen ? 'fa-caret-down ' : ' fa-caret-right'"
                                                       class="fa fa-lg "
                                                       style=""></i> &nbsp;
                                                    <span class="ml-10;">{{accnt.name}}</span>
                                                </a>
                                            </td>
                                            <td>{{accnt.type}}</td>
                                            <td>{{accnt.value | currency }}</td>
                                            <td class="PercentChangeUp">
                                                <i class="fa"
                                                   ng-class="{'fa-long-arrow-up': accnt.changePositive, 'fa-long-arrow-down': accnt.changePositive}"
                                                   ng-hide="accnt.changeValue == 0" aria-hidden="true"></i>
                                                {{accnt.changeValue | currency}} ({{accnt.changePercent}} %)
                                            </td>
                                        </tr>

                                        <tr ng-show="accnt.isOpen">
                                            <td colspan="5">
                                                <table
                                                    class="table table-inner table no-margin table-inner-expand insurancetable-inner">
                                                    <thead>
                                                    <tr>
                                                        <td>Name</td>
                                                        <td style="width:15%;">Symbol</td>
                                                        <td>Price</td>
                                                        <td>Value</td>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr ng-repeat="holding in accnt.holdings">
                                                        <td>{{holding.name}}</td>
                                                        <td>{{holding.stockSymbol}}</td>
                                                        <td>{{holding.price | currency}}</td>
                                                        <td>{{holding.value | currency}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <!--For chart-->
                                <div class="investmentChartDiv" ng-show="investmentCtrl.showInvestmentChartDiv">
                                    <div class="row" style="margin:0;padding:0 15px;">
                                        <div class="col-md-8 dash_home">
                                            <h3 style="color:#262626;">{{investmentCtrl.investmentTotal |
                                                currency}}</h3>
                                            <p style="font-size:15px;"><i>{{investmentCtrl.investmentChange.investmentPercent}}
                                                %
                                                ({{investmentCtrl.investmentChange.investmentDifference |
                                                currency}})</i></p>
                                        </div>
                                    </div>
                                    <div class="chart-outer">
                                        <div id="containerInvestment">
                                            <div oranj-highchart chart-options="investmentCtrl.investmentChart"
                                                 style="min-width: 300px; height: 200px; margin: 0 auto"></div>
                                        </div>

                                        <!--<div id="investmentPerformance" style="min-width: 150px; height: 150px; margin: 0 auto"></div>-->
                                    </div>
                                </div>


                                <!--when No date in dashboard-->
                                <div class="addYourtarget hide">

                                    <md-button ng-click=""
                                               class="md-raised btn-w-md md-primary md-button md-ink-ripple btn-save mb-10"
                                               layout
                                               layout-align="center end">Open Account
                                    </md-button>
                                    <md-button ng-click=""
                                               class="md-raised btn-w-md md-primary md-button md-ink-ripple btn-save mb-10"
                                               layout
                                               layout-align="center end">Transfer Account
                                    </md-button>
                                </div>

                            </div>
                            <!-- End of common-container-->


                            <!--Panel-footer-->


                        </div>
                        <!--End of panel-body-->
                        <div class="panel-footer">
                            <!-- Toggle button-->
                            <div class="multiple-btns btn-chart-overlay">
                                <div class="btn-group">
                                    <button type="button" class="btn  btn-lg btn_1 btn-2"
                                            ng-class="{'active': investmentCtrl.showInvestmentChartDiv}"
                                            ng-click="investmentCtrl.showInvestmentChartDiv=true;">Chart
                                    </button>
                                    <button type="button" class="btn btn-lg btn_1 btn-liabilties"
                                            ng-class="{'active': !investmentCtrl.showInvestmentChartDiv}"
                                            ng-click="investmentCtrl.showInvestmentChartDiv=false;">Accounts
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--GOALS-->
                <div class="col-md-6" ng-controller="clientDashGoalsController as goalCtrl">
                    <div class="panel panel-default panel-minimal">
                        <div class="panel-body" data-slim-scroll>
                            <div class="panel-heading">
                                <span>GOALS</span>
                                <span class="pull-right" ng-hide="clientDashCtrl.hideHeader"><a ui-sref="page.client.home.goal.dashboard">See more</a></span>
                            </div>

                            <div class="common-container">

                                <!-- Goal table div -->
                                <div class="goalTableDiv responsive-content ng-hide"
                                     ng-hide="goalCtrl.showGoalChartDiv">
                                    <div class="col-xs-6"></div>
                                    <table class="table no-margin table-goal">
                                        <tbody>
                                        <tr ng-repeat="goalRow in goalCtrl.goalsTable">
                                            <td style="width: 20%;">{{goalRow[0].name}}</td>
                                            <td>{{goalRow[0].percentCompleted}}</td>

                                            <td style="width: 20%;">{{goalRow[1].name}}</td>
                                            <td>{{goalRow[1].percentCompleted}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- End of Goal table div -->

                                <!--For chart -->
                                <div class="goalChartDiv" ng-show="goalCtrl.showGoalChartDiv">
                                    <div class="chart-outer">
                                        <div class="panel-body">
                                            <div class="row progressbar-container" ng-repeat="goal in goalCtrl.goalsList">
                                                <div class="col-xs-4">
                                                    <p class="desc">{{goal.name}}</p>
                                                </div>
                                                <div class="col-xs-6">
                                                    <uib-progressbar class="progressbar-md "
                                                                     ng-class="goal.className"
                                                                     value="goal.percentCompleted"></uib-progressbar>
                                                </div>
                                                <div class="col-xs-2">
                                                    {{goal.percentCompleted}} %
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="addYourtarget hide">
                                    <md-button ng-click=""
                                               class="md-raised btn-w-md md-primary md-button md-ink-ripple btn-save mb-10"
                                               layout
                                               layout-align="center end">Add Goal
                                    </md-button>
                                </div>

                            </div>
                            <!-- End of common-container-->

                        </div>
                        <!--End of panel-body-->


                        <div class="panel-footer">
                            <!-- Toggle button-->
                            <div class="multiple-btns btn-chart-overlay">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-lg btn_1 btn-2"
                                            ng-class="{'active':goalCtrl.showGoalChartDiv}"
                                            ng-click="goalCtrl.showGoalChartDiv=true;">Chart
                                    </button>
                                    <button type="button" class="btn btn-lg btn_1 btn-liabilties"
                                            ng-class="{'active':!goalCtrl.showGoalChartDiv}"
                                            ng-click="goalCtrl.showGoalChartDiv=false;">Goals
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!--End of panel-footer-->
                    </div>
                    <!--End of panel-->
                </div>

            </div>

            <div class="row">

                <!--LIQUIDITY-->

                <div class="col-md-6" ng-controller="clientDashLiquidityController as liquidityCtrl">
                    <div class="panel panel-default panel-minimal">
                        <div class="panel-body" data-slim-scroll="">
                            <div class="panel-heading">
                                <span>LIQUIDITY</span>
                                <span class="pull-right" ng-hide="clientDashCtrl.hideHeader"><a ui-sref="page.client.home.accounts.dash">See more</a></span>
                            </div>

                            <div class="common-container">

                                <!--Div table-->
                                <div class="liquidityTableDiv responsive-content ng-hide"
                                     ng-hide="liquidityCtrl.showLiquidityChartDiv">
                                    <table class="table liquidity-table-Account">
                                        <thead>
                                        <tr>
                                            <td>Name</td>
                                            <td>Balance</td>
                                            <td>Day Change (%)</td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="accnt in liquidityCtrl.liquidityAccnts">
                                            <td>
                                                    <span>{{accnt.name}}</span>
                                            </td>
                                            <td>
                                                {{accnt.value|currency}}
                                            </td>
                                            <td class="PercentChangeUp" ng-class="{'PercentChangeUp': accnt.changePositive, 'PercentChangeDown' : !accnt.changePositive}">
                                                <i class="fa " ng-class="{'fa-long-arrow-up':accnt.changePositive, 'fa-long-arrow-down':!accnt.changePositive}" aria-hidden="true"></i>
                                                {{accnt.changeValue | currency}} ({{accnt.changePercent}} %)
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!--end of div table-->

                                <!--For chart-->
                                <div class="liquidityChartDiv" ng-show="liquidityCtrl.showLiquidityChartDiv">
                                    <div class="row" style="margin:0;padding:0 15px;">
                                        <div class="col-xs-6 dash_home">
                                            <h3 style="color:#262626;">{{liquidityCtrl.liquidityTotal | currency}}</h3>
                                            <p style="font-size:15px;"><i>{{liquidityCtrl.liquidityChange.liquidityPercent}}
                                                %
                                                ({{liquidityCtrl.liquidityChange.liquidityDifference | currency}})</i>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="chart-outer">

                                        <div oranj-highchart chart-options="liquidityCtrl.liquidityChart"
                                             style="min-width: 150px; height: 200px; margin: 0 auto"></div>

                                    </div>
                                </div>
                                <!--End  chart-->

                                <div class="addYourtarget hide">
                                    <md-button ng-click=""
                                               class="md-raised btn-w-md md-primary md-button md-ink-ripple btn-save mb-10"
                                               layout
                                               layout-align="center end">Add Financial
                                    </md-button>
                                </div>

                            </div>
                            <!--end of common-container-->
                        </div>
                        <!--Panel-body-->

                        <div class="panel-footer">
                            <!-- Toggle button -->
                            <div class="multiple-btns btn-chart-overlay">
                                <div id="selector" class="btn-group">
                                    <button type="button" class="btn active btn-lg btn_1 btn-2" ng-class="{'active':liquidityCtrl.showLiquidityChartDiv}"
                                            ng-click="liquidityCtrl.showLiquidityChartDiv=true">Chart
                                    </button>
                                    <button type="button" class="btn btn-lg btn_1 btn-liabilties" ng-class="{'active':!liquidityCtrl.showLiquidityChartDiv}"
                                            ng-click="liquidityCtrl.showLiquidityChartDiv=false">Accounts
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End of panel-->
                </div>

                <!--Insurance-->
                <div class="col-md-6" ng-controller="clientDashInsuranceCtrl as insuranceCtrl">
                    <div class="panel panel-default panel-minimal">
                        <div class="panel-body" data-slim-scroll>
                            <div class="panel-heading">
                                <span>Insurance</span>
                                <span class="pull-right" ng-hide="clientDashCtrl.hideHeader"><a ui-sref="page.client.home.insurance.dash">See more</a></span>
                            </div>

                            <div class="common-container">

                                <!--For Table Div-->
                                <div class="insuranceTableDiv responsive-content ng-hide"
                                     ng-hide="insuranceCtrl.showInsuranceChartDiv">
                                    <table class="table no-margin table-goal insuranceMainTable">
                                        <tbody
                                            ng-repeat="(insuranceType,insurance) in insuranceCtrl.categorizedInsurancenAccnts">

                                        <!-- ngRepeat: clients in insurenceLife -->
                                        <tr style="border-bottom: 1px solid #DDDDDD;">
                                            <td style="width:1%">
                                                <a class="icn-padd" ng-click="insurance.isOpen = !insurance.isOpen">
                                                    <i ng-class="insurance.isOpen ? 'fa fa-caret-down fa-lg' : 'fa fa-caret-right fa-lg'"
                                                       class="fa fa-lg fa-caret-right" style=""></i>
                                                </a>
                                            </td>
                                            <td width="15%">{{insurance.title}}</td>
                                            <td width="20%"><b>{{insurance.have | currency}}</b></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr ng-show="insurance.isOpen">
                                            <td></td>
                                            <td colspan="5">
                                                <div class="table-responsive">
                                                    <table
                                                        class="table no-margin table-inner-expand insurancetable-inner">
                                                        <thead>
                                                        <tr>
                                                            <th style="width:15%;"></th>
                                                            <th style="width:20%;">Name</th>
                                                            <th style="width:20%;">Type</th>
                                                            <th style="width:20%;">Benefit</th>
                                                            <th style="width:20%;">Policy Term</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <!-- ngRepeat: brand in clients.Life -->
                                                        <tr ng-repeat="accnt in insurance.accnts" class="ng-scope">
                                                            <td></td>
                                                            <td>{{accnt.name}}</td>
                                                            <td>{{accnt.type}}</td>
                                                            <td> {{accnt.deathBenefit | currency}}</td>
                                                            <td> {{accnt.termOfPolicy}}</td>
                                                            <td>
                                                                <a ui-sref="oranj.editFinancial"> <i
                                                                    class="fa fa-cog fa-lg icons_fa_2"
                                                                    aria-hidden="true"></a></i></td>
                                                            <td><i class="fa fa-trash-o fa-lg icons_fa_2"
                                                                   aria-hidden="true"></i></td>

                                                        </tr>
                                                        <!-- end ngRepeat: brand in clients.Life -->
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                        <!-- end ngRepeat: clients in insurenceLife -->


                                        <!-- ngRepeat: clients in insurenceLongTermcare -->
                                        <!--<tr ng-repeat-start="clients in insurenceLongTermcare"
                                            style="border-bottom: 1px solid #DDDDDD;"
                                            class="ng-scope">
                                            <td>
                                                <a class="icn-padd"
                                                   ng-click="insurenceexpanded2 = !insurenceexpanded2">
                                                    <i ng-class="insurenceexpanded2 ? 'fa fa-caret-down fa-lg' : 'fa fa-caret-right fa-lg'"
                                                       class="fa fa-lg fa-caret-right" style=""></i>
                                                </a>
                                            </td>
                                            <td width="15%">{{clients.Name}}</td>
                                            <td width="15%"><b>{{clients.value}}</b></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr ng-repeat-end ng-show="insurenceexpanded2">
                                            <td></td>
                                            <td colspan="5">
                                                <div class="table-responsive">
                                                    <table
                                                        class="table no-margin table-inner-expand insurancetable-inner">
                                                        <thead>
                                                        <tr>
                                                            <th style="width:15%;"></th>
                                                            <th style="width:20%;">Name of Policy</th>
                                                            <th style="width:20%;">Type</th>
                                                            <th style="width:20%;">Death Benefit</th>
                                                            <th style="width:20%;">Term of Policy</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        &lt;!&ndash; ngRepeat: brand in clients.LongTermCare &ndash;&gt;
                                                        <tr ng-repeat="brand in clients.LongTermCare"
                                                            class="ng-scope">
                                                            <td></td>
                                                            <td>{{brand.nameOfPolicy}}</td>
                                                            <td>{{brand.type}}</td>
                                                            <td> {{brand.deathBenefit}}</td>
                                                            <td> {{brand.termOfPolicy}}</td>
                                                            <td>
                                                                <a ui-sref="oranj.editFinencial"> <i
                                                                    class="fa fa-cog fa-lg icons_fa_2"
                                                                    aria-hidden="true"></i></a>
                                                            </td>
                                                            <td><i class="fa fa-trash-o fa-lg icons_fa_2"
                                                                   aria-hidden="true"></i></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>

                                        &lt;!&ndash; end ngRepeat: clients in insurenceLongTermcare &ndash;&gt;


                                        &lt;!&ndash; end ngRepeat: clients in insurenceLongTermDisability &ndash;&gt;

                                        <tr ng-repeat-start="clients in insurenceLongTermDisability"
                                            style="border-bottom: 1px solid #DDDDDD;"
                                            class="ng-scope">
                                            <td>
                                                <a class="icn-padd"
                                                   ng-click="insurenceexpanded3 = !insurenceexpanded3">
                                                    <i ng-class="insurenceexpanded3 ? 'fa fa-caret-down fa-lg' : 'fa fa-caret-right fa-lg'"
                                                       class="fa fa-lg fa-caret-right" style=""></i>
                                                </a>
                                            </td>
                                            <td width="15%">{{clients.Name}}</td>
                                            <td width="15%"><b>{{clients.value}}</b></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr ng-repeat-end ng-show="insurenceexpanded3">
                                            <td></td>
                                            <td colspan="5">
                                                <table
                                                    class="table no-margin table-inner-expand insurancetable-inner">
                                                    <thead>
                                                    <tr>
                                                        <th style="width:15%;"></th>
                                                        <th style="width:20%;">Name of Policy</th>
                                                        <th style="width:20%;">Type</th>
                                                        <th style="width:20%;">Death Benefit</th>
                                                        <th style="width:20%;">Term of Policy</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    &lt;!&ndash; ngRepeat: brand in clients.LongTermDisability &ndash;&gt;
                                                    <tr ng-repeat="brand in clients.LongTermDisability"
                                                        class="ng-scope">
                                                        <td></td>
                                                        <td>{{brand.nameOfPolicy}}</td>
                                                        <td>{{brand.type}}</td>
                                                        <td> {{brand.deathBenefit}}</td>
                                                        <td> {{brand.termOfPolicy}}</td>
                                                        <td><a ui-sref="oranj.editFinencial"><i
                                                            class="fa fa-cog fa-lg icons_fa_2"
                                                            aria-hidden="true"></i></a></td>
                                                        <td><i class="fa fa-trash-o fa-lg icons_fa_2"
                                                               aria-hidden="true"></i></td>
                                                    </tr>
                                                    &lt;!&ndash; end ngRepeat: brand in clients.LongTermDisability &ndash;&gt;
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>-->
                                        <!-- end ngRepeat: clients in insurenceLongTermDisability -->

                                        </tbody>
                                    </table>
                                    <!-- End table end -->
                                </div>
                                <!-- End table Div end -->

                                <!-- For chart end -->
                                <div class="insuranceChartDiv" ng-show="insuranceCtrl.showInsuranceChartDiv">
                                    <div class="col-md-12">
                                        <div id="containerDoughnut" oranj-highchart
                                             chart-options="insuranceCtrl.insuranceDashChart"
                                             style="min-width: 200px; height: 300px; margin: 0 auto"></div>
                                    </div>
                                </div>
                                <!-- End  chart end -->


                                <div class="addYourtarget hide">
                                    <md-button ng-click=""
                                               class="md-raised btn-w-md md-primary md-button md-ink-ripple btn-save mb-10"
                                               layout layout-align="center end">Add Policy
                                    </md-button>
                                </div>

                            </div>
                            <!--End common-container-->
                        </div>
                        <!--End panel-body-->

                        <div class="panel-footer">
                            <!-- TOGGLE BUTTON -->
                            <div class="multiple-btns btn-chart-overlay">
                                <div id="selector" class="btn-group">
                                    <button type="button" class="btn active btn-lg btn_1 btn-2" ng-class="{'active':insuranceCtrl.showInsuranceChartDiv}"
                                            ng-click="insuranceCtrl.showInsuranceChartDiv=true;">Chart
                                    </button>
                                    <button type="button" class="btn btn-lg btn_1 btn-liabilties" ng-class="{'active':!insuranceCtrl.showInsuranceChartDiv}"
                                            ng-click="insuranceCtrl.showInsuranceChartDiv=false;">Policies
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!--End panel-footer-->
                    </div>
                    <!--End panel-->
                </div>


            </div>


        </div>
    </div>
</div>
