<div class="page page-form" ng-controller="goalRetirementCtrl">

    <div class="row">

        <div class="panel panel-default">
            <div class="panel-body body-dark">
                <div class="row">
                    <div class="col-md-2 col-xs-12 col-sm-6 padd-top-30">
                        <div class="profile-info">
            <div class="detail-cont">
            Retirement
            </div>
        </div>
       
                    </div>
                     <div class="col-md-2 col-xs-12 col-sm-6 padd-top-17">
                          <div class="detail-cont">
            <span class="text-size-sm">Age:</span> <span class="text-size-lg">65</span><br>
             <span class="text-size-diff">Current:</span> <span class="text-size-diff">43</span>
            </div>
                     </div>
                      <div class="col-md-3 col-xs-12 col-sm-6 padd-top-30 retirement-month-value"> 
                           <div class="detail-cont">
                          <span class="text-size-sm">Goal:</span> <span class="text-size-lg">$5000</span><span class="text-muted">/ month</span>
                          </div>
                           </div>
                             <div class="col-md-3 col-xs-12 col-sm-6 padd-top-30 retirement-goal-value"> 
                           <div class="detail-cont">
                          <span class="text-size-sm">Need:</span> <span class="text-size-lg">$781,932</span><span class="text-muted">/ $429,031</span>
                          </div>
                           </div>
                       <div class="col-md-2 col-xs-12 col-sm-12" ng-controller="pieChartController">
                           
                              <div data-echarts data-options="poptions1" style="height: 80px;"></div>
                       </div>
                        </div>
            </div>



        </div>

        <div class="panel panel-default">
            <div class="panel-body panel-body-inner" style="padding: 15px 0px !important;">
                <div class="col-md-12">
                    <canvas id="goalRetChart" width="600" height="200"></canvas>
                    </canvas>
                    <div class="col-md-6">
                        <div class="panel-heading-main-chart">Project Goal Achievement: <b>August 2017</b></div>
                    </div>
                    <div class="col-md-4 col-md-offset-2">
                           <form action="#" class="form-horizontal form-datepicker-main head-date-right ng-pristine ng-valid">
                        <div class="form-body">
                            <div class="form-group">
                                <label class="control-label">Range:</label>
                                <div class="date-con-main">
                                    <div class="input-group input-large date-picker input-daterange">
                                        <datepicker date-format="MMMM dd, yyyy" class="form-control form-datepicker">
                                                	<input type="text" class="date-input form-control form-date-inner" ng-model="date1">
                                                </datepicker>
                                        - 
                                                <datepicker date-format="MMMM dd, yyyy" class="form-control form-datepicker">
                                                	<input type="text" class="form-control form-date-inner" ng-model="date2">
                                                </datepicker>
                                    </div>
                                </div>
                            
                            </div>
                        </div>
                    </form>




                    </div>
                </div>



            </div>
        </div>

        <div class="panel panel-default" ng-controller="goalCtrl">
            <div class="panel-body panel-body-inner">
                <h3>Accounts Assigned to Goal</h3>
                <table class="table no-margin table-goal">
                    <thead>
                        <tr>
                            <th>Account Name</th>
                            <th></th>
                            <th>Type</th>
                            <th>Institution</th>
                            <th>Balance</th>
                            <th>Allocation to goal</th>

                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td><span class="color-purple">Oscar Winnings</span></td>
                            <td><i class="fa fa-random" aria-hidden="true"></i></td>
                            <td>IRA</td>
                            <td>JP Morgan</td>
                            <td>$1,192,014.73</td>
                            <td>


                                <rzslider rz-slider-model="percentages.low1" class="retSlider" rz-slider-options="percentages.options1" value="22.4"></rzslider>
                            </td>
                            <td>

                                <div class="value-slider">$ 265,999.22</div>


                            </td>

                        </tr>
                        <tr>
                            <td><span class="color-green">College Fund</span></td>
                            <td></td>
                            <td>IRA</td>
                            <td>TD Ameritrade</td>
                            <td>$163,031.78</td>
                            <td>

                                <rzslider rz-slider-model="percentages.low2" class="retSlider" rz-slider-options="percentages.options2"></rzslider>
                            </td>
                            <td>
                                <div class="value-slider">$ 163,031.78</div>

                            </td>

                        </tr>


                    </tbody>
                </table>
                <div class="add-com">
                    <a>+ Add Account</a>
                </div>
            </div>



        </div>


    </div>
