<div class="page page-form" data-ng-controller="goalRetirementMainCtrl">

    <div class="row ui-section">

        <div class="panel panel-default">
            <div class="panel-body body-dark">
             <div class="row">
                    <div class="col-md-3 col-xs-12 col-sm-6 padd-top-30">
                        <div class="profile-info">
            <div class="detail-cont">
            Goals: <span class="text-inner">4</span>
            </div>
        </div>
       
                    </div>
                     <div class="col-md-3 col-xs-12 col-sm-6 padd-top-30">
                         
                          <div class="detail-cont">
            <span class="text-size-sm">Age:</span> <span class="text-size-lg">65</span>
            </div>
                     </div>
                      <div class="col-md-4 col-xs-12 col-sm-6 padd-top-30 main-value"> 
                           <div class="detail-cont">
                          <span class="text-size-sm">Need:</span> <span class="text-size-lg">$2,498,932</span><span class="text-muted"> / $1,429,031</span>
                          </div>
                           </div>
                       <div class="col-md-2 col-xs-12 col-sm-6" ng-controller="pieChartController">
                           
                         <div data-echarts data-options="poptions1" style="height: 80px;"></div>
                       </div>
                        </div>
            
            </div>



        </div>

        <div class="panel panel-default">
            <div class="panel-body panel-body-inner panel-head-bold" style="padding: 15px 0px !important;">
                <div class="col-md-12">
                   <canvas id="canvas" width="500" height="200"></canvas>

                </div>
                <div class="col-md-6">
                    <div class="panel-heading-main-chart">Project Goal Achievement: <b>August 2017</b></div>
                </div>
                <div class="col-md-4 col-md-offset-2">
            <form action="#" class="form-horizontal form-datepicker-main head-date-right ng-pristine ng-valid">
                        <div class="form-body">
                            <div class="form-group">
                                <label class="control-label">Range:</label>
                                <div class="date-con-main">
                                    <div class="input-group input-large date-picker input-daterange">
                                        <datepicker date-format="MMMM dd, yyyy" class="form-control form-datepicker">
                                                	<input type="text" class="date-input form-control form-date-inner" ng-model="date1">
                                                </datepicker>
                                        - 
                                                <datepicker date-format="MMMM dd, yyyy" class="form-control form-datepicker">
                                                	<input type="text" class="form-control form-date-inner" ng-model="date2">
                                                </datepicker>
                                    </div>
                                </div>
                            
                            </div>
                        </div>
                    </form>




                </div>
            </div>



        </div>

        <div class="panel panel-default">
            <div class="panel-body panel-body-inner panel-head-bold">
                <h3>Goals</h3>
                <table class="table no-margin table-goal">
                    <thead>
                        <tr>
                            <th>Goal Name</th>
                            <th>Completion (%)</th>
                            <th>Have</th>
                            <th>Need</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><span class="color-warning">Retirement</span></td>
                            <td>73%</td>
                            <td>$ 429,031.00</td>
                            <td>$ 1,498,932.00</td>

                        </tr>
                        <tr>
                            <td><span class="color-success">Home</span></td>
                            <td>28%</td>
                            <td>$ 163,031.78</td>
                            <td>$ 163,031.78</td>

                        </tr>
                        <tr>
                            <td><span class="color-purple">Trip</span></td>
                            <td>55%</td>
                            <td>$ 12,650.00</td>
                            <td>$ 23,000.00</td>

                        </tr>
                        <tr>
                            <td><span class="color-green">College Fund</span></td>
                            <td>92%</td>
                            <td>$ 149,989.23</td>
                            <td>$ 163,031.78</td>

                        </tr>


                    </tbody>
                </table>
                <div class="add-com">
                    <a>+ Add Goal</a>
                </div>
            </div>



        </div>
    </div>

</div>
