<style>
    .tooltipdemoBasicUsage md-toolbar .md-toolbar-tools .md-button,
    .tooltipdemoBasicUsage md-toolbar .md-toolbar-tools .md-button:hover {
        box-shadow: none;
        border: none;
        transform: none;
        -webkit-transform: none;
    }




@media screen and (max-width: 1200px) and (min-width: 992px) {



}

@media only screen and (max-width: 991px) {
    
.table-heading_name{
    font-size: 12px !important;
}

.table-data_name{
    font-size: 12px !important;

}
.table-goal td {
    padding: 15px 10px !important;
}


}

.table_legends{
    display: inline-block !important;
    width:100%;
}

.leos-heading {
    font-size: 18px !important;
}


.leos-fund-headings{
    font-size: 15px !important;
}

.leos-panel-body-head{
    font-size: 14px !important;
}

.networth_legends_values {
        font-size: 14px !important;
    }
    
    .networth_legends_values_4 {
        font-size: 15px !important;
    }


.leos-right-text-column{
    text-align: right;
        padding-right: 20px;
}


.leos-center-text-column{
    text-align: center;
}

.leos-body-height{
    height: 480px;
    max-height: 100% !important;
}

.leos-body-height_2{
    height: 480px;
    max-height: 100% !important;
}

.leos-circle-legend-body{
    margin-top: 10% !important;
}


.client-investment-legends{
    margin-top:3%;
}




@media only screen and (max-width: 768px) {
    
.leos-body-height_2{
    height: 570px;
    max-height: 100% !important;
}

.text-center-investment{
    text-align: center !important;
}


#table-headings-padd{
    padding-left:10px !important;
}

.legend_date{
    width: 290px !important;
}
.table_res{
    border:0px;
}

}




</style>
<div class="page" ng-controller="advisorInvestmentCtrl">
    <div class="row ui-section">

        <div class="panel panel-default panel-minimal">

            <div class="panel-body head-dark">
                <div class="row">
                    <div class="col-md-3 col-sm-12 col-xs-12 text-center-investment">
                        <div class="detail-cont">
                            <span class="text-size-sm leos-heading">INVESTMENTS</span>

                        </div>
                    </div>
                    <div class="col-md-2 col-sm-12 col-xs-12 text-center-investment">
                        <div class="profile-info">
                            <div class="detail-cont">
                                <span class="text-size-sm leos-fund-headings">Accounts:</span> <span class="text-size-lg leos-heading">{{numberOfAccount}}</span><br>

                            </div>
                        </div>

                    </div>

                    <div class="col-md-3 col-sm-12 col-xs-12 text-center-investment">
                        <div class="detail-cont">
                            <span class="text-size-sm leos-fund-headings">Balance:</span> <span class="text-size-lg leos-heading ng-binding"> {{totalBalance | currency}}</span><br>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12 investment-right-text text-center-investment">
                        <div class="detail-cont">
                            <span class="text-size-sm leos-fund-headings">Total Day Change:</span><span ng-class="changeStatus!=true ?'color-danger':'color-success'" class="text-size-sm_1"><i ng-class="changeStatus!=true ?'fa fa-arrow-down':'fa fa-arrow-up'" aria-hidden="true"></i> ${{changedValue | number:2}} ({{percentageChange | number:2}}%)</span>
                        </div>
                    </div>



                </div>
            </div>

            
           
        </div>





        <div class="row">
            <div class="col-md-5">
                <div class="panel panel-default panel-minimal cl-block-height leos-body-height">

                    <div class="panel-body panel-body-inner panel-head-bold">
                        <h3 class="leos-panel-body-head">TODAY'S ASSET ALLOCATION</h3>
                    </div>
                    <div class="panel-body leos-circle-legend-body">
                        <div class="row">
                            <div class="col-md-8">
                                <canvas id="investmentDoughnut" style="height: 225px;"></canvas>
                            </div>

                            <div class="col-md-2 client-investment-legends" style="margin-top:45px;">
                                <div id="investment-legend" class=""></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7">

                <div class="panel panel-default panel-minimal cl-block-height leos-body-height_2">

                    <div class="panel-body panel-body-inner panel-head-bold">
                        <h3 class="leos-panel-body-head">PERFORMANCE</h3>
                    </div>

                    <div class="row" style="margin:0;">
                        <div class="col-md-6 col-sm-6 col-xs-12 dash_home">
                            <h3 class="networth_legends_values" style="color:#262626;">BALANCE {{showLabelsOnChart.startDate}}</h3>
                            <p class="networth_legends_values_4"><b>{{showLabelsOnChart.startBalance | currency}}</b></p>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 dash_home padd_left_1 leos-right-text-column">
                            <h3 class="networth_legends_values" style="color:#262626;">BALANCE {{showLabelsOnChart.endDate}}</h3>
                            <p class="networth_legends_values_4"><b>{{showLabelsOnChart.endBalance | currency}}</b></p>
                        </div>
                    </div>
                    <div class="row" style="margin:0;">
                        <div class="col-md-12 col-sm-12 col-xs-12 dash_home padd_left_1 leos-center-text-column">
                            <h3 class="networth_legends_values" style="color:#262626;">CHANGE</h3>
                            <p class="networth_legends_values_4"><b>{{showLabelsOnChart.changePercentage | number:2}}% ({{showLabelsOnChart.change | currency}})</b></p>
                        </div>
                    </div>
                 
                    <div class="panel-body" style="padding-top: 25px;">
                         <div id="containerInvestment" style="min-width: 300px; height: 200px; margin: 0 auto"></div>
                        <!--<canvas id="canvas" width="600" height="200"></canvas>-->
                        <form action="#" class="form-horizontal form-datepicker-main head-date-right ng-pristine ng-valid">
                        <div class="form-body">
                            <div class="form-group">
                                <label class="control-label">Range:</label>
                                <div class="date-con-main">
                                    <div class="input-group input-large date-picker input-daterange">  
                                        <datepicker date-format="MMMM dd, yyyy" date-max-limit={{maxDate}} class="form-control form-datepicker">
                                            <input type="text" class="date-input form-control form-date-inner" ng-model="date.startDate" ng-change="changeDatesMain()" onkeydown="return false" />
                                        </datepicker>
                                        -
                                        <datepicker date-format="MMMM dd, yyyy" date-max-limit={{maxDate}} class="form-control form-datepicker">
                                            <input type="text" class="form-control form-date-inner" ng-model="date.endDate" ng-change="changeDatesMain()" onkeydown="return false">
                                        </datepicker>
                                    </div>
                                </div>
                            
                            </div>
                        </div>
                    </form>


                    </div>
                </div>

            </div>

            <div class="col-md-12">
                <div class="panel panel-default panel-minimal">
                   

                    <div class="panel-body-main panel-head-bold">
                      
                        
                                 <div class="panel-header">
			<div class="col-xs-6 head-secone">
                                <h3>Accounts</h3>
                            </div>
		<div class="col-xs-6 text-right">
                                <div class="add-com-right">
                                    <a>+ Add Account</a>
                                </div>
                            </div>
		</div>
        <div class="table-responsive table_legends table_res">
                        <table class="table no-margin table-goal table-main">
                            <thead>
                                <tr>
                                    <th class="table-heading_name" style="width:5%"></th>
                                   <th class="table-heading_name" style="width:12%"> Account Name</th>
                                    <th class="table-heading_name"></th>
                                    <th class="table-heading_name">Account Type</th>
                                  <th class="table-heading_name">Institution</th>
                                    <th class="table-heading_name">Today's Balance</th>
                                    <th class="table-heading_name">Day Change (%)</th>

                                </tr>
                            </thead>
                            <tbody>

                                <tr ng-repeat-start="accDetails in investmentAccountDetails" style="border-bottom: 1px solid #DDDDDD;">
                                    <td class="table-data_name">
                                        <a class="icn-padd" ng-click="networthsDetailsexpanded = !networthsDetailsexpanded;getInvestementAccountHoldings(accDetails.accountInfoType,accDetails.accountId)">
                                            <i ng-class="networthsDetailsexpanded ? 'fa fa-caret-down fa-lg' : 'fa fa-caret-right fa-lg'"></i>
                                        </a>
                                    </td>
                                    <td class="table-data_name" ng-click="specificRoute(accDetails.accountId)">{{accDetails.name}}</td>
                                    <td class="table-data_name"><i ng-class="clients.Name == 'Oscar Winnings'?'':'fa fa-random'"></i></td>
                                    <td class="table-data_name">{{accDetails.type}}</td>
                                    <td class="table-data_name">{{accDetails.institution}}</td>
                                    <td class="table-data_name">{{accDetails.value | currency}}</td>
                                    <td class="table-data_name" style="border-top:0px;" ng-if="accDetails.changeValue != 0"  ng-class="accDetails.changePositive!=true ?'fa fa-arrow-down color-danger':'fa fa-arrow-up color-success'">
                                        <span class="mfont">{{accDetails.changeValue | currency}} ({{accDetails.changePercent | number:2}}%)</span></td>
                                    <td class="table-data_name" style="border-top:0px;" ng-if="accDetails.changeValue == 0">
                                        <span style="color:#969696!important;" class="mfont">{{accDetails.changeValue | currency}} ({{accDetails.changePercent | number:2}}%)</span></td>

                                </tr>

                                <tr></tr>

                                <tr ng-repeat-end ng-show="networthsDetailsexpanded">
                                    <td></td>

                                    <td colspan="7">
                                        <table class="table no-margin table-inner-expand">
                                            <thead ng-show="accDetails.holdings.length > 0">
                                                <tr>

                                                    <th></th>
                                                    <th>Name</th>
                                                    <th>Ticker</th>
                                                    <th>Shares</th>
                                                    <th>Price</th>
                                                    <th>Value</th>
                                                    <th>Day Change (%)</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-show="accDetails.holdings.length > 0" ng-repeat="holdings in accDetails.holdings | limitTo:10">

                                                    <td></td>
                                                    <td>{{holdings.description}}</td>
                                                    <td>{{holdings.ticker}}</td>
                                                    <td>{{holdings.quantity}}</td>
                                                    <td>{{holdings.price | currency}}</td>
                                                    <td>{{holdings.value | currency}}</td>
                                                    <td style="display:table-cell !important;"  ng-if="holdings.changeValue != 0" class="table-data_name" style="border-top:0px;" ng-class="holdings.changePositive!=true ?'fa fa-arrow-down color-danger':'fa fa-arrow-up color-success'">
                                                        <span class="mfont">{{holdings.changeValue | currency}} ({{holdings.changePercent | number:2}}%)</span>
                                                    </td>
                                                    <td style="display:table-cell !important;border-top:0px; color:#969696!important;" ng-if="holdings.changeValue == 0" class="table-data_name" ng-class="holdings.changePositive!=true ?'fa fa-arrow-down color-danger':'fa fa-arrow-up color-success'">
                                                        <span class="mfont">{{holdings.changeValue | currency}} ({{holdings.changePercent | number:2}}%)</span>
                                                    </td>

                                                </tr>
                                                <tr ng-show="!accDetails.holdings">
                                                    <td colspan="7">
                                                    	No holdings info available
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>


                                </tr>

                            </tbody>
                        </table>
                        </div>
                        <div class="add-com">
                            <a>+ Add Account</a>
                        </div>
                    </div>

                </div>

               
            </div>


        </div>

    </div>
</div>

