<style>
    .tooltipdemoBasicUsage md-toolbar .md-toolbar-tools .md-button,
    .tooltipdemoBasicUsage md-toolbar .md-toolbar-tools .md-button:hover {
        box-shadow: none;
        border: none;
        transform: none;
        -webkit-transform: none;
    }




@media screen and (max-width: 1200px) and (min-width: 992px) {

.date_range{
    width:315px;
}

}

@media only screen and (max-width: 991px) {
    
.table-heading_name{
    font-size: 12px !important;
}

.table-data_name{
    font-size: 12px !important;

}
.table-goal td {
    padding: 15px 10px !important;
}

.date_range{
    width:315px;
    padding-left:10px !important;
}

}

.table_legends{
    display: inline-block !important;
    width:100%;
}
.leos-heading {
    font-size: 18px !important;
}


.leos-fund-headings{
    font-size: 15px !important;
}

.leos-panel-body-head{
    font-size: 14px !important;
}

.networth_legends_values {
        font-size: 14px !important;
    }
    
    .networth_legends_values_4 {
        font-size: 15px !important;
    }


.leos-right-text-column{
    text-align: right;
        padding-right: 20px;
}


.leos-center-text-column{
    text-align: center;
}

.leos-body-height{
    height: 480px;
    max-height: 100% !important;
}

.leos-body-height_2{
    height: 480px;
    max-height: 100% !important;
}

.leos-circle-legend-body{
    margin-top: 10% !important;
}


.client-investment-legends{
    margin-top:3%;
}

@media only screen and (max-width: 768px) {
    
.date-picker_range{
    margin-top:7px;

}

#table-headings-padd{
    padding-left:10px !important;
}

.legend_date{
    width: 290px !important;
}
.table_res{
    border:0px;
}

}


@media only screen and (max-width: 360px) {

.date-picker_range{
    margin-top:7px;
    width:70px;
}

.date-picker_input{
    width:100% !important;
    padding-left: 15px;
}

}



</style>

<div class="page" ng-controller="advisorInvestmentCtrl">
    <div class="row ui-section">

        <div class="panel panel-default panel-minimal">
            <div class="panel-body body-dark padd-2522">
                <div class="row">
                    <div class="col-md-2 col-xs-12 col-sm-12">
                        <div class="profile-info">
                            <div class="detail-cont">
                                <span class="text-size-sm"><b>{{accountName | capitalize}}</b></span> <br>

                            </div>
                        </div>

                    </div>

                    <div class="col-md-3 col-xs-12 col-sm-12">
                        <div class="profile-info">
                            <div class="detail-cont">
                                <span class="text-size-sm">ACCOUNT TYPE: <b>{{accountType}}</b></span> <br>

                            </div>
                        </div>

                    </div>

                    <div class="col-md-3 col-xs-12 col-sm-12">
                        <div class="detail-cont">
                            <span class="text-size-sm">BALANCE: </span> <span class="text-size-lg"><b>{{value | currency}}</b></span><br>

                        </div>
                    </div>

                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="detail-cont">
                            <span class="text-size-sm">TOTAL DAY CHANGE:</span> <span class="text-size-lg" ng-class="changePositive!=true ?'fa fa-arrow-down color-danger':'fa fa-arrow-up color-success'">{{changeValue | currency}} ({{changePercent | number:2}}%)</span>
                        </div>
                    </div>
                    <div class="col-md-1 col-sm-12 col-xs-12 ran-icn head-con-last">
                        <a ui-sref="transferaccountstep2"><i class="fa fa-random fa-2x"></i></a>
                        <md-tooltip md-visible="demo.showTooltip" md-direction="{{demo.tipDirection}}">
                            Click this icon to transfer account.
                        </md-tooltip>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            
            <div class="col-md-5">
                <div class="panel panel-default panel-minimal cl-block-height leos-body-height">

                    <div class="panel-body panel-body-inner panel-head-bold">
                        <h3 class="leos-panel-body-head">TODAY'S ASSET ALLOCATION</h3>
                    </div>
                    <div class="panel-body leos-circle-legend-body">
                        <div class="row">
                            <div class="col-md-8">
                                <canvas id="investmentDoughnut" style="height: 225px;"></canvas>
                            </div>

                            <div class="col-md-2 client-investment-legends" style="margin-top:45px;">
                                <div id="investment-legend" class=""></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-7">

                <div class="panel panel-default panel-minimal cl-block-height leos-body-height_2">

                    <div class="panel-body panel-body-inner panel-head-bold">
                        <h3 class="leos-panel-body-head">PERFORMANCE</h3>
                    </div>

                     <div class="row" style="margin:0;">
                        <div class="col-md-6 col-sm-6 col-xs-12 dash_home">
                            <h3 class="networth_legends_values" style="color:#262626;">BALANCE {{showLabelsOnChart.startDate}}</h3>
                            <p class="networth_legends_values_4"><b>{{showLabelsOnChart.startBalance | currency}}</b></p>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 dash_home padd_left_1 leos-right-text-column">
                            <h3 class="networth_legends_values" style="color:#262626;">BALANCE {{showLabelsOnChart.endDate}}</h3>
                            <p class="networth_legends_values_4"><b>{{showLabelsOnChart.endBalance | currency}}</b></p>
                        </div>
                    </div>
                    <div class="row" style="margin:0;">
                        <div class="col-md-12 col-sm-12 col-xs-12 dash_home padd_left_1 leos-center-text-column">
                            <h3 class="networth_legends_values" style="color:#262626;">CHANGE</h3>
                            <p class="networth_legends_values_4"><b>{{showLabelsOnChart.changePercentage | number:2}}% ({{showLabelsOnChart.change | currency}})</b></p>
                        </div>
                    </div>
                 
                    <div class="panel-body" style="padding-top: 25px;">
                         <div id="containerInvestment" style="min-width: 300px; height: 200px; margin: 0 auto"></div>
                        <!--<canvas id="canvas" width="600" height="200"></canvas>-->
                        <form action="#" class="form-horizontal form-datepicker-main head-date-right ng-pristine ng-valid">
                        <div class="form-body">
                            <div class="form-group">
                                <label class="control-label">Range:</label>
                                <div class="date-con-main">
                                    <div class="input-group input-large date-picker input-daterange">
                                        <datepicker date-format="MMMM dd, yyyy" class="form-control form-datepicker d1">
                                                 <input type="text" class="date-input form-control form-date-inner" ng-model="date.startDate" ng-change="changeDatesSpecific()">
                                                </datepicker>
                                        - 
                                                <datepicker date-format="MMMM dd, yyyy" class="form-control form-datepicker d2">
                                                 <input type="text" class="form-control form-date-inner" ng-model="date.endDate" ng-change="changeDatesSpecific()">
                                                </datepicker>
                                    </div>
                                </div>
                            
                            </div>
                        </div>
                    </form>


                    </div>
                </div>

            </div>

            <div class="col-md-12">
                <div class="panel panel-default panel-minimal">
                   
                    <div class="panel-body panel-body-inner panel-head-bold">
                        <h3>Holdings</h3>
                    <div class="table-responsive table_res">
                        <table class="table no-margin table-goal">
                            <thead>
                                <tr>
                                    <th class="table-heading_name" style="width:25%">Name</th>
                                    <th class="table-heading_name">Ticker</th>
                                    <th class="table-heading_name">Shares</th>
                                    <th class="table-heading_name">Price</th>
                                    <th class="table-heading_name">Value</th>
                                    <th style="width:28%;">Day Change (%)</th>

                                </tr>
                            </thead>
                           <tbody>
                                <tr ng-repeat="holdings in global.investmentSpecificAccountHolding">
                                    <td>{{holdings.description}}</td>
                                    <td>{{holdings.ticker}}</td>
                                    <td>{{holdings.quantity}}</td>
                                    <td>{{holdings.price | currency}}</td>
                                    <td>{{holdings.value | currency}}</td>									
                                    <td style="display:table-cell !important;" ng-if="holdings.changeValue != 0" class="table-data_name" ng-class="holdings.changePositive!=true ?'fa fa-arrow-down color-danger':'fa fa-arrow-up color-success'">
                                        <span class="mfont">{{holdings.changeValue | currency}} ({{holdings.changePercent | number:2}}%)</span>
                                    </td>
                                    <td style="display:table-cell !important;" ng-if="holdings.changeValue == 0" class="table-data_name">
                                        <span class="mfont" style="color:#969696!important;" >{{holdings.changeValue | currency}} ({{holdings.changePercent | number:2}}%)</span>
                                    </td>								 
									
                                </tr>
                            </tbody>
                        </table>
                    </div>
                        <div class="add-com">
                            <a><b>+ Add Account</b></a>
                        </div>
                    </div>

                </div>

            </div>


        </div>

    </div>
</div>
