<div class="page page-form" ng-controller="transferAccountCtrl">

    <div class="row ui-section">

        <div class="panel panel-default">
            <div class="panel-body body-dark hhd">
                <div class="row">

                    <div class="col-md-2 col-xs-12 col-sm-6 hhd-1">
                        <div class="profile-info">
                            <div class="detail-cont">
                                ACCOUNT TRANSFER
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12 col-sm-6 hhd-2">
                        <div class="row bs-wizard" style="border-bottom:0;">

                            <div class="col-xs-1 bs-wizard-step complete">

                                <div class="progress">
                                    <div class="progress-bar"></div>
                                </div>
                                <a ui-sref="transferaccountstep1" class="bs-wizard-dot"></a>

                            </div>

                            <div class="col-xs-1 bs-wizard-step complete">
                                <!-- complete -->

                                <div class="progress">
                                    <div class="progress-bar"></div>
                                </div>
                                <a ui-sref="transferaccountstep2" class="bs-wizard-dot"></a>

                            </div>

                            <div class="col-xs-1 bs-wizard-step complete">
                                <!-- complete -->

                                <div class="progress">
                                    <div class="progress-bar"></div>
                                </div>
                                <a ui-sref="transferaccountstep3" href="#" class="bs-wizard-dot"></a>

                            </div>

                            <div class="col-xs-1 bs-wizard-step active">
                                <!-- active -->

                                <div class="progress">
                                    <div class="progress-bar"></div>
                                </div>
                                <a ui-sref="transferaccountstep4" class="bs-wizard-dot">
                                    <md-tooltip>
                                        Select Matched Portfolio
                                    </md-tooltip>
                                </a>

                            </div>
                            <div class="col-xs-1 bs-wizard-step disabled">
                                <!-- active -->

                                <div class="progress">
                                    <div class="progress-bar"></div>
                                </div>
                                <a ui-sref="transferaccountstep5" class="bs-wizard-dot"></a>

                            </div>
                            <div class="col-xs-1 bs-wizard-step disabled">
                                <!-- active -->

                                <div class="progress">
                                    <div class="progress-bar"></div>
                                </div>
                                <a href="javascript:void" class="bs-wizard-dot"></a>

                            </div>
                            <div class="col-xs-1 bs-wizard-step disabled">
                                <!-- active -->

                                <div class="progress">
                                    <div class="progress-bar"></div>
                                </div>
                                <a href="javascript:void" class="bs-wizard-dot"></a>

                            </div>
                            <div class="col-xs-1 bs-wizard-step disabled">
                                <!-- active -->

                                <div class="progress">
                                    <div class="progress-bar"></div>
                                </div>
                                <a href="javascript:void" class="bs-wizard-dot"></a>

                            </div>
                            <div class="col-xs-1 bs-wizard-step disabled">
                                <!-- active -->

                                <div class="progress">
                                    <div class="progress-bar"></div>
                                </div>
                                <a href="javascript:void" class="bs-wizard-dot"></a>

                            </div>
                        </div>





                    </div>


                    <div class="col-md-4 col-xs-12 col-sm-6 hhd-3">
                        <ul class="add_goal_buttons pull-right">
                            <li><button ui-sref="transferaccountstep3" class="md-raised btn-w-sm md-primary md-button md-ink-ripple btn-grey"
                                    type="button"><span class="ng-scope">Cancel</span><div class="md-ripple-container"></div></button></li>
                            <li><button ui-sref="transferaccountstep5" class="md-raised btn-w-sm md-primary md-button md-ink-ripple btn-save"
                                    type="button"><span class="ng-scope">Continue</span><div class="md-ripple-container"></div></button></li>
                        </ul>
                    </div>



                </div>

            </div>
        </div>


     

        <div class="row">

            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-body panel-body-inner panel-head-bold">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <h4>Leo's Fund</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6" ng-controller="transferCtrl">
                <div class="panel panel-default">
                    <div class="panel-body panel-body-inner panel-head-bold">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-2">
                                    <a href=""><i class="zmdi zmdi-chevron-left icn-15" ng-click="goTo()"></i></a>
                                </div>
                                <div class="col-md-8" style="text-align: center;">
                                    <h4>Recommended Portfolio : <b>{{nameData}}</b></h4>
                                </div>
                                <div class="col-md-2" style="text-align: right;">
                                    <a href=""><i class="zmdi zmdi-chevron-right icn-15" ng-click="goTo()"></i></a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-body panel-body-inner panel-head-bold" style="padding: 22px 75px !important;">
                        <div class="panel-body">
                            <div class="row" style="margin:23px 0;">
                                <div class="col-md-8">
                                    <canvas id="transferAccountDoughnut" style="height: 225px;"></canvas>
                                </div>

                                <div class="col-md-1" style="margin-top:65px;">
                                    <div id="transferAccount-legend" class="chart-legend"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6" ng-controller="transferCtrl">
                <div class="panel panel-default">
                    <div class="panel-body panel-body-inner panel-head-bold" style="padding: 22px 75px !important;min-height: 347px;">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <canvas id="matchedportfolioDoughnutStep4" style="height: 225px;"></canvas>
                                </div>

                                <div class="col-md-1">
                                    <div id="my-legendStep4" class="chart-legend"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="row">

            <div class="col-md-12">
                <div class="panel panel-default panel-minimal">

                    <div class="panel-body panel-body-inner panel-head-bold">
                        <h3>Portfolio Comparison</h3>
                    </div>
                    <div class="panel-body" style="padding-top: 38px;">

                        <table class="table no-margin table-goal">
                            <thead>
                                <tr>
                                    <th>Leo's Fund</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th>Matched Portfolio:Moderate</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr ng-repeat="clients in leosFundHoldings" style="border-bottom: 1px solid #DDDDDD;">
                                    <td>{{clients.Name}}</td>
                                    <td>{{clients.Symbol}}</td>
                                    <td>{{clients.Shares}}</td>
                                    <td style="border-top:0px;" ng-class="clients.Test<0?' color-danger':' color-success'">
                                        <span class="mfont">{{clients.Test>0?'(+' +clients.Test+'%)':clients.Test==0?'':'('+clients.Test+'%)'}}</span></td>
                                    <td style="width:20%">{{clients.PortfolioName}}</td>
                                    <td style="width:15%">{{clients.Percentage}}</td>
                                    <td style="width:15%">{{clients.Value}}</td>
                                </tr>
                            </tbody>

                        </table>

                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="panel panel-default panel-minimal">

                    <div class="panel-body panel-body-inner panel-head-bold">
                        <h3>Historical Performance</h3>
                    </div>
                    <div class="panel-body" style="padding-top: 38px;">

                        <canvas id="canvas" width="auto" height="100"></canvas>
                        </canvas>
                        <div class="col-md-6" style="margin-top: 10px;">
                            <div class="">
                                <span class="color-purple sp-pad"><b>Leo's Fund</b></span>
                                <span class="color-success sp-pad"><i class="fa fa-arrow-up"></i> 10.74%</span>
                                <span class="color-dd sp-pad" style="color:#73b1b6"><b>Matched Portfolio:Moderate</b></span>
                                <span class="color-success sp-pad"><i class="fa fa-arrow-up"></i> 13.26%</span>
                            </div>
                        </div>
                        <div class="col-md-4 col-md-offset-2">
                             <form action="#" class="form-horizontal form-datepicker-main head-date-right ng-pristine ng-valid">
                        <div class="form-body">
                            <div class="form-group">
                                <label class="control-label">Range:</label>
                                <div class="date-con-main">
                                    <div class="input-group input-large date-picker input-daterange">
                                        <datepicker date-format="MMMM dd, yyyy" class="form-control form-datepicker">
                                                	<input type="text" class="date-input form-control form-date-inner" ng-model="date1">
                                                </datepicker>
                                        - 
                                                <datepicker date-format="MMMM dd, yyyy" class="form-control form-datepicker">
                                                	<input type="text" class="form-control form-date-inner" ng-model="date2">
                                                </datepicker>
                                    </div>
                                </div>
                            
                            </div>
                        </div>
                    </form>

                        </div>


                    </div>
                </div>
            </div>

        </div>
