<style>

    md-input-container{width:100%}
</style>

<div class="page page-form" ng-controller="transferAccountCtrl">

    <div class="row ui-section" >

        <div class="panel panel-default">
            <div class="panel-body body-dark hhd">
               <div class="row">
                    <div class="col-md-2 col-xs-12 col-sm-6 hhd-1">
                        <div class="profile-info">
                            <div class="detail-cont">
                                ACCOUNT TRANSFER
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-xs-12 col-sm-6 hhd-2">
                       <div class="row bs-wizard" style="border-bottom:0;">
                
                <div class="col-xs-1 bs-wizard-step">
                  
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a ui-sref="transferaccountstep1" class="bs-wizard-dot"></a>
                 
                </div>
                
                <div class="col-xs-1 bs-wizard-step disabled">
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a ui-sref="transferaccountstep2" class="bs-wizard-dot"></a>
               <md-tooltip>Select Account</md-tooltip>
                </div>
                
                <div class="col-xs-1 bs-wizard-step disabled">
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="javascript:void" class="bs-wizard-dot"></a>
                  
                </div>
                
                <div class="col-xs-1 bs-wizard-step disabled">
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="javascript:void" class="bs-wizard-dot"></a>
                <md-tooltip>Select Matched Portfolio</md-tooltip>
                </div>
                  <div class="col-xs-1 bs-wizard-step disabled">
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                 <a href="javascript:void" class="bs-wizard-dot"></a>
                
                </div>
                  <div class="col-xs-1 bs-wizard-step disabled">
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="javascript:void" class="bs-wizard-dot"></a>
                
                </div>
                  <div class="col-xs-1 bs-wizard-step disabled">
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                 <a href="javascript:void" class="bs-wizard-dot"></a>
                
                </div>
                  <div class="col-xs-1 bs-wizard-step disabled">
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                 <a href="javascript:void" class="bs-wizard-dot"></a>
                
                </div>
                <div class="col-xs-1 bs-wizard-step disabled">
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                 <a href="javascript:void" class="bs-wizard-dot"></a>
                
                </div>
            </div>
        
        
        
        
        
	</div>
                   

                    <div class="col-md-4 col-xs-12 col-sm-6 hhd-3">
                        <ul class="add_goal_buttons pull-right">
                        <li><button class="md-raised btn-w-sm md-primary md-button md-ink-ripple btn-grey" type="button"><span class="ng-scope">Cancel</span><div class="md-ripple-container"></div></button></li>
                        <li><button ui-sref="transferaccountstep2" class="md-raised btn-w-sm md-primary md-button md-ink-ripple btn-save" type="button"><span class="ng-scope">Continue</span><div class="md-ripple-container"></div></button></li>
                        </ul>
                    </div>

               

                </div>

            </div>
        </div>

        <div class="panel panel-default">
             <div class="panel-body panel-body-inner panel-head-bold" style="padding: 22px 75px !important;">


                

                <div class="row">
                        <h2 class="outer-head">Disclaimer</h2>
                        <div layout="column" class="col-md-12" ng-cloak class="md-inline-form inputdemoBasicUsage">
                                <div layout-padding style="padding:77px 0">
                              <p class="ac-con">By entering and verifying your information, you will be requesting <br>{name of the firm} to transfer an account through our custodial institution. Please complete all field to the best of your ability. All the asked information is required to complete the account transfer with our custodial institution, including a current account by which to find the new account. Please contact us with any questions. Welcome to {name of the firm}!</p> 
                                <ul class="add_goal_buttons tcenter">
                        <li><button class="md-raised btn-w-sm md-primary md-button md-ink-ripple btn-grey" type="button"><span class="ng-scope">Cancel</span><div class="md-ripple-container"></div></button></li>
                        <li><button ui-sref="transferaccountstep2" class="md-raised btn-w-sm md-primary md-button md-ink-ripple btn-save" type="button"><span class="ng-scope">Continue</span><div class="md-ripple-container"></div></button></li>
                        </ul>    
 </div>
       </div></div>          

                </div>
            </div>



        </div>
    </div>
</div>