<style>
    md-input-container {
        width: 100%
    }
</style>

<div class="page page-form" ng-controller="transferAccountCtrl">
    <div class="row ui-section">


        <div class="panel panel-default">
            <div class="panel-body body-dark hhd" style="padding: 20px 0px 28px 25px !important;">
                <div class="row">

                    <div class="col-md-8 col-xs-12 col-sm-8 hhd-1">
                        <div class="profile-info">
                            <div class="detail-cont">
                               Congratulations, you have submitted your account application!
                            </div>
                        </div>
                    </div>

                



                </div>
            </div>
        </div>

       


                 <div class="panel panel-default">
             <div class="panel-body panel-body-inner panel-head-bold" style="padding: 22px 75px !important;">


                

                <div class="row">
                       
                        <div layout="column" class="col-md-12" ng-cloak class="md-inline-form inputdemoBasicUsage">
                                <div layout-padding style="padding:77px 0">
                              <p class="ac-con">Your advisor will reach out to you soon to let you know when the account has been funded.</p> 
                                <ul class="add_goal_buttons tcenter">
                        <li><button ui-sref="clientInvestmentMain" class="md-raised btn-w-sm md-primary md-button md-ink-ripple btn-grey" type="button"><span class="ng-scope">Continue</span><div class="md-ripple-container"></div></button></li>
                        <li><button  ui-sref="transferaccountstep1 " class="md-raised btn-w-sm md-primary md-button md-ink-ripple btn-save" type="button"><span class="ng-scope">Transfer Another Account</span><div class="md-ripple-container"></div></button></li>
                        </ul>    
 </div>
       </div></div>          

                </div>
            </div>



            
    </div>