<style>
    md-input-container{width:100%}
</style>

<div class="page page-form" ng-controller="transferAccountCtrl">
    <div class="row ui-section">
<div class="panel panel-default">
            <div class="panel-body body-dark hhd">
               <div class="row">

                    <div class="col-md-2 col-xs-12 col-sm-6 hhd-1">
                        <div class="profile-info">
                            <div class="detail-cont">
                                ACCOUNT TRANSFER
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-xs-12 col-sm-6 hhd-2">
                       <div class="row bs-wizard" style="border-bottom:0;">
                
                <div class="col-xs-1 bs-wizard-step complete">
                  
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a ui-sref="transferaccountstep1" class="bs-wizard-dot"></a>
                 
                </div>
                
                <div class="col-xs-1 bs-wizard-step complete"><!-- complete -->
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a ui-sref="transferaccountstep2" class="bs-wizard-dot"></a>
               
                </div>
                
                <div class="col-xs-1 bs-wizard-step complete"><!-- complete -->
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a ui-sref="transferaccountstep3" href="#" class="bs-wizard-dot"></a>
                  
                </div>
                
                <div class="col-xs-1 bs-wizard-step complete"><!-- active -->
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a ui-sref="transferaccountstep4" class="bs-wizard-dot"></a>
                
                </div>
                  <div class="col-xs-1 bs-wizard-step complete"><!-- active -->
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a ui-sref="transferaccountstep5" class="bs-wizard-dot"></a>
                
                </div>
                  <div class="col-xs-1 bs-wizard-step complete"><!-- active -->
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a ui-sref="transferaccountstep6" class="bs-wizard-dot"></a>
                
                </div>
                  <div class="col-xs-1 bs-wizard-step active"><!-- active -->
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a ui-sref="transferaccountstep7" class="bs-wizard-dot"></a>
                
                </div>
                  <div class="col-xs-1 bs-wizard-step disabled"><!-- active -->
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a ui-sref="transferaccountstep8" class="bs-wizard-dot"></a>
                
                </div>
                  <div class="col-xs-1 bs-wizard-step disabled"><!-- active -->
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="javascript:void" class="bs-wizard-dot"></a>
                
                </div>
            </div>
        
        
        
        
        
	</div>
                   

                    <div class="col-md-4 col-xs-12 col-sm-6 hhd-3">
                        <ul class="add_goal_buttons pull-right">
                        <li><button ui-sref="transferaccountstep6" class="md-raised btn-w-sm md-primary md-button md-ink-ripple btn-grey" type="button"><span class="ng-scope">Cancel</span><div class="md-ripple-container"></div></button></li>
                        <li><button ui-sref="transferaccountstep8" class="md-raised btn-w-sm md-primary md-button md-ink-ripple btn-save" type="button"><span class="ng-scope">Continue</span><div class="md-ripple-container"></div></button></li>
                        </ul>
                    </div>

               

                </div>

            </div>
        </div>

        <div class="panel panel-default">
             <div class="panel-body panel-body-inner panel-head-bold" style="padding: 22px 75px !important;">

                <div class="row">
                        <h2 class="outer-head">Fund Source</h2>
                         <div layout="column" class="col-md-4" style="margin-top: 20px;">
                               <h3>Document Upload</h3> 
                               <p>Please attach a photo of a voided check, deposit slip, or a copy of a bank statement below.</p>  
                                 <!--<input type="file" id="file" class="input-text" ngf-change="onChange($files)" ngf-select ng-model="picFile" name="attachement" accept="image/png, image/jpeg, image/jpg, application/msword, application/vnd.ms-excel, application/pdf " />
                                  <img ng-if="isImage(fileExt)" ngf-src="picFile[0]" class="thumb">-->
                                       <img style="width:60%;margin-top:10px;" src="images/document_upload.png">                         
                             </div>
                           
                        <div layout="column" class="col-md-8 border-lef" ng-cloak class="md-inline-form inputdemoBasicUsage">
                                <div layout-padding>
                                    <form class="account-form">
                                  <h3>Funds Transfer To New Accounts</h3>     
                        <div class="row">
        <div class="col-xs-6 form-group">
              <div layout layout-sm="column">
            <md-input-container>
            <label>Bank Name*</label>
            <input ng-model="step3.bankname">
            </md-input-container>
              </div>
        </div>
         <div class="col-xs-6 form-group">
            <md-input-container>
            <label>Account Tittle*</label>
            <input ng-model="step3.factitle">
            </md-input-container>
        </div>
          </div>
          <div class="row">
             <div class="col-xs-6 form-group">
            <md-input-container>
            <label>Account Number*</label>
            <input ng-model="step3.accountno">
            </md-input-container>
        </div>
         <div class="col-xs-6 form-group">
            <md-input-container>
            <label>Routing Number*</label>
            <input ng-model="step3.routingno">
            </md-input-container>
        </div>
                        </div>                        
                            <div class="row">
                                   <div class="col-xs-6 form-group">
                                        <md-input-container>
                                           <label>Account Type*</label>
                                            <md-select ng-model="step3.typeofaccount">
                                                    <md-option ng-repeat="accounts in accounttype" value="{{accounts.abbrev}}">
                                                        {{accounts.abbrev}}
                                                    </md-option>
                                                </md-select>
                                        </md-input-container>
                                    </div>
          
         <div class="col-xs-6 form-group">
            <md-input-container>
            <label>Transactions Amount*</label>
            <input ng-model="step3.transamount">
            </md-input-container>
        </div>
                        </div>
                      
                        
                           <div class="form-group">
                                            <div class="col-sm-4" style="margin-top: 15px; padding-left:0px;">Set Up Recurring Transfer?</div>
                                            <div class="col-sm-6 col-sm-offset-2">
                                                <md-switch ng-model="switchData.color1" aria-label="Default">{{ switchData.color1== true?'Yes':'No' }} </md-switch>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                         <h3>Account Details</h3>     
                                            <div class="row">
             <div class="col-xs-6 form-group">
            <md-input-container>
            <label>Name of Account*</label>
            <input ng-model="step3.acname">
            </md-input-container>
        </div>
      
                        </div>



  </form>
 </div>
       </div></div>          

                </div>
            </div>



        </div>
    </div>
</div>
</div>
</div>

