<style>
    md-input-container {
        width: 100%
    }
</style>

<div class="page page-form" ng-controller="transferAccountCtrl">

    <div class="row ui-section">

        <div class="panel panel-default">
            <div class="panel-body body-dark hhd">
                <div class="row">

                    <div class="col-md-2 col-xs-12 col-sm-6 hhd-1">
                        <div class="profile-info">
                            <div class="detail-cont">
                                ACCOUNT TRANSFER
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-xs-12 col-sm-6 hhd-2">
                        <div class="row bs-wizard" style="border-bottom:0;">

                            <div class="col-xs-1 bs-wizard-step complete">

                                <div class="progress">
                                    <div class="progress-bar"></div>
                                </div>
                                <a ui-sref="transferaccountstep1" class="bs-wizard-dot"></a>

                            </div>

                            <div class="col-xs-1 bs-wizard-step complete">
                                <!-- complete -->

                                <div class="progress">
                                    <div class="progress-bar"></div>
                                </div>
                                <a ui-sref="transferaccountstep2" class="bs-wizard-dot"></a>

                            </div>

                            <div class="col-xs-1 bs-wizard-step complete">
                                <!-- complete -->

                                <div class="progress">
                                    <div class="progress-bar"></div>
                                </div>
                                <a ui-sref="transferaccountstep3" href="#" class="bs-wizard-dot"></a>

                            </div>

                            <div class="col-xs-1 bs-wizard-step complete">
                                <!-- active -->

                                <div class="progress">
                                    <div class="progress-bar"></div>
                                </div>
                                <a ui-sref="transferaccountstep4" class="bs-wizard-dot"></a>

                            </div>
                            <div class="col-xs-1 bs-wizard-step complete">
                                <!-- active -->

                                <div class="progress">
                                    <div class="progress-bar"></div>
                                </div>
                                <a ui-sref="transferaccountstep5" class="bs-wizard-dot"></a>

                            </div>
                            <div class="col-xs-1 bs-wizard-step active">
                                <!-- active -->

                                <div class="progress">
                                    <div class="progress-bar"></div>
                                </div>
                                <a ui-sref="transferaccountstep6" class="bs-wizard-dot"></a>

                            </div>
                            <div class="col-xs-1 bs-wizard-step disabled">
                                <!-- active -->

                                <div class="progress">
                                    <div class="progress-bar"></div>
                                </div>
                                <a ui-sref="transferaccountstep7" class="bs-wizard-dot"></a>

                            </div>
                            <div class="col-xs-1 bs-wizard-step disabled">
                                <!-- active -->

                                <div class="progress">
                                    <div class="progress-bar"></div>
                                </div>
                                <a href="javascript:void" class="bs-wizard-dot"></a>

                            </div>
                            <div class="col-xs-1 bs-wizard-step disabled">
                                <!-- active -->

                                <div class="progress">
                                    <div class="progress-bar"></div>
                                </div>
                                <a href="javascript:void" class="bs-wizard-dot"></a>

                            </div>
                        </div>





                    </div>


                    <div class="col-md-4 col-xs-12 col-sm-6 hhd-3">
                        <ul class="add_goal_buttons pull-right">
                            <li><button ui-sref="transferaccountstep5" class="md-raised btn-w-sm md-primary md-button md-ink-ripple btn-grey"
                                    type="button"><span class="ng-scope">Cancel</span><div class="md-ripple-container"></div></button></li>
                            <li><button ui-sref="transferaccountstep7" class="md-raised btn-w-sm md-primary md-button md-ink-ripple btn-save"
                                    type="button"><span class="ng-scope">Continue</span><div class="md-ripple-container"></div></button></li>
                        </ul>
                    </div>



                </div>

            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body panel-body-inner panel-head-bold" style="padding: 22px 75px !important;">




                <div class="row">
                    <h2 class="outer-head">Account Details</h2>
                    <div layout="column" class="col-md-8 col-md-offset-2" ng-cloak class="md-inline-form inputdemoBasicUsage">
                        <div layout-padding>
                            <form class="account-form">
                                <h3>Personal Details</h3>
                                <div class="row">
                                    <div class="col-xs-6 form-group">
                                        <div layout layout-sm="column">
                                            <md-input-container>
                                                <label>Full name*</label>
                                                <input ng-model="step3.fullname">
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 form-group">
                                        <md-input-container>
                                            <label>Email*</label>
                                            <input ng-model="step3.email">
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6 form-group">
                                        <md-input-container>
                                            <label>Phone*</label>
                                            <input ng-model="step3.phone">
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-6 form-group">
                                        <md-datepicker ng-model="personal.DOb" md-placeholder="Date of birth"></md-datepicker>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-6 form-group">
                                        <md-input-container>
                                            <label>SSN*</label>
                                              <input type =text placeholder="###-##-####" ng-model="ssn" maxlength="9" name="ssn" validate-ssn/>
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-6 form-group">
                                        <md-input-container>
                                            <label>Annual Income*</label>
                                            <input ng-model="step3.annualincome">
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-3 form-group">
                                        <md-input-container>
                                            <label>City</label>
                                            <input ng-model="step3.city">
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-3 form-group">
                                        <md-input-container>
                                            <label>State</label>
                                            <md-select ng-model="user.state">
                                                <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                                                    {{state.abbrev}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-3 form-group">
                                        <md-input-container>
                                            <label>Zip Code*</label>
                                            <input ng-model="step3.zipcode">
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-3 form-group">
                                        <md-input-container>
                                            <label>Country*</label>
                                            <md-select ng-model="step3.country">
                                                <md-option ng-repeat="country in count" value="{{country.code}}">
                                                    {{country.name}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-2" style="margin-top: 15px; padding-left:0px;">Married</div>
                                    <div class="col-sm-6 col-sm-offset-4">
                                        <md-switch ng-model="switchData.married" aria-label="Default">{{ switchData.married === true?'Yes':'No' }} </md-switch>
                                    </div>
                                </div>

                                <div class="row" ng-show="switchData.married">
                                    <div class="col-xs-6 form-group">
                                        <md-input-container>
                                            <label>Spouse Full Name*</label>
                                            <input ng-model="step3.spousefullname">
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-6 form-group">
                                        <md-datepicker ng-model="dob4" md-placeholder="Date of birth"></md-datepicker>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-xs-6 form-group">
                                        <md-input-container>
                                            <label>Annual Income</label>
                                            <input ng-model="step3.spouseannualincome">
                                        </md-input-container>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-2" style="margin-top: 15px; padding-left:0px;">Children</div>
                                    <div class="col-sm-6 col-sm-offset-4">
                                        <md-switch ng-model="switchData.childerns" aria-label="Default">{{ switchData.childerns === true?'Yes':'No' }} </md-switch>
                                    </div>
                                </div>

                                <div class="row" ng-show="switchData.childerns">
                                    <div class="col-xs-6 form-group">
                                        <md-input-container>
                                            <label>Full Name*</label>
                                            <input ng-model="step3.childrenfullname">
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-6 form-group">
                                        <md-datepicker ng-model="dob3" md-placeholder="Date of birth"></md-datepicker>
                                    </div>
                                    <div class="row">
                                        <div class="add-ff col-md-8">
                                            <a href="">+ Add Child</a>
                                        </div>

                                    </div>
                                </div>



                                <!--gsg-->

                                <h3>Employment Details</h3>
                                <div class="row">
                                    <div class="col-xs-6 form-group">
                                        <div layout layout-sm="column">
                                            <md-input-container>
                                                <label>Work Status*</label>
                                                <input ng-model="step3.empworkstatus">
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 form-group">
                                        <md-input-container>
                                            <label>Employer Name*</label>
                                            <input ng-model="step3.empoyername">
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6 form-group">
                                        <md-input-container>
                                            <label>Occupation*</label>
                                            <input ng-model="step3.empoccupation">
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-6 form-group">
                                        <md-input-container>
                                            <label>Type of business*</label>
                                            <input ng-model="step3.emptypeofbuss">
                                        </md-input-container>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-6 form-group">
                                        <md-input-container>
                                            <label>Legal Status*</label>
                                            <input ng-model="step3.emplegalstatus">
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-6 form-group">
                                        <md-input-container>
                                            <label>Country of Dual or Secondary Citizenship*</label>
                                            <input ng-model="step3.empcitizenship">
                                        </md-input-container>
                                    </div>
                                </div>



                                <div class="row">
                                    <div class="col-xs-3 form-group">
                                        <md-input-container>
                                            <label>City</label>
                                            <input ng-model="step3.empcity">
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-3 form-group">
                                        <md-input-container>
                                            <label>State*</label>
                                            <md-select ng-model="user.state">
                                                <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                                                    {{state.abbrev}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>

                                    </div>
                                    <div class="col-xs-3 form-group">
                                        <md-input-container>
                                            <label>Zip Code*</label>
                                            <input ng-model="step3.empzipcode">
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-3 form-group">
                                        <md-input-container>
                                            <label>Country*</label>
                                            <md-select ng-model="step3.country">
                                                <md-option ng-repeat="country in count" value="{{country.code}}">
                                                    {{country.name}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>
                                </div>


                                <!--Additional details-->

                                <h3>Additional Details</h3>
                                <div class="form-group">
                                    <div class="col-sm-2" style="margin-top: 15px; padding-left:0px;">Trustee</div>
                                    <div class="col-sm-6 col-sm-offset-4">
                                        <md-switch ng-model="switchData.trustee" aria-label="Default">{{ switchData.trustee === true?'Yes':'No' }} </md-switch>
                                    </div>
                                </div>
                                <div class="row" ng-show="switchData.trustee">
                                    <div class="col-xs-6 form-group">
                                        <div layout layout-sm="column">
                                            <md-input-container>
                                                <label>Trustee*</label>
                                                <md-select ng-model="step3.trustee">
                                                    <md-option ng-repeat="trustee in trustees" value="{{trustee.abbrev}}">
                                                        {{trustee.abbrev}}
                                                    </md-option>
                                                </md-select>
                                              
                                            </md-input-container>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" ng-show="switchData.trustee">
                                    <div class="col-xs-6 form-group">
                                        <div layout layout-sm="column">
                                            <md-input-container>
                                                <label>Full Name*</label>
                                                <input>
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 form-group">
                                        <md-input-container>
                                            <label>Email*</label>
                                            <input>
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="row" ng-show="switchData.trustee">
                                    <div class="col-xs-6 form-group">
                                        <md-input-container>
                                            <label>SSN*</label>
                                             <input type =text placeholder="###-##-####" ng-model="ssn" maxlength="9" name="ssn" validate-ssn/>
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-6 form-group">
                                        <md-input-container>
                                            <label>Phone*</label>
                                            <input>
                                        </md-input-container>
                                    </div>
                                </div>





                                <div class="row" ng-show="switchData.trustee">
                                    <div class="col-xs-3 form-group">
                                        <md-input-container>
                                            <label>City</label>
                                            <input>
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-3 form-group">
                                        <md-input-container>
                                            <label>State</label>
                                            <md-select ng-model="user.state">
                                                <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                                                    {{state.abbrev}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-3 form-group">
                                        <md-input-container>
                                            <label>Zip Code*</label>
                                            <input>
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-3 form-group">
                                        <md-select ng-model="step3.country">
                                            <md-option ng-repeat="country in count" value="{{country.code}}">
                                                {{country.name}}
                                            </md-option>
                                        </md-select>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-sm-2" style="margin-top: 15px; padding-left:0px;">Beneficiary</div>
                                    <div class="col-sm-6 col-sm-offset-4">
                                        <md-switch ng-model="switchData.beneficiary" aria-label="Default">{{ switchData.beneficiary=== true?'Yes':'No' }} </md-switch>
                                    </div>
                                </div>

                                <div class="row" ng-show="switchData.beneficiary">
                                    <div class="col-xs-6 form-group">
                                        <div layout layout-sm="column">
                                            <md-input-container>
                                                <label>Beneficiary*</label>
                                                <md-select ng-model="step3.Beneficiary">
                                                    <md-option ng-repeat="Beneficiary in Beneficiaries" value="{{Beneficiary.abbrev}}">
                                                        {{Beneficiary.abbrev}}
                                                    </md-option>
                                                </md-select>
                                            </md-input-container>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" ng-show="switchData.beneficiary">
                                    <div class="col-xs-6 form-group">
                                        <div layout layout-sm="column">
                                            <md-input-container>
                                                <label>Beneficiary Type*</label>
                                                <md-select ng-model="step3.BeneficiaryType">
                                                    <md-option ng-repeat="BeneficiaryType in BeneficiariesType" value="{{BeneficiaryType.abbrev}}">
                                                        {{BeneficiaryType.abbrev}}
                                                    </md-option>
                                                </md-select>
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 form-group">
                                        <md-input-container>
                                            <label>Full Name*</label>
                                            <input>
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="row" ng-show="switchData.beneficiary">
                                    <div class="col-xs-6 form-group">
                                        <md-input-container>
                                            <label>SSN*</label>
                                            <input type=text placeholder="###-##-####" ng-model="ssn" maxlength="9" name="ssn" validate-ssn/>
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-6 form-group">
                                        <md-input-container>
                                            <label>Relationship*</label>
                                            <md-select ng-model="step3.Relationship">
                                                <md-option ng-repeat="Relationship in RelationshipType" value="{{Relationship.abbrev}}">
                                                    {{Relationship.abbrev}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>
                                </div>




                                <div class="row" ng-show="switchData.beneficiary">
                                    <div class="col-xs-3 form-group">
                                        <md-input-container>
                                            <label>City</label>
                                            <input>
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-3 form-group">
                                        <md-input-container>
                                            <label>State</label>
                                            <md-select ng-model="user.state">
                                                <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                                                    {{state.abbrev}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-3 form-group">
                                        <md-input-container>
                                            <label>Zip Code*</label>
                                            <input>
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-3 form-group">
                                        <md-select ng-model="step3.country">
                                            <md-option ng-repeat="country in count" value="{{country.code}}">
                                                {{country.name}}
                                            </md-option>
                                        </md-select>
                                    </div>
                                    <div class="row">
                                        <div class="add-ff col-md-8">
                                            <a href="">+ Add Beneficiary</a>
                                        </div>

                                    </div>
                                </div>






                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>



    </div>
</div>
</div>