<div class="page page-form" ng-controller="transferAccountCtrl">

    <div class="row ui-section" ng-controller="transferCtrl">
        <div class="panel panel-default">
            <div class="panel-body body-dark hhd">
               <div class="row">

                    <div class="col-md-2 col-xs-12 col-sm-6 hhd-1">
                        <div class="profile-info">
                            <div class="detail-cont">
                                ACCOUNT TRANSFER
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12 col-sm-6 hhd-2">
                       <div class="row bs-wizard" style="border-bottom:0;">
                
                <div class="col-xs-1 bs-wizard-step complete">
                  
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a ui-sref="transferaccountstep1" class="bs-wizard-dot"></a>
                 
                </div>
                
                <div class="col-xs-1 bs-wizard-step complete"><!-- complete -->
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a ui-sref="transferaccountstep2" class="bs-wizard-dot"></a>
               
                </div>
                
                <div class="col-xs-1 bs-wizard-step active"><!-- complete -->
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a ui-sref="transferaccountstep3" href="#" class="bs-wizard-dot"></a>
                  
                </div>
                
                <div class="col-xs-1 bs-wizard-step disabled"><!-- active -->
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a ui-sref="transferaccountstep4" class="bs-wizard-dot"><md-tooltip>
                                           Select Matched Portfolio
                                        </md-tooltip></a>
                
                </div>
                  <div class="col-xs-1 bs-wizard-step disabled"><!-- active -->
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="javascript:void" class="bs-wizard-dot"></a>
                
                </div>
                  <div class="col-xs-1 bs-wizard-step disabled"><!-- active -->
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="javascript:void" class="bs-wizard-dot"></a>
                
                </div>
                  <div class="col-xs-1 bs-wizard-step disabled"><!-- active -->
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="javascript:void" class="bs-wizard-dot"></a>
                
                </div>
                  <div class="col-xs-1 bs-wizard-step disabled"><!-- active -->
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="javascript:void" class="bs-wizard-dot"></a>
                
                </div>
                  <div class="col-xs-1 bs-wizard-step disabled"><!-- active -->
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="javascript:void" class="bs-wizard-dot"></a>
                
                </div>
            </div>
        
        
        
        
        
	</div>
                   

                    <div class="col-md-4 col-xs-12 col-sm-6 hhd-3">
                        <ul class="add_goal_buttons pull-right">
                        <li><button ui-sref="transferaccountstep2" class="md-raised btn-w-sm md-primary md-button md-ink-ripple btn-grey" type="button"><span class="ng-scope">Cancel</span><div class="md-ripple-container"></div></button></li>
                        <li><button ui-sref="transferaccountstep4" class="md-raised btn-w-sm md-primary md-button md-ink-ripple btn-save" type="button"><span class="ng-scope">Continue</span><div class="md-ripple-container"></div></button></li>
                        </ul>
                    </div>

               

                </div>

            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-body panel-body-inner panel-head-bold" style="padding: 22px 75px !important;">




                <div class="row">
                    <h2 class="outer-head">Questionnaire</h2>
                    <div layout="column" class="col-md-12" ng-cloak class="md-inline-form inputdemoBasicUsage">
                        <div layout-padding>


                            <span ng-repeat="question in questions">
                        <div layout layout-sm="column" >
                           <h4 class="heading-inner-group">
                            {{question.question}}
                            </h4>
                        </div>

                        <div layout layout-sm="column">
                            <md-radio-group ng-class='addDymCLass($index);' ng-model="question.selected" class="ui-md-radio-group-inline">
                                <md-radio-button ng-repeat="option in question.options" ng-value="option.value" aria-label="{{option.lable}}">
                                   {{option.lable}}
                                </md-radio-button>

                            </md-radio-group>
                        </div>
                    </span>




                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>
</div>