<style>

    md-input-container{width:100%}
</style>

<div class="page page-form" ng-controller="transferAccountCtrl">

    <div class="row ui-section">

      <div class="panel panel-default">
            <div class="panel-body body-dark hhd">
               <div class="row">
                    <div class="col-md-2 col-xs-12 col-sm-6 hhd-1">
                        <div class="profile-info">
                            <div class="detail-cont">
                                ACCOUNT TRANSFER
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-xs-12 col-sm-6 hhd-2">
                       <div class="row bs-wizard" style="border-bottom:0;">
                
                <div class="col-xs-1 bs-wizard-step complete">
                  
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a ui-sref="transferaccountstep1" class="bs-wizard-dot"></a>
                 
                </div>
                
                <div class="col-xs-1 bs-wizard-step active">
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a ui-sref="transferaccountstep2" class="bs-wizard-dot"></a>
               <md-tooltip>Select Account</md-tooltip>
                </div>
                
                <div class="col-xs-1 bs-wizard-step disabled">
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a ui-sref="transferaccountstep3" class="bs-wizard-dot"></a>
                  
                </div>
                
                <div class="col-xs-1 bs-wizard-step disabled">
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="javascript:void" class="bs-wizard-dot"></a>
                <md-tooltip>Select Matched Portfolio</md-tooltip>
                </div>
                  <div class="col-xs-1 bs-wizard-step disabled">
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                 <a href="javascript:void" class="bs-wizard-dot"></a>
                
                </div>
                  <div class="col-xs-1 bs-wizard-step disabled">
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="javascript:void" class="bs-wizard-dot"></a>
                
                </div>
                  <div class="col-xs-1 bs-wizard-step disabled">
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                 <a href="javascript:void" class="bs-wizard-dot"></a>
                
                </div>
                  <div class="col-xs-1 bs-wizard-step disabled">
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                 <a href="javascript:void" class="bs-wizard-dot"></a>
                
                </div>
                <div class="col-xs-1 bs-wizard-step disabled">
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                 <a href="javascript:void" class="bs-wizard-dot"></a>
                
                </div>
            </div>
        
        
        
        
        
	</div>
                   

                    <div class="col-md-4 col-xs-12 col-sm-6 hhd-3">
                        <ul class="add_goal_buttons pull-right">
                        <li><button class="md-raised btn-w-sm md-primary md-button md-ink-ripple btn-grey" type="button"><span class="ng-scope">Cancel</span><div class="md-ripple-container"></div></button></li>
                        <li><button ui-sref="transferaccountstep3" class="md-raised btn-w-sm md-primary md-button md-ink-ripple btn-save" type="button"><span class="ng-scope">Continue</span><div class="md-ripple-container"></div></button></li>
                        </ul>
                    </div>

               

                </div>

            </div>

        <div class="panel panel-default">
             <div class="panel-body panel-body-inner panel-head-bold" style="padding: 22px 75px !important;">


                

                <div class="row">
                        <h2 class="outer-head">Held-Away Account</h2>
                        <div layout="column" class="col-md-12" ng-cloak class="md-inline-form inputdemoBasicUsage">
      <div class="row">
                            <div class="col-md-8 col-md-offset-4">
                       <h4 class="heading-inner"></h4> 
                     

                        <div layout layout-sm="column">
                            <md-radio-group class="ui-md-radio-group">
                                <md-radio-button value="1">Leo's Fund</md-radio-button>
                                <md-radio-button value="2"> Grandpa's Retirement Plan </md-radio-button>
                                <md-radio-button value="3">Wife's Mortgage</md-radio-button>
                                 <md-radio-button value="4">Lorum Ipsum Name</md-radio-button>
                            </md-radio-group>
                        </div>
                            </div> 
                            
                         
                            
                         
                        </div>
       </div></div>          

                </div>
            </div>



        </div>
    </div>
</div>