<style>
/*    .control-border{border:none;}*/
    .panel-border-disclaimer {border:none;padding: 0px 60px 30px}
    .panel-header-padding-disclaimer {padding: 20px 0px 40px;}
    .btn-cont{margin-bottom: 6px;text-transform:none;}

    /*.footer-buttons{margin-right: 25px;}*/
    .btn-continue-margin{margin-right: 20px;}
    .mb-25{margin-bottom: 25px; }
    .nw-main-disclaimer{padding: 0 0px;}

    @media screen and (max-width:568px)and (min-width:320px){
        .panel-border-disclaimer{padding: 0px 20px 30px;}
        .panel-header-padding-disclaimer{padding: 20px 0px 20px;}
        .btn-continue-margin{margin-right: 10px;}
        .panel-body-disclaimer{font-size: 13px;}
    }
 
</style>

<div class="page page-form ng-scope">

<div class="row">
<div class="md-12">
<div class="panel panel-default panel-border-disclaimer " ng-controller="disclaimerController">
             <div class="panel-header panel-header-padding-disclaimer" >
                <div class="row nw-main nw-main-disclaimer">
                    <div class="col-xs-12">
                            <div  class="font-14">
                                <span class="bold font-16">Disclaimer</span> 
                            </div>
                    </div>
                </div>
            </div>
            <div class="panel-body-disclaimer" ng-init="getDisclaimer();">

              <p class="mb-25">{{disclaimer}}</p>

             </div>


    <div class="panel-footer">
        <div class="footer-buttons"> 
            <button class="md-raised btn-w-sm md-primary md-button md-ink-ripple btn-save btn-cont btn-save-margin" ng-click="disclaimerCount()" type="button">Got It</button>
        </div>
    </div>

</div>
</div>
</div>
</div>