<style>
  md-dialog {
    min-width: 338px
  }
  
  md-dialog .md-dialog-content {
    padding: 4px 22px;
  }
.confirm-diag h2 {
    font-size: 17px;
    font-weight: 600;
    color: #000;
    margin-top: 11px;
}
  .confirm-diag p{
    font-size: 14px;
    color: #696969;
}
.md-scroll-mask {
    background: rgba(0, 0, 0, 0.5) !important;
}

</style>
<md-dialog aria-label="Mango (Fruit)" ng-cloak>
  <form>

    <md-dialog-content>
      <div class="md-dialog-content confirm-diag" >
        <h2>Are you sure?</h2>
        <p>{{deleteText}}</p>
        <div class="row">
          <ul class="add_goal_buttons pull-right btns_add_goal" style="padding-top: 15px;">
            <li><button class="btn_AddGoal md-raised btn-w-sm md-primary md-button md-ink-ripple btn-grey" ng-click="cancel()" type="button"><span class="ng-scope">{{cancelLabel}}</span><div class="md-ripple-container"></div></button></li>
            <li><button class="btn_AddGoal md-raised btn-w-sm md-primary md-button md-ink-ripple btn-save" ng-click="deleteItem(deleteId)" type="button"><span class="ng-scope">{{successLabel}}</span><div class="md-ripple-container"></div></button></li>
          </ul>
        </div>
      </div>
    </md-dialog-content>

  </form>
</md-dialog>