<header class="top-header clearfix">
    <div ui-preloader></div>

    <!-- Logo -->
    <div class="logo">
        <!--<span class="logo-icon zmdi zmdi-view-dashboard"></span>-->
        <span class="logo-text"><img src="../../images/logo.png" class="main-logo"></span>
    </div>

    <div ng-controller="AppCtrl" layout="column" ng-cloak>
        <section layout="row" flex>
            <md-sidenav class="md-sidenav-right md-whiteframe-z2 side-nav-width valut_side side-mm-style"
                        md-component-id="right">

                <md-toolbar class="md-theme-light main-tool-top">
                    <ul class="nav-right pull-right list-unstyled">
                 
                        <li ng-controller="AppCtrls" class="md-open-icon">
                            <a ng-click="toggleRight();">
                                <i ng-class="'fa fa-outdent-icon'" aria-hidden="true"></i>

                            </a>
                        </li>
                    </ul>
                </md-toolbar>
                <md-content ng-controller="RightCtrl" class="valut_side side-mm-style" layout-padding>
                    <!--<md-list ng-controller="ListCtrl" class="right-menu-sec side-mm-style">
                        <md-list-item ng-click="onclickbank()">
                            <i class="fa fa-usd" aria-hidden="true"></i>
                            <p>Add a financial</p>
                        </md-list-item>
                        <md-list-item ng-click="onclickbank()">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i></i>
                            <p>Edit a financial</p>
                        </md-list-item>
                        <md-list-item ui-sref="openaccountstep1" ng-click="toggleRight();">
                            <i class="fa fa-university" aria-hidden="true"></i>
                            <p>Open an account</p>
                        </md-list-item>
                        <md-list-item ui-sref="transferaccountstep1" ng-click="toggleRight();">
                            <i class="fa fa-random" aria-hidden="true"></i>
                            <p>Transfer an account</p>
                        </md-list-item>
                        <md-list-item ui-sref="page.addGoalStep1" ng-click="toggleRight();getCurrentRoute();">
                            <i class="fa fa-bullseye" aria-hidden="true"></i>
                            <p>Add a goal</p>
                        </md-list-item>
                        <md-list-item ui-sref="editgoalstep1" ng-click="toggleRight();">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            <p>Edit a goal</p>
                        </md-list-item>


                    </md-list>-->

                    <md-list  class="right-menu-sec side-mm-style">
				       <md-list-item ng-click="toggleRight();getCurrentRoute();">
						   <a ui-sref="page.addFinancial">
						  <i class="fa fa-usd" aria-hidden="true"></i>
						  <span>Add Financial</span></a>
					  </md-list-item>
  
				      <md-list-item ng-click="toggleRight();">
						    <a>
						  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
						  <span>Edit Financial</span></a>
					  </md-list-item>

					 <md-list-item ng-controller="sideBarController" >
						   <a ui-sref="page.openaccountstep1" ng-click="toggleRight();resetAccount();">
						  <i class="fa fa-university" aria-hidden="true"></i>
						  <span>Open Account</span></a>
					  </md-list-item>

					   <md-list-item ng-click="toggleRight();">
						   <a ui-sref="transferaccountstep1">
						  <i class="fa fa-random" aria-hidden="true"></i>
						  <span>Transfer Account</span></a>
					  </md-list-item>
  
   
				    <md-list-item ng-click="toggleRight();getCurrentRoute();">
				        <a ui-sref="page.addGoalStep1">
						  <i class="fa fa-bullseye" aria-hidden="true"></i>
						  <span>Add Goal</span></a>
				  </md-list-item>

				  <md-list-item ng-click="toggleRight();getCurrentRoute();">
					   <a ui-sref="page.editgoalstep1">
					  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
					  <span>Edit Goal</span></a>
				  </md-list-item>
  
   
				</md-list>
                </md-content>
            </md-sidenav>
        </section>
    </div>

    <!-- needs to be put after logo to make it work -->
    <div class="menu-button">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </div>

    <div class="top-nav">
        <!-- This is breadcrumb links -->
        <ul class="nni list-unstyled fleft">
            <li><span ncy-breadcrumb-text ncy-breadcrumb-text-separator=" / "></span>
            </li>
        </ul>
        <ul class="nav-left list-unstyled">
            <li>
                <a href="#/"
                   data-toggle-nav-collapsed-min
                   md-button
                   aria-label="toggle-nav-collapsed-min"
                   class="toggle-min"><i class="zmdi zmdi-menu"></i></a>
            </li>
        </ul>
           

        <ul class="nav-right pull-right list-unstyled">

                   <li class="list-hover-mm">

                <a target="_blank" href="https://dashboardsupport.zendesk.com/hc/en-us">
                    <i ng-class="'fa fa-question-circle-o fa-lg'" aria-hidden="true"></i>

                </a>
            </li>

            <li ng-controller="AppCtrls" class="" style="border-left: 1px solid #DADADA;">

                <a ng-click="toggleRight();" style="min-width:65px;">
                    <i ng-class="'fa fa-indent-icon'" aria-hidden="true"></i>

                </a>
            </li>
        </ul>
    </div>
</header>
