<header class="top-header clearfix">
    <div ui-preloader></div>

    <!-- Logo -->
    <div class="logo">
        <!--<span class="logo-icon zmdi zmdi-view-dashboard"></span>-->
        <span class="logo-text"><img src="../../images/logo.png" class="main-logo"></span>
    </div>

    <div ng-controller="AppCtrl" layout="column" ng-cloak>
  <section layout="row" flex>
     <md-sidenav class="md-sidenav-right md-whiteframe-z2 side-nav-width valut_side side-mm-style" md-component-id="right">
	 
      <md-toolbar class="md-theme-light main-tool-top">
	  
        <ul class="nav-right pull-right list-unstyled">
         <li ng-controller="AppCtrls" class="md-open-icon" >
                <a ng-click="toggleRight();">
                  <i ng-class="'fa fa-outdent-icon'" aria-hidden="true"></i>
               
                </a>
            </li>
        </ul>
      </md-toolbar>
      <md-content ng-controller="RightCtrl" class="valut_side side-mm-style" layout-padding>
        
       <md-list ng-controller="ListCtrl" class="right-menu-sec side-mm-style">
         
         <md-list-item >
		   <a ui-sref="page.advisor.contacts.create" ng-click="toggleRight();">
		  <i class="fa fa-plus" aria-hidden="true"></i>
		  <span>Create Contact</span></a>
		 </md-list-item>
  
		  <md-list-item >
		   <a ui-sref="page.advisor.contacts.invite" ng-click="toggleRight();">
		  <i class="fa fa-user" aria-hidden="true"></i>
		  <span>Invite a User</span></a>
		  </md-list-item>
  
	   </md-list>
      </md-content>
    </md-sidenav>
  </section>
</div>

    <!-- needs to be put after logo to make it work -->
    <div class="menu-button">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </div>

    <div class="top-nav">
        <!-- This is breadcrumb links -->
        <ul class="nni list-unstyled fleft">
            <li><span ncy-breadcrumb-text ncy-breadcrumb-text-separator=" / "></span>
            </li>
        </ul>
        <ul class="nav-left list-unstyled">
            <li>
                <a href="#/"
                   data-toggle-nav-collapsed-min
                   md-button
                   aria-label="toggle-nav-collapsed-min"
                   class="toggle-min"><i class="zmdi zmdi-menu"></i></a>
            </li>
        </ul>

        <ul class="nav-right pull-right list-unstyled">
             <li class="list-hover-mm">

                <a target="_blank" href="https://support.oranjadvisor.com/hc/en-us">
                    <i ng-class="'fa fa-question-circle-o fa-lg'" aria-hidden="true"></i>

                </a>
            </li>
            <li ng-controller="AppCtrls" style="border-left: 1px solid #DADADA;">

                <a ng-click="toggleRight();" style="min-width:65px;">
                    <i ng-class="'fa fa-indent-icon'" aria-hidden="true"></i>

                </a>
            </li>
        </ul>
    </div>
</header>
