<div class="nav-wrapper left-side-nav"  toggle-nav-collapse-min>
    <ul id="nav" class="main-nav nav nav-mm scroll-body" data-slim-scroll data-collapse-nav>
        <li>
            <a md-button aria-label="meanu" ui-sref-active="focusOptions" ui-sref="page.client.home.dash">
                <i class="fa fa-home"></i>
                <span>Home</span>
            </a>
        </li>
         <li>
            <a md-button aria-label="meanu" ui-sref-active="focusOptions" ui-sref="page.advisor.advisor.info">
                <i class="fa fa-user"></i>
                <span>Advisor</span>
            </a>
        </li>
        <li>
            <a md-button aria-label="meanu" ui-sref-active="focusOptions" ui-sref="page.client.feed.activity">
                <i class="fa fa-bell"></i>
                <span>Feed</span>
            </a>
        </li>
        <li>
            <a md-button aria-label="meanu" ui-sref-active="focusOptions" ui-sref="page.client.vault-home.dashboard">
                <i class="fa fa-lock"></i>
                <span>Vault</span>
            </a>
        </li>

        <!-- Use sub-menu-open-on to select specified state to when to open sub menu-->
        <li>
            <a md-button aria-label="meanu" ui-sref-active="focusOptions" ui-sref="page.messages">
                <i class="fa fa-comments-o"></i>
                <span>Messages</span>
            </a>
        </li>


        <li>
            <a md-button aria-label="meanu" ui-sref-active="focusOptions" ui-sref="page.client.settings.info">
                <i class="fa fa-cog"></i>
                <span>Settings</span>
            </a>
        </li>
         <li>
            <a md-button aria-label="meanu" ui-sref-active="focusOptions" ui-sref="page.disclaimer" ng-click="setPrevPath();">
                <i class="fa fa-map"></i>
                <span>Disclaimer</span>
            </a>
        </li>

        <li class="text-normal  nav-profile">
            <a ui-sref="page.client.settings.info" style="text-align:center" md-button>
                <img ng-src="{{avatarUrl}}" alt="" class="img-circle">
                <i class="fa fa-circle profile-on"></i>
            </a>
            <ul class="setting-myprofile">
                <li><a ui-sref="page.client.settings.info">My Profile</a></li>
                <li><a ng-click="signOut()" style="cursor:pointer">Sign Out</a></li>
            </ul>
        </li>


    </ul>
    <ul class="sub-nav">
        <li>
            <a class="toggle-min toggle-nav toggle-nav-collapse-min" ng-click="toggleSubNav()"
               aria-label="toggle-nav-collapsed-min"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
        </li>
        <!--Client sub-menu-->
        <li sub-menu-open-on="page.client.home" sub-menu-open-required="true" class=" client-dash-sub-nav nav-inner" >
            <ul class="nav-inner scroll-body" data-slim-scroll>
                <li ui-sref-active="highlightsub">
                    <a aria-label="meanu"  ui-sref="page.client.home.dash">
                        Summary
                    </a>
                </li>
                <li>

                    <a aria-label="meanu" ui-sref="page.client.home.goal.dashboard" ui-sref-active="highlightsub">
                        Goal
                    </a>
                    <!-- Goals sub menu -->
                    <ul class="nav-inner-list" sub-menu-open-on="page.client.home.goal">
                        <!-- Generate the list dynamically -->
                        <li ng-repeat="goal in goalsList"   ui-sref-active="highlightsub">
                            <a aria-label="meanu" ui-sref="page.client.home.goal.id({goalId:goal.id, goalName:goal.name})">
                                {{goal.name}}
                            </a>
                        </li>
                    </ul>
                </li>


                <li>
                    <a aria-label="meanu" ui-sref="page.client.home.investment.dash" ui-sref-active="highlightsub">
                        Investments
                    </a>
                    <ul class="nav-inner-list" sub-menu-open-on="page.client.home.investment">
                        <li ng-repeat="accounts in global.investmentAccountSideList" ui-sref-active="highlightsub">
                            <a  aria-label="meanu" ui-sref="page.client.home.investment.specific({'id':accounts.accountId,'name':accounts.name})">
                                <span>{{accounts.name}}</span>
                            </a>
                        </li>
                    </ul>
                </li>


                <li>
                    <a aria-label="meanu" ui-sref="page.client.home.networth.dash" ui-sref-active="highlightsub">Net
                        Worth</a>
                </li>


                <li><a aria-label="meanu" ui-sref="page.client.home.insurance.dash" ui-sref-active="highlightsub">
                    Insurance
                </a>
                <ul class="nav-inner-list" sub-menu-open-on="page.client.home.insurance">
                        <li ui-sref-active="highlightsub">
                            <a aria-label="meanu" ui-sref="page.client.home.insurance.specificLife">
                                <span>Life</span>
                            </a>
                        </li>
                        <li ui-sref-active="highlightsub">
                            <a aria-label="meanu" ui-sref="page.client.home.insurance.specificLTC">
                                <span>Long Term Care</span>
                            </a>
                        </li>
                        <li ui-sref-active="highlightsub">
                            <a aria-label="meanu" ui-sref="page.client.home.insurance.specificLTD">
                                <span>Long Term Disability</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <!--   <li><a aria-label="meanu" ui-sref="page.client.home.accounts.dash" ui-sref-active="highlightsub">Accounts</span>
                  </a>
                  </li> -->

                <li>
                    <a aria-label="meanu" ui-sref="page.client.home.accounts.dash" ui-sref-active="highlightsub">
                        <span>Accounts</span> <!--ng-class="{highlightsub:global.sharedData.currentState=='page.client.home.accounts.dash' || global.sharedData.currentState=='page.client.home.accounts.specific'}"-->
                    </a>
                    <ul class="nav-inner-list" sub-menu-open-on="page.client.home.accounts">
                        <li ng-repeat="acc in sideAccountList" ui-sref-active="highlightsub">
                            <a aria-label="meanu" ui-sref="page.client.home.accounts.specific({id:acc.accountId,accountName:acc.name})"
                               ng-class="{highlightsub: (acc.accountId==global.sharedData.accountId)}">
                                <span>{{acc.name}}</span>
                            </a>
                        </li>
                    </ul>
                </li>



            </ul>
        </li>

         <li sub-menu-open-on="page.advisor.advisor" sub-menu-open-required="true" class="nav-inner">
            <ul id="nav" class="nav-inner" data-slim-scroll>
                <li>
                    <a aria-label="meanu" ui-sref-active="highlightsub" ui-sref="page.advisor.advisor.info">
                        Advisor Info
                    </a>
                </li>

            </ul>
        </li>

		<li sub-menu-open-on="page.client.feed" sub-menu-open-required="true" class="nav-inner">
            <ul class="nav-inner" data-slim-scroll>
                <li>
                    <a aria-label="meanu" ui-sref-active="highlightsub" ui-sref="page.client.feed.activity">
                        Activity Feed
                    </a>
                </li>
                 <li>
                    <a aria-label="meanu" ui-sref-active="highlightsub" ui-sref="page.client.feed.systemNotification">
                       System Notification
                    </a>
                </li>
			</ul>
        </li>

        <li sub-menu-open-on="page.client.vault-home" sub-menu-open-required="true" class="nav-inner">
            <ul  id="" class="nav-inner" style="background:#294763 !important;height: 100% !important;">

                <li>
                    <div class="vault-item-upload" >
                        <p>
                            <span>Vault ({{global.fileCount}})</span>
                            <a ng-click="vaultClientClick('vaultupload')"
                               href="javascript:void(0)">
                                <i class="fa fa-plus" ng-show="!global.sharedData.isRootFolder && currentState !='page.client.vault-home.recent' && currentState !='page.client.vault-home.search'" >

                                </i>
                            </a>

                            <i class="fa fa-plus" ng-init="add=false;" ng-show="global.sharedData.isRootFolder && currentState !='page.client.vault-home.recent' && currentState !='page.client.vault-home.search'" ng-click="add = !add">

                            </i>
                        </p>
                        <div ng-show="global.sharedData.isRootFolder">
                            <ul ng-show="add" class="ul-dropdown">
                                <li>
                                    <a ng-click="add = !add;vaultClientClick('vaultupload')" href="javascript:void(0)"   >
                                        <i class="file-upload-icon img-icon"></i>
                                        File upload
                                    </a>
                                </li>
                                <li>
                                    <a href="" ng-click="add = !add;vaultClientClick('newFolder')"><i class="addnew-folder img-icon"></i>New folder</a>
                                </li>
                            </ul>
                        </div>
                        <div class="inpSearch">
                            <input type="text" placeholder="Search file" class="inpStyl" ng-model="$parent.searchKeyword" ng-enter="searchVault(searchKeyword)"> <!--ng-change="vaultClientClick('vaultSearch',searchKeyword)"-->
                            <i class="fa fa-search" ng-click="searchVault(searchKeyword)"></i>
                        </div>
                    </div>

                </li>
                <li>
                    <ul class="nav-inner" data-slim-scroll data-collapse-nav>
                        <li>
                            <a aria-label="meanu"  ui-sref-active="highlightsub" ui-sref="page.client.vault-home.recent">
                                <span>Recent</span>
                            </a>
                        </li>
                        <li>
                            <a aria-label="meanu" ui-sref-active="highlightsub" ui-sref="page.client.vault-home.dashboard">
                                <span>My Vault</span>
                            </a>
                            <div class="nav-inner-list" ng-show="vaultActive=='init' || vaultActive=='folder'"
                                ng-repeat="item in global.sharedData.sideVaultList  | filter: sideVaultSearch  ">
                                    <a aria-label="meanu" style="cursor:pointer"  ui-sref-active="highlightsub" ui-sref="page.client.vault-home.folder({folderName:item.folder})">
                                        <span>{{item.folder}}</span>
                                    </a>
                            </div>
                        </li>
                        <!--<li>
                            <a aria-label="meanu" ui-sref="page.client.vault-home" ng-class="{'underline': isStarredActive}" ng-click="starredVault();">
                            	<span >Starred</span>
                            </a>
                        </li>-->
                    </ul>
                </li><!--End Client sub-menu-->

            </ul>
        </li>


        <li sub-menu-open-on="page.client.settings" sub-menu-open-required="true" class="nav-inner">
            <ul class="nav-inner" data-slim-scroll>
                <li>
                    <a aria-label="meanu" ui-sref-active="highlightsub" ui-sref="page.client.settings.info">
                        Profile Info
                    </a>
                </li>
                <li>
                    <a aria-label="meanu" ui-sref-active="highlightsub" ui-sref="page.client.settings.privacy">
                        Privacy Settings
                    </a>
                </li>
                <li>
                    <a aria-label="meanu" ui-sref-active="highlightsub" ui-sref="page.client.settings.password">
                        Password Settings
                    </a>
                </li>
                 <li>
                    <a aria-label="meanu" ui-sref-active="highlightsub" ui-sref="page.client.settings.credentials">
                        Credentials
                    </a>
                </li>
            </ul>
        </li>


    </ul>
</div>
