

<div class="nav-wrapper left-side-nav" ng-controller="sideBarController" toggle-nav-collapse-min>
    <ul id="nav" class="nav nav-mm scroll-body" data-slim-scroll data-collapse-nav>
        <li>
            <a md-button aria-label="meanu" ui-sref-active="focusOptions" ui-sref="page.client.home.dash" >
                <i class="fa fa-home"></i>
                <span>Home</span>
            </a>
        </li>
        <li>
            <a md-button aria-label="meanu" ui-sref-active="focusOptions" ui-sref="page.client.feed">
                <i class="fa fa-bell"></i>
                <span>Feed</span>
            </a>
        </li>
        <li>
            <a md-button aria-label="meanu" ui-sref-active="focusOptions" ui-sref="page.client.vault-home"
               >
                <i class="fa fa-lock"></i>
                <span>Vault</span>
            </a>
        </li>

        <!-- Use sub-menu-open-on to select specified state to when to open sub menu-->
        <li>
            <a md-button aria-label="meanu" ui-sref-active="focusOptions" ui-sref="page.messages">
                <i class="fa fa-comments-o"></i>
                <span>Messages</span>
            </a>
        </li>

         <li>
            <a md-button aria-label="meanu" ui-sref-active="focusOptions" ui-sref="page.advisor.home" >
                <i class="fa fa-home"></i>
                <span>Advisor Dash</span>
            </a>
        </li>

          <li>
            <a md-button aria-label="meanu" ui-sref-active="focusOptions" ui-sref="page.advisor.admin.firminfo" >
                <i class="fa fa-user"></i>
                <span>Admin</span>
            </a>
        </li>
        <li >
            <a md-button aria-label="meanu" ui-sref-active="focusOptions" ui-sref="page.client.settings.info" >
                <i class="fa fa-cog"></i>
                <span>Settings</span>
            </a>
        </li>

        <li class="text-normal  nav-profile">
            <a ui-sref="page.client.settings.info" style="text-align:center" md-button>
                <img ng-src="{{avatarUrl}}" alt="" class="img-circle">
                <i class="fa fa-circle profile-on"></i>
            </a>
            <ul class="setting-myprofile">
                <li><a ui-sref="page.client.settings.info">My Profile</a></li>
                <li><a ng-click="signOut()" style="cursor:pointer">Signout</a></li>
            </ul>
        </li>


    </ul>
    <ul class="sub-nav">
        <li>
            <a class="toggle-min toggle-nav toggle-nav-collapse-min" ng-click="toggleSubNav()"
               aria-label="toggle-nav-collapsed-min"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
        </li>
        <!--Client sub-menu-->
            <li sub-menu-open-on="page.client.home" sub-menu-open-required="true" class=" client-dash-sub-nav">
            <ul id="nav" class="nav-inner scroll-body" data-slim-scroll>
                <li>
                    <a aria-label="meanu" ui-sref-active="highlightsub" ui-sref="page.client.home.dash">
                        Summary
                    </a>
                </li>
                <li>

                    <a aria-label="meanu" ui-sref="page.client.home.goal.dashboard" ui-sref-active="highlightsub">
                        Goal
                    </a>
                    <!-- Goals sub menu -->
                    <ul class="nav-inner-list"  sub-menu-open-on="page.client.home.goal">
                        <!-- Generate the list dynamically -->
                        <li ng-repeat="goal in goalsList">
                            <a aria-label="meanu" ui-sref="page.client.home.goal.id({id:goal.id})"
                               ui-sref-active="highlightsub">
                                {{goal.name}}
                            </a>
                        </li>
                    </ul>
                </li>

                <li>

                    <a aria-label="meanu" ui-sref="page.client.home.investment.dash" ui-sref-active="highlightsub">
                        Investments
                    </a>
                    <ul class="nav-inner-list" sub-menu-open-on="page.client.home.investment">
                        <!-- Generate the list dynamically -->
                        <li>
                            <a aria-label="meanu" ui-sref="page.client.home.investment.leosFund" ui-sref-active="highlightsub">
                                <span>Leo's Fund</span>
                            </a>
                        </li>
                    </ul>
                </li>



                <li>
                    <a aria-label="meanu" ui-sref="page.client.home.networth.dash" ui-sref-active="highlightsub">Net
                        Worth</a>
                </li>


                <li><a aria-label="meanu" ui-sref="page.client.home.insurance.dash" ui-sref-active="highlightsub">
                    Insurance
                </a>
                </li>

              <!--   <li><a aria-label="meanu" ui-sref="page.client.home.accounts.dash" ui-sref-active="highlightsub">Accounts</span>
                </a>
                </li> -->
                 <li>
                    <a aria-label="meanu" ui-sref="page.client.home.accounts.dash"  ng-class="{highlightsub:global.sharedData.currentState=='page.client.home.accounts.dash' || global.sharedData.currentState=='page.client.home.accounts.specific'}"><span>Accounts</span> </a>
                    <ul class="nav-inner-list"  ng-repeat="acc in sideAccountList">
                       <li><a aria-label="meanu" ng-class="{highlightsub: (acc.yodleeItemAccountId==global.sharedData.yodleeItemAccountId)}"><span ng-click="clientAccSpecific(acc.yodleeItemAccountId,acc.accountName)">{{acc.accountName}} </span></a></li>
                    </ul>
                </li>


            </ul>
        </li>

        <!--<li sub-menu-open-on="page.client.feed" sub-menu-open-required="true">-->
            <!--<ul id="nav" class="nav-inner" data-slim-scroll>-->
                <!--<li>-->
                    <!--<a aria-label="meanu" ui-sref-active="highlightsub" ui-sref="page.client.feed">-->
                        <!--Activity Feed-->
                    <!--</a>-->
                <!--</li>-->
                 <!--<li>-->
                    <!--<a aria-label="meanu" ui-sref-active="highlightsub" ui-sref="page.systemNotification">-->
                       <!--System Notification-->
                    <!--</a>-->
                <!--</li>-->



            <!--</ul>-->
        <!--</li>-->


        <li sub-menu-open-on="page.client.vault-home" sub-menu-open-required="true">

            <ul ng-controller="VaultHomeCtrl" id="" class=""
                style="background:#294763 !important;height: 100% !important;">

                <li>
                    <div class="vault-item-upload">
                        <p>
                            <span>Files ({{fileCount}})</span>
                            <i class="fa fa-plus" ng-init="add=false;" ng-click="add = !add"></i>
                        </p>
                        <ul ng-show="add" class="ul-dropdown custom-dropdown">
                            <li>
                                <a ng-click="add = !add" id="vaultUpload" href="javascript:void(0)">
                                    <i class="file-upload-icon img-icon"></i>
                                    File upload
                                </a>
                            </li>
                            <li><a href="" ng-click="showHideDiv()"><i class="addnew-folder img-icon"></i>New folder</a>
                            </li>
                        </ul>
                        <div class="inpSearch">
                            <input type="text" placeholder="Search file" class="inpStyl">
                            <i class="fa fa-search"></i>
                        </div>
                    </div>

                </li>
                <li>
                    <ul id="nav" class="nav-inner" data-slim-scroll data-collapse-nav>
                        <li>
                            <a aria-label="meanu" ng-class="{highlightsub: isRecentActive}" ng-click="recentVault();" ui-sref="page.client.vault-home">
                                <span>Recent</span>
                            </a>
                        </li>
                        <li>
                            <a aria-label="meanu" ng-class="{highlightsub: isVaultActive}" ng-click="initVault();" ui-sref="page.client.vault-home">
                                <span>My Vault</span>
                            </a>
                             <ul class="nav-inner-list" ng-show="isVaultActive" ng-repeat="item in global.sharedData.sideVaultList">
                               <li><a aria-label="meanu" ng-class="{highlightsub: global.vaultsFolderName==item.folder}"><span ng-click="getFolderData(item.folder);">{{item.folder}} </span></a></li>
                            </ul>
                        </li>
                        <!--<li>
                            <a aria-label="meanu" ui-sref="page.client.vault-home" ng-class="{'underline': isStarredActive}" ng-click="starredVault();">
                            	<span >Starred</span>
                            </a>
                        </li>
                    </ul>
                </li><!--End Client sub-menu-->

            </ul>
        </li>

<li sub-menu-open-on="page.advisor.admin" sub-menu-open-required="true">
            <ul id="nav" class="nav-inner" data-slim-scroll>
                <li>
                    <a aria-label="meanu" ui-sref-active="highlightsub" ui-sref="page.advisor.admin.firminfo">
                    Firm Info
                    </a>
                </li>
                  <li>

                    <a aria-label="meanu"  ui-sref="page.advisor.admin.advisors.dash" ui-sref-active="highlightsub">
                        Advisors
                    </a>
                    <!-- Goals sub menu -->
                    <ul class="nav-inner-list" sub-menu-open-on="page.advisor.admin.advisors" >
                        <!-- Generate the list dynamically -->
                        <li>
                            <a aria-label="meanu" ui-sref-active="highlightsub">
                                <span>Donna</span>
                            </a>
                        </li>
                         <li>
                            <a aria-label="meanu" ui-sref-active="highlightsub">
                                <span>Kristopher</span>
                            </a>
                        </li>
                         <li>
                            <a aria-label="meanu" ui-sref-active="highlightsub">
                                <span>Emily Lurene</span>
                            </a>
                        </li>
                         <li>
                            <a aria-label="meanu" ui-sref="page.advisor.admin.advisors.individual" ui-sref-active="highlightsub">
                                <span>Thomas</span>
                            </a>
                        </li>
                         <li>
                            <a aria-label="meanu" ui-sref-active="highlightsub">
                                <span>John Christian</span>
                            </a>
                        </li>
                    </ul>
                </li>


                 <li>
                    <a aria-label="meanu" ui-sref-active="highlightsub" ui-sref="page.advisor.admin.questionnaire">
                       Questionnaire
                    </a>
                </li>

                 <li>
                    <a aria-label="meanu" ui-sref-active="highlightsub" ui-sref="page.advisor.admin.matchedportfolios">
                     Matched Portfolios
                    </a>
                </li>
                 <li>
                    <a aria-label="meanu" ui-sref-active="highlightsub" ui-sref="page.advisor.admin.userdetails">
                     User Details
                    </a>
                </li>
                 <li>
                    <a aria-label="meanu" ui-sref-active="highlightsub" ui-sref="page.advisor.admin.managedaccounts">
                     Managed Accounts
                    </a>
                </li>
            </ul>
        </li>

        <li sub-menu-open-on="page.client.settings" sub-menu-open-required="true">
            <ul id="nav" class="nav-inner" data-slim-scroll>
                <li>
                    <a aria-label="meanu" ui-sref-active="highlightsub" ui-sref="page.client.settings.info">
                        Profile Info
                    </a>
                </li>
                 <li>
                    <a aria-label="meanu" ui-sref-active="highlightsub" ui-sref="page.client.settings.privacy">
                       Privacy Settings
                    </a>
                </li>
                 <li>
                    <a aria-label="meanu" ui-sref-active="highlightsub" ui-sref="page.client.settings.password">
                       Password Settings
                    </a>
                </li>
            </ul>
        </li>

        <!--<li ng-show="Client_sub_mm">
            <ul id="nav" class="nav-inner" data-slim-scroll data-collapse-nav>
                <li>
                    <a aria-label="meanu" ng-class="profileinfo ?'highlightsub':'' ">
                    <span ng-click="navigate('profileinfo'); " >Profile Info</span>
                </a>
                </li>
                <li>
                    <a aria-label="meanu" ng-class="settings ?'highlightsub':'' " ui-sref="settings"><span
                    ng-click="navigate('settings'); "> Privacy Settings</span>
                    </a>
                </li>
                <li>
                    <a aria-label="meanu" ng-class="passwordsettings ?'highlightsub':'' "
                       ui-sref="passwordsettings">
                    <span ng-click="navigate('passwordsettings'); ">Password Settings</span>
                    </a>
                </li>
            </ul>
        </li>-->
        <li ng-show="vault_sub">
            <!-- Vault sub menu-->


        </li>
    </ul>
</div>
