<style>
    .nav-inner-list {
        margin-top: 15px;
        margin-left: 0px !important;
        width: 100%;
    }

    .sub-nav ul.nav-inner-list li {
        margin-left: 5px;
    }

    .client-nav-ul {
        max-height: calc(100vh - 280px) !important;height: auto !important;
    }
</style>
<div class="nav-wrapper left-side-nav" toggle-nav-collapse-min ng-controller="advisorSideBarController">
    <ul id="nav" class="nav nav-mm" data-slim-scroll data-collapse-nav>
        <li>
            <a md-button aria-label="meanu" ui-sref-active="focusOptions" ui-sref="page.advisor.home" >
                <i class="fa fa-home"></i>
                <span>Home</span>
            </a>
        </li>



         <li>
            <a md-button aria-label="meanu" ui-sref-active="focusOptions" ui-sref="page.advisor.contacts.allcontactmain">
                <i class="fa fa-users"></i>
                <span>Contacts</span>
            </a>
        </li>

        <li>
            <a md-button aria-label="meanu" ui-sref-active="focusOptions" ui-sref="page.advisor.feed.activity">
                <i class="fa fa-bell"></i>
                <span>Feed</span>
            </a>
        </li>
        <li>
            <a md-button aria-label="meanu" ui-sref-active="focusOptions" ui-sref="page.advisor.vault-home.dashboard">
                <i class="fa fa-lock"></i>
                <span>Vault</span>
            </a>
        </li>

        <!-- Use sub-menu-open-on to select specified state to when to open sub menu-->
        <li>
            <a md-button aria-label="meanu" ui-sref-active="focusOptions" ui-sref="page.advisor.messages.list">
                <i class="fa fa-comments-o"></i>
                <span>Messages</span>
            </a>
        </li>



          <li>
            <a md-button aria-label="meanu" ui-sref-active="focusOptions" ui-sref="page.advisor.admin.firminfo" >
                <i class="fa fa-user"></i>
                <span>Admin</span>
            </a>
        </li>

        <li>
            <a md-button aria-label="meanu" ui-sref-active="focusOptions" ui-sref="page.advisor.settings.info" >
                <i class="fa fa-cog"></i>
                <span>Settings</span>
            </a>
        </li>

        <li class="text-normal  nav-profile">
            <a ui-sref="page.advisor.settings.info" style="text-align:center" md-button>
                <img ng-src="{{avatarUrl}}" alt="" class="img-circle">
                <i class="fa fa-circle profile-on"></i>
            </a>
            <ul class="setting-myprofile">
                <li><a ui-sref="page.advisor.settings.info">My Profile</a></li>
                <li><a ng-click="signOut()" style="cursor:pointer">Sign Out</a></li>
            </ul>
        </li>


    </ul>
    <ul class="sub-nav">
        <li>
            <a class="toggle-min toggle-nav toggle-nav-collapse-min" ng-click="toggleSubNav()"
               aria-label="toggle-nav-collapsed-min"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
        </li>
        <!--Client sub-menu-->
        <li sub-menu-open-on="page.client.home" sub-menu-open-required="true">
            <ul id="nav" class="nav-inner" data-slim-scroll>
                <li>
                    <a aria-label="meanu" ui-sref-active="highlightsub" ui-sref="page.client.home.dash">
                        Summary
                    </a>
                </li>
                <li>

                    <a aria-label="meanu"  ui-sref="page.client.home.goal.dashboard" ui-sref-active="highlightsub">
                        Goal
                    </a>
                    <!-- Goals sub menu -->
                    <ul class="nav-inner-list" sub-menu-open-on="page.client.home.goal">
                        <!-- Generate the list dynamically -->
                        <li>
                            <a aria-label="meanu" ui-sref="page.client.home.goal.type({type:'retirement'})" ui-sref-active="highlightsub">
                                <span>Retirement</span>
                            </a>
                        </li>
                    </ul>
                </li>

                  <li>

                    <a aria-label="meanu"  ui-sref="page.client.home.investment.dash" ui-sref-active="highlightsub">
                        Investments
                    </a>
                    <!-- Goals sub menu -->
                    <ul class="nav-inner-list" sub-menu-open-on="page.client.home.investment" >
                        <!-- Generate the list dynamically -->
                        <li>
                            <a aria-label="meanu" ui-sref="page.client.home.investment.leosFund" ui-sref-active="highlightsub">
                                <span>Leo's Fund</span>
                            </a>
                        </li>
                    </ul>
                </li>



                <li>
                    <a aria-label="meanu" ui-sref="page.client.home.networth.dash" ui-sref-active="highlightsub">Net Worth</a>
                </li>


                <li><a aria-label="meanu" ui-sref="page.client.home.insurance.dash" ui-sref-active="highlightsub">
                  Insurance
                </a>
                </li>

              <!--   <li><a aria-label="meanu" ui-sref="page.client.home.accounts.dash" ui-sref-active="highlightsub">Accounts</span>
                </a>
                </li> -->
                 <li>
                    <a aria-label="meanu" ui-sref="page.client.home.accounts.dash"  ng-class="{highlightsub:global.sharedData.currentState=='page.client.home.accounts.dash' || global.sharedData.currentState=='page.client.home.accounts.specific'}"><span>Accounts</span> </a>
                    <ul class="nav-inner-list"  ng-repeat="acc in sideAccountList">
                       <li><a aria-label="meanu" ng-class="{highlightsub: (acc.yodleeItemAccountId==global.sharedData.yodleeItemAccountId)}"><span ng-click="clientAccSpecific(acc.yodleeItemAccountId,acc.accountName)">{{acc.accountName}} </span></a></li>
                    </ul>
                </li>


            </ul>
        </li>



        <li sub-menu-open-on="page.advisor.contacts" class="nav-inner" sub-menu-open-required="true">
             <ul class="nav-inner">
                <li>
                    <div class="contact-add-sub">
                        <p>
                            <span><a ui-sref="page.advisor.contacts.create">Create Contact</a></span>
                            <a ui-sref="page.advisor.contacts.create"><i class="fa fa-plus" ng-init="add=false;" ng-click="add = !add"></i></a>
                        </p>
                        <p>
                            <span><a ui-sref="page.advisor.contacts.invite">Invite a User</a></span>
                            <a ui-sref="page.advisor.contacts.invite"><i class="fa fa-plus" ng-init="add=false;" ng-click="add = !add"></i></a>
                        </p>
                        <div class="inpSearch contact-add-sub-search">
                            <input type="text" placeholder="Search by Name" class="inpStyl">
                            <i class="fa fa-search"></i>
                        </div>
                    </div>
                </li>
                <li>
                    <ul class="nav-inner nav-con client-nav-ul" data-slim-scroll>
                        <li><a aria-label="meanu" ng-class="allContacts ?'highlightsub':'' "><span ng-click="navigate('allContacts');">All Contacts ({{countTotal}})</span> </a>
                            <i class="con-add-inner" ng-class="!allContacts ?'fa fa-sort-desc':'fa fa-sort-asc'" style="color:#ffffff"></i>
                            <ul class="nav-inner-list" ng-show="allContacts">

                                <li>
                                    <a aria-label="meanu" ng-class="clientList ?'highlightsub':'' "><span ng-click="toggleClientFun(); navigate('clientList');">Clients ({{countClient}})</span></a>
                                    <i class="con-add-inner" ng-class="!clientList ?'fa fa-sort-desc':'fa fa-sort-asc'" style="color:#ffffff"></i>
                                    <ul class="nav-inner-list" ng-show="clientList" ng-repeat="prospects in allContactsList">
                                        <li ng-if="prospects.roles[0].name == 'ROLE_CLIENT'" >
                                            <a ui-sref="page.advisor.contacts.clientDash.summary({id:prospects.userId,name:prospects.fullName})"> {{prospects.fullName}} </a>
                                        </li>
                                    </ul>
                                </li>

                                <li>
                                    <a aria-label="meanu" ng-class="prospect ?'highlightsub':'' "><span ng-click="toggleProstpectFun(); navigate('prospect');">Prospects ({{countProspects}})</span> </a>
                                    <i class="con-add-inner" ng-class="!prospect ?'fa fa-sort-desc':'fa fa-sort-asc'" style="color:#ffffff"></i>
                                    <ul class="nav-inner-list" ng-show="prospect" ng-repeat="prospects in allContactsList">
                                        <li ng-if="prospects.roles[0].name == 'ROLE_PROSPECT'" >
                                            <a ui-sref="page.advisor.contacts.clientDash.summary({id:prospects.userId,name:prospects.fullName})" >{{prospects.fullName}} </a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="all-clients-list-main">

                                    <ul class="nav-inner-list all-clients-list" ng-repeat="(letter, users) in contactsList">
                                            <p class="client-head-m">{{letter}}</p>
                                        <li ng-repeat="item in users"><a ui-sref="page.advisor.contacts.clientDash.summary({id:item.userId,name:item.fullName})" aria-label="meanu"><span><b>{{item.firstName}}</b> {{item.lastName}}</span></a></li>
                                   </ul>

                                </li>
                                <li class="all-clients-list-main">

                                    <ul class="nav-inner-list all-clients-list" ng-repeat="(letter, users) in contactsList">
                                            <p class="client-head-m">{{letter}}</p>
                                        <li ng-repeat="item in users"><a ui-sref="page.advisor.contacts.clientDash.summary({id:item.userId,name:item.fullName})" aria-label="meanu"><span><b>{{item.firstName}}</b> {{item.lastName}}</span></a></li>
                                   </ul>

                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>




	<!-- sidebar feed for advisor -->
	<li sub-menu-open-on="page.advisor.feed" sub-menu-open-required="true" class="nav-inner">
 			<ul class="nav-inner">
                <li>
                    <div class="contact-add-sub">
                        <p>
                           <a aria-label="meanu" ui-sref-active="highlightsub" ui-sref="page.advisor.feed.activity">
                        Activity Feed
                    </a>
                        </p>
                        <p>
					<a aria-label="meanu" ui-sref-active="highlightsub" ui-sref="page.advisor.feed.systemNotification">
                       System Notification
                    </a>  </p>
                        <div class="inpSearch contact-add-sub-search">
                            <input type="text" placeholder="Search by Name" class="inpStyl">
                            <i class="fa fa-search"></i>
                        </div>
                    </div>
                </li>
				<li>
                    <ul class="nav-inner nav-con client-nav-ul" data-slim-scroll>
                        <li><a aria-label="meanu" ng-class="allContacts ?'highlightsub':'' "><span ng-click="navigate('allContacts');">All Contacts ({{countTotal}})</span> </a>
                            <i class="con-add-inner" ng-class="!allContacts ?'fa fa-sort-desc':'fa fa-sort-asc'" style="color:#ffffff"></i>
                            <ul class="nav-inner-list" ng-show="allContacts">

                                <li>
                                    <a aria-label="meanu" ng-class="clientList ?'highlightsub':'' "><span ng-click="toggleClientFun(); navigate('clientList');">Clients ({{countClient}})</span></a>
                                    <i class="con-add-inner" ng-class="!clientList ?'fa fa-sort-desc':'fa fa-sort-asc'" style="color:#ffffff"></i>
                                    <ul class="nav-inner-list" ng-show="clientList" ng-repeat="prospects in allContactsList">
                                        <li ng-if="prospects.roles[0].name == 'ROLE_CLIENT'"><a ui-sref-active="highlightsub" ui-sref="page.advisor.feed.id({userid:prospects.userId,name:prospects.fullName})"><span> {{prospects.fullName}} </span></a></li>
                                    </ul>
                                </li>

                                <li>
                                    <a aria-label="meanu" ng-class="prospect ?'highlightsub':'' "><span ng-click="toggleProstpectFun(); navigate('prospect');">Prospects ({{countProspects}})</span> </a>
                                    <i class="con-add-inner" ng-class="!prospect ?'fa fa-sort-desc':'fa fa-sort-asc'" style="color:#ffffff"></i>
                                    <ul class="nav-inner-list" ng-show="prospect" ng-repeat="prospects in allContactsList">
                                        <li ng-if="prospects.roles[0].name == 'ROLE_PROSPECT'" ><a ui-sref-active="highlightsub" ui-sref="page.advisor.feed.id({userid:prospects.userId,name:prospects.fullName})"><span> {{prospects.fullName}} </span></a></li>
                                    </ul>
                                </li>

                                <li class="all-clients-list-main">
                                    <ul class="nav-inner-list all-clients-list" ng-repeat="(letter, users) in contactsList">
                                            <p class="client-head-m">{{letter}}</p>
                                        <li ng-repeat="item in users"><a ui-sref-active="highlightsub" ui-sref="page.advisor.feed.id({userid:item.userId,name:prospects.fullName})" aria-label="meanu"><span><b>{{item.firstName}}</b> {{item.lastName}}</span></a></li>
                                   </ul>

                                </li>
                                <li class="all-clients-list-main">

                                    <ul class="nav-inner-list all-clients-list" ng-repeat="(letter, users) in contactsList">
                                            <p class="client-head-m">{{letter}}</p>
                                        <li ng-repeat="item in users"><a ui-sref-active="highlightsub" ui-sref="page.advisor.feed.id({userid:item.userId,name:prospects.fullName})" aria-label="meanu"><span><b>{{item.firstName}}</b> {{item.lastName}}</span></a></li>
                                   </ul>

                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
			</ul>
        </li>
<!-- end sidebar feed for advisor -->
<li sub-menu-open-on="page.advisor.admin" class="nav-inner" sub-menu-open-required="true">
            <ul id="nav" class="nav-inner" data-slim-scroll>
                <li>
                    <a aria-label="meanu" ui-sref-active="highlightsub" ui-sref="page.advisor.admin.firminfo">
                    Firm Info
                    </a>
                </li>
                  <li>

                    <a aria-label="meanu"  ui-sref="page.advisor.admin.advisors.dash" ui-sref-active="highlightsub">
                        Advisors
                    </a>
                    <!-- Goals sub menu -->
                    <ul class="nav-inner-list" sub-menu-open-on="page.advisor.admin.advisors" >
                        <!-- Generate the list dynamically -->
                        <li>
                            <a aria-label="meanu" ui-sref-active="highlightsub">
                                <span>Donna</span>
                            </a>
                        </li>
                         <li>
                            <a aria-label="meanu" ui-sref-active="highlightsub">
                                <span>Kristopher</span>
                            </a>
                        </li>
                         <li>
                            <a aria-label="meanu" ui-sref-active="highlightsub">
                                <span>Emily Lurene</span>
                            </a>
                        </li>
                         <li>
                            <a aria-label="meanu" ui-sref="page.advisor.admin.advisors.individual" ui-sref-active="highlightsub">
                                <span>Thomas</span>
                            </a>
                        </li>
                         <li>
                            <a aria-label="meanu" ui-sref-active="highlightsub">
                                <span>John Christian</span>
                            </a>
                        </li>
                    </ul>
                </li>


                 <li>
                    <a aria-label="meanu" ui-sref-active="highlightsub" ui-sref="page.advisor.admin.questionnaire">
                       Questionnaire
                    </a>
                </li>

                 <li>
                    <a aria-label="meanu" ui-sref-active="highlightsub" ui-sref="page.advisor.admin.matchedportfolios">
                     Matched Portfolios
                    </a>
                </li>
                 <li>
                    <a aria-label="meanu" ui-sref-active="highlightsub" ui-sref="page.advisor.admin.userdetails">
                     User Details
                    </a>
                </li>
                 <li>
                    <a aria-label="meanu" ui-sref-active="highlightsub" ui-sref="page.advisor.admin.managedaccounts">
                     Managed Accounts
                    </a>
                </li>
            </ul>
        </li>

<li sub-menu-open-on="page.advisor.settings" class="nav-inner" sub-menu-open-required="true">
            <ul id="nav" class="nav-inner" data-slim-scroll>
                <li>
                    <a aria-label="meanu" ui-sref-active="highlightsub" ui-sref="page.advisor.settings.info">
                        Profile Info
                    </a>
                </li>
                 <li>
                    <a aria-label="meanu" ui-sref-active="highlightsub" ui-sref="page.advisor.settings.privacy">
                       Privacy Settings
                    </a>
                </li>
                 <li>
                    <a aria-label="meanu" ui-sref-active="highlightsub" ui-sref="page.advisor.settings.password">
                       Password Settings
                    </a>
                </li>
            </ul>
        </li>

        <li sub-menu-open-on="page.advisor.messages" class="nav-inner" sub-menu-open-required="true">
            <ul id="" class="nav-inner">
                <div class="contact-add-sub">
                    <p>
                        <span>Conversations ({{conversationCount}})</span>

                    </p>
                    <div class="inpSearch contact-add-sub-search">
                        <input type="text" placeholder="Search " class="inpStyl">
                        <i class="fa fa-search"></i>
                    </div>
                </div>
                <li>
                    <ul id="nav" class="nav-inner nav-con" data-slim-scroll style="max-height: calc(100vh - 280px) !important;height: auto !important;">
                        <li>
                            <a aria-label="meanu" ng-class="recent ?'highlightsub':'' "><span ng-click="navigate('recent',recent);">Recent ({{ chatContactList.recent.length}})</span></a>
                            <i class="con-add-inner" ng-class="recent ?'fa fa-sort-desc':'fa fa-sort-asc'" style="color:#ffffff"></i>
                            <ul class="nav-inner-list" ng-show="recent">
                                <li ng-repeat="recent in chatContactList.recent"><a aria-label="meanu"><span>{{recent.full_name}}</span><span class="badge badges_advisor" ng-hide="totalUnreadMsg==0">{{recent.totalUnreadMsg}}</span></a></li>
                            </ul>
                        </li>

                        <li>
                            <a aria-label="meanu" ng-class="allContact ?'highlightsub':'' "><span ng-click="navigate('allContact',allContact);">Clients ({{chatContactList.clients.length}})</span></a>
                            <i class="con-add-inner" ng-class="allContact ?'fa fa-sort-desc':'fa fa-sort-asc'" style="color:#ffffff"></i>
                            <ul class="nav-inner-list" ng-show="chatContactList.clients.length && allContact">
                                <li ng-repeat="clients in chatContactList.clients"><a aria-label="meanu"><span>{{clients.full_name}}</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a aria-label="meanu" ng-class="messageProspects ?'highlightsub':'' "><span ng-click="navigate('messageProspects',messageProspects);">Prospects ({{chatContactList.prospects.length}})</span></a>
                            <i class="con-add-inner" ng-class="messageProspects ?'fa fa-sort-desc':'fa fa-sort-asc'" style="color:#ffffff"></i>
                            <ul class="nav-inner-list" ng-show="chatContactList.prospects.length && messageProspects">
                                <li ng-repeat="prospects in chatContactList.prospects"><a aria-label="meanu"><span>{{prospects.full_name}}</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>

        </li>

        <!-- Extended side bar for vault -->
        <li sub-menu-open-on="page.advisor.vault-home" class="nav-inner" sub-menu-open-required="true">
             <ul class="nav-inner">
                <li>
                    <div class="vault-item-upload" >
                        <p>
                            <span>Files</span>
                            <a ng-click="vaultAdvisorClick('vaultupload')"
                               href="javascript:void(0)">
                                <i class="fa fa-plus" ng-show="!global.sharedData.isRootFolder && currentState !='page.client.vault-home.recent' && currentState !='page.advisor.vault-home.search'" >

                                </i>
                            </a>

                            <i class="fa fa-plus" ng-init="add=false;" ng-show="global.sharedData.isRootFolder && currentState !='page.client.vault-home.recent' && currentState !='page.advisor.vault-home.search'" ng-click="add = !add">

                            </i>
                        </p>
                        <div ng-show="global.sharedData.isRootFolder">
                            <ul ng-show="add" class="ul-dropdown">
                                <li>
                                    <a ng-click="add = !add;vaultAdvisorClick('vaultupload')" href="javascript:void(0)"   >
                                        <i class="file-upload-icon img-icon"></i>
                                        File upload
                                    </a>
                                </li>
                                <li>
                                    <a href="" ng-click="add = !add;vaultAdvisorClick('newFolder')"><i class="addnew-folder img-icon"></i>New folder</a>
                                </li>
                            </ul>
                        </div>
                        <div class="inpSearch">
                            <!-- <input type="text" placeholder="Search by Name" class="inpStyl" ng-model="$parent.searchKeyword" ng-enter="searchVault(searchKeyword)"> --> <!--ng-change="vaultClientClick('vaultSearch',searchKeyword)"-->
                            <!-- <i class="fa fa-search" ng-click="searchVault(searchKeyword)"></i> -->
                            <input type="text" placeholder="Search by Name" class="inpStyl" ng-model="$parent.searchKeyword" ng-enter="searchVault(searchKeyword)"> <!--ng-change="vaultClientClick('vaultSearch',searchKeyword)"-->
                            <i class="fa fa-search" ng-click="searchVault(searchKeyword)"></i>
                        </div>
                    </div>

                </li>

                <li>
                    <ul class="nav-inner nav-con client-nav-ul" data-slim-scroll>

                                <li class="all-clients-list-main" >
                                    <a aria-label="meanu" ng-class="clientList ?'highlightsub':'' "><span ng-click="toggleClientFun(); navigate('clientList');">Clients ({{countClient}})</span></a>
                                    <i class="con-add-inner" ng-class="!clientList ?'fa fa-sort-desc':'fa fa-sort-asc'" style="color:#ffffff"></i>
                                    <ul class="nav-inner-list all-clients-list" ng-show="clientList" ng-repeat="(letter, clients) in clientLists">
                                        <p class="client-head-m" ng-show="clients.length >0" >{{letter}}</p>
                                        <li ng-repeat="item in clients"><a href="javascript:void(0);" ng-click="selectUserVault(item);" aria-label="meanu"><span ng-class="selectedContact === item.userId ?'highlightsub':'' " ><b>{{item.firstName}}</b> {{item.lastName}}</span></a></li>
                                    </ul>
                                </li>

                                <li class="all-clients-list-main" >
                                    <a aria-label="meanu" ng-class="prospect ?'highlightsub':'' "><span ng-click="toggleProstpectFun(); navigate('prospect');">Prospects ({{countProspects}})</span> </a>
                                    <i class="con-add-inner" ng-class="!prospect ?'fa fa-sort-desc':'fa fa-sort-asc'" style="color:#ffffff"></i>
                                    <ul class="nav-inner-list all-clients-list" ng-show="prospect" ng-repeat="(letter, prospects) in prospectList">
                                        <p class="client-head-m" ng-show="prospects.length >0">{{letter}}</p>
                                        <li ng-repeat="item in prospects"><a href="javascript:void(0);" ng-click="selectUserVault(item);" aria-label="meanu"><span ng-class="selectedContact === item.userId ?'highlightsub':'' " ><b>{{item.firstName}}</b> {{item.lastName}}</span></a></li>
                                    </ul>
                                </li>

                    </ul>
                </li>
            </ul>
        </li>
		<!-- Extended side bar for vault end -->
        <!--<li ng-show="Client_sub_mm">
            <ul id="nav" class="nav-inner" data-slim-scroll data-collapse-nav>
                <li>
                    <a aria-label="meanu" ng-class="profileinfo ?'highlightsub':'' ">
                    <span ng-click="navigate('profileinfo'); " >Profile Info</span>
                </a>
                </li>
                <li>
                    <a aria-label="meanu" ng-class="settings ?'highlightsub':'' " ui-sref="settings"><span
                    ng-click="navigate('settings'); "> Privacy Settings</span>
                    </a>
                </li>
                <li>
                    <a aria-label="meanu" ng-class="passwordsettings ?'highlightsub':'' "
                       ui-sref="passwordsettings">
                    <span ng-click="navigate('passwordsettings'); ">Password Settings</span>
                    </a>
                </li>
            </ul>
        </li>-->
        <li ng-show="vault_sub">
            <!-- Vault sub menu-->


        </li>
    </ul>
</div>
