<div  ng-controller="messageController" class="messege-sec" >
   <div class="row">
      <div>
         <div class="panel panel-default">
            <div class="col-md-12">
               <div class="panel mb-65">
                  <!--Heading-->
                  <div class="panel-heading">
                     <div class="panel-control">
                        <div class="btn-group">
                           <ul class="dropdown-menu dropdown-menu-right">
                              <li><a href="#">Available</a></li>
                              <li><a href="#">Busy</a></li>
                              <li><a href="#">Away</a></li>
                              <li class="divider"></li>
                              <li><a id="demo-connect-chat" href="#" class="disabled-link" data-target="#demo-chat-body">Connect</a></li>
                              <li><a id="demo-disconnect-chat" href="#" data-target="#demo-chat-body">Disconect</a></li>
                           </ul>
                        </div>
                     </div>
                     <!-- <h3 class="panel-title">Today</h3> -->
                  </div>
                  <!--Widget body-->
                  <div id="demo-chat-body" scroll id="page" class="collapse in" ng-repeat="(key, value) in global.messages | toArray | orderBy : 'key'">
                     <h3 class="panel-title mb-25">{{value.key == today ? "Today": value.key | date: 'EEEE, MMMM d'}}</h3>
                    <!--  <div class="nano nano-1"> -->
                       <!--  <div class="nano-content pad-all" tabindex="0"> -->
                           <ul class="list-unstyled media-block" ng-repeat="message in value.messages">
                              <li class="mar-btm"  ng-if="!message.isSender">
                                 <div class="media-left">
                                    <img data-ng-src="{{advisorAvatar}}"  class="img-circle img-sm" alt="Profile Picture">
                                 </div>
                                 <div class="media-body pad-hor">
                                    <div class="speech-2 speech-left speech-bubble-img-1">
                                       <p>{{message.content}}
                                       </p>
                                    </div>
                                    <p class="speech-time">
                                       {{message.date | date : "h:mm a"}}
                                    </p>
                                 </div>
                              </li>
                              <li class="mar-btm"  ng-if="message.isSender">
                                 <div class="media-right">
                                    <img data-ng-src="{{avatarUrl}}" class="img-circle img-sm" alt="Profile Picture">
                                 </div>
                                 <div class="media-body pad-hor speech-right">
                                    <div class="speech speech-bubble-img">
                                       <p> {{message.content}}
                                       </p>
                                    </div>
                                    <p class="speech-time">
                                      {{message.date | date : "h:mm a"}}
                                    </p>
                                 </div>
                              </li>
                              <!-- <li class="mar-btm">
                                 <div class="media-left">
                                    <img src="images/client(2).jpg" class="img-circle img-sm" alt="Profile Picture">
                                 </div>
                                 <div class="media-body pad-hor">
                                    <div class="speech-1 speech-left speech-bubble-img-1" id="left-chat">
                                       <p>{{message.content}}</p>
                                    </div>
                                    <p class="speech-time">
                                       10:29 AM
                                    </p>
                                 </div>
                              </li> -->
                           </ul>
                       <!--  </div>
                     </div> -->
                  </div>
                  <!--Widget footer-->
                 
                 <!--  <div class="bar bar-footer typingStatus">
                     <div class="title">{{typingText}}</div>
                  </div> -->
                  <!-- <p class="typing">Tina is typing...</p> -->
               </div>
            </div>
         </div>
      </div>
   </div>

   
   <div class="msg">
      <p class="typing" ng-if="typing">{{typingText}}</p>
      <div class="answer-add send-msgs">
   <!-- <div class="bar bar-footer typingStatus" ng-if="typing">
      <div class="title">{{typingText}}</div>
   </div> -->
         <span><input placeholder="Message" class="text-box_1" style=""
                   type="text" placeholder="Message" ng-change="updateTyping()" ng-enter="sendMessage()"
                   ng-model="message" ng-disabled="disableChatInput">
         </span>
         <span><a class="send-icn" ng-click="sendMessage()"><i class="zmdi zmdi-mail-send"></i></a></span>
       
      </div>
   </div>   
</div>
