<style>
    .lifeTextScore{
            font-weight: 600;
    font-size: 18px !important;
    color: #fff;
    }

   .lifepolicytable tr td{padding: 10px 4px !important;}
   .lifepolicytable tr td a{text-decoration: none;padding: 10px 4px !important;color:#3D4051;}
   .lifepolicytable thead tr td{color:grey;}
   .lifepolicytable>tbody>tr>td:first-child{min-width: 80px;}
   .lifepolicytable .table-inner-expand tr td:first-child{color:grey;padding-left: 4% !important; }
   .facog-style{color: #989898;}
   .nomination-title{font-weight: 700;font-size: 16px;margin: 0;padding: 15px 0;}
   .padd-20{padding:0 20px;}
   .boxx{height: 20px;}
   .benefit-legend{position: absolute;top:0;right: 50px;}
   .rotate-text{
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: left top;
    -moz-transform: rotate(90deg);
    -moz-transform-origin: left top;
    -ms-transform: rotate(90deg);
    -ms-transform-origin: left top;
    -o-transform: rotate(90deg);
    -o-transform-origin: left top;
    transform: rotate(-90deg);
    transform-origin: right top;
    position: absolute;
    top: 30px;
    left: -175px;
    white-space: nowrap;
    font-size: 12px;
    color: #3D4051;
   }
   @media only screen and (max-width: 990px){
        .head-con-last {float: left;text-align: left;}
  }
   @media screen and (max-width:568px)and (min-width:320px){
        .lifepolicytable-fsize, .life-inner-expand-fsize{font-size: 11px;}
        .head-con-last {float: left;text-align: left;}
        .lifepolicytable .table-inner-expand tr td:first-child{color:grey;padding-left: 3% !important; }

    }
      @media screen and (max-width:667px)and (min-width:375px){
        .lifepolicytable-fsize, .life-inner-expand-fsize{font-size: 11px;}
        .head-con-last {float: left;text-align: left;}
    }
      @media screen and (max-width:736px)and (min-width:414px){
        .lifepolicytable-fsize, .life-inner-expand-fsize{font-size: 11px;}
        .head-con-last {float: left;text-align: left;}
    }
</style>

<div class="page">
    <div class="row ui-section">

        <div class="panel panel-default panel-minimal">
            <div class="panel-body head-dark">
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="profile-info">
                            <div class="detail-cont">
                                <span class="text-size-sm">LIFE INSURANCE</span> 
                            </div>
                        </div>

                    </div>
                    
                   <div class="col-sm-6 col-md-3">
                        <div class="detail-cont">
                            <span >Policies:</span> 
                            <span class="text-size-lg text-size-lg_1">{{lifePolicies}}</span><br>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="detail-cont">
                              <span>HAVE: </span> <span class="lifeTextScore">{{lifeHave | currency}} </span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 head-con-last text-size-xs">
                        <div class="detail-cont">
                             <span>NEED:</span> <span class="lifeTextScore">{{lifeNeed | currency}}</span>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <div class="panel panel-default panel-minimal cl-block-height">
                    <div class="panel-body-main panel-head-bold">
                        <div class="row">
                            <div class="col-xs-4 col-md-4">
                                 <span>HAVE</span>
                            </div>
                            <div class="col-xs-8 col-md-8">
                                 <span>Your Policies</span>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body-main panel-head-bold">
                        <div class="row">
                            <div class="col-md-12">

                                <div id="containerDoughnut" style=" height: 260px; margin: 0 auto"></div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-7">
                <div class="panel panel-default panel-minimal cl-block-height">
                    <div class="panel-body-main panel-head-bold">
                        <div class="row">
                            <div class="col-xs-4 col-md-4">
                                 <span>BENEFITS</span>
                            </div>
                            <div class="col-xs-8 col-md-8">
                                 <span>Your Policies</span>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body-main panel-head-bold" >
                        <div class="row">

                            <div class="col-md-12">
                                 <P class="rotate-text" style="text-align:center;"><i>Policy Death Benefit (Thousands)</i></P>
                                 <div class="chart-outer" style="margin:0 !important;position: relative;height:260px;">
                                     <canvas id="benefitChart" legend="true" series="series"></canvas>
                                 </div>
                                  <div id="benefitLegend" class="benefit-legend"></div>
                                 <P style="text-align:center;color:#3D4051;font-size: 12px;"><i>Age</i></P>
                            </div>

                        </div>
                       
                    </div>

                </div>
            </div>


            <div class="col-md-12" ng-if="maritalStatus == 'single'"> <!--table style if single-->
                <div class="panel panel-default panel-minimal">
                    <div class="panel-body-main panel-head-bold" >
                        <div class="panel-header">
                             <div class="col-xs-6 head-secone">POLICIES</div>
                             <div class="col-xs-6 text-right">
                                  <div class="add-com-right"><a>+ Add Policy</a></div>
                             </div>
                        </div>

                        <div class="clearfix"></div>  

                       <div class="table-responsive lifeTableDiv">
                            <div>
                            <table class="table lifepolicytable lifepolicytable-fsize">
                                    <thead>
                                        <tr>
                                            <td>Name</td>
                                            <td>Type</td>
                                            <td>Benefit</td>
                                            <td>Policy Term (years)</td>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="labels in yourLifePolicies">
                                        <tr>
                                            <td style="cursor: pointer;width:20%;">
                                                <a class="icn-padd" ng-click="lifeDetailsexpanded = !lifeDetailsexpanded">
                                                    <i ng-class="lifeDetailsexpanded ? 'fa fa-caret-down fa-lg' : 'fa fa-caret-right fa-lg'" class="fa fa-lg fa-caret-right" ></i> &nbsp;
                                                    <span>{{labels.name}}</span>
                                                </a>
                                            </td>
                                            <td style="width:20%;">{{labels.policyType}}</td>
                                            <td style="width:20%;">{{labels.deathBenefit==0?'N/A':(labels.deathBenefit | currency)}}</td>
                                            <td style="width:20%;">{{labels.termOfPolicy}} years</td>
                                            <td style="width:20%;" class="text-center">
                                                <a ui-sref="oranj.editFinancial"> <i class="fa fa-cog fa-lg facog-style" aria-hidden="true"></i></a>
                                            </td>
                                        </tr>

                                        <tr ng-show="lifeDetailsexpanded">
                                            <td  colspan="5">
                                                <table class="table table-inner table no-margin table-inner-expand life-inner-expand-fsize table-td-merge">
                                                    
                                                    <tbody>
                                                        <tr>
                                                            <td style="width:20%;"><span>Carrier:</span></td>
                                                            <td style="width:20%;"><span>{{labels.companyCarrier}}</span></td>
                                                            <td style="width:20%;"></td>
                                                            <td style="width:20%;"></td>
                                                            <td style="width:20%;"></td>
                                                        </tr>
                                                        <tr>
                                                            <td><span>Provided by:</span></td>
                                                            <td><span>{{labels.purchaseBy}}</span></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td><span>Policy Purchase Date:</span></td>
                                                            <td><span>{{labels.policyPurchaseDate}}</span></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td><span>Policy Expiration Date:</span></td>
                                                            <td><span>{{labels.policyExpirationDate}}</span></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td><span>Premium Payment:</span></td>
                                                            <td><span>{{labels.premiumPayment | currency}}</span></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td><span>Cash value</span></td>
                                                            <td><span>{{labels.cashValue | currency}}</span></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td><span>Beneficaries:</span></td>
                                                            <td ng-repeat="benData in labels.beneficiaries">
                                                               <p>{{benData.beneficiaryName}}, {{benData.type}}, {{benData.beneficiaryPercent}}</p>
                                                            </td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>                                  
                                    </tbody>
                                </table>
                                </div>
                        </div>

                    </div>

                </div>


            </div> <!--End of table style if single-->

            <div class="col-md-12" ng-if="maritalStatus == 'married'"> <!--table style if married-->

                <div class="panel panel-default panel-minimal">
                    <div class="panel-body-main panel-head-bold" >
                        <div class="panel-header">
                             <div class="col-xs-6 head-secone">POLICIES</div>
                             <div class="col-xs-6 text-right">
                                  <div class="add-com-right"><a>+ Add Policy</a></div>
                             </div>
                        </div>

                        <div class="clearfix"></div>  
                        

                       <div class="table-responsive lifeTableDiv">
                            <p class="nomination-title" ng-click="chartChanged('your','LIFE')">Your Policies</p>
                            <div class="">
                            <table class="table lifepolicytable lifepolicytable-fsize">
                                    <thead>
                                        <tr>
                                            <td>Name</td>
                                            <td>Type</td>
                                            <td>Benefit</td>
                                            <td>Policy Term (years)</td>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="labels in yourLifePolicies">
                                        <tr>
                                            <td style="cursor: pointer;width:20%;">
                                                <a class="icn-padd" ng-click="lifeDetailsexpanded3 = !lifeDetailsexpanded3">
                                                    <i ng-class="lifeDetailsexpanded3 ? 'fa fa-caret-down fa-lg' : 'fa fa-caret-right fa-lg'" class="fa fa-lg fa-caret-right" style=""></i> &nbsp;
                                                    <span>{{labels.name}}</span>
                                                </a>
                                            </td>
                                            <td style="width:20%;">{{labels.policyType}}</td>
                                            <td style="width:20%;">{{labels.deathBenefit==0?'N/A':(labels.deathBenefit | currency)}}</td>
                                            <td style="width:20%;">{{labels.termOfPolicy}}</td>
                                            <td style="width:20%;" class="text-center">
                                                <a ui-sref="oranj.editFinancial"> <i class="fa fa-cog fa-lg facog-style" aria-hidden="true"></i></a>
                                            </td>
                                        </tr>

                                        <tr ng-show="lifeDetailsexpanded3">
                                            <td  colspan="5">
                                                <table class="table table-inner table no-margin table-inner-expand insurancetable-inner life-inner-expand-fsize">
                                                     <tbody>
                                                        <tr>
                                                            <td style="width:20%;"><span>Carrier:</span></td>
                                                            <td style="width:20%;"><span>{{labels.companyCarrier}}</span></td>
                                                            <td style="width:20%;"></td>
                                                            <td style="width:20%;"></td>
                                                            <td style="width:20%;"></td>
                                                        </tr>
                                                        <tr>
                                                            <td><span>Purchased by:</span></td>
                                                            <td><span>{{labels.purchaseBy}}</span></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td><span>Policy Purchase Date:</span></td>
                                                            <td><span>{{labels.policyPurchaseDate}}</span></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td><span>Policy Expiration Date:</span></td>
                                                            <td><span>{{labels.policyExpirationDate}}</span></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td><span>Premium Payment:</span></td>
                                                            <td><span>{{labels.premiumPayment | currency}}</span></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td><span>Cash value</span></td>
                                                            <td><span>{{labels.cashValue | currency}}</span></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td><span>Beneficaries:</span></td>
                                                            <td ng-repeat="benData in labels.beneficiaries">
                                                               <p>{{benData.beneficiaryName}}, {{benData.type}}, {{benData.beneficiaryPercent}}</p>
                                                            </td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                </div>
                        </div> <!-- End of your policies-->


                        <!-- Start of spouse's policies-->
                       <div ng-if="spouseLifePolicies.length !=0" class="table-responsive lifeTableDiv">
                            <p class="nomination-title" ng-click="chartChanged('spouse','LIFE')">Spouse's Policies</p>
                            <div class="">
                            <table class="table lifepolicytable lifepolicytable-fsize">
                                    <thead>
                                        <tr>
                                           <td>Name</td>
                                            <td>Type</td>
                                            <td>Benefit</td>
                                            <td>Policy Term (years)</td>
                                            <td></td>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="labels in spouseLifePolicies">
                                        <tr>
                                            <td style="cursor: pointer;width:20%;">
                                                <a class="icn-padd" ng-click="lifeDetailsexpanded5 = !lifeDetailsexpanded5">
                                                    <i ng-class="lifeDetailsexpanded5 ? 'fa fa-caret-down fa-lg' : 'fa fa-caret-right fa-lg'" class="fa fa-lg fa-caret-right" style=""></i> &nbsp;
                                                    <span>{{labels.name}}</span>
                                                </a>
                                            </td>
                                            <td style="width:20%;">{{labels.policyType}}</td>
                                            <td style="width:20%;">{{labels.deathBenefit==0?'N/A':(labels.deathBenefit | currency)}}</td>
                                            <td style="width:20%;">{{labels.termOfPolicy}}</td>
                                            <td style="width:20%;" class="text-center">
                                                <a ui-sref="oranj.editFinancial"> <i class="fa fa-cog fa-lg facog-style" aria-hidden="true"></i></a>
                                            </td>
                                        </tr>

                                        <tr ng-show="lifeDetailsexpanded5">
                                            <td  colspan="5">
                                                <table class="table table-inner table no-margin table-inner-expand insurancetable-inner life-inner-expand-fsize">
                                                    
                                                    <tbody>
                                                        <tr>
                                                            <td style="width:20%;"><span>Carrier:</span></td>
                                                            <td style="width:20%;"><span>{{labels.companyCarrier}}</span></td>
                                                            <td style="width:20%;"></td>
                                                            <td style="width:20%;"></td>
                                                            <td style="width:20%;"></td>
                                                        </tr>
                                                        <tr>
                                                            <td><span>Provided by:</span></td>
                                                            <td><span>{{labels.purchaseBy}}</span></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td><span>Policy Purchase Date:</span></td>
                                                            <td><span>{{labels.policyPurchaseDate}}</span></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td><span>Policy Expiration Date:</span></td>
                                                            <td><span>{{labels.policyExpirationDate}}</span></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td><span>Premium Payment:</span></td>
                                                            <td><span>{{labels.premiumPayment | currency}}</span></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td><span>Cash value</span></td>
                                                            <td><span>{{labels.cashValue | currency}}</span></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td><span>Beneficaries:</span></td>
                                                            <td ng-repeat="benData in labels.beneficiaries">
                                                               <p>{{benData.beneficiaryName}}, {{benData.type}}, {{benData.beneficiaryPercent}}</p>
                                                            </td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>                                   
                                    </tbody>
                                </table>
                                </div>
                        </div> <!-- End of spouse's policies-->                        

                    </div>
                </div>

            </div><!--End of table style if married-->


        </div>

    </div>
</div>


