<style>
    .lifeTextScore{
            font-weight: 600;
    font-size: 18px !important;
    color: #fff;
    }
   .lifepolicytable tr td{padding: 10px 4px !important;}
   .lifepolicytable thead tr td{color:grey;}
   .lifepolicytable>tbody>tr>td:first-child{min-width: 80px;}
   .lifepolicytable .table-inner-expand tr td:first-child{color:grey;padding-left: 4% !important;}
   .lifepolicytable tr td a{text-decoration: none;padding: 10px 4px !important;color:#3D4051;}
   .facog-style{color: #989898;}
   .nomination-title{font-weight: 700;font-size: 16px;margin: 0;padding: 15px 0}
   .boxx{height: 20px;}
   .padd-20{padding:0 20px;}
   .rotate-text{
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: left top;
    -moz-transform: rotate(90deg);
    -moz-transform-origin: left top;
    -ms-transform: rotate(90deg);
    -ms-transform-origin: left top;
    -o-transform: rotate(90deg);
    -o-transform-origin: left top;
    transform: rotate(-90deg);
    transform-origin: right top;
    position: absolute;
    top: 80px;
    right: 100%;
    white-space: nowrap;
    font-size: 12px;
    color:#3D4051;
   }
    @media only screen and (max-width: 990px){
        .head-con-last {float: left;text-align: left;}
  }
   @media screen and (max-width:568px)and (min-width:320px){
        .lifepolicytable-fsize, .life-inner-expand-fsize{font-size: 11px;}
        .head-con-last {float: left;text-align: left;}
        .lifepolicytable .table-inner-expand tr td:first-child{color:grey;padding-left: 3% !important; }
    }
    @media screen and (max-width:667px)and (min-width:375px){
        .lifepolicytable-fsize, .life-inner-expand-fsize{font-size: 11px;}
        .head-con-last {float: left;text-align: left;}
    }

    @media screen and (max-width:736px)and (min-width:414px){
        .lifepolicytable-fsize, .life-inner-expand-fsize{font-size: 11px;}
        .head-con-last {float: left;text-align: left;}
    }

</style>

<div class="page">
    <div class="row ui-section">

        <div class="panel panel-default panel-minimal">
            <div class="panel-body head-dark">
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="profile-info">
                            <div class="detail-cont">
                                <span class="text-size-sm">LONG TERM CARE</span> 
                            </div>
                        </div>

                    </div>
                    
                   <div class="col-sm-6 col-md-3">
                        <div class="detail-cont">
                            <span >Policies:</span> <span class="text-size-lg text-size-lg_1">{{longCarePolicies}}</span><br>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="detail-cont">
                              <span>HAVE: </span> <span class="lifeTextScore">{{longCareHave | currency}} / day</span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 head-con-last text-size-xs">
                        <div class="detail-cont">
                             <span>NEED:</span> <span class="lifeTextScore">{{longCareNeed | currency}} / day</span>
                        </div>
                    </div>
                   

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <div class="panel panel-default panel-minimal cl-block-height">
                    <div class="panel-body-main panel-head-bold">
                        <h3>HAVE</h3>
                    </div>
                    <div class="panel-body-main panel-head-bold">
                        <div class="row">
                            <div class="col-md-12">   
                                 <div id="containerDoughnut" style=" height: 280px; width: 100%; margin: 0 auto"></div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-7"  id="horizontalBar">
                <div class="panel panel-default panel-minimal cl-block-height">
                    <div class="panel-body-main panel-head-bold">
                        <h3>COVERAGE</h3>
                    </div>
                    
                </div>
            </div>

            <div class="col-md-12" ng-if="maritalStatus == 'single'"> <!--table style if single-->
                <div class="panel panel-default panel-minimal">
                    <div class="panel-body-main panel-head-bold" >
                        <div class="panel-header">
                             <div class="col-xs-6 head-secone">POLICIES</div>
                             <div class="col-xs-6 text-right">
                                  <div class="add-com-right"><a>+ Add Policy</a></div>
                             </div>
                        </div>

                        <div class="clearfix"></div>  

                       <div class="table-responsive lifeTableDiv">

                            <table class="table lifepolicytable lifepolicytable-fsize">
                                    <thead>
                                        <tr>
                                            <td>Name</td>
                                            <td>Length of Contract</td>
                                            <td>Per Day Benefit: Nursing Home Care</td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="labels in yourLTCPolicies">
                                         <tr>
                                            <td style="cursor: pointer;width:20%;">
                                                <a class="icn-padd" ng-click="lifeDetailsexpanded3 = !lifeDetailsexpanded3">
                                                    <i ng-class="lifeDetailsexpanded3 ? 'fa fa-caret-down fa-lg' : 'fa fa-caret-right fa-lg'" class="fa fa-lg fa-caret-right" style=""></i> &nbsp;
                                                    <span>{{labels.name}}</span>
                                                </a>
                                            </td>
                                            <td style="width:20%;">{{labels.contractDuration}}</td>
                                            <td style="width:20%;">{{labels.dailyBenefit | currency}}</td>
                                            <td style="width:20%;" class="text-center">
                                                <a ui-sref="oranj.editFinancial"> <i class="fa fa-cog fa-lg facog-style" aria-hidden="true"></i></a>
                                            </td>
                                        </tr>

                                        <tr ng-show="lifeDetailsexpanded3">
                                            <td  colspan="5">
                                                <table class="table table-inner table no-margin table-inner-expand insurancetable-inner life-inner-expand-fsize table-td-merge">
                                                   <tbody>
                                                       <tr>
                                                            <td style="width:20%;">Carrier:</td>
                                                            <td style="width:20%;"><span>{{labels.companyCarrier}}</span></td>
                                                            <td style="width:20%;"></td>
                                                            <td style="width:20%;"></td>
                                                            <td style="width:20%;"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Elimination Period:</td>
                                                            <td><span>{{labels.eliminationPeriodInDays}}</span></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Purchase Date:</td>
                                                            <td><span>{{labels.policyPurchaseDate}}</span></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td><span>Home Health Care:</span></td>
                                                            <td><span>{{labels.homeHealthCare}}</span></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Adult Day Care:</td>
                                                            <td><span>{{labels.adultDayCare}}</span></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Assisted Living Facility</td>
                                                            <td><span>{{labels.assistedLivingFacility}}</span></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>                                    
                                    </tbody>
                                </table>
                            
                        </div>

                    </div>

                </div>


            </div> <!--End of table style if single-->

            <div class="col-md-12"  ng-if="maritalStatus == 'married'"> <!--table style if married-->

                <div class="panel panel-default panel-minimal">
                    <div class="panel-body-main panel-head-bold" >
                        <div class="panel-header">
                             <div class="col-xs-6 head-secone">POLICIES</div>
                             <div class="col-xs-6 text-right">
                                  <div class="add-com-right"><a>+ Add Policy</a></div>
                             </div>
                        </div>

                        <div class="clearfix"></div>  
                        

                       <div class="table-responsive lifeTableDiv">
                            <p class="nomination-title" ng-click="chartChanged('your','LTC')">Your Policies</p>
                            <div class="">
                            <table class="table lifepolicytable lifepolicytable-fsize">
                                    <thead>
                                        <tr>
                                            <td>Name</td>
                                            <td>Length of Contract (years)</td>
                                            <td>Per Day Benefit: Nursing Home Care</td>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="labels in yourLTCPolicies">
                                        <tr>
                                            <td style="cursor: pointer;width:20%;">
                                                <a class="icn-padd" ng-click="lifeDetailsexpanded3 = !lifeDetailsexpanded3">
                                                    <i ng-class="lifeDetailsexpanded3 ? 'fa fa-caret-down fa-lg' : 'fa fa-caret-right fa-lg'" class="fa fa-lg fa-caret-right" style=""></i> &nbsp;
                                                    <span>{{labels.name}}</span>
                                                </a>
                                            </td>
                                            <td style="width:20%;">{{labels.contractDuration}}</td>
                                            <td style="width:20%;">{{labels.dailyBenefit | currency}}</td>
                                            <td style="width:20%;" class="text-center">
                                                <a ui-sref="oranj.editFinancial"> <i class="fa fa-cog fa-lg facog-style" aria-hidden="true"></i></a>
                                            </td>
                                        </tr>

                                        <tr ng-show="lifeDetailsexpanded3">
                                            <td  colspan="5">
                                                <table class="table table-inner table no-margin table-inner-expand insurancetable-inner life-inner-expand-fsize">
                                                    
                                                    <tbody>
                                                       <tr>
                                                            <td style="width:20%;">Carrier:</td>
                                                            <td style="width:20%;"><span>{{labels.companyCarrier}}</span></td>
                                                            <td style="width:20%;"></td>
                                                            <td style="width:20%;"></td>
                                                            <td style="width:20%;"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Elimination Period:</td>
                                                            <td><span>{{labels.eliminationPeriodInDays}}</span></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Purchase Date:</td>
                                                            <td><span>{{labels.policyPurchaseDate}}</span></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td><span>Home Health Care:</span></td>
                                                            <td><span>{{labels.homeHealthCare}}</span></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Adult Day Care:</td>
                                                            <td><span>{{labels.adultDayCare}}</span></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Assisted Living Facility</td>
                                                            <td><span>{{labels.assistedLivingFacility}}</span></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                </div>
                        </div> <!-- End of your policies-->


                        <!-- Start of spouse's policies-->
                       <div  ng-if="spouseLTCPolicies.length !=0" class="table-responsive lifeTableDiv">
                            <p class="nomination-title" ng-click="chartChanged('spouse','LTC')">Spouse's Policies</p>
                            <div class="">
                            <table class="table lifepolicytable lifepolicytable-fsize">
                                    <thead>
                                        <tr>
                                            <td>Name</td>
                                            <td>Length of Contract (years)</td>
                                            <td>Per Day Benefit: Nursing Home Care</td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="labels in spouseLTCPolicies">
                                        <tr>
                                            <td style="cursor: pointer;width:20%;">
                                                <a class="icn-padd" ng-click="lifeDetailsexpanded5 = !lifeDetailsexpanded5">
                                                    <i ng-class="lifeDetailsexpanded5 ? 'fa fa-caret-down fa-lg' : 'fa fa-caret-right fa-lg'" class="fa fa-lg fa-caret-right" style=""></i> &nbsp;
                                                    <span>{{labels.name}}</span>
                                                </a>
                                            </td>
                                            <td style="width:20%;">{{labels.contractDuration}}</td>
                                            <td style="width:20%;">{{labels.dailyBenefit | currency}}</td>
                                            <td style="width:20%;" class="text-center">
                                                <a ui-sref="oranj.editFinancial"> <i class="fa fa-cog fa-lg facog-style" aria-hidden="true"></i></a>
                                            </td>
                                        </tr>

                                        <tr ng-show="lifeDetailsexpanded5">
                                            <td  colspan="5">
                                                <table class="table table-inner table no-margin table-inner-expand insurancetable-inner life-inner-expand-fsize">
                                                    
                                                      <tbody>
                                                       <tr>
                                                            <td style="width:20%;">Carrier:</td>
                                                            <td style="width:20%;"><span>{{labels.companyCarrier}}</span></td>
                                                            <td style="width:20%;"></td>
                                                            <td style="width:20%;"></td>
                                                            <td style="width:20%;"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Elimination Period:</td>
                                                            <td><span>{{labels.eliminationPeriodInDays}}</span></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Purchase Date:</td>
                                                            <td><span>{{labels.policyPurchaseDate}}</span></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td><span>Home Health Care:</span></td>
                                                            <td><span>{{labels.homeHealthCare}}</span></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Adult Day Care:</td>
                                                            <td><span>{{labels.adultDayCare}}</span></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Assisted Living Facility</td>
                                                            <td><span>{{labels.assistedLivingFacility}}</span></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>                             
                                    </tbody>
                                </table>
                                </div>
                        </div> <!-- End of spouse's policies-->                        

                    </div>
                </div>

            </div><!--End of table style if married-->


        </div>

    </div>
</div>

