<style>
    .container {
        width: 1170px;
        max-width: 100%;
        margin: 0 auto;
        padding: 10px 0px;
        background: #2a303d;
    }
    
    md-input-container {
        width: 100%
    }
</style>

<div class="page page-form" ng-controller="FormCtrl">
    <div class="row ui-section" ng-controller="OpenAccount">
        <div class="panel panel-default">
            <div class="panel-body body-dark hhd">
                <div class="row">

                    <div class="col-md-2 col-xs-12 col-sm-12 hhd-1">
                        <div class="profile-info">
                            <div class="detail-cont">
                                OPEN AN ACCOUNT
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-xs-12 col-sm-12 hhd-2">
                        <div class="row bs-wizard" style="border-bottom:0;">

                            <div class="col-xs-1 bs-wizard-step complete">

                                <div class="progress">
                                    <div class="progress-bar"></div>
                                </div>
                                <a href="javascript:void" class="bs-wizard-dot"></a>
                                <md-tooltip>Start</md-tooltip>
                            </div>

                            <div class="col-xs-1 bs-wizard-step complete">
                                <!-- complete -->

                                <div class="progress">
                                    <div class="progress-bar"></div>
                                </div>
                                <a href="javascript:void" class="bs-wizard-dot"></a>
                                <md-tooltip>Answer Risk Questionnaire</md-tooltip>
                            </div>

                            <div class="col-xs-1 bs-wizard-step complete">
                                <!-- complete -->

                                <div class="progress">
                                    <div class="progress-bar"></div>
                                </div>
                                <a href="javascript:void" href="#" class="bs-wizard-dot"></a>
                                <md-tooltip>Select Recommended Portfolio</md-tooltip>
                            </div>

                            <div class="col-xs-1 bs-wizard-step complete">
                                <!-- active -->

                                <div class="progress">
                                    <div class="progress-bar"></div>
                                </div>
                                <a href="javascript:void" class="bs-wizard-dot"></a>
                                <md-tooltip>Choose Account Type</md-tooltip>
                            </div>
                            <div class="col-xs-1 bs-wizard-step complete">
                                <!-- active -->

                                <div class="progress">
                                    <div class="progress-bar"></div>
                                </div>
                                <a href="javascript:void" class="bs-wizard-dot"></a>
                                <md-tooltip>Enter Application Data</md-tooltip>
                            </div>
                            <div class="col-xs-1 bs-wizard-step complete">
                                <!-- active -->

                                <div class="progress">
                                    <div class="progress-bar"></div>
                                </div>
                                <a ui-sref="page.openaccountstep6" class="bs-wizard-dot"></a>
                                <md-tooltip>Specify Funds Source</md-tooltip>
                            </div>
                            <div class="col-xs-1 bs-wizard-step active">
                                <!-- active -->

                                <div class="progress">
                                    <div class="progress-bar"></div>
                                </div>
                                <a ui-sref="openaccountstep7" class="bs-wizard-dot"></a>
                                <md-tooltip>Review</md-tooltip>
                            </div>
                            <div class="col-xs-1 bs-wizard-step disabled">
                                <!-- active -->

                                <div class="progress">
                                    <div class="progress-bar"></div>
                                </div>
                                <a ui-sref="openaccountstep8" class="bs-wizard-dot"></a>
                                <md-tooltip>Finish</md-tooltip>
                            </div>
                        </div>





                    </div>


                  

                     <div class="col-md-4 col-xs-12 col-sm-12 hhd-3">
                        <ul class="add_goal_buttons pull-right btns_add_goal">
                        <li><button ng-click="resetAccountForm()" class="md-raised btns_add_goal_3 btn-w-sm md-primary md-button md-ink-ripple btn-grey btns_add_goal" type="button"><span class="ng-scope btns-open-accounts-sm">Cancel</span><div class="md-ripple-container"></div></button></li>
                        <li><button ui-sref="openaccountstep8" class="md-raised btns_add_goal_3 btn-w-sm md-primary md-button md-ink-ripple btn-save btns_add_goal" type="button"><span class="ng-scope btns-open-accounts-sm">Continue</span><div class="md-ripple-container"></div></button></li>
                        </ul>
                    </div>



                </div>

            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body panel-body-inner panel-head-bold" style="padding: 22px 75px !important;">

                <div class="row">
                    <h2 class="outer-head">Review</h2>

                    <div class="col-md-9" ng-controller="OpenAccount">


                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-7 col-md-offset-3">
                                    <h4 style="text-align: center;">RECOMMENDED PORTFOLIO</h4>
                                    <h5 style="text-align: center;">Moderate</h5>
                                    <canvas id="matchedportfolioDoughnutStep7" style="height: 225px;"></canvas>
                                </div>

                                <div class="col-md-1" style="margin-top: 65px;">
                                    <div id="my-legendStep7" class="chart-legend"></div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div layout="column" class="col-md-8 col-md-offset-2" ng-cloak class="md-inline-form inputdemoBasicUsage">
                        <div layout-padding>
                            <form class="account-form">
                                <h3>Personal Details</h3>
                                <div class="row">
                                    <div class="col-xs-6 form-group">
                                        <div layout layout-sm="column">
                                            <md-input-container>
                                                <label>Full name*</label>
                                                <input ng-model="step3.fullname">
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 form-group">
                                        <md-input-container>
                                            <label>Email*</label>
                                            <input ng-model="step3.email">
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6 form-group">
                                        <md-input-container>
                                            <label>Phone*</label>
                                            <input ng-model="step3.phone">
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-6 form-group">
                                            <md-input-container>
                                                <label>Date of Birth </label>
                                                <datepicker date-format="MM/dd/yyyy">
                                                    <input type="text" ng-model="dob" class="date-input">
                                                </datepicker>
                                            </md-input-container>
                                      
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-6 form-group">
                                        <md-input-container>
                                            <label>SSN*</label>
                                            <input type =text placeholder="###-##-####" ng-model="ssn" maxlength="9" name="ssn" validate-ssn/>
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-6 form-group">
                                        <md-input-container>
                                            <label>Annual Income*</label>
                                            <input ng-model="step3.annualincome">
                                        </md-input-container>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-3 form-group">
                                        <md-input-container>
                                            <label>City</label>
                                            <input ng-model="step3.city">
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-3 form-group">
                                        <md-input-container>
                                            <label>State</label>
                                            <md-select ng-model="user.state">
                                                <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                                                    {{state.abbrev}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-3 form-group">
                                        <md-input-container>
                                            <label>Zip Code*</label>
                                            <input ng-model="step3.zipcode">
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-3 form-group">
                                        <md-input-container>
                                            <label>Country*</label>
                                            <md-select ng-model="step3.country">
                                                <md-option ng-repeat="country in count" value="{{country.code}}">
                                                    {{country.name}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-2" style="margin-top: 15px; padding-left:0px;">Married</div>
                                    <div class="col-sm-6 col-sm-offset-4">
                                        <md-switch ng-model="switchData.married" aria-label="Default">{{ switchData.married === true?'Yes':'No' }} </md-switch>
                                    </div>
                                </div>

                                <div class="row" ng-show="switchData.married">
                                    <div class="col-xs-6 form-group">
                                        <md-input-container>
                                            <label>Spouse Full Name*</label>
                                            <input ng-model="step3.spousefullname">
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-6 form-group">
                                         <md-input-container>
                                                <label>Date of Birth </label>
                                                <datepicker date-format="MM/dd/yyyy">
                                                    <input type="text" class="date-input" ng-model="dob1" ng-required="true">
                                                </datepicker>
                                              
                                            </md-input-container>
                                       
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-xs-6 form-group">
                                        <md-input-container>
                                            <label>Annual Income</label>
                                            <input ng-model="step3.spouseannualincome">
                                        </md-input-container>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-2" style="margin-top: 15px; padding-left:0px;">Children</div>
                                    <div class="col-sm-6 col-sm-offset-4">
                                        <md-switch ng-model="switchData.childerns" aria-label="Default">{{ switchData.childerns === true?'Yes':'No' }} </md-switch>
                                    </div>
                                </div>

                                <div class="row" ng-show="switchData.childerns">
                                    <div class="col-xs-6 form-group">
                                        <md-input-container>
                                            <label>Full Name*</label>
                                            <input ng-model="step3.childrenfullname">
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-6 form-group">
                                         <md-input-container>
                                                <label>Date of Birth </label>
                                                <datepicker date-format="MM/dd/yyyy">
                                                    <input type="text" class="date-input" ng-model="dob12" ng-required="true">
                                                </datepicker>
                                              
                                            </md-input-container>
                                       
                                    </div>
                                    <div class="row">
                                        <div class="add-ff col-md-8">
                                            <a href="">+ Add Child</a>
                                        </div>

                                    </div>
                                </div>



                                <!--gsg-->

                                <h3>Employment Details</h3>
                                <div class="row">
                                    <div class="col-xs-6 form-group">
                                        <div layout layout-sm="column">
                                            <md-input-container>
                                                <label>Work Status*</label>
                                                <input ng-model="step3.empworkstatus">
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 form-group">
                                        <md-input-container>
                                            <label>Employer Name*</label>
                                            <input ng-model="step3.empoyername">
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6 form-group">
                                        <md-input-container>
                                            <label>Occupation*</label>
                                            <input ng-model="step3.empoccupation">
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-6 form-group">
                                        <md-input-container>
                                            <label>Type of business*</label>
                                            <input ng-model="step3.emptypeofbuss">
                                        </md-input-container>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-6 form-group">
                                        <md-input-container>
                                            <label>Legal Status*</label>
                                            <input ng-model="step3.emplegalstatus">
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-6 form-group">
                                        <md-input-container>
                                            <label>Country of Dual or Secondary Citizenship*</label>
                                            <input ng-model="step3.empcitizenship">
                                        </md-input-container>
                                    </div>
                                </div>



                                <div class="row">
                                    <div class="col-xs-3 form-group">
                                        <md-input-container>
                                            <label>City</label>
                                            <input ng-model="step3.empcity">
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-3 form-group">
                                        <md-input-container>
                                            <label>State*</label>
                                            <md-select ng-model="user.state">
                                                <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                                                    {{state.abbrev}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>

                                    </div>
                                    <div class="col-xs-3 form-group">
                                        <md-input-container>
                                            <label>Zip Code*</label>
                                            <input ng-model="step3.empzipcode">
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-3 form-group">
                                        <md-input-container>
                                            <label>Country*</label>
                                            <md-select ng-model="step3.country">
                                                <md-option ng-repeat="country in count" value="{{country.code}}">
                                                    {{country.name}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>
                                </div>


                                <!--Additional details-->

                                <h3>Additional Details</h3>
                                <div class="form-group">
                                    <div class="col-sm-2" style="margin-top: 15px; padding-left:0px;">Trustee</div>
                                    <div class="col-sm-6 col-sm-offset-4">
                                        <md-switch ng-model="switchData.trustee" aria-label="Default">{{ switchData.trustee === true?'Yes':'No' }} </md-switch>
                                    </div>
                                </div>
                                <div class="row" ng-show="switchData.trustee">
                                    <div class="col-xs-6 form-group">
                                        <div layout layout-sm="column">
                                            <md-input-container>
                                                <label>Trustee*</label>
                                                <md-select ng-model="step3.trustee">
                                                    <md-option ng-repeat="trustee in trustees" value="{{trustee.abbrev}}">
                                                        {{trustee.abbrev}}
                                                    </md-option>
                                                </md-select>
                                            </md-input-container>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" ng-show="switchData.trustee">
                                    <div class="col-xs-6 form-group">
                                        <div layout layout-sm="column">
                                            <md-input-container>
                                                <label>Full Name*</label>
                                                <input>
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 form-group">
                                        <md-input-container>
                                            <label>Email*</label>
                                            <input>
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="row" ng-show="switchData.trustee">
                                    <div class="col-xs-6 form-group">
                                        <md-input-container>
                                            <label>SSN*</label>
                                           <input type =text placeholder="###-##-####" ng-model="ssn" maxlength="9" name="ssn" validate-ssn/>
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-6 form-group">
                                        <md-input-container>
                                            <label>Phone*</label>
                                            <input>
                                        </md-input-container>
                                    </div>
                                </div>





                                <div class="row" ng-show="switchData.trustee">
                                    <div class="col-xs-3 form-group">
                                        <md-input-container>
                                            <label>City</label>
                                            <input>
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-3 form-group">
                                        <md-input-container>
                                            <label>State</label>
                                            <md-select ng-model="user.state">
                                                <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                                                    {{state.abbrev}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-3 form-group">
                                        <md-input-container>
                                            <label>Zip Code*</label>
                                            <input>
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-3 form-group">
                                        <md-select ng-model="step3.country">
                                            <md-option ng-repeat="country in count" value="{{country.code}}">
                                                {{country.name}}
                                            </md-option>
                                        </md-select>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-sm-2" style="margin-top: 15px; padding-left:0px;">Beneficiary</div>
                                    <div class="col-sm-6 col-sm-offset-4">
                                        <md-switch ng-model="switchData.beneficiary" aria-label="Default">{{ switchData.beneficiary=== true?'Yes':'No' }} </md-switch>
                                    </div>
                                </div>

                                <div class="row" ng-show="switchData.beneficiary">
                                    <div class="col-xs-6 form-group">
                                        <div layout layout-sm="column">
                                            <md-input-container>
                                                <label>Beneficiary*</label>
                                                 <md-select ng-model="step3.Beneficiary">
                                                    <md-option ng-repeat="Beneficiary in Beneficiaries" value="{{Beneficiary.abbrev}}">
                                                        {{Beneficiary.abbrev}}
                                                    </md-option>
                                                </md-select>
                                            </md-input-container>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" ng-show="switchData.beneficiary">
                                    <div class="col-xs-6 form-group">
                                        <div layout layout-sm="column">
                                            <md-input-container>
                                                <label>Beneficiary Type*</label>
                                                <md-select ng-model="step3.BeneficiaryType">
                                                    <md-option ng-repeat="BeneficiaryType in BeneficiariesType" value="{{BeneficiaryType.abbrev}}">
                                                        {{BeneficiaryType.abbrev}}
                                                    </md-option>
                                                </md-select>
                                            </md-input-container>
                                           
                                        </div>
                                    </div>
                                    <div class="col-xs-6 form-group">
                                        <md-input-container>
                                            <label>Full Name*</label>
                                            <input>
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="row" ng-show="switchData.beneficiary">
                                    <div class="col-xs-6 form-group">
                                        <md-input-container>
                                            <label>SSN*</label>
                                           <input type =text placeholder="###-##-####" ng-model="ssn" maxlength="9" name="ssn" validate-ssn/>
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-6 form-group">
                                         <md-input-container>
                                                <label>Relationship*</label>
                                                <md-select ng-model="step3.Relationship">
                                                    <md-option ng-repeat="Relationship in RelationshipType" value="{{Relationship.abbrev}}">
                                                        {{Relationship.abbrev}}
                                                    </md-option>
                                                </md-select>
                                            </md-input-container>
                                    </div>
                                </div>




                                <div class="row" ng-show="switchData.beneficiary">
                                    <div class="col-xs-3 form-group">
                                        <md-input-container>
                                            <label>City</label>
                                            <input type="text">
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-3 form-group">
                                        <md-input-container>
                                            <label>State</label>
                                            <md-select ng-model="user.state">
                                                <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                                                    {{state.abbrev}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-3 form-group">
                                        <md-input-container>
                                            <label>Zip Code*</label>
                                            <input>
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-3 form-group">
                                        <md-select ng-model="step3.country">
                                            <md-option ng-repeat="country in count" value="{{country.code}}">
                                                {{country.name}}
                                            </md-option>
                                        </md-select>
                                    </div>
                                    <div class="row">
                                        <div class="add-ff col-md-8">
                                            <a href="">+ Add Beneficiary</a>
                                        </div>

                                    </div>
                                </div>



                                <!-- funds transfer for new accounts-->

                                <h3>Funds Transfer for New Accounts</h3>

                                <div class="row">
                                    <div class="col-xs-6 form-group">
                                        <div layout layout-sm="column">
                                            <md-input-container>
                                                <label>Bank Name*</label>
                                                <input ng-model="step3.bankname">
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 form-group">
                                        <md-input-container>
                                            <label>Account Title*</label>
                                            <input ng-model="step3.factitle">
                                        </md-input-container>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-6 form-group">
                                        <div layout layout-sm="column">
                                            <md-input-container>
                                                <label>Account Number*</label>
                                                <input ng-model="step3.fundtransferaccountno">
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 form-group">
                                        <md-input-container>
                                            <label>Routing Number*</label>
                                            <input ng-model="step3.routingno">
                                        </md-input-container>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-6 form-group">
                                        <div layout layout-sm="column">
                                            <md-input-container>
                                                <label>Account Type*</label>
                                                <md-select ng-model="step3.typeofaccount">
                                                    <md-option ng-repeat="accounts in accounttype" value="{{accounts.abbrev}}">
                                                        {{accounts.abbrev}}
                                                    </md-option>
                                                </md-select>
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 form-group">
                                        <md-input-container>
                                            <label>Transaction Amount*</label>
                                            <input ng-model="step3.empoyername">
                                        </md-input-container>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-sm-4" style="margin-top: 15px;">Set up Recurring Transfer?</div>
                                        <div class="col-sm-3 col-sm-offset-3">
                                            <md-switch ng-model="switchData.Recurring" aria-label="Default">{{ switchData.Recurring=== true?'Yes':'No' }} </md-switch>
                                        </div>
                                    </div>
                                </div>



                                <!--Account Deatils-->

                                <h3 ng-show="switchData.Recurring">Account Deatils</h3>

                                <div class="row" ng-show="switchData.Recurring">
                                    <div class="col-xs-6 form-group">
                                        <div layout layout-sm="column">
                                            <md-input-container>
                                                <label>Name of Account*</label>
                                                <input ng-model="step3.acname">
                                            </md-input-container>
                                        </div>
                                    </div>
                                </div>

                                <!--Document Upload-->
                                <div layout="column" class="col-md-4" style="margin-top: 20px;">
                                    <h3>Document Upload</h3>

                                    <img style="width:80%;" src="images/document_upload.png">
                                </div>




                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </div>



    </div>
</div>
</div>