<style>
    .container {
        width: 1170px;
        max-width: 100%;
        margin: 0 auto;
        padding: 10px 0px;
        background: #2a303d;
    }
    md-input-container{width:100%}
</style>

<div class="page page-form" ng-controller="FormCtrl">

    <div class="row ui-section" ng-controller="OpenAccount">

<div class="panel panel-default">
            <div class="panel-body body-dark hhd">
               <div class="row">
                    <div class="col-md-2 col-xs-12 col-sm-12 hhd-1">
                        <div class="profile-info">
                            <div class="detail-cont">
                                OPEN AN ACCOUNT
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-xs-12 col-sm-12 hhd-2">
                       <div class="row bs-wizard" style="border-bottom:0;">
                
                <div class="col-xs-1 bs-wizard-step complete">
                  
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a ui-sref="page.openaccountstep1" class="bs-wizard-dot"></a>
                 <md-tooltip>Start</md-tooltip>
                </div>
                
                <div class="col-xs-1 bs-wizard-step complete"><!-- complete -->
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a ui-sref="page.openaccountstep2" class="bs-wizard-dot"></a>
               <md-tooltip>Answer Risk Questionnaire</md-tooltip>
                </div>
                
                <div class="col-xs-1 bs-wizard-step complete"><!-- complete -->
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a ui-sref="page.openaccountstep3" href="#" class="bs-wizard-dot"></a>
                  <md-tooltip>Select Recommended Portfolio</md-tooltip>
                </div>
                
                <div class="col-xs-1 bs-wizard-step active"><!-- active -->
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a ui-sref="page.openaccountstep4" class="bs-wizard-dot"></a>
                <md-tooltip>Choose Account Type</md-tooltip>
                </div>
                  <div class="col-xs-1 bs-wizard-step disabled"><!-- active -->
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="javascript:void(0)" class="bs-wizard-dot"></a>
                <md-tooltip>Enter Application Data</md-tooltip>
                </div>
                  <div class="col-xs-1 bs-wizard-step disabled"><!-- active -->
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="javascript:void(0)" class="bs-wizard-dot"></a>
                <md-tooltip>Specify Funds Source</md-tooltip>
                </div>
                  <div class="col-xs-1 bs-wizard-step disabled"><!-- active -->
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="javascript:void(0)" class="bs-wizard-dot"></a>
                <md-tooltip>Review</md-tooltip>
                </div>
                  <div class="col-xs-1 bs-wizard-step disabled"><!-- active -->
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="javascript:void(0)" class="bs-wizard-dot"></a>
                <md-tooltip>Finish</md-tooltip>
                </div>
            </div>
        
        
        
        
        
	</div>

      <div class="col-md-4 col-xs-12 col-sm-12 hhd-3">
                        <ul class="add_goal_buttons pull-right btns_add_goal">
                        <li><button ng-click="resetAccountForm()" class="md-raised btns_add_goal_3 btn-w-sm md-primary md-button md-ink-ripple btn-grey btns_add_goal" type="button"><span class="ng-scope btns-open-accounts-sm">Cancel</span><div class="md-ripple-container"></div></button></li>
                        <li><button class="md-raised btns_add_goal_3 btn-w-sm md-primary md-button md-ink-ripple btn-save btns_add_goal" type="button" ng-click="save(4);"><span class="ng-scope btns-open-accounts-sm">Continue</span><div class="md-ripple-container"></div></button></li>
                        </ul>
                    </div>

                   

               

               

                </div>

            </div>
        </div>

        <div class="panel panel-default" ng-init="getAccountType();">
             <div class="panel-body panel-body-inner panel-head-bold" style="padding: 22px 75px !important;">


                

                <div class="row">
                        <h2 class="outer-head">Account Type</h2>
                        <div layout="column" class="col-md-12" ng-cloak class="md-inline-form inputdemoBasicUsage">
                                <div layout-padding>
                                    <form class="account-form">
                        

			                        <div class="row">
			                            <div class="col-md-8 col-md-offset-4">
					                       <h4 class="heading-inner">IRA</h3> 
					                     
					
					                        <div layout layout-sm="column">
					                            <md-radio-group class="ui-md-radio-group" ng-model="accType">
					                                <md-radio-button ng-value="'traditionalIra'">Traditional IRA</md-radio-button>
					                                <md-radio-button ng-value="'rothIra'"> Roth IRA </md-radio-button>
					                                <md-radio-button ng-value="'sepIra'">SEP IRA</md-radio-button>
					                                 <md-radio-button ng-value="'simpleIra'">SIMPLE IRA</md-radio-button>
					                            </md-radio-group>
					                        </div>
			                            </div> 
			                            
	                                    <div class="col-md-8 col-md-offset-4">
					                       <h4 class="heading-inner">BROKERAGE</h3> 
					                     
					
					                        <div layout layout-sm="column">
					                            <md-radio-group class="ui-md-radio-group" ng-model="accType">
					                                <md-radio-button ng-value="'individual'">Individual</md-radio-button>
					                                <md-radio-button ng-value="'joint'"> Joint </md-radio-button>
					                                <md-radio-button ng-value="'UTMA/UGMA'">UTMA/UGMA</md-radio-button>
					                            </md-radio-group>
					                        </div>
			                            </div> 
			                            
	                                  <div class="col-md-8 col-md-offset-4">
					                      <h4 class="heading-inner">TRUST</h3> 
					                     
					
					                        <div layout layout-sm="column">
					                            <md-radio-group class="ui-md-radio-group" ng-model="accType">
					                                <md-radio-button ng-value="'personalTrust'">Personal</md-radio-button>
					                                <md-radio-button ng-value="'qualifiedRetirementPlan'"> Qualified Retirement Plan </md-radio-button>
					                            </md-radio-group>
					                        </div>
					                  </div> 
			                        </div>

  								</form>
 						</div>
       				</div>
       			</div>          

             </div>
         </div>



        </div>
</div>
