
<div class="page page-form" ng-controller="matchedPortfolioCtrl">

    <div class="row ui-section">
<div class="panel panel-default">
            <div class="panel-body body-dark hhd">
               <div class="row">

                    <div class="col-md-2 col-xs-12 col-sm-12 hhd-1">
                        <div class="profile-info">
                            <div class="detail-cont">
                                OPEN AN ACCOUNT
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12 col-sm-12 hhd-2">
                       <div class="row bs-wizard" style="border-bottom:0;">
                
                <div class="col-xs-1 bs-wizard-step complete">
                  
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a ui-sref="page.openaccountstep1" class="bs-wizard-dot"></a>
                 <md-tooltip>Start</md-tooltip>
                </div>
                
                <div class="col-xs-1 bs-wizard-step active"><!-- complete -->
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a ui-sref="page.openaccountstep2" class="bs-wizard-dot"></a>
               <md-tooltip>Answer Risk Questionnaire</md-tooltip>
                </div>
                
                <div class="col-xs-1 bs-wizard-step disabled"><!-- complete -->
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="javascript:void(0)" href="#" class="bs-wizard-dot"></a>
                  <md-tooltip>Select Recommended Portfolio</md-tooltip>
                </div>
                
                <div class="col-xs-1 bs-wizard-step disabled"><!-- active -->
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="javascript:void(0)" class="bs-wizard-dot"></a>
                <md-tooltip>Choose Account Type</md-tooltip>
                </div>
                  <div class="col-xs-1 bs-wizard-step disabled"><!-- active -->
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="javascript:void(0)" class="bs-wizard-dot"></a>
                <md-tooltip>Enter Application Data</md-tooltip>
                </div>
                  <div class="col-xs-1 bs-wizard-step disabled"><!-- active -->
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="javascript:void(0)" class="bs-wizard-dot"></a>
                <md-tooltip>Specify Funds Source</md-tooltip>
                </div>
                  <div class="col-xs-1 bs-wizard-step disabled"><!-- active -->
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="javascript:void(0)" class="bs-wizard-dot"></a>
                <md-tooltip>Review</md-tooltip>
                </div>
                  <div class="col-xs-1 bs-wizard-step disabled"><!-- active -->
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="javascript:void(0)" class="bs-wizard-dot"></a>
                <md-tooltip>Finish</md-tooltip>
                </div>
            </div>
        
        
        
        
        
	</div>
                   
                    <div class="col-md-4 col-xs-12 col-sm-12 hhd-3">
                        <ul class="add_goal_buttons pull-right btns_add_goal">
                        <li><button ng-click="resetAccountForm()" class="md-raised btns_add_goal_3 btn-w-sm md-primary md-button md-ink-ripple btn-grey btns_add_goal" type="button"><span class="ng-scope btns-open-accounts-sm">Cancel</span><div class="md-ripple-container"></div></button></li>
                        <li><button class="md-raised btns_add_goal_3 btn-w-sm md-primary md-button md-ink-ripple btn-save btns_add_goal" type="button" ng-click="save(2);"><span class="ng-scope btns-open-accounts-sm">Continue</span><div class="md-ripple-container"></div></button></li>
                        </ul>
                    </div>


                

               

                </div>

            </div>
        </div>
        
        
        <div class="panel panel-default" ng-init="questionList();">
             <div class="panel-body panel-body-inner panel-head-bold" style="padding: 22px 75px !important;">


                

                <div class="row">
                        <h2 class="outer-head">Risk Tolerance Questionnaire</h2>
                        <div layout="column" class="col-md-12" ng-cloak class="md-inline-form inputdemoBasicUsage">
                              <div layout-padding>
		               			<form name="questionForm" class="form-validation settings-form">
			                        <span ng-repeat="(qIndex, question) in questions">
				                        <div layout layout-sm="column" > 
				                           <h4 class="heading-inner-group">
				                            {{question.text}}
				                            </h4>
				                        </div>
				
				                        <div layout layout-sm="column" class="form-group">
				                            <md-radio-group ng-class='addDymCLass($index);' ng-model="riskToleranceData[qIndex]" class="ui-md-radio-group-inline" name="question_{{qIndex}}" ng-required="true">
				                                <md-radio-button ng-repeat="option in question.answers  | orderBy:'answer_order'"  ng-value="option.id" aria-label="{{option.text}}" ng-click="riskToleranceData[qIndex] = option.id ;">
				                                   {{option.text}}
				                                </md-radio-button>
				                                <div ng-messages="questionForm['question_'+qIndex].$error" md-auto-hide="false" ng-if="questionForm['question_'+qIndex].$dirty">
		                                     		<div class="error-msg-qus" ng-message="required"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Please select the answer that best represents you.</div>
		                                     	</div>
				                            </md-radio-group>
				                            <!-- <div ng-messages="questionForm['question_'+qIndex].$error">
		                                        <div ng-message="required">This field is required</div>
		                                    </div> -->
				                        </div>
			                    </span>
		                     </form>
		       				</div>
		       			</div>          

                </div>
            </div>

      
    </div>
</div>