<div class="page page-form" ng-controller="matchedPortfolioCtrl">

    <div class="row ui-section">

        <div class="panel panel-default">
            <div class="panel-body body-dark hhd">
                <div class="row">

                    <div class="col-md-2 col-xs-12 col-sm-12 hhd-1">
                        <div class="profile-info">
                            <div class="detail-cont">
                                OPEN AN ACCOUNT
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12 col-sm-12 hhd-2">
                        <div class="row bs-wizard" style="border-bottom:0;">

                            <div class="col-xs-1 bs-wizard-step complete">

                                <div class="progress">
                                    <div class="progress-bar"></div>
                                </div>
                                <a ui-sref="page.openaccountstep1" class="bs-wizard-dot"></a>
                                <md-tooltip>Start</md-tooltip>
                            </div>

                            <div class="col-xs-1 bs-wizard-step complete">
                                <!-- complete -->

                                <div class="progress">
                                    <div class="progress-bar"></div>
                                </div>
                                <a ui-sref="page.openaccountstep2" class="bs-wizard-dot"></a>
                                <md-tooltip>Answer Risk Questionnaire</md-tooltip>
                            </div>

                            <div class="col-xs-1 bs-wizard-step active">
                                <!-- complete -->

                                <div class="progress">
                                    <div class="progress-bar"></div>
                                </div>
                                <a ui-sref="page.openaccountstep3" href="#" class="bs-wizard-dot"></a>
                                <md-tooltip>Select Recommended Portfolio</md-tooltip>
                            </div>

                            <div class="col-xs-1 bs-wizard-step disabled">
                                <!-- active -->

                                <div class="progress">
                                    <div class="progress-bar"></div>
                                </div>
                                <a href="javascript:void(0)" class="bs-wizard-dot"></a>
                                <md-tooltip>Choose Account Type</md-tooltip>
                            </div>
                            <div class="col-xs-1 bs-wizard-step disabled">
                                <!-- active -->

                                <div class="progress">
                                    <div class="progress-bar"></div>
                                </div>
                                <a href="javascript:void(0)" class="bs-wizard-dot"></a>
                                <md-tooltip>Enter Application Data</md-tooltip>
                            </div>
                            <div class="col-xs-1 bs-wizard-step disabled">
                                <!-- active -->

                                <div class="progress">
                                    <div class="progress-bar"></div>
                                </div>
                                <a href="javascript:void(0)" class="bs-wizard-dot"></a>
                                <md-tooltip>Specify Funds Source</md-tooltip>
                            </div>
                            <div class="col-xs-1 bs-wizard-step disabled">
                                <!-- active -->

                                <div class="progress">
                                    <div class="progress-bar"></div>
                                </div>
                                <a href="javascript:void(0)" class="bs-wizard-dot"></a>
                                <md-tooltip>Review</md-tooltip>
                            </div>
                            <div class="col-xs-1 bs-wizard-step disabled">
                                <!-- active -->

                                <div class="progress">
                                    <div class="progress-bar"></div>
                                </div>
                                <a href="javascript:void(0)" class="bs-wizard-dot"></a>
                                <md-tooltip>Finish</md-tooltip>
                            </div>
                        </div>





                    </div>

                    <div class="col-md-4 col-xs-12 col-sm-12 hhd-3">
                        <ul class="add_goal_buttons pull-right btns_add_goal">
                        <li><button ng-click="resetAccountForm()" class="md-raised btns_add_goal_3 btn-w-sm md-primary md-button md-ink-ripple btn-grey btns_add_goal" type="button"><span class="ng-scope btns-open-accounts-sm">Cancel</span><div class="md-ripple-container"></div></button></li>
                        <li><button class="md-raised btns_add_goal_3 btn-w-sm md-primary md-button md-ink-ripple btn-save btns_add_goal" type="button" ng-click="save(3);"><span class="ng-scope btns-open-accounts-sm">Continue</span><div class="md-ripple-container"></div></button></li>
                        </ul>
                    </div>


              



                </div>

            </div>
        </div>

        <div class="panel panel-default" ng-init="getMatchedPortfolio();">
            <div class="panel-body panel-body-inner panel-head-bold" style="padding: 22px 75px !important;">

                <div class="row">
                    <h2 class="outer-head">Recommended Portfolio</h2>
                    <div layout="column" class="col-md-12" ng-cloak class="md-inline-form inputdemoBasicUsage">

                    </div>
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-2">
                            <a href=""><i class="zmdi zmdi-chevron-left icn-15" ng-show="selectedPortfolio > 0" ng-click="goPrevious()"></i>
                            <i class="zmdi zmdi-chevron-left icn-15" style="color:#e6e6e6" ng-show="selectedPortfolio == 0"></i></a>
                        </div>
                        <div class="col-md-8">
                            <h4 style="text-align: center;">RECOMMENDED PORTFOLIO</h4>
                            <h5 style="text-align: center;"><b>{{nameData}}</b></h5>
                            <div class="row" style="margin-top:50px;margin-left:10px;">
                                <div class="col-md-6 col-md-offset-1">
                                    <canvas id="matchedportfolioDoughnutStep3" style="height: 225px;"></canvas>
                                </div>
                                <div class="col-md-2">
                                    <div id="my-legendStep3" class="chart-legend"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2" style="text-align: right;">
                            <a href=""><i class="zmdi zmdi-chevron-right icn-15" ng-show="recommendedPortfolioLength > (selectedPortfolio+1)" ng-click="goNext()"></i>
                                       <i class="zmdi zmdi-chevron-right icn-15" style="color:#e6e6e6" ng-show="recommendedPortfolioLength === (selectedPortfolio+1)"></i></a>
                        </div>
                    </div>
                </div>

                <div class="row client-head-top ">
                    <div class="col-md-4 col-md-offset-4">
                        <h3 class="portfolio_moderate">Recommended Portfolio: {{matchPortfolio.portfolioName}}</h3>

                        <div class="table-responsive">
                            <table class="table no-margin table-goal">
                                <tbody>
                                    <tr ng-repeat="dataval in matchPortfolio.profileData">
                                        <td>{{dataval.name}}</td>
                                        <td class="tright">{{dataval.value}}%</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>




                <!--<span ng-repeat="question in selectedQuestion">
                        <div layout layout-sm="column" >
                         
                                <h4 class="heading-inner-group ng-binding">{{question.question}}</h4>
                          
                        </div>

                        <div ng-if="question.selected!=undefined" layout layout-sm="column">
                            <md-radio-group ng-model="question.selected"  class="ui-md-radio-group-inline">
                                <md-radio-button  ng-value="question.selected" aria-label="{{question.selected}}">
                                   {{question.selected}}
                                </md-radio-button>
                            </md-radio-group>
                        </div>
                          <div ng-if="question.selected === undefined" layout layout-sm="column">
                            <md-radio-group ng-model="question.selected" class="ui-md-radio-group-inline">
                                <md-radio-button ng-repeat="option in question.options" ng-if="$index==0;question.selected=option.value" ng-value="option.value" aria-label="{{option.lable}}">
                                   {{option.lable}}
                                </md-radio-button>

                            </md-radio-group>
                        </div>
                        </span>-->

            </div>
        </div>