<style>

    md-input-container{width:100%}
</style>

<div class="page page-form" ng-controller="FormCtrl">

    <div class="row ui-section" ng-controller="OpenAccount">

        <div class="panel panel-default">
            <div class="panel-body body-dark hhd">
               <div class="row">
                    <div class="col-md-2 col-xs-12 col-sm-12 hhd-1">
                        <div class="profile-info">
                            <div class="detail-cont details_cont_2">
                                OPEN AN ACCOUNT
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-xs-12 col-sm-12 hhd-2">
                       <div class="row bs-wizard" style="border-bottom:0;">
                
                <div class="col-xs-1 bs-wizard-step">
                  
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a ui-sref="page.openaccountstep1" class="bs-wizard-dot"></a>
                  <md-tooltip>Start</md-tooltip>
                 
                </div>
                
                <div class="col-xs-1 bs-wizard-step disabled"><!-- complete -->
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="javascript:void" class="bs-wizard-dot"></a>
                  <md-tooltip>Answer Risk Questionnaire</md-tooltip>
               
                </div>
                
                <div class="col-xs-1 bs-wizard-step disabled"><!-- complete -->
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="javascript:void" class="bs-wizard-dot"></a>
                   <md-tooltip>Select Recommended Portfolio</md-tooltip>
                </div>
                
                <div class="col-xs-1 bs-wizard-step disabled"><!-- active -->
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="javascript:void" class="bs-wizard-dot"></a>
                   <md-tooltip>Choose Account Type</md-tooltip>
                </div>
                  <div class="col-xs-1 bs-wizard-step disabled"><!-- active -->
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                 <a href="javascript:void" class="bs-wizard-dot"></a>
                 <md-tooltip>Enter Application Data</md-tooltip>
                </div>
                  <div class="col-xs-1 bs-wizard-step disabled"><!-- active -->
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="javascript:void" class="bs-wizard-dot"></a>
                 <md-tooltip>Specify Funds Source</md-tooltip>
                </div>
                  <div class="col-xs-1 bs-wizard-step disabled"><!-- active -->
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                 <a href="javascript:void" class="bs-wizard-dot"></a>
                 <md-tooltip>Review</md-tooltip>
                </div>
                  <div class="col-xs-1 bs-wizard-step disabled"><!-- active -->
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                 <a href="javascript:void" class="bs-wizard-dot"></a>
                 <md-tooltip>Finish</md-tooltip>
                </div>
            </div>
        
        
        
        
        
	</div>
                   

                    <div class="col-md-4 col-xs-12 col-sm-12 hhd-3">
                        <ul class="add_goal_buttons pull-right btns_add_goal">
                        <li><button ng-click="resetAccountForm()" class="md-raised btns_add_goal_3 btn-w-sm md-primary md-button md-ink-ripple btn-grey btns_add_goal" type="button"><span class="ng-scope btns-open-accounts-sm">Cancel</span><div class="md-ripple-container"></div></button></li>
                        <li><button ui-sref="page.openaccountstep2" class="md-raised btns_add_goal_3 btn-w-sm md-primary md-button md-ink-ripple btn-save btns_add_goal" type="button"><span class="ng-scope btns-open-accounts-sm">Continue</span><div class="md-ripple-container"></div></button></li>
                        </ul>
                    </div>

               

                </div>

            </div>
        </div>

        <div class="panel panel-default">
             <div class="panel-body panel-body-inner panel-head-bold" style="padding: 22px 75px !important;">


                

                <div class="row">
                        <h2 class="outer-head">Disclaimer</h2>
                        <div layout="column" class="col-md-12" ng-cloak class="md-inline-form inputdemoBasicUsage">
                                <div layout-padding style="padding:77px 0">
                              <p class="ac-con">By entering and verifying your information, you will be requesting<br>
                                  {{firmName}} to open an account through our custodial institution. Please complete all fields to the best of your ability.
                                All the asked information is required to complete the account opening with our custodial institution, including a current account by which to fund the new account. Please contact us with any questions. Welcome to {{firmName}}!</p> 
                                <ul class="add_goal_buttons tcenter">
                        <li><button ng-click="resetAccountForm()" class="md-raised btn-w-sm md-primary md-button md-ink-ripple btn-grey" type="button"><span class="ng-scope">Cancel</span><div class="md-ripple-container"></div></button></li>
                        <li><button ui-sref="page.openaccountstep2" class="md-raised btn-w-sm md-primary md-button md-ink-ripple btn-save" type="button"><span class="ng-scope">Continue</span><div class="md-ripple-container"></div></button></li>
                        </ul>    
 </div>
       </div></div>          

                </div>
            </div>



        </div>
    </div>
</div>