<style>
        .drop-box {
        background: #F8F8F8;
        border: 2px dashed #DDD;
        width: 100%;
        min-height: 400px;
        text-align: center;
        padding-top: 25px;
        margin: 0 auto;
        height: auto;
    }
    
    .open-account-design {
        height: 24px;
        width: 65px !important;
        min-height: 23px !important;
        padding: 0px !important;
        min-width: 60px !important;
        font-size: 12px !important;
        margin-top: 0px !important;
    }
    
    .drag-image-small {
        float: left;
        background: #f8f8f8;
        box-shadow: 0px 0px 0px #c1c1c1;
        display: inline;
        margin: 45px 0px 0 20px;
        width: 175px;
        max-height: 240px;
    }
    
    .drag-canvas canvas {
        width: 50px !important;
        height: 160px;
        min-height: 150px !important;
        max-height: 180px !important;
    }
    
    .card-md_image {
        height: 164px !important;
        min-height: 150px !important;
        max-height: 180px !important;
    }
    
    .card-file-name {
        font-size: 14px !important;
        font-weight: bold !important;
    }
    
    .card-title-file-name {
        padding: 10px 10px 0px 10px !important;
    }
    
    .card-title-file-btn {
        padding: 0px 10px 10px 10px !important;
    }
    
    .pdf-file-size {
        margin: 0px !important;
    }
    
    .trashIconCard {
        display: none;
    }
    
    .md-card-hover-icon:hover .trashIconCard {
        display: block !important;
    }
    
    .md-card-hover-icon:hover .card_icon {
        display: none !important;
    }
    md-input-container{width:100%}
    .dz-success-mark {
    	display: none;
    }
    .dz-error-mark{
    	display: none;
    }
    .dz-image {
    	display: none;
    }

</style>

<div class="page page-form" ng-controller="FormCtrl">
    <div class="row ui-section" ng-controller="OpenAccount">
<div class="panel panel-default">
            <div class="panel-body body-dark hhd">
               <div class="row">

                    <div class="col-md-2 col-xs-12 col-sm-12 hhd-1">
                        <div class="profile-info">
                            <div class="detail-cont">
                                OPEN AN ACCOUNT
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-xs-12 col-sm-12 hhd-2">
                       <div class="row bs-wizard" style="border-bottom:0;">
                
                <div class="col-xs-1 bs-wizard-step complete">
                  
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a ui-sref="page.openaccountstep1" class="bs-wizard-dot"></a>
                 <md-tooltip>Start</md-tooltip>
                </div>
                
                <div class="col-xs-1 bs-wizard-step complete"><!-- complete -->
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a ui-sref="page.openaccountstep2" class="bs-wizard-dot"></a>
               <md-tooltip>Answer Risk Questionnaire</md-tooltip>
                </div>
                
                <div class="col-xs-1 bs-wizard-step complete"><!-- complete -->
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a ui-sref="page.openaccountstep3" href="#" class="bs-wizard-dot"></a>
                  <md-tooltip>Select Recommended Portfolio</md-tooltip>
                </div>
                
                <div class="col-xs-1 bs-wizard-step complete"><!-- active -->
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a ui-sref="page.openaccountstep4" class="bs-wizard-dot"></a>
                <md-tooltip>Choose Account Type</md-tooltip>
                </div>
                  <div class="col-xs-1 bs-wizard-step complete"><!-- active -->
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a ui-sref="page.openaccountstep5" class="bs-wizard-dot"></a>
                <md-tooltip>Enter Application Data</md-tooltip>
                </div>
                  <div class="col-xs-1 bs-wizard-step active"><!-- active -->
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a ui-sref="page.openaccountstep6" class="bs-wizard-dot"></a>
                <md-tooltip>Specify Funds Source</md-tooltip>
                </div>
                  <div class="col-xs-1 bs-wizard-step disabled"><!-- active -->
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a ui-sref="javascript:void(0)" class="bs-wizard-dot"></a>
                <md-tooltip>Review</md-tooltip>
                </div>
                  <div class="col-xs-1 bs-wizard-step disabled"><!-- active -->
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="javascript:void(0)" class="bs-wizard-dot"></a>
                <md-tooltip>Finish</md-tooltip>
                </div>
            </div>
        
        
        
        
        
	</div>
                   

                  
                    <div class="col-md-4 col-xs-12 col-sm-12 hhd-3">
                        <ul class="add_goal_buttons pull-right btns_add_goal">
                        <li><button ng-click="resetAccountForm()" class="md-raised btns_add_goal_3 btn-w-sm md-primary md-button md-ink-ripple btn-grey btns_add_goal" type="button"><span class="ng-scope btns-open-accounts-sm">Cancel</span><div class="md-ripple-container"></div></button></li>
                        <li><button ng-click="save(6);" class="md-raised btns_add_goal_3 btn-w-sm md-primary md-button md-ink-ripple btn-save btns_add_goal" type="button"><span class="ng-scope btns-open-accounts-sm">Continue</span><div class="md-ripple-container"></div></button></li>
                        </ul>
                    </div>

               

                </div>

            </div>
        </div>

       <div class="panel panel-default" ng-init="getAccountInfo();">
       
         <div class="panel-body panel-body-inner panel-head-bold" style="padding: 22px 75px !important;">
         
        	<div class="row">
               <h2 class="outer-head">Funds Source</h2>
                <div layout="column" class="col-md-4" style="margin-top: 20px;">
                        <h3>Document Upload</h3>
                        <p>Please attach a photo of a voided check, deposit slip, or a copy of a bank statement below. These
                            documents will be uploaded to your vault under the Account Opening folder.</p>
                        <!--<div class="file_process" style="width: 277px; height: 444px; background: silver none repeat scroll 0px 0px;" acc-Drop-Zone=""
                                    id="file">

                                </div>-->
                        
                            <div ngf-drop ngf-keep="'distinct'" ngf-change="displayFile($files, $file, $newFiles, $duplicateFiles, $invalidFiles, $event)"
                                ng-model="files" class="drag-head-main-inner drop-box drop-box_2" ngf-drag-over-class="'dragover'"
                                ngf-multiple="false" ngf-allow-dir="true" accept="image/*,application/pdf" ngf-pattern="'image/*,application/pdf'">
                                <div class="clearfix"></div>
                                <div class="drag-head-main-inner">
                                    Drag & drop files here, or
                                    <a class="link" ngf-keep="'distinct'" ngf-select ng-model="files" name="file" ngf-change="displayFile($files, $file, $newFiles, $duplicateFiles, $invalidFiles, $event)"
                                        accept="image/*,application/pdf" ngf-multiple="false" ngf-pattern="'image/*,application/pdf'"
                                        ngf-max-size="20">  browse in computer </a>
                                </div>
                                <div class="clearfix"></div>

                                <div class="card-main drag-image-small" ng-repeat="file in imgArray">
                                    <md-card class="pdf-file-size">
                                        <div ng-if="file.type ==='image'">
                                            <img ng-src="{{file.blobUrl}}" id="output" width="100px" height="150px" class="md-card-image card-md_image">

                                            <md-card-title class="md-card-hover-icon card-title-file-name">
                                                <md-card-title-text>
                                                    <span class="card-bold-head pull-left"> {{file.name}}</span>
                                                    <span class="card-normal-head md-headline pull-left">  {{file.size | filesize}} </span>
                                                </md-card-title-text>
                                                <md-button class="md-icon-button" aria-label="Favorite" ng-click="deleteImage($index,1)">
                                                    <md-icon class="card-icon card_icon" md-svg-icon="images/menu.svg"></md-icon>
                                                    <i class="fa fa-trash-o fa-lg trashIconCard" aria-hidden="true"></i>
                                                </md-button>
                                            </md-card-title>

                                        </div>
                                    </md-card>

                                    <md-card class="drag-canvas pdf-file-size">
                                        <div ng-if="file.type ==='application'">
                                            <pdf-viewer url="file.blobUrl" scale="1" show-toolbar="false" headers="{ 'x-you-know-whats-awesome': 'EVERYTHING' }"></pdf-viewer>

                                            <md-card-title class="md-card-hover-icon card-title-file-name">
                                                <md-card-title-text>
                                                    <span class="card-bold-head pull-left card-file-name"> {{file.name}}</span>
                                                    <span class="card-normal-head md-headline pull-left">  {{file.size | filesize}} </span>
                                                </md-card-title-text>
                                                <md-button class="md-icon-button" aria-label="Favorite">
                                                    <md-icon class="card-icon card_icon" md-svg-icon="images/menu.svg"></md-icon>
                                                    <i class="fa fa-trash-o fa-lg trashIconCard" ng-click="imgArray1.splice($index,1);files.splice($index);" aria-hidden="true"></i>
                                                </md-button>
                                            </md-card-title>

                                        </div>
                                    </md-card>

                                </div>
                            </div>
                    
                        <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>

                    </div>
                  <!--<div layout="column" class="col-md-4" style="margin-top: 20px;">
                  	 <h3>Document Upload</h3> 
                     <p>Please attach a photo of a voided check, deposit slip, or a copy of a bank statement below. These documents will be uploaded to your vault under the Account Opening folder.</p>  
                     <div class="container">
	                     <form ng-submit="" ng-controller="OpenAccount">
	                      	<div class="file_process" style="width: 277px; height: 444px; background: silver none repeat scroll 0px 0px;" acc-Drop-Zone="" id="file">
	                      	
	                         </div>
	                      </form>
	                    </div>  
                  </div>-->
                           
             	<div layout="column" class="col-md-8 border-lef" ng-cloak class="md-inline-form inputdemoBasicUsage">
                   <div layout-padding>
                      <form name="bank_form" class="account-form">
                         <h3>Funds Transfer To New Accounts</h3>     
                        <div class="row">
        <div class="col-xs-6 form-group">
              <div layout layout-sm="column">
	            <md-input-container>
		            <label>Bank Name*</label>
		            <input ng-model="clientDetails.bankName" required name="bankName" maxlength="50" ng-pattern="/^[a-zA-Z ]*$/" ng-trim="false">
		            <div ng-messages="bank_form.bankName.$error" md-auto-hide="false" ng-if="bank_form.bankName.$touched">
	                  <div ng-message="required">Required. Please enter your Bank Name.</div>
	                  <div ng-message="pattern">Invalid format.Please review and try again.</div>
	                </div>
	            </md-input-container>
              </div>
        </div>
         <div class="col-xs-6 form-group">
            <md-input-container>
	            <label>Account Tittle*</label>
	            <input ng-model="clientDetails.bankAccountTitle" required name="bankAccountTitle" maxlength="35" ng-pattern="/^[a-zA-Z ]*$/" ng-trim="false">
	            <div ng-messages="bank_form.bankAccountTitle.$error" md-auto-hide="false" ng-if="bank_form.bankAccountTitle.$touched">
	            	<div ng-message="required">Required. Please enter your Account Tittle.</div>
	             	<div ng-message="pattern">Invalid format.Please review and try again.</div>
	            </div>
            </md-input-container>
        </div>
          </div>
          <div class="row">
           <div class="col-xs-6 form-group">
            <md-input-container>
	            <label>Account Number*</label>
	            <input ng-model="clientDetails.bankAccountNumber" required name="bankAccountNumber" maxlength="17" ng-pattern="/^([0-9]{4,17})$/" ng-trim="false" numeric-only>
            	<div ng-messages="bank_form.bankAccountNumber.$error" md-auto-hide="false" ng-if="bank_form.bankAccountNumber.$touched">
	            	<div ng-message="required">Required. Please enter your Account Number.</div>
	             	<div ng-message="pattern">Invalid format.Please review and try again.</div>
	            </div>
            </md-input-container>
        	</div>
         	<div class="col-xs-6 form-group">
	            <md-input-container>
		            <label>Routing Number*</label>
		            <input ng-model="clientDetails.bankRoutingNumber" required name="bankRoutingNumber" maxlength="9" ng-pattern="/^([0-9]{9})$/" ng-trim="false" numeric-only>
	            	<div ng-messages="bank_form.bankRoutingNumber.$error" md-auto-hide="false" ng-if="bank_form.bankRoutingNumber.$touched">
		            	<div ng-message="required">Required. Please enter your Routing Number.</div>
		             	<div ng-message="pattern">Invalid format.Please review and try again.</div>
	            	</div>
	            </md-input-container>
        	</div>
      	</div>                        
        <div class="row">
        	<div class="col-xs-6 form-group">
                  <md-input-container>
                       <label>Account Type*</label>
                          <md-select ng-model="clientDetails.bankAccountType">
                        		<md-option ng-repeat="accounts in accounttype" value="{{accounts.value}}">
                                	{{accounts.text}}
                                </md-option>
                          </md-select>
                   </md-input-container>
           </div>
          
	       <div class="col-xs-6 form-group">
	            <md-input-container>
	            	<label>Transactions Amount*</label>
	            	<input ng-model="clientDetails.bankAmountOfTransaction" required name="bankAmountOfTransaction" ui-money-mask="1">
	            	<div ng-messages="bank_form.bankAmountOfTransaction.$error" md-auto-hide="false" ng-if="bank_form.bankAmountOfTransaction.$touched">
		            	<div ng-message="required">Required. Please enter your Transactions Amount.</div>
	            	</div>
	            </md-input-container>
	        </div>
   		</div>
                      
                        
        <div class="form-group">
                 <div class="col-sm-4" style="margin-top: 15px; padding-left:0px;">Set Up Recurring Transfer?</div>
                     <div class="col-sm-6 col-sm-offset-2">
                          <md-switch ng-model="switchData.rt" aria-label="Default">{{ switchData.rt== true?'Yes':'No' }} </md-switch>
                      </div>
        </div>
       	<div ng-show="switchData.rt">

       		<div class="row">
           		<div class="col-md-6 col-sm-12 col-xs-12 form-group">
                	<md-input-container>
                    	<label>Recurring Ammount*</label>
                        <input ng-model="clientDetails.recurringAmmount" name="recurringAmmount" ng-required="switchData.rt === true" ui-money-mask="1">
                    	<div ng-messages="bank_form.recurringAmmount.$error" md-auto-hide="false" ng-if="bank_form.recurringAmmount.$touched">
		            		<div ng-message="required">Required. Please enter your Recurring Amount.</div>
	            		</div>
                    </md-input-container>
                </div>
           </div>

           <div class="row">
             	<div class="col-md-6 col-sm-12 col-xs-12 form-group">
                   	<div layout layout-sm="column">
                         <md-radio-group ng-model="clientDetails.recurringTransferFrequency" class="ui-md-radio-group radio_btns_account">
                              <md-radio-button ng-repeat="option in recurringFrequency"  ng-value="option.value" aria-label="{{option.text}}">
				              		{{option.text}}
				              </md-radio-button>
                          </md-radio-group>
                     </div>
               	</div>
        </div>

        </div>
       	<div class="clearfix"></div>
       	<h3>Account Details</h3>     
        <div class="row">
            <div class="col-xs-6 form-group">
	            <md-input-container>
		            <label>Name of Account*</label>
		            <input ng-model="clientDetails.accountName" required name="accountName" maxlength="35" ng-pattern="/^[a-zA-Z ]*$/" ng-trim="false">
	            	<div ng-messages="bank_form.accountName.$error" md-auto-hide="false" ng-if="bank_form.accountName.$touched">
		            	<div ng-message="required">Required. Please enter your Name of Account.</div>
		             	<div ng-message="pattern">Invalid format.Please review and try again.</div>
	            	</div>
	            </md-input-container>
        	</div>
          	<div class="col-xs-6 form-group">
	            <md-input-container>
		            <label>Initial Contribution Amount</label>
		            <input ng-model="clientDetails.initialContributionAmount" name="initialContributionAmount" required ui-money-mask="1">
		            <div ng-messages="bank_form.initialContributionAmount.$error" md-auto-hide="false" ng-if="bank_form.initialContributionAmount.$touched">
		            	<div ng-message="required">Required. Please enter your Initial Contribution Amount.</div>
	            	</div>
	            </md-input-container>
        	</div>
      
    	</div>



  </form>
 </div>
       </div></div>          

                </div>
            </div>



        </div>
</div>


