<style>
    .container {
        width: 1170px;
        max-width: 100%;
        margin: 0 auto;
        padding: 10px 0px;
        background: #2a303d;
    }
    
    md-input-container {
        width: 100%
    }
</style>

<div class="page page-form" ng-controller="FormCtrl">

    <div class="row ui-section" ng-controller="OpenAccount">

<div class="panel panel-default">
            <div class="panel-body body-dark hhd">
               <div class="row">

                    <div class="col-md-2 col-xs-12 col-sm-12 hhd-1">
                        <div class="profile-info">
                            <div class="detail-cont">
                                OPEN AN ACCOUNT
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-xs-12 col-sm-12 hhd-2">
                       <div class="row bs-wizard" style="border-bottom:0;">
                
                <div class="col-xs-1 bs-wizard-step complete">
                  
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a ui-sref="page.openaccountstep1" class="bs-wizard-dot"></a>
                 <md-tooltip>Start</md-tooltip>
                </div>
                
                <div class="col-xs-1 bs-wizard-step complete"><!-- complete -->
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a ui-sref="page.openaccountstep2" class="bs-wizard-dot"></a>
               <md-tooltip>Answer Risk Questionnaire</md-tooltip>
                </div>
                
                <div class="col-xs-1 bs-wizard-step complete"><!-- complete -->
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a ui-sref="page.openaccountstep3" href="#" class="bs-wizard-dot"></a>
                  <md-tooltip>Select Recommended Portfolio</md-tooltip>
                </div>
                
                <div class="col-xs-1 bs-wizard-step complete"><!-- active -->
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a ui-sref="page.openaccountstep4" href="#" class="bs-wizard-dot"></a>
                <md-tooltip>Choose Account Type</md-tooltip>
                </div>
                  <div class="col-xs-1 bs-wizard-step active"><!-- active -->
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a ui-sref="page.openaccountstep5" href="#" class="bs-wizard-dot"></a>
                <md-tooltip>Enter Application Data</md-tooltip>
                </div>
                  <div class="col-xs-1 bs-wizard-step disabled"><!-- active -->
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="javascript:void(0)" class="bs-wizard-dot"></a>
                <md-tooltip>Specify Funds Source</md-tooltip>
                </div>
                  <div class="col-xs-1 bs-wizard-step disabled"><!-- active -->
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="javascript:void(0)" class="bs-wizard-dot"></a>
                <md-tooltip>Review</md-tooltip>
                </div>
                  <div class="col-xs-1 bs-wizard-step disabled"><!-- active -->
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="javascript:void(0)" class="bs-wizard-dot"></a>
                <md-tooltip>Finish</md-tooltip>
                </div>
            </div>
        
        
        
        
        
	</div>
                   

                
                    
                    <div class="col-md-4 col-xs-12 col-sm-12 hhd-3">
                        <ul class="add_goal_buttons pull-right btns_add_goal">
                        <li><button ng-click="resetAccountForm()" class="md-raised btns_add_goal_3 btn-w-sm md-primary md-button md-ink-ripple btn-grey btns_add_goal" type="button"><span class="ng-scope btns-open-accounts-sm">Cancel</span><div class="md-ripple-container"></div></button></li>
                        <li><button class="md-raised btns_add_goal_3 btn-w-sm md-primary md-button md-ink-ripple btn-save btns_add_goal" type="button" ng-click="save(5);"><span class="ng-scope btns-open-accounts-sm">Continue</span><div class="md-ripple-container"></div></button></li>
                        </ul>
                    </div>

               

                </div>

            </div>
        </div>

        <div class="panel panel-default" ng-init="getProfileInfo();">
            <div class="panel-body panel-body-inner panel-head-bold" style="padding: 22px 75px !important;">




                <div class="row">
                    <h2 class="outer-head">Account Details</h2>
                    <div layout="column" class="col-md-8 col-md-offset-2" ng-cloak class="md-inline-form inputdemoBasicUsage">
                        <div layout-padding>
                            <form name="account_form" class="account-form">
                                <h3>Personal Details</h3>
                                <div class="row">
                                    <div class="col-xs-4 form-group">
                                        <div layout layout-sm="column">
                                            <md-input-container>
                                                <label>First name*</label>
                                                <input ng-model="clientDetails.firstName" required name="firstname" maxlength="35" ng-pattern="/^[a-zA-Z{}`\\!&()\-_?/,.':;&quot;\[\]](?!.*?\s$)[a-zA-Z{}`\\!&()\-_?/,.':;&quot;\[\]\s]{1,35}$/" ng-trim="false" >
                                            	<div ng-messages="account_form.firstname.$error" md-auto-hide="false" ng-if="account_form.firstname.$touched">
                                                    <div ng-message="required">Required. Please enter your first name.</div>
                                                    <div ng-message="maxlength">This field can be at most 35 characters long.</div>
                                                    <div ng-message="pattern">This field must be a valid first name.</div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div class="col-xs-4 form-group">
                                        <div layout layout-sm="column">
                                            <md-input-container>
                                                <label>Middle name</label>
                                                <input ng-model="clientDetails.middleName" name="middlename" maxlength="35" ng-pattern="/^[a-zA-Z{}`\\!&()\-_?/,.':;&quot;\[\]](?!.*?\s$)[a-zA-Z{}`\\!&()\-_?/,.':;&quot;\[\]\s]{0,35}$/" ng-trim="false" >
                                            	<div ng-messages="account_form.middlename.$error" md-auto-hide="false" ng-if="account_form.middlename.$touched">
                                                    <div ng-message="pattern">This field must be a valid Middle name.</div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div class="col-xs-4 form-group">
                                        <div layout layout-sm="column">
                                            <md-input-container>
                                                <label>Last name*</label>
                                                <input ng-model="clientDetails.lastName" required name="lastname" maxlength="35" ng-pattern="/^[a-zA-Z{}`\\!&()\-_?/,.':;&quot;\[\]](?!.*?\s$)[a-zA-Z{}`\\!&()\-_?/,.':;&quot;\[\]\s]{1,35}$/" ng-trim="false" >
                                            	<div ng-messages="account_form.lastname.$error" md-auto-hide="false" ng-if="account_form.lastname.$touched">
                                                    <div ng-message="required">Required. Please enter your last name.</div>
                                                    <div ng-message="maxlength">This field can be at most 35 characters long.</div>
                                                    <div ng-message="pattern">This field must be a valid first name.</div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                	<div class="col-xs-4 form-group">
                                        <md-input-container>
                                            <label>Email*</label>
                                            <input ng-model="clientDetails.email" required type="text" name="email" maxlength="50" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/">
                                        	<div ng-messages="account_form.email.$error" md-auto-hide="false" ng-if="account_form.email.$touched">
	                                                <div ng-message="required">Required. Please enter a valid email address.</div>
	                                                <div ng-message="pattern">This field must be a valid email address.</div>
	                                                <div ng-message="maxlength">This field can be at most 50 characters long.</div>
	                                         </div>
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-4 form-group">
                                        <md-input-container>
                                            <label>Phone*</label>
                                            <input ng-model="clientDetails.phone" required name="phone" maxlength="12" phoneformat>
                                            <div ng-messages="account_form.phone.$error" md-auto-hide="false" ng-if="account_form.phone.$touched">
                                                <div ng-message="required">Required. Please enter your phone number.</div>
                                                <div ng-message="telephone">This field must be a valid phone number.</div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-4 form-group">
                                         <md-input-container>
                                                <label>Date of Birth </label>
                                                <datepicker date-format="MM/dd/yyyy">
                                                    <input type="text" class="date-input" ng-model="clientDetails.dobStr" type="text" required name="dob" age-check/>
                                               		<div ng-messages="account_form.dob.$error" md-auto-hide="false" ng-if="account_form.dob.$touched">
		                                            	<div ng-message="required">Required. Please enter your birthday.</div>
		                                            	<div ng-message="dob">Sorry, you must be at least 18-years-old to use the system. </div>
		                                          	</div>
                                                </datepicker>
                                              
                                            </md-input-container>
                                        <!--<md-datepicker ng-model="clientDetails.dobStr" md-placeholder="Date of birth" ng-required="true"></md-datepicker>-->
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-6 form-group">
                                        <md-input-container>
                                            <label>SSN*</label>
                                              <input type="text" placeholder="###-##-####" ng-model="clientDetails.ssnTin" maxlength="9" name="ssn" validate-ssn required/>
                                        	  <div ng-messages="account_form.ssn.$error" md-auto-hide="false" ng-if="account_form.ssn.$touched">
		                                            	<div ng-message="required">Required. Please enter your Social Security Number (SSN).</div>
		                                            	<div ng-message="ssnValid">Please enter a valid Social Security Number (SSN).</div>
		                                       </div>
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-6 form-group">
                                        <md-input-container>
                                            <label>Annual Income*</label>
                                            <input ng-model="clientDetails.annualIncome" required name="income" ui-money-mask="1">
                                            <div ng-messages="account_form.income.$error" md-auto-hide="false" ng-if="account_form.income.$touched">
		                                     	<div ng-message="required">Required. Please enter your annual income.</div>
		                                     </div>
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6 form-group">
                                        <md-input-container>
                                            <label>Street Address 1*</label>
                                              <input ng-model="clientDetails.address1" maxlength="50" name="address1" ng-pattern="/^[A-Za-z0-9\d\s\-\,\#\.\+ ]{1,50}$/" required/>
                                        	  <div ng-messages="account_form.address1.$error" md-auto-hide="false" ng-if="account_form.address1.$touched">
		                                            	<div ng-message="required">Required. Please enter your Street Address 1.</div>
		                                            	<div ng-message="pattern">This field must be a valid Street Address 1.</div>
		                                       </div>
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-6 form-group">
                                        <md-input-container>
                                            <label>Street Address 2*</label>
                                            <input ng-model="clientDetails.address2" maxlength="50" ng-pattern="/^[A-Za-z0-9\d\s\-\,\#\.\+ ]{1,50}$/" required name="address2">
                                            <div ng-messages="account_form.address2.$error" md-auto-hide="false" ng-if="account_form.address2.$touched">
		                                     	<div ng-message="required">Required. Please enter Street Address 2.</div>
		                                     	<div ng-message="pattern">This field must be a valid Street Address 2.</div>
		                                     </div>
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-3 form-group">
                                        <md-input-container>
                                            <label>City</label>
                                            <input ng-model="clientDetails.city" ng-required="true" maxlength="50" ng-pattern="/^[a-zA-Z\s]{2,50}$/" required name="city">
                                        	<div ng-messages="account_form.city.$error" md-auto-hide="false" ng-if="account_form.city.$touched">
		                                     	<div ng-message="required">Required. Please enter your city of residence.</div>
		                                     	<div ng-message="pattern">This field must be a valid city of residence.</div>
		                                     </div>
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-3 form-group">
                                        <md-input-container>
                                            <label>State</label>
                                            <md-select ng-model="clientDetails.state" name="state" required>
                                                <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                                                    {{state.abbrev}}
                                                </md-option>
                                            </md-select>
                                            <div ng-messages="account_form.state.$error" md-auto-hide="false" ng-if="account_form.state.$touched">
		                                     	<div ng-message="required">Required. Please select your state of residence.</div>
		                                     </div>
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-3 form-group">
                                        <md-input-container>
                                            <label>Zip Code*</label>
                                            <input type="text" ng-model="clientDetails.zip" maxlength="5" ng-pattern="/^(\d{5}(-\d{4})?|[A-Z]\d[A-Z] *\d[A-Z]\d)$/" required name="zip" numeric-only>
                                        	<div ng-messages="account_form.zip.$error" md-auto-hide="false" ng-if="account_form.zip.$touched">
		                                     	<div ng-message="required">Required. Please enter your zip code.</div>
		                                     	<div ng-message="pattern">This field must be a valid zip code.</div>
		                                 	</div>
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-3 form-group">
                                        <md-input-container>
                                            <label>Country*</label>
                                            <input type="text" ng-model="clientDetails.country" name="country" readonly>
                                        </md-input-container>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-2" style="margin-top: 15px; padding-left:0px;">Married</div>
                                    <div class="col-sm-6 col-sm-offset-4">
                                        <md-switch ng-model="clientDetails.maritalStatus" aria-label="Default" ng-true-value="'married'" ng-false-value="'single'" ng-change="spouseToggle();">{{ clientDetails.maritalStatus === 'married'?'Yes':'No' }} </md-switch>
                                    </div>
                                </div>

                                <div class="row" ng-show="clientDetails.maritalStatus === 'married'">
                                    <div class="col-xs-6 form-group">
                                        <md-input-container>
                                            <label>Spouse First Name*</label>
                                            <input ng-model="spouse.spouse_firstName" ng-required="clientDetails.maritalStatus === 'married'" name="spouse_firstName" maxlength="35" ng-pattern="/^[a-zA-Z{}`\\!&()\-_?/,.':;&quot;\[\]](?!.*?\s$)[a-zA-Z{}`\\!&()\-_?/,.':;&quot;\[\]\s]{1,35}$/" ng-trim="false" >
                                        	<div ng-messages="account_form.spouse_firstName.$error" md-auto-hide="false" ng-if="account_form.spouse_firstName.$touched">
                                                    <div ng-message="required">Required. Please enter your spouse's first name.</div>
                                                    <div ng-message="pattern">This field must be a valid spouse's first name.</div>
                                             </div>
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-6 form-group">
                                        <md-input-container>
                                            <label>Spouse Middle Name</label>
                                            <input ng-model="spouse.spouse_middleName" name="spouse_middleName" maxlength="35" ng-pattern="/^[a-zA-Z{}`\\!&()\-_?/,.':;&quot;\[\]](?!.*?\s$)[a-zA-Z{}`\\!&()\-_?/,.':;&quot;\[\]\s]{1,35}$/" ng-trim="false" >
                                            <div ng-messages="account_form.spouse_middleName.$error" md-auto-hide="false" ng-if="account_form.spouse_middleName.$touched">
                                            	<div ng-message="pattern">This field must be a valid spouse's Middle name.</div>
                                             </div>
                                        </md-input-container>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-xs-6 form-group">
                                        <md-input-container>
                                            <label>Spouse Last Name*</label>
                                            <input ng-model="spouse.spouse_lastName" ng-required="clientDetails.maritalStatus === 'married'" name="spouse_lastName" maxlength="35" ng-pattern="/^[a-zA-Z{}`\\!&()\-_?/,.':;&quot;\[\]](?!.*?\s$)[a-zA-Z{}`\\!&()\-_?/,.':;&quot;\[\]\s]{1,35}$/" ng-trim="false" >
                                        	<div ng-messages="account_form.spouse_lastName.$error" md-auto-hide="false" ng-if="account_form.spouse_lastName.$touched">
                                                    <div ng-message="required">Required. Please enter your spouse's last name.</div>
                                                    <div ng-message="pattern">This field must be a valid spouse's last name.</div>
                                             </div>
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-6 form-group">
                                           <md-input-container>
                                                <label>Date of Birth </label>
                                                <datepicker date-format="MM/dd/yyyy">
                                                    <input type="text" class="date-input" ng-model="spouse.spouse_dobStr" ng-required="clientDetails.maritalStatus === 'married'" name="spouse_dobStr" age-check/>
                                                	<div ng-messages="account_form.spouse_dobStr.$error" md-auto-hide="false" ng-if="account_form.spouse_dobStr.$touched">
		                                       			<div ng-message="required">Required. Please enter your spouse's birthday.</div>
		                                           		<div ng-message="dob">Sorry, your spouse must be at least 18-years-old to use the system. </div>
		                                        	</div>
                                                </datepicker>
                                            </md-input-container>
                                        <!--<md-datepicker ng-model="spouse.spouse_dobStr"  md-placeholder="Date of birth" ng-required="clientDetails.maritalStatus === 'married'"></md-datepicker>-->
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-xs-6 form-group">
                                        <md-input-container>
                                            <label>Annual Income</label>
                                            <input ng-model="spouse.spouse_annualIncome" maxlength="17" ng-required="clientDetails.maritalStatus === 'married'" name="spouse_annualIncome" ui-money-mask="0" ng-min>
                                          	<div ng-messages="account_form.spouse_annualIncome.$error" md-auto-hide="false" ng-if="account_form.spouse_annualIncome.$touched">
		                                     	<div ng-message="required">Required. Please enter your spouse's annual income.</div>
		                                     	<div ng-message="ngMin">Spouse's annual income should not be zero.</div>
		                                    </div>  
                                        </md-input-container>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-2" style="margin-top: 15px; padding-left:0px;">Children</div>
                                    <div class="col-sm-6 col-sm-offset-4">
                                        <md-switch ng-model="childrenStatus" aria-label="Default" ng-true-value="'yes'" ng-false-value="'no'" ng-change="childToggle();">{{ childrenStatus === 'yes'?'Yes':'No' }} </md-switch>
                                    </div>
                                </div>

                                <div ng-show="childrenStatus === 'yes'">
                                  <div class="row"  ng-repeat="child in children track by $index">
	                                    <div class="col-xs-6 form-group">
	                                        <md-input-container>
	                                            <label>Child First Name*</label>
	                                            <input ng-model="children[$index].firstName" ng-required="childrenStatus === 'yes'" name="cFirstName_{{$index}}" maxlength="35" ng-pattern="/^[a-zA-Z{}`\\!&()\-_?/,.':;&quot;\[\]](?!.*?\s$)[a-zA-Z{}`\\!&()\-_?/,.':;&quot;\[\]\s]{1,35}$/" ng-trim="false" >
	                                        	<div ng-messages="account_form['cFirstName_'+$index].$error" md-auto-hide="false" ng-if="account_form['cFirstName_'+$index].$touched">
                                                    <div ng-message="required">Required. Please enter your child's first name.</div>
                                                    <div ng-message="pattern">This field must be a valid child's first name.</div>
                                             	</div>
	                                        </md-input-container>
	                                    </div>
	                                    <div class="col-xs-6 form-group">
	                                        <md-input-container>
	                                            <label>Child Middle Name</label>
	                                            <input ng-model="children[$index].middleName" name="cMiddleName_{{$index}}" maxlength="35" ng-pattern="/^[a-zA-Z{}`\\!&()\-_?/,.':;&quot;\[\]](?!.*?\s$)[a-zA-Z{}`\\!&()\-_?/,.':;&quot;\[\]\s]{1,35}$/" ng-trim="false" >
	                                        	<div ng-messages="account_form['cMiddleName_'+$index].$error" md-auto-hide="false" ng-if="account_form['cMiddleName_'+$index].$touched">
                                            		<div ng-message="pattern">This field must be a valid child's Middle name.</div>
                                             	</div>
	                                        </md-input-container>
	                                    </div>
	                                    <div class="clearfix"></div>
	                                    <div class="col-xs-6 form-group">
	                                        <md-input-container>
	                                            <label>Child Last Name*</label>
	                                            <input ng-model="children[$index].lastName" ng-required="childrenStatus === 'yes'" name="cLastName_{{$index}}" maxlength="35" ng-pattern="/^[a-zA-Z{}`\\!&()\-_?/,.':;&quot;\[\]](?!.*?\s$)[a-zA-Z{}`\\!&()\-_?/,.':;&quot;\[\]\s]{1,35}$/" ng-trim="false" >
	                                        	<div ng-messages="account_form['cLastName_'+$index].$error" md-auto-hide="false" ng-if="account_form['cLastName_'+$index].$touched">
                                                    <div ng-message="required">Required. Please enter your child's last name.</div>
                                                    <div ng-message="pattern">This field must be a valid child's last name.</div>
                                             	</div>
	                                        </md-input-container>
	                                    </div>
	                                    <div class="col-xs-6 form-group">
	                                           <md-input-container>
	                                                <label>Date of Birth </label>
	                                                <datepicker date-format="MM/dd/yyyy">
	                                                    <input type="text" ng-model="children[$index].dob" class="date-input" name="cDob_{{$index}}" ng-required="childrenStatus === 'yes'" child-age>
	                                                	<div ng-messages="account_form['cDob_'+$index].$error" md-auto-hide="false" ng-if="account_form['cDob_'+$index].$touched">
		                                       				<div ng-message="required">Required. Please enter your child's birthday.</div>
		                                           			<div ng-message="dob"> Please select a date that has already occured.  </div>
		                                        		</div>
	                                                </datepicker>
	                                            </md-input-container>
	                                        <!--<md-datepicker ng-model="child.dob" md-placeholder="Date of birth" ng-required="childrenStatus === 'yes'"></md-datepicker>-->
	                                    </div>
	                                    <div class="clearfix"></div>
	                                    
	                                      <div class="b-btn col-md-8">
			                                <a ng-click="removeChild($index);">Remove</a>
			                            </div>
                                   </div>
                                    <div class="row">
                                        <div class="add-ff col-md-8">
                                            <a href="javascript:void(0)" ng-click="addChild();" >+ Add Child</a>
                                        </div>
                                    </div>
                                </div>

                                <!--gsg-->

                                <h3>Employment Details</h3>
                                <div class="row">
                                    <div class="col-xs-6 form-group">
                                        <div layout layout-sm="column">
                                            <md-input-container>
                                                <label>Please Specify if you are:*</label>
                                                <md-select ng-model="clientDetails.employmentStatus" name="employmentStatus" required>
	                                                <md-option ng-repeat="opt in options" value="{{opt.value}}">
	                                                    {{opt.text}}
	                                                </md-option>
                                            	</md-select>
                                            	<div ng-messages="account_form.employmentStatus.$error" md-auto-hide="false" ng-if="account_form.employmentStatus.$touched">
			                                     	<div ng-message="required">Required. Please select if you are employed.</div>
			                                     </div>
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 form-group" ng-show="(clientDetails.employmentStatus === 'EMPLOYED' || clientDetails.employmentStatus === 'SELF_EMPLOYED')">
                                        <md-input-container>
                                            <label>Employer Name*</label>
                                            <input ng-model="clientDetails.employerName" ng-required="(clientDetails.employmentStatus === 'EMPLOYED' || clientDetails.employmentStatus === 'SELF_EMPLOYED')" name="employerName" maxlength="35" ng-pattern="/^[a-zA-Z{}`\\!&()\-_?/,.':;&quot;\[\]](?!.*?\s$)[a-zA-Z{}`\\!&()\-_?/,.':;&quot;\[\]\s]{1,35}$/" ng-trim="false" >
                                        	<div ng-messages="account_form.employerName.$error" md-auto-hide="false" ng-if="account_form.employerName.$touched">
                                            	<div ng-message="required">Required. Please enter your employer's name.</div>
                                              	<div ng-message="pattern">This field must be a valid employer's name.</div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-6 form-group" ng-show="(clientDetails.employmentStatus !== 'EMPLOYED' && clientDetails.employmentStatus !== 'SELF_EMPLOYED')">
                                        <md-input-container>
                                            <label>Source of Income</label>
                                          	<input ng-model="clientDetails.sourceOfIncome" ng-required="(clientDetails.employmentStatus !== 'EMPLOYED' && clientDetails.employmentStatus !== 'SELF_EMPLOYED')" name="sourceOfIncome" maxlength="35" ng-pattern="/^[a-zA-Z ]*$/" ng-trim="false" >
                                        	<div ng-messages="account_form.sourceOfIncome.$error" md-auto-hide="false" ng-if="account_form.sourceOfIncome.$touched">
                                            	<div ng-message="required">Required. Please enter your Source of Income.</div>
                                              	<div ng-message="pattern">This field must be a valid Source of Income.</div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="row" ng-show="(clientDetails.employmentStatus === 'EMPLOYED' || clientDetails.employmentStatus === 'SELF_EMPLOYED')">
                                    <div class="col-xs-6 form-group" >
                                        <md-input-container>
                                            <label>Occupation*</label>
                                            <input ng-model="clientDetails.occupation" ng-required="(clientDetails.employmentStatus === 'EMPLOYED' || clientDetails.employmentStatus === 'SELF_EMPLOYED')" name="occupation" maxlength="35" ng-pattern="/^[a-zA-Z ]*$/" ng-trim="false" >
                                        	<div ng-messages="account_form.occupation.$error" md-auto-hide="false" ng-if="account_form.occupation.$touched">
                                            	<div ng-message="required">Required. Please enter your occupation.</div>
                                              	<div ng-message="pattern">This field must be a valid occupation.</div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-6 form-group">
                                        <md-input-container>
                                            <label>Type of business*</label>
                                            <input ng-model="clientDetails.typeOfBusiness" ng-required="(clientDetails.employmentStatus === 'EMPLOYED' || clientDetails.employmentStatus === 'SELF_EMPLOYED')" name="typeOfBusiness" maxlength="35" ng-pattern="/^[a-zA-Z ]*$/" ng-trim="false" >
                                        	<div ng-messages="account_form.typeOfBusiness.$error" md-auto-hide="false" ng-if="account_form.typeOfBusiness.$touched">
                                            	<div ng-message="required">Required. Please enter your type of business.</div>
                                              	<div ng-message="pattern">This field must be a valid type of business.</div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="row" ng-show="(clientDetails.employmentStatus === 'EMPLOYED' || clientDetails.employmentStatus === 'SELF_EMPLOYED')">
                                    <div class="col-xs-3 form-group">
                                        <md-input-container>
                                            <label>City</label>
                                            <input ng-model="clientDetails.employerCity" ng-required="(clientDetails.employmentStatus === 'EMPLOYED' || clientDetails.employmentStatus === 'SELF_EMPLOYED')" name="employerCity" maxlength="35" ng-pattern="/^[a-zA-Z\s]{2,50}$/" ng-trim="false" >
                                        	<div ng-messages="account_form.employerCity.$error" md-auto-hide="false" ng-if="account_form.employerCity.$touched">
                                            	<div ng-message="required">Required. Please enter your company's city.</div>
                                              	<div ng-message="pattern">This field must be a valid company's city.</div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-3 form-group">
                                        <md-input-container>
                                            <label>State*</label>
                                            <md-select ng-model="clientDetails.employerState" name="employerState" ng-required="(clientDetails.employmentStatus === 'EMPLOYED' || clientDetails.employmentStatus === 'SELF_EMPLOYED')">
                                                <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                                                    {{state.abbrev}}
                                                </md-option>
                                            </md-select>
                                            <div ng-messages="account_form.employerState.$error" md-auto-hide="false" ng-if="account_form.employerState.$touched">
		                                     	<div ng-message="required">Required. Please select your company's state.</div>
		                                     </div>
                                        </md-input-container>

                                    </div>
                                    <div class="col-xs-3 form-group">
                                        <md-input-container>
                                            <label>Zip Code*</label>
                                            <input ng-model="clientDetails.employerZip" ng-required="(clientDetails.employmentStatus === 'EMPLOYED' || clientDetails.employmentStatus === 'SELF_EMPLOYED')" maxlength="5" ng-pattern="/^(\d{5}(-\d{4})?|[A-Z]\d[A-Z] *\d[A-Z]\d)$/" name="employerZip" numeric-only>
                                        	<div ng-messages="account_form.employerZip.$error" md-auto-hide="false" ng-if="account_form.employerZip.$touched">
		                                     	<div ng-message="required">Required. Please enter your company's zipcode.</div>
		                                     	<div ng-message="pattern">This field must be a valid zip code.</div>
		                                 	</div>
                                        </md-input-container>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-6 form-group">
                                        <md-input-container>
                                            <label>Select your Residency Status*</label>
                                            <md-select ng-model="clientDetails.citzenship" name="citzenship" required>
	                                        	<md-option ng-repeat="opt in restatus" value="{{opt.value}}">
	                                            	{{opt.text}}
	                                         	</md-option>
                                            </md-select>
                                            <div ng-messages="account_form.citzenship.$error" md-auto-hide="false" ng-if="account_form.citzenship.$touched">
			                                	<div ng-message="required">Required. Please select your Residency Status.</div>
			                               	</div>
                                        </md-input-container>
                                    </div>
                                </div>
                                
                                <div class="row" ng-show="clientDetails.citzenship !== 'us-citizen'">
                                    <div class="col-xs-6 form-group">
                                        <md-input-container>
                                            <label>Country of Citizenship*</label>
                                            <md-select ng-model="clientDetails.countryCitzenship" name="countryCitzenship" ng-required="clientDetails.citzenship !== 'us-citizen'">
	                                        	<md-option ng-repeat="country in count" value="{{country.code}}">
	                                            	{{country.name}}
	                                         	</md-option>
                                            </md-select>
                                            <div ng-messages="account_form.countryCitzenship.$error" md-auto-hide="false" ng-if="account_form.countryCitzenship.$touched">
			                                	<div ng-message="required">Required. Please select your country of citizenship.</div>
			                               	</div>
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-6 form-group">
                                        <md-input-container>
                                            <label>Country of Birth*</label>
                                            <md-select ng-model="clientDetails.countryBirth" name="countryBirth" ng-required="clientDetails.citzenship !== 'us-citizen'">
	                                        	<md-option ng-repeat="country in count" value="{{country.code}}">
	                                            	{{country.name}}
	                                         	</md-option>
                                            </md-select>
                                            <div ng-messages="account_form.countryBirth.$error" md-auto-hide="false" ng-if="account_form.countryBirth.$touched">
			                                	<div ng-message="required">Required. Please select your country of birth.</div>
			                               	</div>
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="row">
	                           		<div class="col-xs-6 form-group">
	                                	<md-input-container>
	                                    	<label>Country of Dual or Secondary Citizenship*</label>
	                                       	<md-select ng-model="clientDetails.countrySecondaryCitzenship" name="countrySecondaryCitzenship">
	                                        	<md-option ng-repeat="country in count" value="{{country.code}}">
	                                            	{{country.name}}
	                                         	</md-option>
                                            </md-select>
	                                   	</md-input-container>
	                              	</div>
	                           </div>
                                <div ng-show="clientDetails.citzenship === 'non-us-citizen'">
	                                <div class="form-group" >
	                                    <div class="col-sm-2" style="margin-top: 15px; padding-left:0px;">Do you hold a current US immigration visa ?</div>
	                                    <div class="col-sm-6 col-sm-offset-4">
	                                        <md-switch ng-model="hasVisa" aria-label="Default" ng-true-value="'yes'" ng-false-value="'no'">{{ hasVisa === 'yes'?'Yes':'No' }} </md-switch>
	                                    </div>
	                                </div>
	                                <div class="clearfix"></div>
	                                <div class="row" ng-show="hasVisa === 'yes'">
	                                		<div class="col-xs-6 form-group">
		                                        <md-input-container>
		                                            <label>Visa Number*</label>
		                                            <input ng-model="clientDetails.visaNumber" ng-required="hasVisa === 'yes'" maxlength="13" ng-pattern="/^([A-Z]{3}[0-9]{10})$/" name="visaNumber" >
		                                        	<div ng-messages="account_form.visaNumber.$error" md-auto-hide="false" ng-if="account_form.visaNumber.$touched">
				                                     	<div ng-message="required">Required. Please enter your Visa number.</div>
				                                     	<div ng-message="pattern">This field must be a valid Visa number.</div>
				                                 	</div>
		                                        </md-input-container>
	                                    	</div>
	                                    	<div class="col-xs-6 form-group">
		                                           <md-input-container>
		                                                <label>Expiration</label>
		                                                <datepicker date-format="MM/dd/yyyy">
		                                                    <input type="text" ng-model="clientDetails.visaExpiration" class="date-input" name="visaExpiration" ng-required="hasVisa === 'yes'" >
		                                                	<div ng-messages="account_form.visaExpiration.$error" md-auto-hide="false" ng-if="account_form.visaExpiration.$touched">
			                                       				<div ng-message="required">Required. Please select your Visa's expiration date.</div>
			                                           			<div ng-message="dob">This field must be a valid Visa's expiration date.</div>
			                                        		</div>
		                                                </datepicker>
		                                            </md-input-container>
		                                    </div>
	                               	</div>
	                            </div>
								<div ng-show="trustSelected">
	                                <!--Additional details-->
	                                <h3>Additional Details</h3>
	                                <div class="form-group">
	                                    <div class="col-sm-2" style="margin-top: 15px; padding-left:0px;">Trustee</div>
	                                    <div class="col-sm-6 col-sm-offset-4">
	                                        <md-switch ng-model="switchData.trustee" ng-change="trusteeToggle();" aria-label="Default">{{ switchData.trustee === true?'Yes':'No' }} </md-switch>
	                                    </div>
	                                </div>
	                                <div class="row" ng-show="switchData.trustee">
	                                    <div class="col-xs-6 form-group" ng-show="benStatus">
	                                        <div layout layout-sm="column">
	                                            <md-input-container>
	                                                <label>Trustee*</label>
	                                                <md-select ng-model="trusteeType" ng-model="step3.trustee" ng-change="loadTrustee()">
	                                                    <md-option ng-repeat="trustee in trustees" value="{{trustee.key}}">
	                                                        {{trustee.value}}
	                                                    </md-option>
	                                                </md-select>
	                                            </md-input-container>
	                                        </div>
	                                    </div>
	                                    <div class="col-xs-6 form-group" ng-show="!benStatus">
	                                        <div layout layout-sm="column">
	                                            <md-input-container>
	                                                <label>Trustee*</label>
	                                                <input ng-model="trusteeType" ng-required="switchData.trustee === true" name="trusteeType" maxlength="35" ng-pattern="/^[a-zA-Z{}`\\!&()\-_?/,.':;&quot;\[\]](?!.*?\s$)[a-zA-Z{}`\\!&()\-_?/,.':;&quot;\[\]\s]{1,35}$/" ng-trim="false" >
	                                            	<div ng-messages="account_form.trusteeType.$error" md-auto-hide="false" ng-if="account_form.trusteeType.$touched">
	                                                    <div ng-message="required">Required. Please enter your trustee's type.</div>
	                                                    <div ng-message="maxlength">This field can be at most 35 characters long.</div>
	                                                    <div ng-message="pattern">This field must be a valid type.</div>
	                                                </div>
	                                            </md-input-container>
	                                        </div>
	                                    </div>
	                                </div>
	                                <div class="row" ng-show="switchData.trustee">
	                                    <div class="col-xs-4 form-group">
	                                        <div layout layout-sm="column">
	                                            <md-input-container>
	                                                <label>First name*</label>
	                                                <input ng-model="clientDetails.trusteefirstName" ng-required="switchData.trustee === true" name="trusteefirstName" maxlength="35" ng-pattern="/^[a-zA-Z{}`\\!&()\-_?/,.':;&quot;\[\]](?!.*?\s$)[a-zA-Z{}`\\!&()\-_?/,.':;&quot;\[\]\s]{1,35}$/" ng-trim="false" >
	                                            	<div ng-messages="account_form.trusteefirstName.$error" md-auto-hide="false" ng-if="account_form.trusteefirstName.$touched">
	                                                    <div ng-message="required">Required. Please enter your trustee's first name.</div>
	                                                    <div ng-message="maxlength">This field can be at most 35 characters long.</div>
	                                                    <div ng-message="pattern">This field must be a valid first name.</div>
	                                                </div>
	                                            </md-input-container>
	                                        </div>
	                                    </div>
	                                    <div class="col-xs-4 form-group">
	                                        <div layout layout-sm="column">
	                                            <md-input-container>
	                                                <label>Middle name</label>
	                                                <input ng-model="clientDetails.trusteemiddleName" name="trusteemiddleName" maxlength="35" ng-pattern="/^[a-zA-Z{}`\\!&()\-_?/,.':;&quot;\[\]](?!.*?\s$)[a-zA-Z{}`\\!&()\-_?/,.':;&quot;\[\]\s]{0,35}$/" ng-trim="false" >
	                                            	<div ng-messages="account_form.trusteemiddleName.$error" md-auto-hide="false" ng-if="account_form.trusteemiddleName.$touched">
	                                                    <div ng-message="pattern">This field must be a valid Middle name.</div>
	                                                </div>
	                                            </md-input-container>
	                                        </div>
	                                    </div>
	                                    <div class="col-xs-4 form-group">
	                                        <div layout layout-sm="column">
	                                            <md-input-container>
	                                                <label>Last name*</label>
	                                                <input ng-model="clientDetails.trusteelastName" ng-required="switchData.trustee === true" name="trusteelastName" maxlength="35" ng-pattern="/^[a-zA-Z{}`\\!&()\-_?/,.':;&quot;\[\]](?!.*?\s$)[a-zA-Z{}`\\!&()\-_?/,.':;&quot;\[\]\s]{1,35}$/" ng-trim="false" >
	                                            	<div ng-messages="account_form.trusteelastName.$error" md-auto-hide="false" ng-if="account_form.trusteelastName.$touched">
	                                                    <div ng-message="required">Required. Please enter your trustee's last name.</div>
	                                                    <div ng-message="maxlength">This field can be at most 35 characters long.</div>
	                                                    <div ng-message="pattern">This field must be a valid first name.</div>
	                                                </div>
	                                            </md-input-container>
	                                        </div>
	                                    </div>
                                	</div>
	                                <div class="row" ng-show="switchData.trustee">
	                                    <div class="col-xs-4 form-group">
	                                        <md-input-container>
	                                            <label>Email*</label>
	                                            <input ng-model="clientDetails.trusteeEmail" ng-required="switchData.trustee === true" type="text" name="trusteeEmail" maxlength="50" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/">
                                        		<div ng-messages="account_form.trusteeEmail.$error" md-auto-hide="false" ng-if="account_form.trusteeEmail.$touched">
	                                                <div ng-message="required">Required. Please enter your trustee's email address.</div>
	                                                <div ng-message="pattern">This field must be a valid email address.</div>
	                                                <div ng-message="maxlength">This field can be at most 50 characters long.</div>
	                                         	</div>
	                                        </md-input-container>
	                                    </div>
	                                    <div class="col-xs-4 form-group">
	                                        <md-input-container>
	                                            <label>SSN*</label>
	                                              <input type="text" placeholder="###-##-####" ng-model="clientDetails.trusteeSsnTin" maxlength="9" name="trusteeSsnTin" validate-ssn ng-required="switchData.trustee === true"/>
	                                        	  <div ng-messages="account_form.trusteeSsnTin.$error" md-auto-hide="false" ng-if="account_form.trusteeSsnTin.$touched">
			                                            	<div ng-message="required">Required. Please enter your trustee's Social Security Number (SSN).</div>
			                                            	<div ng-message="ssnValid">Please enter a valid Social Security Number (SSN).</div>
			                                       </div>
	                                        </md-input-container>
	                                    </div>
	                                    <div class="col-xs-4 form-group">
	                                        <md-input-container>
	                                            <label>Phone*</label>
	                                            <input ng-model="clientDetails.trusteePhone" ng-required="switchData.trustee === true" name="trusteePhone" maxlength="12" phoneformat>
	                                            <div ng-messages="account_form.trusteePhone.$error" md-auto-hide="false" ng-if="account_form.trusteePhone.$touched">
	                                                <div ng-message="required">Required. Please enter your trustee's phone number.</div>
	                                            	<div ng-message="telephone">This field must be a valid phone number.</div>
	                                            </div>
	                                        </md-input-container>
	                                    </div>
	                                </div>
	
	                                <div class="row" ng-show="switchData.trustee">
	                                    <div class="col-xs-3 form-group">
	                                        <md-input-container>
	                                            <label>City</label>
	                                            <input ng-model="clientDetails.trusteeCity" ng-required="switchData.trustee === true" maxlength="50" ng-pattern="/^[a-zA-Z\s]{2,50}$/" required name="trusteeCity">
	                                        	<div ng-messages="account_form.trusteeCity.$error" md-auto-hide="false" ng-if="account_form.trusteeCity.$touched">
			                                     	<div ng-message="required">Required. Please enter your trustee's city.</div>
			                                     	<div ng-message="pattern">This field must be a valid city.</div>
			                                    </div>
	                                        </md-input-container>
	                                    </div>
	                                    <div class="col-xs-3 form-group">
	                                       <md-input-container>
	                                            <label>State</label>
	                                            <md-select ng-model="clientDetails.trusteeState" name="trusteeState" ng-required="switchData.trustee === true">
	                                                <md-option ng-repeat="state in states" value="{{state.abbrev}}">
	                                                    {{state.abbrev}}
	                                                </md-option>
                                            	</md-select>
	                                            <div ng-messages="account_form.trusteeState.$error" md-auto-hide="false" ng-if="account_form.trusteeState.$touched">
			                                     	<div ng-message="required">Required. Please enter your trustee's state.</div>
			                                    </div>
	                                        </md-input-container>
	                                    </div>
	                                    <div class="col-xs-3 form-group">
	                                        <md-input-container>
	                                            <label>Zip Code*</label>
	                                            <input type="text" ng-model="clientDetails.trusteeZip" maxlength="5" ng-pattern="/^(\d{5}(-\d{4})?|[A-Z]\d[A-Z] *\d[A-Z]\d)$/" ng-required="switchData.trustee === true" name="trusteeZip" numeric-only>
	                                        	<div ng-messages="account_form.trusteeZip.$error" md-auto-hide="false" ng-if="account_form.trusteeZip.$touched">
			                                     	<div ng-message="required">Required. Please enter your trustee's zipcode.</div>
			                                     	<div ng-message="pattern">This field must be a valid zip code.</div>
			                                 	</div>
	                                        </md-input-container>
	                                    </div>
	                                    <div class="col-xs-3 form-group">
	                                    	<md-input-container>
		                                    	<label>country</label>
		                                        <md-select ng-model="clientDetails.trusteeCountry" name="trusteeCountry" ng-required="switchData.trustee === true">
		                                        	<md-option ng-repeat="country in count" value="{{country.code}}">
		                                            	{{country.name}}
		                                         	</md-option>
	                                            </md-select>
	                                            <div ng-messages="account_form.trusteeCountry.$error" md-auto-hide="false" ng-if="account_form.trusteeCountry.$touched">
				                                	<div ng-message="required">Required. Please enter your trustee's country of residence.</div>
				                               	</div>
			                               	</md-input-container>
	                                    </div>
	                                </div>
	
	                                <div class="form-group">
	                                    <div class="col-sm-2" style="margin-top: 15px; padding-left:0px;">Beneficiary</div>
	                                    <div class="col-sm-6 col-sm-offset-4">
	                                        <md-switch ng-model="switchData.beneficiary" aria-label="Default" ng-change="bendToggle();">{{ switchData.beneficiary=== true?'Yes':'No' }} </md-switch>
	                                    </div>
	                                </div>
	                                <div ng-show="switchData.beneficiary">
		                                <div ng-repeat="ben in clientDetails.userBeneficiaryAccounts track by $index" >
			                                <div class="row" ng-show="switchData.beneficiary">
			                                    <div class="col-xs-6 form-group" ng-show="benStatus">
			                                        <div layout layout-sm="column">
			                                            <md-input-container>
			                                                <label>Beneficiary*</label>
			                                                <md-select ng-model="clientDetails.userBeneficiaryAccounts[$index].Beneficiary" ng-change="loadBen($index)" name="Beneficiary_{{$index}}">
			                                                    <md-option ng-repeat="Beneficiary in trustees" value="{{Beneficiary.key}}">
			                                                        {{Beneficiary.value}}
			                                                    </md-option>
			                                                </md-select>
			                                            </md-input-container>
			                                        </div>
			                                    </div>
			                                    <div class="col-xs-6 form-group" ng-show="!benStatus">
			                                        <div layout layout-sm="column">
			                                            <md-input-container>
			                                                <label>Beneficiary*</label>
			                                                <input ng-model="clientDetails.userBeneficiaryAccounts[$index].Beneficiary" ng-required="switchData.beneficiary === true" name="Beneficiary_{{$index}}" maxlength="35" ng-pattern="/^[a-zA-Z{}`\\!&()\-_?/,.':;&quot;\[\]](?!.*?\s$)[a-zA-Z{}`\\!&()\-_?/,.':;&quot;\[\]\s]{1,35}$/" ng-trim="false" >
			                                            	<div ng-messages="account_form['Beneficiary_'+$index].$error" md-auto-hide="false" ng-if="account_form['Beneficiary_'+$index].$touched">
			                                                    <div ng-message="required">Required. Please Enter your beneficiary.</div>
			                                                    <div ng-message="maxlength">This field can be at most 35 characters long.</div>
			                                                    <div ng-message="pattern">This field must be a valid beneficiary.</div>
			                                                </div>
			                                            </md-input-container>
			                                        </div>
			                                    </div>
			                                </div>
			                                <div class="row" ng-show="switchData.beneficiary">
			                                    <div class="col-xs-6 form-group">
			                                        <div layout layout-sm="column">
			                                            <md-input-container>
			                                                <label>Beneficiary Type</label>
			                                                <md-select ng-model="clientDetails.userBeneficiaryAccounts[$index].type" name="BenType_{{$index}}">
			                                                    <md-option ng-repeat="type in BeneficiariesType" value="{{type.value}}">
			                                                        {{type.text}}
			                                                    </md-option>
			                                                </md-select>
			                                            </md-input-container>
			                                        </div>
			                                    </div>
			                                </div>
			                                <div class="row" ng-show="switchData.beneficiary">
			                                    <div class="col-xs-4 form-group">
			                                        <div layout layout-sm="column">
			                                            <md-input-container>
			                                                <label>First name*</label>
			                                                <input ng-model="clientDetails.userBeneficiaryAccounts[$index].firstName" ng-required="switchData.beneficiary === true" name="BenFirstName_{{$index}}" maxlength="35" ng-pattern="/^[a-zA-Z{}`\\!&()\-_?/,.':;&quot;\[\]](?!.*?\s$)[a-zA-Z{}`\\!&()\-_?/,.':;&quot;\[\]\s]{1,35}$/" ng-trim="false" >
			                                            	<div ng-messages="account_form['BenFirstName_'+$index].$error" md-auto-hide="false" ng-if="account_form['BenFirstName_'+$index].$touched">
			                                                    <div ng-message="required">Required. Please enter your beneficiary's first name.</div>
			                                                    <div ng-message="maxlength">This field can be at most 35 characters long.</div>
			                                                    <div ng-message="pattern">This field must be a valid first name.</div>
			                                                </div>
			                                            </md-input-container>
			                                        </div>
			                                    </div>
			                                    <div class="col-xs-4 form-group">
			                                        <div layout layout-sm="column">
			                                            <md-input-container>
			                                                <label>Middle name</label>
			                                                <input ng-model="clientDetails.userBeneficiaryAccounts[$index].middleName" name="BenMiddleName_{{$index}}" maxlength="35" ng-pattern="/^[a-zA-Z{}`\\!&()\-_?/,.':;&quot;\[\]](?!.*?\s$)[a-zA-Z{}`\\!&()\-_?/,.':;&quot;\[\]\s]{0,35}$/" ng-trim="false" >
			                                            	<div ng-messages="account_form['BenMiddleName_'+$index].$error" md-auto-hide="false" ng-if="account_form['BenMiddleName_'+$index].$touched">
			                                                    <div ng-message="pattern">This field must be a valid Middle name.</div>
			                                                </div>
			                                            </md-input-container>
			                                        </div>
			                                    </div>
			                                    <div class="col-xs-4 form-group">
			                                        <div layout layout-sm="column">
			                                            <md-input-container>
			                                                <label>Last name*</label>
			                                                <input ng-model="clientDetails.userBeneficiaryAccounts[$index].lastName" ng-required="switchData.beneficiary === true" name="BenLastName_{{$index}}" maxlength="35" ng-pattern="/^[a-zA-Z{}`\\!&()\-_?/,.':;&quot;\[\]](?!.*?\s$)[a-zA-Z{}`\\!&()\-_?/,.':;&quot;\[\]\s]{1,35}$/" ng-trim="false" >
			                                            	<div ng-messages="account_form['BenLastName_'+$index].$error" md-auto-hide="false" ng-if="account_form['BenLastName_'+$index].$touched">
			                                                    <div ng-message="required">Required. Please enter your beneficiary's last name.</div>
			                                                    <div ng-message="maxlength">This field can be at most 35 characters long.</div>
			                                                    <div ng-message="pattern">This field must be a valid first name.</div>
			                                                </div>
			                                            </md-input-container>
			                                        </div>
			                                    </div>
		                                	</div>
			                                <div class="row" ng-show="switchData.beneficiary">
			                                    <div class="col-xs-3 form-group">
			                                        <md-input-container>
			                                           <label>SSN*</label>
			                                        	<input type="text" placeholder="###-##-####" ng-model="clientDetails.userBeneficiaryAccounts[$index].ssnTin" maxlength="9" name="BenSsnTin_{{$index}}" validate-ssn ng-required="switchData.beneficiary === true"/>
			                                        	<div ng-messages="account_form['BenSsnTin_'+$index].$error" md-auto-hide="false" ng-if="account_form['BenSsnTin_'+$index].$touched">
					                                    	<div ng-message="required">Required. Please enter your beneficiary's Social Security Number (SSN).</div>
					                                        <div ng-message="ssnValid">Please enter a valid Social Security Number (SSN).</div>
					                                     </div>
			                                        </md-input-container>
			                                    </div>
			                                    <div class="col-xs-3 form-group">
			                                        <md-input-container>
			                                           <label>DOB*</label>
			                                            <datepicker date-format="MM/dd/yyyy">
		                                                    <input type="text" ng-model="clientDetails.userBeneficiaryAccounts[$index].dob" class="date-input" name="BenDob_{{$index}}" ng-required="switchData.beneficiary === true" child-age>
		                                                	<div ng-messages="account_form['BenDob_'+$index].$error" md-auto-hide="false" ng-if="account_form['BenDob_'+$index].$touched">
			                                       				<div ng-message="required">Required. Please enter your beneficiary's birthday.</div>
			                                           			<div ng-message="dob"> Please select a date that has already occured.  </div>
			                                        		</div>
	                                                	</datepicker>
			                                        </md-input-container>
			                                    </div>
			                                    <div class="col-xs-3 form-group">
			                                         <md-input-container>
			                                                <label>Relationship</label>
			                                                <md-select ng-model="clientDetails.userBeneficiaryAccounts[$index].relationship" name="BenRelationship_{{$index}}">
			                                                    <md-option ng-repeat="Relationship in beneficiaryData" value="{{Relationship.label_key}}">
			                                                        {{Relationship.label_short}}
			                                                    </md-option>
			                                                </md-select>
			                                            </md-input-container>
			                                    </div>
			                                    <div class="col-xs-3 form-group">
			                                        <md-input-container>
			                                           <label>Phone*</label>
			                                        	<input ng-model="clientDetails.userBeneficiaryAccounts[$index].phone" ng-required="switchData.beneficiary === true" name="BenPhone_{{$index}}" maxlength="12" phoneformat>
			                                            <div ng-messages="account_form['BenPhone_'+$index].$error" md-auto-hide="false" ng-if="account_form['BenPhone_'+$index].$touched">
			                                                <div ng-message="required">Required. Please enter your beneficiary's phone number.</div>
			                                            	<div ng-message="telephone">This field must be a valid phone number.</div>
			                                            </div>
			                                        </md-input-container>
			                                    </div>
			                                </div>
			                                <div class="row" ng-show="switchData.beneficiary">
			                                    <div class="col-xs-3 form-group">
			                                        <md-input-container>
			                                            <label>City</label>
			                                            <input ng-model="clientDetails.userBeneficiaryAccounts[$index].city" ng-required="switchData.beneficiary === true" maxlength="50" ng-pattern="/^[a-zA-Z\s]{2,50}$/" required name="BenCity_{{$index}}">
			                                        	<div ng-messages="account_form['BenCity_'+$index].$error" md-auto-hide="false" ng-if="account_form['BenCity_'+$index].$touched">
					                                     	<div ng-message="required">Required. Please enter your beneficiary's city.</div>
					                                     	<div ng-message="pattern">This field must be a valid city.</div>
					                                    </div>
			                                        </md-input-container>
			                                    </div>
			                                    <div class="col-xs-3 form-group">
			                                         <md-input-container>
			                                            <label>State</label>
			                                            <md-select ng-model="clientDetails.userBeneficiaryAccounts[$index].state" ng-required="switchData.beneficiary === true" name="BenState_{{$index}}">
			                                                <md-option ng-repeat="state in states" value="{{state.abbrev}}">
			                                                    {{state.abbrev}}
			                                                </md-option>
			                                            </md-select>
			                                            <div ng-messages="account_form['BenState_'+$index].$error" md-auto-hide="false" ng-if="account_form['BenState_'+$index].$touched">
							                            	<div ng-message="required">Required. Please enter your beneficiary's state.</div>
							                            </div>
			                                        </md-input-container>
			                                    </div>
			                                    <div class="col-xs-3 form-group">
			                                        <md-input-container>
			                                            <label>Zip Code*</label>
			                                            <input type="text" ng-model="clientDetails.userBeneficiaryAccounts[$index].zip" maxlength="5" ng-pattern="/^(\d{5}(-\d{4})?|[A-Z]\d[A-Z] *\d[A-Z]\d)$/" ng-required="switchData.beneficiary === true" name="BenZip_{{$index}}" numeric-only>
			                                        	<div ng-messages="account_form['BenZip_'+$index].$error" md-auto-hide="false" ng-if="account_form['BenZip_'+$index].$touched">
					                                     	<div ng-message="required">Required. Please enter your beneficiary's zipcode.</div>
					                                     	<div ng-message="pattern">This field must be a valid zip code.</div>
					                                 	</div>
			                                        </md-input-container>
			                                    </div>
			                                    <div class="col-xs-3 form-group">
				                                    <md-input-container>
				                                    	<label>Country*</label>
					                                        <md-select ng-model="clientDetails.userBeneficiaryAccounts[$index].country" name=BenCountry_{{$index}} ng-required="switchData.beneficiary === true">
					                                        	<md-option ng-repeat="country in count" value="{{country.code}}">
					                                            	{{country.name}}
					                                         	</md-option>
				                                            </md-select>
				                                            <div ng-messages="account_form['BenCountry_'+$index].$error" md-auto-hide="false" ng-if="account_form['BenCountry_'+$index].$touched">
							                                	<div ng-message="required">Required. Please enter your beneficiary's country of residence.</div>
							                               	</div>
				                                    </md-input-container>
			                                    </div>
			                                </div>
			                                <div class="row" ng-show="switchData.beneficiary">
			                                    <div class="col-xs-6 form-group">
			                                        <md-input-container>
			                                           <label>Beneficiary Account Percentage(%)*</label>
			                                            <input type="text" ng-model="clientDetails.userBeneficiaryAccounts[$index].benAccPer" ng-required="switchData.beneficiary === true" maxlength="5" name="benAccPer_{{$index}}" ng-blur="checkBenAccPer($index);" ui-percentage-mask="0" ui-percentage-value/>
			                                        	<div ng-messages="account_form['benAccPer_'+$index].$error" md-auto-hide="false" ng-if="account_form['benAccPer_'+$index].$touched">
					                                     	<div ng-message="required">Required. Please enter your Beneficiary Account Percentage.</div>
					                                     	<div ng-message="benfec">Total value of Beneficiary Account Percentage for all the Beneficiaries should be 100%. Please adjust your values.'</div>
					                                 	</div>
			                                        </md-input-container>
			                                    </div>
			                                </div>
			                                 <div class="clearfix"></div>
			                                <div class="b-btn col-md-8">
			                                <a ng-click="removeBen($index);">Remove</a>
			                            	</div>
			                            </div>
		                                <div class="row">
		                                        <div class="add-ff col-md-8">
		                                             <a href="javascript:void(0)" ng-click="addBen();" >+ Add Beneficiary</a>
		                                        </div>
		                                </div>
	                                </div>
                                </div>
                                
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>



    </div>
</div>