<div class="messages">
    <!--<div ng-message="required">Required</div>-->
    <div ng-message="minlength">Too short</div>
    <div ng-message="maxlength">Too long</div>
    <div ng-message="email">Invalid email address</div>
    <div ng-message="compareTo">Confirm Password should be same as New Password</div>
</div>