<style type="text/css">
    .nav-collapsed-min .fa-search {
        display: block !important;
    }
</style>
<div class="page" ng-controller="advisorAccountCtrl">
    <div class="row ui-section" ng-controller="advisorAccountMainCtrl">

        <div class="panel panel-default panel-minimal">
            <div class="panel-body head-dark">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="profile-info">
                            <div class="detail-cont">
                                <span class="text-size-sm">ACCOUNTS:</span> <span class="text-size-lg">{{headerData.numberOfAccount}}</span><br>

                            </div>
                        </div>

                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="detail-cont">
                            <span class="text-size-sm">TOTAL BALANCE:</span> <span class="text-size-lg">{{headerData.totalBalance | currency}}</span><br>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="detail-cont">
                            <span class="text-size-sm text-size-sm_1">TOTAL DAY CHANGE:  </span><span ng-class="headerData.changePositive!=true ?'color-danger':'color-success'" class="text-size-sm_1"> <i ng-class="headerData.changePositive!=true ?'fa fa-arrow-down':'fa fa-arrow-up'" aria-hidden="true"></i>  {{headerData.totalChangedValue | currency}} ({{headerData.totalChangePercentage}}%) </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default panel-minimal">
            <div class="panel-body panel-body-inner panel-head-bold">
                <h3>History</h3>
            </div>
            <div class="panel-body">
                <div class="col-md-12 legend-canvas">
                    <canvas id="canvas" width="600" height="200" ></canvas>
                    <div id="my-legend" class="chart-legend" ng-if="!historyChart">
                        <table class="box_table">
                            <tbody>
                                <tr>
                                    <td><div class="boxx" style="background-color:#3DB548"></div></td>
                                    <td class="box_bar">Credit</td>
                                    <td><div class="boxx" style="background-color:red"></div></td>
                                    <td class="box_bar">Debit</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-12" ng-if="historyChart">
                    No Data To Be Displayed For This Date Range.
                </div>
            </div>
            <div class="panel panel-default panel-minimal">
                <div class="panel-body padd-2522">
                    <div class="row">

                        <form action="#" class="form-horizontal form-datepicker-main head-date-right ng-pristine ng-valid">
                            <div class="form-body">
                                <div class="form-group">
                                    <label class="control-label">Range:</label>
                                    <div class="date-con-main">
                                        <div class="input-group input-large date-picker input-daterange">
                                            <datepicker date-format="MMMM dd, yyyy" date-max-limit={{todayDate.toString()}} class="form-control form-datepicker">
                                                <input type="text" class="date-input form-control form-date-inner" ng-model="date.start" ng-change="changeDate()" onkeydown="return false">
                                            </datepicker>
                                            -
                                            <datepicker  date-format="MMMM dd, yyyy" date-max-limit={{todayDate.toString()}} class="form-control form-datepicker">
                                                <input type="text" class="form-control form-date-inner" ng-model="date.end" ng-change="changeDate()" onkeydown="return false">
                                            </datepicker>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
        </div>
        <div class="panel panel-default panel-minimal" ng-init="clientType=''">

            <div class="panel-body-main panel-head-bold">
                <div class="row client-head-top">
                    <div class="col-md-7 col-sm-3">
                        <h3>Accounts</h3>
                    </div>
                    <div class="col-md-2 col-sm-4 legend-add-account">
                        <a><b>+ Add Account</b></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive max-data-six">
                            <table class="table no-margin table-goal table-main">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th></th>
                                        <th>Type</th>
                                        <th>Balance</th>

                                    </tr>
                                </thead>
                                <tbody>

                                    <tr ng-repeat-start="clients in networthsDetailsinv | filter:clientType" style="border-bottom: 1px solid #DDDDDD;">
                                        <td width="5%">
                                            <a class="icn-padd" ng-click="networthsDetailsexpanded = !networthsDetailsexpanded ;getTranscationsAdvisor(clients.accountId)">
                                                <i style="cursor:pointer;" ng-class="networthsDetailsexpanded ? 'fa fa-caret-down fa-lg' : 'fa fa-caret-right fa-lg'"></i>
                                            </a>
                                        </td>
                                        <!--  <td ng-if="clients.route != undefined" ui-sref="{{clients.route}}" style="cursor:pointer;">{{clients.accountName}}</td>
                                         <td ng-if="clients.route === undefined">{{clients.accountName}}</td> -->

                                        <td style="cursor:pointer;" ng-click="specificRoute(clients);"> {{clients.name}}</td>

                                        <td>{{clients.type}}</td>

                                        <td>{{clients.value | currency}}</td>
                                        <td style="cursor:pointer;"><i class="fa fa-cog icon_facog" aria-hidden="true" ui-sref="page.client.home.accounts.edit"></i> &nbsp;&nbsp;&nbsp;
                                        <i aria-hidden="true" class="fa fa-trash-o icon_facog"></i></td>

                                    </tr>

                                    <tr></tr>

                                    <tr class="see-more-link" ng-repeat-end ng-show="networthsDetailsexpanded">
                                        <td></td>

                                        <td colspan="7">
                                            <table class="table no-margin table-inner-expand" ng-if="clients.transcations.length > 0">
                                                <thead>
                                                    <tr>
                                                        <th style="width:8%;">Date</th>
                                                        <th style="width:12%;">Description</th>
                                                        <th style="width:10%;">Category</th>
                                                        <th style="width:6%;">Amount</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="grid_lines" ng-repeat="transcations in clients.transcations | limitTo:10">

                                                        <td>{{transcations.transactionDate | date:"MMMM dd, yyyy"}}</td>
                                                        <td>{{transcations.description}}</td>
                                                        <td>{{transcations.transactionCategoryName}}</td>
                                                        <td>${{transcations.transactionAmount}}</td>

                                                    </tr>
                                                    <tr>
                                                        <td class="see-more" ng-click="specificRoute(clients.accountId)">See more</td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>

                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div ng-if="clients.transcations.length == 0">No transactions are available for this account.</div>
                                        </td>
                                    </tr>
                                    <!-- </tr> -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="add-com">
                    <a>+ Add Account</a>
                </div>
            </div>

        </div>








    </div>
</div>
