
<div class="page" ng-controller="advisorAccountSpecificCtrl">
    <div class="row ui-section">

        <div class="panel panel-default panel-minimal">
            <div class="panel-body head-dark">
                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <div class="profile-info">
                            <div class="detail-cont">
                                <span class="text-size-sm">{{headers.accountName}}</span><br>

                            </div>
                        </div>

                    </div>

                    <div class="col-sm-4 col-md-4">
                        <div class="detail-cont">
                            <span class="text-size-sm">Balance:</span> <span class="text-size-lg">$ {{headers.balance}}</span><br>
                        </div>
                    </div>

                   <div class="col-sm-6 col-md-4">
                        <div class="detail-cont">
                            <span class="text-size-sm text-size-sm_1">TOTAL DAY CHANGE: </span><span ng-class="headers.headerchangePositive!=true ?'color-danger':'color-success'" class="text-size-sm_1"><i ng-class="headers.headerchangePositive!=true ?'fa fa-arrow-down':'fa fa-arrow-up'" aria-hidden="true"></i> {{headers.headerchangeValue | currency}} ({{headers.headerchangePercent}} %)</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="panel panel-default panel-minimal">
            <div class="panel-body panel-body-inner panel-head-bold">
                <h3>History</h3>
            </div>
            <div class="panel-body">
                <div class="col-md-12 legend-canvas">
                    <canvas id="canvas" width="600" height="200"></canvas>
                    <div id="my-legend" class="chart-legend"></div>
                </div>
            </div>
            <div class="panel panel-default panel-minimal">
                <div class="panel-body padd-2522">
                    <div class="row">
                        <div class="col-md-12">
                            <form action="#" class="form-horizontal form-datepicker-main head-date-right">
                                <div class="form-body">
                                    <div class="form-group">
                                        <label class="control-label">Range:</label>
                                        <div class="date-con-main">
                                            <div class="input-group input-large date-picker input-daterange">

                                                <datepicker date-format="MMMM dd, yyyy" date-max-limit={{todayDate.toString()}} class="form-control form-datepicker">
                                                    <input type="text" class="date-input form-control form-date-inner" ng-model="date.start" ng-change="changeDate()" onkeydown="return false">
                                                </datepicker>
                                                -
                                                <datepicker date-format="MMMM dd, yyyy" date-max-limit={{todayDate.toString()}} class="form-control form-datepicker">
                                                    <input type="text" class="form-control form-date-inner" ng-model="date.end" ng-change="changeDate()" onkeydown="return false">
                                                </datepicker>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default panel-minimal">

            <div class="panel-body panel-body-inner panel-head-bold">

                <div class="col-md-6 legend_account_2">
                    <h3>Transaction History</h3>
                </div>

                <div ng-if="transcations.length > 0">

                    <table class="table no-margin table-goal table-account" ng-init="sortReverse=true">
                        <thead>
                            <tr>
                                <th ng-click="sortReverse = !sortReverse">Date</th>
                                <th>Description</th>
                                <th>Amount</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="transcation in transcations">
                                <td>{{transcation.transactionDate | date:"MMMM dd, yyyy"}}</td>
                                <td>{{transcation.description}}</td>
                                <td>${{transcation.transactionAmount}}</td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
            <table class="table no-margin table-goal table-account" ng-if="transcations.length == 0">
                <thead>
                    <tr>
                        <td></td>
                        <td> No transactions are available for this account.</td>
                    </tr>
                </thead>
            </table>


        </div>
    </div>
</div>

