<div class="page page-form">
	<div class="row ui-section">
		<div>
            <div class="panel panel-default">
                <div class="panel-body panel-body-feed">
	                <div class="col-md-10 col-md-offset-1" infinite-scroll-disabled='busy' infinite-scroll='getfeedActivity()'>
						<div class="col-md-2" style="padding-left: 0;">
		                <h3 class="mb-20" style="margin-top: 10px;">Feed</h3>
					
						</div>
						
						
						<div class="col-md-5 col-md-offset-5" style="text-align:right;float:right;padding-right: 0;">
							<div class="dropdown" uib-dropdown is-open="status.isopenSettings">
 <div class="input-group input-search-main">
                    <span class="input-group-addon sear-sec-one"><i class="zmdi zmdi-search"></i></span>
                    <input type="text" ng-model="searchText" class="form-control sear-sec-two" placeholder="Search and filter"  ng-keypress="($event.which === 13)?searchFeed():''" ng-keyup="searchText == '' ? searchFeed() : ''">
                    <span class="input-bar"></span>
					<span class="input-group-addon sear-sec-last dropdown-toggle mb-20" href="javascript:;" uib-dropdown-toggle ng-disabled="disabled" aria-label="settings"><i class="zmdi zmdi-caret-down drop-size"></i></span>
                </div>
              <div class="clearfix"></div>
                <div class="dropdown-menu-scaleIn with-arrow panel pull-right panel-default admin-options" style="margin-top: 15px;" uib-dropdown-menu ui-not-close-on-click>
                   
                    <ul class="list-group">
                    
                        <li class="list-group-item">
                             <div class="search-box visible-md visible-lg">
               
            </div>
                            <div class="divider"></div>
							
						<div ng-repeat="checkbxItem in checkBoxs">
								 <md-checkbox ng-model="checkbxItem.key" ng-change="check(checkbxItem)" ng-model-options="{debounce: 1000}"> {{checkbxItem.value}} </md-checkbox>
								 		
                            <br>
							</div>
							
                        </li>
                  
                    </ul>
                </div>
            </div>
							</div>

		                
						<div class="col-md-12" style="padding-left: 0;">
							<ul class="search-result">
						<li ng-repeat="item in items">
						 {{item.value}} <i class="fa fa-times" ng-click="removeItem(item)"></i>
						
						 </ul> 
						</div>
						<div class="clearfix"></div>

		                <!-- feed-section -->
		                <div class="feed-section"  ng-repeat="(key,items) in feeds ">
		                	<p class="feed-time-tille" ng-bind="formatDate(key) |  date:'EEEE, MMMM dd'"></p>
		                	<!-- feed-panel -->
		                	<div class="feed-panel" ng-repeat="item in items">
			                	<img src="{{getAvatar(item.avatarUrl)}}">
			                	<span class="time-count">{{item.values[0].createdOn | date:"h:mm a"}}</span>
			                	<div class="feed-content">
			                		<p>
			                			<label>{{item.userName}}</label>
			                			<span ng-hide="item.state!='profile update'" ng-click="redirectProfile()"><b>{{item.message}}</b></span>
			                			<span ng-hide="item.state=='profile update'"> {{item.message}}</span>
			                			<span ng-show="(item.state=='delete') && (item.type == 'goal(s)')" ng-click="redirect_link(item.type)"><b>{{item.type}}.</span>
			                			<label ng-hide="item.state=='delete' || item.state=='profile update' || item.state=='update'"  ng-click="redirect_link(item.type)">{{item.type}}.</label>
			                		</p>
			                		<ul ng-hide="item.state=='profile update'">
			                			<li ng-repeat="row in item.values">
			                				<p ng-show='item.type == "vault"'>
				                				<i class="fa fa-file-text"></i>
				                				<span>{{row.contextProperties.folder}}<lable ng-if="row.contextProperties.folder"> > </lable></span>				                				
				                				<a class="files-link" ng-hide="item.state=='delete'" ng-click="redirectVault(row)" href="javascript:void(0)">{{row.contextName}}</a>
				                				<a class="files-link" ng-hide="item.state!='delete'" href="javascript:void(0)">{{row.contextName}}</a>
				                			</p>
				                			<p ng-show='item.type == "goal(s)"'>
				                				<i class="fa fa-file-text"></i>
				                				<span>{{row.contextType}}<lable ng-if="row.contextType"> > </lable></span>
				                				<a class="files-link" ng-hide="item.state=='delete'" ui-sref="{{ !(isAdvisor) ? 'page.client.home.goal.id({id:row.contextId, name:row.contextName})' : '#'}}" href="javascript:void(0)">{{row.contextName}}</a>
				                				<a class="files-link" ng-hide="item.state!='delete'" href="javascript:void(0)">{{row.contextName}}</a>
				                			</p>
				                			<p ng-show='item.type == "message"'>
				                				<i class="fa fa-file-text"></i>
				                				<span ng-click="redirectMessage()" >{{row.contextName}}</span>
				                			</p>
				                			<p ng-show='item.type == "financial"'>
				                				<i class="fa fa-file-text"></i>
				                				<span>{{row.contextType}}<lable ng-if="row.contextType"> > </lable></span>
				                				<a class="files-link" ng-hide="item.state=='delete'" ui-sref-con="!isAdvisor ? 'page.client.home.accounts.specific({id:row.contextId,accountName:row.contextName})' : ''" href="javascript:void(0)">{{row.contextName}}</a>
				                				<a class="files-link" ng-hide="item.state!='delete'" href="javascript:void(0)">{{row.contextName}}</a>
				                			</p>
				                			<p ng-show='item.type == "account"'>
				                				<i class="fa fa-file-text"></i>
				                				<span>{{row.contextType}}<lable ng-if="row.contextType"> > </lable></span>
				                				<a class="files-link" ng-hide="item.state=='delete'" ui-sref-con="!isAdvisor ? 'page.client.home.investment.specific({id:row.contextId,name:row.contextName})' : ''" href="javascript:void(0)">{{row.contextName}}</a>
				                				<a class="files-link" ng-hide="item.state!='delete'" href="javascript:void(0)">{{row.contextName}}</a>
				                			</p>
				                			
			                			</li>
			                			
			                		</ul>
			                	</div><!-- End of Feed content-->
		                	</div><!-- End of Feed panel-->

<!-- 		                	<div class="feed-panel"> -->
<!-- 			                	<img src="images/g1.jpg"> -->
<!-- 			                	<span class="time-count">7:38 PM</span> -->
<!-- 			                	<div class="feed-content"> -->
<!-- 			                		<p> -->
<!-- 			                			<label>Leonardo DiCaprio</label> -->
<!-- 			                			<span> sent you a </span> -->
<!-- 			                			<label>message</label>. -->
<!-- 			                		</p> -->
<!-- 			                		<ul> -->
<!-- 			                			<li> -->
<!-- 			                				<p> -->
<!-- 			                					<i class="fa fa-file-text"></i> -->
<!-- 			                					<span>Hi Tina, I just wanted to alert you that I would like to open  up a new brokerage account with Oranj. Please let me know how...</span> -->
<!-- 			                				</p> -->
<!-- 			                			</li> -->
			                			
<!-- 			                		</ul> -->
<!-- 			                	</div>End of Feed content -->
<!-- 		                	</div>End of Feed panel -->

		                </div><!-- End of Feed section-->
		                <div ng-hide="noFeed">
							  <div class="feed-section" style="text-align:center;margin:100px 0;">
							<p><span class="fa fa-search fa-4x" style="display:block !important;"></span]></p>
		                	<h3>No results found</h3>
		                	

		                </div>
    						
						</div>
		             </div>
					
					 
                </div>
            </div>
		
				<div ng-show="busy" ng-if="!hideloader" class="loader primary-loader loader--style3" title="2">
  <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
  <path fill="#000" d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z">
    <animateTransform attributeType="xml"
      attributeName="transform"
      type="rotate"
      from="0 25 25"
      to="360 25 25"
      dur="0.6s"
      repeatCount="indefinite"/>
    </path>
  </svg>
</div>
        </div>
    </div>
</div>