<div class="page page-form">
	<div class="row ui-section">
		<div>
            <div class="panel panel-default">
                <div class="panel-body panel-body-feed">
	                <div class="col-md-10 col-md-offset-1" infinite-scroll-disabled='busy' infinite-scroll='getNotifications()'>
		                <h3 class="mb-20 system-notifications">System Notifications </h3>

		                <!-- feed-section -->
		                <div class="feed-section" ng-repeat="(key,items) in notifications ">
		                	<p class="feed-time-tille">{{key | date:"EEEE, MMMM dd"}}</p>
		                	<!-- feed-panel -->
		                	<div class="feed-panel system-notifications-panel" ng-repeat="item in items ">
                                
			                	<span>
                                    <i  ng-class="(!item.class_name) ? 'fa fa-refresh awesome-icon' : item.class_name" aria-hidden="true"></i></span>
			                	<span class="time-count time-notifications">{{item.creationDate | date:"h:mm a"}}</span>
			                
			                	
			                			<span class="notification-system-content" ng-bind-html="item.text">{{item.text}}</span>
			                	<!-- End of Feed content-->
		                	</div><!-- End of Feed panel-->

		                	

		                </div><!-- End of Feed section-->

		                 <div ng-hide="noNotification">
							 <div class="feed-section" style="text-align:center;margin:100px 0;">
								<p><i class="fa fa-search fa-4x" style="display:block !important;"></i></p>
			                	<h3>No results found</h3>
		                	 </div>
    						
						</div>


	                </div>
                </div>
            </div>
            
            <div ng-show="busy" ng-if="!hideloader" class="loader loader--style3" title="2">
			  <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
			     width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
			  <path fill="#000" d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z">
			    <animateTransform attributeType="xml"
			      attributeName="transform"
			      type="rotate"
			      from="0 25 25"
			      to="360 25 25"
			      dur="0.6s"
			      repeatCount="indefinite"/>
			    </path>
			  </svg>
			</div>
<!--             <div class="loading-more" style="display: none;">Loading more....</div> -->
        </div>
    </div>
</div>