<div class="page page-form"  data-ng-controller="editGoalCtrl">

    <div class="row ui-section">

       <div class="panel panel-default">
            <div class="panel-body body-dark hhd">
               <div class="row">
                    <div class="col-md-2 col-xs-12 col-sm-6 hhd-1">
                        <div class="profile-info">
                            <div class="detail-cont">
                                SELECT GOAL
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-xs-12 col-sm-6 hhd-2">
                       <div class="row bs-wizard" style="border-bottom:0;">
                
                <div class="col-xs-4 bs-wizard-step complete">
                  
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a ui-sref="editgoalstep1" class="bs-wizard-dot"></a>
                 <md-tooltip>Select Goal Type</md-tooltip>
                </div>
                
                <div class="col-xs-4 bs-wizard-step active">
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a ui-sref="editgoalstep2" class="bs-wizard-dot"></a>
              <md-tooltip>Add Goal Details</md-tooltip>
                </div>
                
                <div class="col-xs-4 bs-wizard-step disabled">
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a ui-sref="editgoalstep3" class="bs-wizard-dot"></a>
                  <md-tooltip>Set Allocation Goal</md-tooltip>
                </div>
                
                       </div>
        
        
        
        
        
	</div>
                   

                    <div class="col-md-4 col-xs-12 col-sm-6 hhd-3">
                        <ul class="add_goal_buttons pull-right">
                        <li><button ui-sref="editgoalstep1" class="md-raised btn-w-sm md-primary md-button md-ink-ripple btn-grey" type="button"><span class="ng-scope">Cancel</span><div class="md-ripple-container"></div></button></li>
                        <li><button ui-sref="editgoalstep3" class="md-raised btn-w-sm md-primary md-button md-ink-ripple btn-save" type="button"><span class="ng-scope">Continue</span><div class="md-ripple-container"></div></button></li>
                        </ul>
                    </div>

               

                </div>

            </div>
        </div>

        <div class="panel panel-default">
             <div class="panel-body panel-body-inner panel-head-bold" style="padding: 22px 75px !important;">


                <h3 class="head-border">Select Goal</h3>

                <div class="row">
                      <div class="col-md-3">

                        <ul class="goal-type-list">
                            <li>
                                <button class="md-raised btn-w-md md-primary md-button md-ink-ripple btn-save" type="button"><span class="ng-scope">Retirement</span><div class="md-ripple-container"></div></button>
                            </li>


                            <li>
                                <button class="md-raised btn-w-md md-primary md-button md-ink-ripple btn-grey-h" type="button"><span class="ng-scope">College</span><div class="md-ripple-container"></div></button>
                            </li>


                            <li>
                                <button class="md-raised btn-w-md md-primary md-button md-ink-ripple btn-grey-h" type="button"><span class="ng-scope">Insurance</span><div class="md-ripple-container"></div></button>
                            </li>


                            <li>
                                <button class="md-raised btn-w-md md-primary md-button md-ink-ripple btn-grey-h" type="button"><span class="ng-scope">Home</span><div class="md-ripple-container"></div></button>
                            </li>

                            <li>
                                <button class="md-raised btn-w-md md-primary md-button md-ink-ripple btn-grey-h" type="button"><span class="ng-scope">Special Event</span><div class="md-ripple-container"></div></button>
                            </li>

                            <li>
                                <button class="md-raised btn-w-md md-primary md-button md-ink-ripple btn-grey-h" type="button"><span class="ng-scope">Custom Goal</span><div class="md-ripple-container"></div></button>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-9">

                        <h2>Goal Details</h2>

                        <div layout layout-sm="column">
                            <md-input-container flex="35">
                                <label>Goal Name</label>
                                <textarea ng-model="goalDetails.goalname" md-maxlength="50" rows="5" md-select-on-focus></textarea>
                            </md-input-container>
                            <div flex="30"></div>
                            <md-input-container flex="15">
                                <label>Retirement Age</label>
                                <md-select ng-model="goalDetails.retirementAge">
                                    <md-option ng-repeat="retirementAge in ages" value="{{retirementAge.abbrev}}">
                                        {{retirementAge.abbrev}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>

                        <div layout layout-sm="column">
                            <md-input-container flex="50">
                                <label>Goal Priority</label>
                            </md-input-container>
                            <div flex="15"></div>
                            <md-input-container flex="35">
                                <rzslider rz-slider-model="percentages.low1" class="goal-slide" rz-slider-options="percentages.options1" value="22.4"></rzslider>
                                <!--<input ng-model="profile.email" type="email">-->
                            </md-input-container>

                        </div>

                        <div layout layout-sm="column">
                            <md-input-container flex="50">
                                <label>How much in today's dollars would you like per month ? </label>

                            </md-input-container>
                            <div flex="15"></div>
                            <md-input-container flex="35" >
                                <rzslider rz-slider-model="percentages.low2" class="goal-slide" rz-slider-options="percentages.options2" value="22.4"></rzslider>
                            </md-input-container>
                        </div>

                        <div layout layout-sm="column">
                            <md-input-container flex="50">
                                <h2>Risk Assessment </h2>
                            </md-input-container>
                        </div>

                        <div layout layout-sm="column">
                            <md-input-container flex="50">
                                <label>How much risk are you willing to take to achieve a higher return ? </label>

                            </md-input-container>
                            <div flex="15"></div>
                            <md-input-container flex="35" >
                                <rzslider rz-slider-model="percentages.low3" class="goal-slide" rz-slider-options="percentages.options3" value="22.4"></rzslider>
                            </md-input-container>
                        </div>

                        <div layout layout-sm="column" style="margin-top:20px;">
                          
                         When saving for this goal,assuming you decide to invest this money in the market and it experiences a 15% decline of its value, would you:
                           
                        </div>

                        <div layout layout-sm="column">
                            <md-radio-group class="ui-md-radio-group-inline">
                                <md-radio-button value="invest">Look for a way to invest more</md-radio-button>
                                <md-radio-button value="concern">Be somewhat concerned</md-radio-button>
                            </md-radio-group>
                        </div>
                        
                        <div layout layout-sm="column">
                            <md-radio-group class="ui-md-radio-group-inline">
                                <md-radio-button value="avoidInvestment">Avoid any investment that can could suddenly lost 15% of its value</md-radio-button>
                                <md-radio-button value="action">Take no action</md-radio-button>
                            </md-radio-group>
                        </div>

                        <div layout layout-sm="column" style="margin:20px 0">
                            
                        How willing are you to alter your retirement goal
                          
                        </div>

                        <div layout layout-sm="column">
                            <md-radio-group class="ui-md-radio-group">
                                <md-radio-button value="willing">Very willing</md-radio-button>
                                <md-radio-button value="Somewhat"> Somewhat </md-radio-button>
                                <md-radio-button value="all">Not at all</md-radio-button>
                            </md-radio-group>
                        </div>





                    </div>

                </div>
            </div>



        </div>
    </div>
</div>