
<div class="page page-form"  data-ng-controller="editGoalCtrl">

    <div class="row ui-section">

        <div class="panel panel-default">
            <div class="panel-body body-dark hhd">
               <div class="row">
                    <div class="col-md-2 col-xs-12 col-sm-6 hhd-1">
                        <div class="profile-info">
                            <div class="detail-cont">
                                EDIT A GOAL
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-xs-12 col-sm-6 hhd-2">
                       <div class="row bs-wizard" style="border-bottom:0;">
                
                <div class="col-xs-4 bs-wizard-step">
                  
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a ui-sref="editgoalStep1" class="bs-wizard-dot"></a>
                 <md-tooltip>Select Goal Type</md-tooltip>
                </div>
                
                <div class="col-xs-4 bs-wizard-step disabled">
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a ui-sref="editgoalStep2" class="bs-wizard-dot"></a>
              <md-tooltip>Add Goal Details</md-tooltip>
                </div>
                
                <div class="col-xs-4 bs-wizard-step disabled">
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="javascript:void" class="bs-wizard-dot"></a>
                  <md-tooltip>Set Allocation Goal</md-tooltip>
                </div>
                
                       </div>
        
        
        
        
        
	</div>
                   

                    <div class="col-md-4 col-xs-12 col-sm-6 hhd-3">
                        <ul class="add_goal_buttons pull-right">
                        <li><button ui-sref="client" class="md-raised btn-w-sm md-primary md-button md-ink-ripple btn-grey" type="button"><span class="ng-scope">Cancel</span><div class="md-ripple-container"></div></button></li>
                        <li><button ui-sref="editgoalstep2" class="md-raised btn-w-sm md-primary md-button md-ink-ripple btn-save" type="button"><span class="ng-scope">Continue</span><div class="md-ripple-container"></div></button></li>
                        </ul>
                    </div>

               

                </div>

            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body panel-body-inner panel-head-bold" style="padding: 22px 75px !important;">


                <h3 class="head-border">Select Goal</h3>

                <div class="row">

                    <div class="col-md-3">

                        <ul class="goal-type-list">
                            <li>
                                <button ui-sref="editgoalStep2" class="md-raised btn-w-md md-primary md-button md-ink-ripple btn-grey-h" type="button"><span class="ng-scope">Retirement</span><div class="md-ripple-container"></div></button>
                            </li>


                            <li>
                                <button class="md-raised btn-w-md md-primary md-button md-ink-ripple btn-grey-h" type="button"><span class="ng-scope">College</span><div class="md-ripple-container"></div></button>
                            </li>


                            <li>
                                <button class="md-raised btn-w-md md-primary md-button md-ink-ripple btn-grey-h" type="button"><span class="ng-scope">Insurance</span><div class="md-ripple-container"></div></button>
                            </li>


                            <li>
                                <button class="md-raised btn-w-md md-primary md-button md-ink-ripple btn-grey-h" type="button"><span class="ng-scope">Home</span><div class="md-ripple-container"></div></button>
                            </li>

                            <li>
                                <button class="md-raised btn-w-md md-primary md-button md-ink-ripple btn-grey-h" type="button"><span class="ng-scope">Special Event</span><div class="md-ripple-container"></div></button>
                            </li>

                            <li>
                                <button class="md-raised btn-w-md md-primary md-button md-ink-ripple btn-grey-h" type="button"><span class="ng-scope">Custom Goal</span><div class="md-ripple-container"></div></button>
                            </li>
                        </ul>
                    </div>

                </div>
                </div>
            </div>



        </div>
    </div>
</div>