<div>
    <div class="page">
        <div class="row ui-section">
            <div class="panel panel-default" style="margin-bottom: 0;">
                <div style="padding: 0px 14px !important;">
                    <div class="row">
                        <!--detail header-->
                        <div class="client-record" ng-show="data.selectedIndex==0">
                            <div class="row legend_row">
                                <div class="col-md-3 client-img_1">
                                    <div class="leo">
                                        <img src="images/client.jpg" class="client-img_2 img-responsive" />
                                    </div>
                                </div>

                                <div class="col-md-5 Client-name_5">
                                    <div class="col-md-12 client_name_1">
                                        <ul class="leonardo">
                                            <li class="caprio">Leonardo DiCaprio</li>
                                            <li><i class="fa fa-star fa-lg fa-2x star-icon-1" aria-hidden="true"></i></li>
                                            <li id="profile_name">Client</li>
                                            <li><i class="fa fa-check fa-lg check-icon-1" aria-hidden="true"></i></li>
                                        </ul>

                                        <p class="leo_2">(Leo)</p>
                                        <span class="number_mailID">+<i>1(312)871-1239 lio@dicaprio.com</i></span>

                                        <table class="table table_2">

                                            <tbody>
                                            <tr>
                                                <td class="income client_income" s>INCOME</td>
                                                <td class="income">$300,000</td>

                                            </tr>

                                            <tr>
                                                <td class="income client_income">D.O.B</td>
                                                <td class="income">11/11/1974<span class="client_income"> (41)</span></td>

                                            </tr>

                                            <tr>
                                                <td class="income client_income">CONTACT SINCE</td>
                                                <td class="income">1/1/2013</td>

                                            </tr>

                                            <tr>
                                                <td class="income client_income">LAST LOGIN</td>
                                                <td class="income">2/13/2016</td>

                                            </tr>

                                            </tbody>
                                        </table>

                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-12 legend_values_2">
                                    <div class="net_worth">
                                        <span>NET WORTH</span>
                                        <h4>$1,629,012.76</h4>
                                    </div>
                                </div>

                                <div class="col-md-1 icons-lists">
                                    <ul class="icons_1">

                                        <li class="col-md-12 col-sm-3 col-xs-3 list_3">
                                            <a href="javascript:void(0)">
                                                <i class="fa fa-comments-o fa-lg icons-color" aria-hidden="true"></i>
                                            </a>
                                        </li>

                                        <li class="col-md-12 col-sm-3 col-xs-3 list_3">
                                            <a href="javascript:void(0)">
                                                <i class="fa fa-envelope fa-lg icons-color" aria-hidden="true"></i>
                                            </a>
                                        </li>

                                        <li class="col-md-12 col-sm-3 col-xs-3 list_3">
                                            <a href="javascript:void(0)">
                                                <i class="fa fa-lock fa-lg icons-color" aria-hidden="true"></i>
                                            </a>
                                        </li>

                                        <li class="col-md-12 col-sm-3 col-xs-3 list_3">
                                            <a>
                                                <i class="fa fa-cog fa-lg icons-color" aria-hidden="true"></i>
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--brief header-->
                        <div class="navbar-icons" ng-show="data.selectedIndex > 0">
                            <div class="row side-margin">
                                <div class="col-md-1 client-img">
                                    <img src="images/client.jpg" class="client-img-2" style="width:40px;" />
                                </div>

                                <div class="col-md-8 client-id">
                                    <div class="col-md-6 col-sm-6 col-xs-6 name">
                                        <ul class="user-head">
                                            <li class="frost">Leonardo DiCaprio</li>
                                            <li><a href=""><i class="fa fa-star fa-lg star-icon" aria-hidden="true"></i></a></li>
                                            <li class="color-grey">Client</li>
                                            <li><a href=""><i class="fa fa-check fa-lg check-icon" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>

                                    <div class="col-md-6 col-sm-6 col-xs-6 net">
                                        <p class="net-head-sec">NET WORTH
                                            <span class="section-value">$1,629,012.76</span></p>
                                    </div>
                                </div>

                                <div class="col-md-1 col-sm-4 col-xs-4 icons">
                                    <a href="">
                                        <i class="fa fa-comments-o fa-lg icon-color" aria-hidden="true"></i>
                                    </a>
                                </div>

                                <div class="col-md-1 col-sm-4 col-xs-4 icons">
                                    <a href="">
                                        <i class="fa fa-lock fa-lg icon-color" aria-hidden="true"></i>
                                    </a>
                                </div>

                                <div class="col-md-1 col-sm-4 col-xs-4 icons">
                                    <a href="">
                                        <i class="fa fa-envelope fa-lg icon-color" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div ng-cloak>
                            <md-content>
                                <md-tabs class="inner-sec-tab" md-selected="data.selectedIndex" md-dynamic-height md-border-bottom>
                                    <md-tab label="Summary" ng-click="includeClientDash('Summary')">
                                    </md-tab>

                                    <md-tab label="Goals" ng-click="includeClientDash('Goals')">
                                    </md-tab>

                                    <md-tab label="Investments" ng-click="includeClientDash('Investments')">
                                    </md-tab>

                                    <md-tab label="Insurance" ng-click="includeClientDash('Insurance')">
                                    </md-tab>

                                    <md-tab md-selected label="Net worth" ng-click="includeClientDash('Net worth')">
                                    </md-tab>

                                    <md-tab label="Accounts" ng-click="includeClientDash('Accounts')">
                                    </md-tab>

                                </md-tabs>
                            </md-content>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
