<style>
    .nv-y {
        display: none;
    }

    .chart-line .chart-labels {
        display: none;
    }

    .insurance-container {
        padding: 16px 16px !important;
    }
</style>
<div>
    <div class="page">
        <div class="row ui-section">
            <div class="panel panel-default" style="margin-bottom: 0;">
                <div style="padding: 0px 14px !important;">
                    <div class="row">
                        <!--detail header-->
                        <div class="client-record" ng-show="clientDashesCtrl.data.selectedIndex==0">
                            <div class="row legend_row">
                                <div class="col-md-3 client-img_1">
                                    <div class="leo">
                                        <img ng-src="{{clientDashesCtrl.userProfile.avatarCompleteUrl}}" class="client-img_2 img-responsive"/>
                                    </div>
                                </div>

                                <div class="col-md-5 Client-name_5">
                                    <div class="col-md-12 client_name_1">
                                        <ul class="leonardo">
                                            <li class="caprio">{{clientDashesCtrl.userName}}</li>
                                           <!-- <li><i class="fa fa-star fa-lg fa-2x star-icon-1" aria-hidden="true"></i>
                                            </li>-->
                                            <li id="profile_name">
                                                <span ng-show="clientDashesCtrl.userProfile.role[0].name == 'ROLE_CLIENT'">Client</span>
                                                <span ng-show="clientDashesCtrl.userProfile.role[0].name == 'ROLE_PROSPECT'">Prospect</span>
                                            </li>
                                            <!--<li><i class="fa fa-check fa-lg check-icon-1" aria-hidden="true"></i></li>-->
                                        </ul>

                                        <p class="leo_2">
                                            <span ng-show="clientDashesCtrl.userProfile.nickname">({{clientDashesCtrl.userProfile.nickname}})</span>
                                        </p>
                                        <span class="number_mailID"><i>{{clientDashesCtrl.userProfile.phone}} {{clientDashesCtrl.userProfile.user.email}}</i></span>

                                        <table class="table table_2">

                                            <tbody>
                                            <tr>
                                                <td class="income client_income" s>INCOME</td>
                                                <td class="income">{{clientDashesCtrl.userProfile.income | currency}}</td>

                                            </tr>

                                            <tr>
                                                <td class="income client_income">D.O.B</td>
                                                <td class="income">{{clientDashesCtrl.userProfile.dob |
                                                    date:'MM/dd/yyyy'}}
                                                    <span class="client_income"> ({{clientDashesCtrl.age}})</span>
                                                </td>

                                            </tr>

                                            <tr>
                                                <td class="income client_income">LAST CONTACTED</td>
                                                <td class="income">
                                                       <span ng-if="clientDashesCtrl.lastContactTime">
                                                           {{clientDashesCtrl.lastContactTime | date:'MM/dd/yyyy'}}
                                                       </span>
                                                    <span ng-if="!clientDashesCtrl.lastContactTime">
                                                           -
                                                    </span>
                                                </td>

                                            </tr>

                                            <tr>
                                                <td class="income client_income">LAST LOGIN</td>
                                                <td class="income">
                                                    <span ng-if="clientDashesCtrl.lastlogin">
                                                    {{clientDashesCtrl.lastContactTime | date:'MM/dd/yyyy'}}
                                                    </span>
                                                    <span ng-if="!clientDashesCtrl.lastlogin">
                                                        -
                                                    </span>
                                                </td>

                                            </tr>

                                            </tbody>
                                        </table>

                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-12 legend_values_2">
                                    <div class="net_worth">
                                        <span>NET WORTH</span>
                                        <h4>{{clientDashesCtrl.networth | currency }}</h4>
                                    </div>
                                </div>

                                <div class="col-md-1 icons-lists">
                                    <ul class="icons_1">

                                        <li class="col-md-12 col-sm-3 col-xs-3 list_3">
                                            <a href="javascript:void(0)">
                                                <i class="fa fa-comments-o fa-lg icons-color" aria-hidden="true"></i>
                                            </a>
                                        </li>

                                        <li class="col-md-12 col-sm-3 col-xs-3 list_3">
                                            <a ng-href="mailto:{{clientDashesCtrl.userProfile.user.email}}" target="_blank">
                                                <i class="fa fa-envelope fa-lg icons-color" aria-hidden="true"></i>
                                            </a>
                                        </li>

                                        <li class="col-md-12 col-sm-3 col-xs-3 list_3">
                                            <a href="javascript:void(0)">
                                                <i class="fa fa-lock fa-lg icons-color" aria-hidden="true"></i>
                                            </a>
                                        </li>

                                        <li class="col-md-12 col-sm-3 col-xs-3 list_3">
                                            <a href="#"
                                               ui-sref="page.advisor.clientprofile({id:clientDashesCtrl.userId,name:clientDashesCtrl.userName})">
                                                <i class="fa fa-cog fa-lg icons-color" aria-hidden="true"></i>
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--brief header-->
                        <div class="navbar-icons" ng-show="clientDashesCtrl.data.selectedIndex > 0">
                            <div class="row side-margin">
                                <div class="col-md-1 client-img">
                                    <img ng-src="{{clientDashesCtrl.userProfile.avatarCompleteUrl}}" class="client-img-2 img-responsive" />
                                </div>

                                <div class="col-md-7 client-id">
                                    <div class="col-md-6 col-sm-6 col-xs-6 name">
                                        <ul class="user-head">
                                            <li class="frost">{{clientDashesCtrl.userName}}</li>
                                            <!-- Starred contacts functionality not yet implemented -->
                                           <!-- <li><a href=""><i class="fa fa-star fa-lg star-icon" aria-hidden="true"></i></a>
                                            </li>-->
                                            <li class="color-grey">
                                                <span ng-show="clientDashesCtrl.userProfile.role[0].name == 'ROLE_CLIENT'">Client</span>
                                                <span ng-show="clientDashesCtrl.userProfile.role[0].name == 'ROLE_PROSPECT'">Prospect</span>
                                            </li>
                                            <!-- Why do we have the check mark here ? - Sumeet-->
                                            <!--<li><a href="">
                                                <i class="fa fa-check fa-lg check-icon"
                                                              aria-hidden="true"></i>
                                            </a>
                                            </li>-->
                                        </ul>
                                    </div>

                                    <div class="col-md-6 col-sm-6 col-xs-6 net">
                                        <p class="net-head-sec">NET WORTH
                                            <span class="section-value">{{clientDashesCtrl.networth | currency }}</span></p>
                                    </div>
                                </div>

                                <div class="col-md-1 col-sm-4 col-xs-4 icons">
                                    <a href="">
                                        <i class="fa fa-comments-o fa-lg icon-color" aria-hidden="true"></i>
                                    </a>
                                </div>

                                <div class="col-md-1 col-sm-4 col-xs-4 icons">
                                    <a href="">
                                        <i class="fa fa-lock fa-lg icon-color" aria-hidden="true"></i>
                                    </a>
                                </div>

                                <div class="col-md-1 col-sm-4 col-xs-4 icons">
                                    <a ng-href="mailto:{{clientDashesCtrl.userProfile.user.email}}" target="_blank">
                                        <i class="fa fa-envelope fa-lg icon-color" aria-hidden="true"></i>
                                    </a>
                                </div>
                                <div class="col-md-1 col-sm-4 col-xs-4 icons">
                                    <a href="#" ui-sref="page.advisor.clientprofile({id:userId,name:userName})">
                                        <i class="fa fa-cog fa-lg icons-color" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div ng-cloak>
                            <md-content>
                                <md-tabs class="inner-sec-tab" md-selected="clientDashesCtrl.data.selectedIndex"
                                         md-dynamic-height md-border-bottom>
                                    <md-tab  ui-sref="page.advisor.contacts.clientDash.summary({id:clientDashesCtrl.userId,name:clientDashesCtrl.userName})">
                                        <md-tab-label>
                                            Summary
                                        </md-tab-label>
                                    </md-tab>

                                    <md-tab  ui-sref="page.advisor.contacts.clientDash.goals.dashboard({id:clientDashesCtrl.userId,name:clientDashesCtrl.userName})">
                                        <md-tab-label>
                                                Goals
                                        </md-tab-label>
                                    </md-tab>

                                    <md-tab label="Investments" ng-click="includeClientDash('Investments')">
                                    </md-tab>

                                    <md-tab label="Insurance" ng-click="includeClientDash('Insurance')">
                                    </md-tab>

                                    <md-tab md-selected label="Net worth" ng-click="includeClientDash('Net worth')">
                                    </md-tab>

                                    <md-tab label="Accounts" ng-click="includeClientDash('Accounts')">
                                    </md-tab>

                                </md-tabs>
                            </md-content>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div ng-include="clientdashpage"></div>-->
    <div ui-view></div>
</div>

<script type="text/javascript">


    $('#selector button').click(function () {
        $(this).addClass('active').siblings().removeClass('active');

        // TODO: insert whatever you want to do with $(this) here
    });


</script>
