<style>
    md-input-container {
        width: 100%
    }
    tr:nth-child(2){
   border-bottom: 1px solid #e1e1e1 !important;
}
        tr:nth-child(5){
   border-bottom: 1px solid #e1e1e1 !important;
}
    tr:nth-child(9){
   border-bottom: 1px solid #e1e1e1 !important;
}
    .table-white th{font-size: 15px;}
    .btn_AddGoal {
        min-width: 90px !important;
    }
    
    .legend_panel_head_1 {
        padding: 22px 75px !important;
    }
    
    @media screen and (max-width: 1300px) {
        .legend_panel_head_1 {
            padding: 22px 18px !important;
        }
    }
    
    @media screen and (max-width: 1200px) and (min-width:992px) {
        .userinfo_1 {
            width: 50%;
            margin-left: 10%;
        }
    }
    
    @media only screen and (max-width:991px) {
        .btns_add_goal {
            float: left !important;
            padding: 0;
        }
    }
    
    @media only screen and (max-width:500px) {
        .outer_head_1 {
            padding-left: 30px;
        }
    }
    
    .add_another_advisor_1 b {
        position: relative;
        top: 25px;
    }
    
    .advisor_padd_2 {
        padding-left: 15px;
    }
    
    .add_advisor_2 {
        padding-left: 0;
    }
    
    .advisor_add_4 {
        margin-top: 20px;
    }
    
    .active-users_3 {
        text-align: right;
        padding-right: 0;
    }
    
    .active-users_3 p {
        color: #d6d6d6;
    }
    
    .six-accounts {
        padding-left: 15px;
        color: #81898d;
    }
    
    .last-updated {
        color: #81898d !important;
        margin-right: 10px;
    }
    
    .refresh-icon {
        color: #81898d;
    }
    
    .password-input {
        border: 0px !important;
    }
    
    .username {
        color: #464646 !important;
    }
    
    .usermail {
        color: #4d4d4d;
    }
    
    .right-table-icons {
        text-align: right;
        padding-right: 0px !important;
    }
    
    .setting-faicon {
        padding: 0px 20px;
    }
    
    .header-row {
        font-size: 18px;
        color: #81898d !important;
        border-bottom: 1px solid #e1e1e1;
    }
    
    .credential-row {
        border-bottom: 1px solid !important;
        border-color: #e1e1e1!important;
        padding-top: 25px;
    }


.fa_triangle{
    padding-right:20px;
}


.table-white td{
    background: #fff !important;
    border: 0px !important;
    padding-left:0px !important;

}

.table-white{
 border-bottom:1px solid #e1e1e1;
}

.table-white th{
   border-bottom: 0px !important;
    border-top:1px solid #e1e1e1;
    padding-left: 0px !important;
}

.white-table-input{
    border:0px;
    font-size:30px !important;
}


.fa_triangle{
    color:#ffb600 !important;
}

.input-padding{
    padding-top:3px !important;
}


.table-white_2{
    border-bottom:0px !important;
}

.accounts-numbers{
    color: #81898d !important;
    font-size: 16px;
}

.table-data-headings{
    font-size: 14px !important;
    font-weight: bold;
    padding-right:15px;
}




</style>
    
<div class="page page-form" ng-controller="advisorController">
    <div class="row ui-section">

        <div class="panel panel-default panel-minimal">

            <div class="panel-body panel-body-inner panel-head-bold">
                <div class="row client-head-top">

                    <div class="col-md-9 col-sm-9 col-xs-12 legend_account_2 credential-table-headings">
                        <h3 class="advisor_padd_2">Credentials <span class="six-accounts"> (6 Accounts)</span></h3>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 legend-add-account add-com credential-table-headings" style="margin-top: 15px;">
                        <span class="last-updated">Last Updated 1 hour ago</span> <i class="fa fa-refresh refresh-icon fa-lg" aria-hidden="true"></i>
                    </div>

                </div>
                <div class="credential-row"></div>

                <div class="table-responsive" ng-controller="credentialController">
                    <table class="table no-margin table-responsive table-white table-white_2">
                        <thead>
                            <tr class="header-row">
                                <th style="width:25%">Account Name

                                </th>
                                <th style="width:18%">User Name
                                </th>
                                <th>Password
                                </th>
                                <th>
                                </th>
                                <th>
                                </th>
                              

                            </tr>
                        </thead>

                        <tbody>



                            <tr ng-repeat-start="clients in credential">
                                <td>

                                    <span class="table-data-headings">{{clients.accountName}}</span> <span class="accounts-numbers">{{clients. accountnumbers}}</span>
                                </td>
                            </tr>
                                    <!--<table class="table no-margin table-responsive table-white">-->
                                        <tr class="bord-row" ng-repeat-end ng-repeat="data in clients.userDetails">
                                            <td>
                                               <span>{{data.email}}</span>
                                                
                                            </td>

                                            <td>
                                               <span>{{data.name}}</span>
                                                
                                            </td>

                                            <td class="input-padding">
                                               <input type="password" ng-model="data.password" class="white-table-input"  readonly>
                                                
                                            </td>

                                            <td class="evn-icn right-table-icons">

                                                <i class="fa fa-exclamation-triangle fa_triangle fa-lg white-table-icons" aria-hidden="true">

                                                     <md-tooltip>
                                                    Error
                                                    </md-tooltip>
                                                </i>

                                                <i class="fa fa-refresh fa-lg white-table-icons" aria-hidden="true">
                                                <md-tooltip>
                                                Refresh
                                                </md-tooltip>
                                            </i>

                                            <i class="fa fa-cog setting-faicon fa-lg white-table-icons" aria-hidden="true">
                                                <md-tooltip>
                                                Settings
                                                </md-tooltip>
                                            </i>

                                            <i ng-click="showDelete($event)" class="fa fa-trash-o fa-lg white-table-icons" aria-hidden="true">
                                                <md-tooltip>
                                                Delete
                                                </md-tooltip>
                                                </i>

                                        </td>


                                        </tr>
                                    
                               



                             <tr ng-repeat-start="clients in credential_2">
                                <td>
                                     <span class="table-data-headings">{{clients.accountName}}</span> <span class="accounts-numbers">{{clients. accountnumbers}}</span>
                                
                                    </td>
                                    </tr>
                                        <tr ng-repeat-end ng-repeat="data in clients.userDetails">
                                            <td>
                                               <span>{{data.email}}</span>
                                                
                                            </td>

                                            <td>
                                               <span>{{data.name}}</span>
                                                
                                            </td>

                                            <td class="input-padding">
                                               <input type="password" ng-model="data.password" class="white-table-input"  readonly>
                                                
                                            </td>

                                             <td class="evn-icn right-table-icons">


                                                <i class="fa fa-refresh fa-lg" aria-hidden="true">
                                                <md-tooltip>
                                                Refresh
                                                </md-tooltip>
                                            </i>

                                            <i class="fa fa-cog setting-faicon fa-lg" aria-hidden="true">
                                                <md-tooltip>
                                                Settings
                                                </md-tooltip>
                                            </i>

                                            <i ng-click="showDelete($event)" class="fa fa-trash-o fa-lg" aria-hidden="true">
                                                <md-tooltip>
                                                Delete
                                                </md-tooltip>
                                                </i>

                                        </td>
                                            
                                        </tr>

                                        

                                    
                               
                          








                             <tr ng-repeat-start="clients in credential_3">
                                <td>
                                    
                                    <span class="table-data-headings">{{clients.accountName}}</span> <span class="accounts-numbers">{{clients. accountnumbers}}</span>
                                 </td>
                                  </tr>
                                 
                                        <tr ng-repeat-end ng-repeat="data in clients.userDetails">
                                            <td>{{data.email}}

                                                

                                            <td>
                                               <span>{{data.name}}</span>
                                                
                                            </td>

                                            <td class="input-padding">
                                                <input type="password" ng-model="data.password" class="white-table-input"  readonly>
                                               
                                                
                                            </td>

                                                <td class="evn-icn right-table-icons">

                                               
                                                <i class="fa fa-refresh fa-lg" aria-hidden="true">
                                                <md-tooltip>
                                                Refresh
                                                </md-tooltip>
                                            </i>

                                            <i class="fa fa-cog setting-faicon fa-lg" aria-hidden="true">
                                                <md-tooltip>
                                                Settings
                                                </md-tooltip>
                                            </i>

                                            <i ng-click="showDelete($event)" class="fa fa-trash-o fa-lg" aria-hidden="true">
                                                <md-tooltip>
                                                Delete
                                                </md-tooltip>
                                                </i>


                                            </td>
                                        </tr>
                                   
                                
                        </tbody>

                    </table>
                </div>

            </div>

        </div>

    </div>
</div>
