<div class="page page-form" ng-controller="passSettings">
    <div class="row ui-section">

        <div class="panel panel-default">
            <div class="panel-body panel-body-settings">
                <div class="row">

                    <div class="col-md-12">
                        <div class="setting-sec">
                            <h3 style="font-weight: bold;">Password Settings</h3>
                        </div>
                        <form name="form_passSettings" class="form-validation settings-form">
                            <div class="col-md-4 col-xs-12 col-sm-12 padd-left-0">
                                <md-input-container class="md-block">
                                    <label>Current Password</label>
                                    <input type="password" ng-model="settings.currentPassword" name="password"  ng-maxlength="35" required>
                                    <div ng-messages="form_passSettings.password.$error">
                                        <div ng-messages-include src="app/common/message.html"></div>
                                    </div>
                                </md-input-container>
                                

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>New Password</label>
                                    <input type="password" allow-pattern="(\d|[a-z])" name="newPassword" ng-maxlength="35"
                                           ng-model="settings.newPassword" required>
                                    <div ng-messages="form_passSettings.newPassword.$error">
                                        <div ng-messages-include src="app/common/message.html"></div>
                                    </div>
                                </md-input-container>
                                
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Confirm New Password</label>
                                    <input type="password" allow-pattern="(\d|[a-z])" name="confPass"
                                           ng-model="confPass" compare-to="settings.newPassword" ng-maxlength="35"
                                           required>
                                    <div ng-messages="form_passSettings.confPass.$error">
                                        <div ng-messages-include src="app/common/message.html"></div>
                                    </div>

                            </div>
                            <div class="panel-body">
                                <div class="col-md-12">

                                    <div layout="row" class="fright">

                                        <md-button ng-click="changePass()"
                                                   class="md-raised btn-w-md md-primary md-button md-ink-ripple btn-save "
                                                   layout layout-align="center end" ng-disabled="!form_passSettings.password.$dirty || form_passSettings.confPass.$invalid">
                                            Save
                                        </md-button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
