<style type="text/css">
    .md-scroll-mask {
        background: none !important;
    }

    .pro-btn-top {
        margin-top: 35px;
    }
</style>
<div class="page page-form" data-ng-controller="ProfileInfoCtrl">
    <div class="row ui-section">
        <div class="panel panel-default sett-main">
            <div class="row">
                <div class="setting-sec">
                    <h3 style="font-weight: bold;">Profile Info</h3>
                </div>
                <div class="col-md-3" style="width:260px;">
                    <div class="panel-body">
                        <div class="profile-img">                        
                           	<img id="adv-avatar" alt="" no-cache-src="{{profile.avatarCompleteUrl}}" class="img-circle">
							<input onchange="angular.element(this).scope().loadProfileLogo(this)" id="upload-av" type="file"/>
                            <span uib-dropdown is-open="status.isopenLang" class="badge badge-md up badge badge-profile-info m-l-n-sm count" uib-dropdown-toggle ng-disabled="disabled" style="display: inline-block;">
                             	<i class="fa fa-camera fa-lg" aria-hidden="true"></i>
							     <ul class="with-arrow pull-left list-langs list-upload dropdown-menu-scaleIn" role="menu" uib-dropdown-menu>
                    				<li><a id="avatar-upload">Upload Photo</a></li>
                       				<li><a href="javascript:;" ng-click="removeAvatar()">Remove</a></li>
                				</ul>
                            </span>
                        </div>                        
                        <div layout="column" class="card-main" ng-show="adv_show">
                            <ul class="card-head">
                                <li>Firm ADV</li>
                            </ul>
                            <md-card ng-click="showAdv(adv_file);">
                                <div class="card-img-bg">
                                    <img src="images/pdf_icon.png" width="80px" height="120px" class="md-card-image" style="padding: 54px;">
                                </div>
                                <md-card-title class="card-tit-2">
                                    <md-card-title-text>
                                        <span class="md-headline">{{advFileName}}</span>
                                    </md-card-title-text>
                                </md-card-title>
                            </md-card>

                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="panel-body">
                        <div layout="column" ng-cloak class="md-inline-form inputdemoBasicUsage">
                            <form name="form_profile" class="form-validation settings-form">
                                <div layout-padding>
                                    <div class="row">
                                        <div layout layout-sm="column">
                                            <md-input-container flex="35">
                                                <label>First Name</label>
                                                <input type="text" name="pFName" only-letters-input
                                                       ng-maxlength="35" ng-model="profile.firstName" ng-keypress="limitKeypress($event,profile.firstName,35)" required>
                                                <div ng-messages="form_profile.pFName.$error">
                                                    <div ng-message="required">Required. Please enter your first name.</div>
                                                </div>
                                            </md-input-container>
                                            <div flex="5"></div>
                                            <md-input-container flex="35">
                                                <label>Middle Name</label>
                                                <input type="text" only-letters-input ng-maxlength="35" ng-keypress="limitKeypress($event,profile.middleName,35)" ng-model="profile.middleName">
                                            </md-input-container>
                                            <div flex="5"></div>
                                            <md-input-container flex="35">
                                                <label>Last Name</label>
                                                <input ng-model="profile.lastName" only-letters-input name="pName" type="text" ng-maxlength="35" ng-keypress="limitKeypress($event,profile.lastName,35)" required>
                                                <div ng-messages="form_profile.pName.$error">
                                                    <div ng-message="required">Required. Please enter your last name.</div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                        <div layout layout-sm="column">
                                            <md-input-container flex="35">
                                                <label>Date of Birth </label>
                                                <datepicker date-format="MM/dd/yyyy" date-max-limit={{minAge.toString()}}>
                                                    <input type="text" class="date-input" name="pDob" ng-model="profile.dob" onkeydown="return false" required>
                                                </datepicker>
                                                <div ng-messages="form_profile.pDob.$error">
                                                    <div ng-message="required">Required. Please select your birthday.</div>
                                                </div>
                                            </md-input-container>
                                            <div flex="5"></div>
                                            <md-input-container flex="35">
                                                <label>E-mail</label>
                                                <input ng-model="profile.user.email" type="email" disabled>
                                            </md-input-container>
                                            <div flex="5"></div>
                                            <md-input-container flex="35">
                                                <label>Phone</label>
                                                <input type="tel" ng-model="profile.phone" maxlength="12" name="pPhone" type="number" phoneformat ng-keypress="limitKeypress($event,profile.phone,12)" required>
                                                <div ng-messages="form_profile.pPhone.$error">
                                                    <div ng-message="required">Required. Please enter your phone number.</div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                        <div layout layout-sm="column">
                                            <md-input-container flex="35">
                                                <label>Nick Name</label>
                                                <input type="text" ng-maxlength="15" ng-model='profile.nickName' />
                                            </md-input-container>
                                            <div flex="5"></div>
                                            <md-input-container flex="35">
                                                <label>Firm Name</label>
                                                <input type="text" ng-model='profile.firmName' disabled />
                                            </md-input-container>
                                            <div flex="5"></div>
                                            <md-input-container flex="35">
                                                <label>Annual Income</label>
                                                <input ng-model="profile.income" ng-currency name="pIncome" min="1" max="999999999999"   ng-keypress="limitKeypress($event,profile.income,12)" required />
                                                <div ng-messages="form_profile.pIncome.$error">
                                                    <div ng-message="required">Required. Please enter your annual income.</div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="form-group">
                                            <div class="col-sm-2" style="margin-top: 15px; padding-left:0px;">
                                                Spouse
                                            </div>
                                            <div class="col-sm-6 col-sm-offset-4">
                                                <md-switch ng-model="spouseStat" aria-label="Default" ng-change="changeSpouseStatus()">{{spouseStat==true?'Yes':'No'}}</md-switch>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div ng-if="spouseStat">
                                            <div layout layout-sm="column">
                                                <md-input-container flex="30">
                                                    <label>First Name</label>
                                                    <input type="text" only-letters-input ng-model="profile.spouse.name" name="spouseFirstName" ng-maxlength="35" ng-keypress="limitKeypress($event,profile.spouse.name,35)" ng-required="spouseStat">
                                                    <div ng-messages="form_profile.spouseFirstName.$error">
                                                        <div ng-message="required">Required. Please enter your spouse's first name.</div>
                                                    </div>
                                                </md-input-container>
                                                <div flex="5"></div>
                                                <md-input-container flex="30">
                                                    <label>Middle Name</label>
                                                    <input type="text" only-letters-input ng-model="profile.spouse.middle" ng-maxlength="35" ng-keypress="limitKeypress($event,profile.spouse.middle,35)" name="spouseMiddleName">
                                                </md-input-container>
                                                <div flex="5"></div>
                                                <md-input-container flex="30">
                                                    <label>Last Name</label>
                                                    <input ng-model="profile.spouse.last" only-letters-input type="text" ng-maxlength="35" name="spouseLastName" ng-keypress="limitKeypress($event,profile.spouse.last,35)" ng-required="spouseStat">
                                                    <div ng-messages="form_profile.spouseLastName.$error">
                                                        <div ng-message="required">Required. Please enter your spouse's last name.</div>
                                                    </div>
                                                </md-input-container>
                                            </div>
                                            <div layout layout-sm="column">
                                                <md-input-container flex="30">
                                                    <label>Date of Birth</label>
                                                    <datepicker date-format="MM/dd/yyyy" date-max-limit={{minAge.toString()}} >
                                                        <input type="text" class="date-input" ng-model="profile.spouse.dob" name="spouseDob" ng-required="spouseStat" onkeydown="return false">
                                                    </datepicker>                                                

                                                    <div ng-messages="form_profile.spouseDob.$error">
                                                        <div ng-message="required">Required. Please select your spouse's birthday.</div>
                                                    </div>
                                                </md-input-container>
                                                <div flex="5"></div>
                                                <md-input-container flex="30">
                                                    <label>Annual Income</label>
                                                    <input type="text" ng-model="profile.spouse.income" ng-currency name="spouseIncome" min="1" max="999999999999" ng-keypress="limitKeypress($event,profile.spouse.income,12)" ng-required="spouseStat">
                                                    <div ng-messages="form_profile.spouseIncome.$error">
                                                        <div ng-message="required">Required. Please enter your spouse's annual income.</div>
                                                    </div>
                                                </md-input-container>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-2" style="margin-top: 15px; padding-left:0px;">
                                                Children
                                            </div>
                                            <div class="col-sm-6 col-sm-offset-4">
                                                <md-switch ng-model="childStat" aria-label="Default" ng-change="changeChildStatus()">
                                                    {{childStat==true?'Yes':'No'}}
                                                </md-switch>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div ng-if="childStat">
                                            <div ng-repeat="item in profile.children">
                                                <div layout layout-sm="column">
                                                    <md-input-container flex="35">
                                                        <label>First Name</label>
                                                        <input type="text" only-letters-input ng-model="item.name" ng-maxlength="35" name="childFirstName" ng-keypress="limitKeypress($event,item.name,35)" ng-required="childStat">
                                                        <div ng-messages="form_profile.childFirstName.$error">
                                                            <div ng-message="required">Required. Please enter your child's first name.</div>
                                                        </div>
                                                    </md-input-container>
                                                    <div flex="5"></div>
                                                    <md-input-container flex="35">
                                                        <label>Middle Name</label>
                                                        <input type="text" only-letters-input ng-model="item.middle" ng-maxlength="35"  ng-keypress="limitKeypress($event,item.middle,35)" name="childMiddleName">
                                                    </md-input-container>
                                                    <div flex="5"></div>
                                                    <md-input-container flex="35">
                                                        <label>Last Name</label>
                                                        <input ng-model="item.last" only-letters-input type="text" ng-maxlength="35"  ng-keypress="limitKeypress($event,item.last,35)" name="childLastName" ng-required="childStat">
                                                        <div ng-messages="form_profile.childLastName.$error">
                                                            <div ng-message="required">Required. Please enter your child's last name.</div>
                                                        </div>
                                                    </md-input-container>
                                                </div>
                                                <div layout layout-sm="column">
                                                    <md-input-container flex="30">
                                                        <label>Date of Birth</label>
                                                        <datepicker date-format="MM/dd/yyyy" date-max-limit={{todayDate.toString()}}>
                                                            <input type="text" class="date-input" ng-model="item.dob" name="chilsDob" ng-required="childStat" onkeydown="return false">
                                                        </datepicker>
                                                        <div ng-messages="form_profile.chilsDob.$error">
                                                            <div ng-message="required">Required. Please select your child's birthday.</div>
                                                        </div>
                                                    </md-input-container>
                                                </div>

                                                <span class="add-com pull-left">
                                                    <a ng-show="profile.children.length>0" ng-click="removeChild(item)">Remove</a>
                                                </span><br/><br/>   

                                            </div><br /><br />   
                                            <div class="add-com-main-one">
                                                <span class="pull-left">
                                                    <a ng-click="addChild()">
                                                        +
                                                        Add Child
                                                    </a>
                                                </span>
                                                <!--<span class="pull-right">
                                                    <a ng-show="profile.children.length >0" ng-click="removeChild()">Remove</a>
                                                </span>-->
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row pro-btn-top">
                                    <ul class="forms-buttons">
                                        <li>
                                            <button class="btn_AddGoal md-raised btn-w-sm md-primary md-button md-ink-ripple btn-save" type="button" ng-click="updateProfileInfo()" ng-disabled="form_profile.$invalid">
                                                <span class="ng-scope">Save</span>
                                                <div class="md-ripple-container"></div>
                                            </button>

                                        </li>
                                    </ul>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="panel-body">
                <div layout="row" class="fright">
                    <md-button ng-click="" class="md-raised btn-w-md md-primary md-button md-ink-ripple btn-save " layout layout-align="center end">Save</md-button>
                </div>
            </div>-->
        </div>
    </div>
</div>