<style type="text/css">
    .md-scroll-mask {
        background: none !important;
    }
</style>
<div class="page page-form">
    <div class="row ui-section">
        <div class="panel panel-default sett-main">
            <div class="row">
                <div class="col-md-3" style="width:260px;">
                    <div class="panel-body">
                        <div class="profile-img">
                            
                           <img alt="" src="images/g1.jpg" style="width: 150px;" class="img-circle"> <span class="badge badge-md up badge badge-profile-info m-l-n-sm count" style="display: inline-block;"><i class="fa fa-camera fa-lg" aria-hidden="true"></i></span>
                            <!--<img alt="" src="images/g1.jpg" style="width: 70%;" class="img-circle">
                            <span class="badge badge-profile-info bg-violet"><i class="fa fa-camera fa-lg" aria-hidden="true"></i></span>-->
                        </div>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="panel-body" data-ng-controller="ProfileInfoCtrl">
                        <div layout="column" ng-cloak class="md-inline-form inputdemoBasicUsage">
                            <div layout-padding>
                                <form name="form_settings form-signin" class="form-validation settings-form">
                                    <div class="row">
                                        <div layout layout-sm="column">
                                            <md-input-container flex="35">
                                                <label>Full name</label>
                                                <input type="text" ng-model="profile.fullname">
                                            </md-input-container>
                                            <div flex="5"></div>
                                            <md-input-container flex="35">
                                                <label>E-mail</label>
                                                <input ng-model="profile.email" type="email">
                                            </md-input-container>
                                        </div>

                                        <div layout layout-sm="column">
                                            <md-input-container flex="35">
                                                <label>Phone</label>
                                                <input type="text" ng-model="profile.phone">
                                            </md-input-container>
                                            <div flex="5"></div>
                                            <md-datepicker ng-model="user.submissionDate" md-placeholder="Date of birth" flex-sm></md-datepicker>
                                        </div>

                                        <div layout layout-sm="column">
                                            <md-input-container flex="35">
                                                <label>Firm Name</label>
                                                <input type="text" ng-model='profile.firmname' disabled>
                                            </md-input-container>
                                            <div flex="5"></div>
                                            <md-input-container flex="35">
                                                <label>Annual Income</label>
                                                <input ng-model="profile.income">
                                            </md-input-container>
                                        </div>

                                        <div class="clearfix"></div>

 <md-input-container class="md-block">
                                        <label>Bio</label>
                                        <textarea ng-model="profile.bio" md-maxlength="150" rows="5" md-select-on-focus>
                                            </textarea>
                                    </md-input-container>  

                                    </div>

                                    <div layout layout-sm="column">
                                        <div layout="row" class="fright col-sm-1  col-sm-offset-11">
                                            <md-button ng-click="" class="md-raised btn-w-md md-primary md-button md-ink-ripple btn-save " layout layout-align="center end">Save</md-button>
                                        </div>

                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!--<div class="panel-body">
                <div layout="row" class="fright">
                    <md-button ng-click="" class="md-raised btn-w-md md-primary md-button md-ink-ripple btn-save " layout layout-align="center end">Save</md-button>
                </div>
            </div>-->

        </div>
    </div>
</div>