<div class="page" data-ng-controller="advisorHomeCtrl">
    <div>
        <div class="panel panel-default panel-margin-bottom">
            <div class="panel-body">

                <span class="pull-left">
                        <div class="panel-heading-main padd-top-5">Good afternoon, Leo!</div>
                    </span>
                <span class="pull-right advisor-dash-home-form ">
            <form action="#" class="form-horizontal form-datepicker-main head-date-right ng-pristine ng-valid">
                        <div class="form-body">
                            <div class="form-group">
                                <label class="control-label">Range:</label>
                                <div class="date-con-main">
                                    <div class="input-group input-large date-picker input-daterange">
                                        <datepicker date-format="MMMM dd, yyyy" class="form-control form-datepicker d1">
                                                 <input type="text" class="date-input form-control form-date-inner" ng-model="date.date1" ng-change="changeTiles()">
                                                </datepicker>
                                        - 
                                                <datepicker date-format="MMMM dd, yyyy" class="form-control form-datepicker d2">
                                                 <input type="text" class="form-control form-date-inner" ng-model="date.date2" ng-change="changeTiles()">
                                                </datepicker>
                                    </div>
                                </div>
                            
                            </div>
                        </div>
                    </form>
            </span>

            </div>

        </div>

        <div class="row">
            <div class="col-md-6" ng-init="assetAllocation=true;">
                <div class="panel panel-default panel-minimal panel-margin-bottom">
                    <div class="panel-body client-dash-body_2 advisorDashHome_body_height">
                        <div class="panel-heading panel-heading-chart">Asset Allocation</div>
                        <div id="chart-area" >
                            <div class="row advisor-dash-margin-row_2" ng-show="assetAllocation">
                                <div class="col-md-8">
                                    <div class="advisor-inner-value inner_value_2">
                                        <span class="curren">{{midValueUnderManagement != undefined?'$':''}}</span>
                                        <span class="midvalue">{{ midValueUnderManagement }}</span>
                                        <span class="unit">{{midValueUnderManagement != undefined?'M':'' }}</span>

                                    </div>
                                    <canvas id="advisorDoughnutUnderManagement" style="height: 225px; top: 2px;" class="canvas_chart_circle"></canvas>
                                </div>
                                <div class="col-md-1 legends-column-advisor-dash" style="margin-top: 38px;">
                                    <div id="advisor-legendUnderManagement" class="legends_advisors_1"></div>
                                </div>
                            </div>

                            <div class="row advisor-dash-margin-row_2" ng-show="!assetAllocation">
                                <div class="col-md-8">
                                    <div class="advisor-inner-value inner_value_2">
                                        <span class="curren">{{midValueHeldAway != undefined?'$':''}}</span><span class="midvalue">{{ midValueHeldAway }}</span>
                                        <span class="unit">{{midValueHeldAway != undefined?'M':'' }}</span>

                                    </div>
                                    <canvas id="advisorDoughnutHeldAway" style="height: 225px; top: 2px;" class="canvas_chart_circle"></canvas>
                                </div>
                                <div class="col-md-1 legends-column-advisor-dash" style="margin-top: 38px;">
                                    <div id="advisor-legendHeldAway" class="legends_advisors_1"></div>
                                </div>
                            </div>
                        </div>

                        <div class="multiple-btns clientAdvisor-btns btns-advisorHomeDash_1">
                            <div id="selector" class="btn-group chart_btn_group">
                                <button type="button" id="btns_group_advisor_1" class="btn active btn-lg btn_1 btn-2 btn_management advisor_btns_2 advisor_btn_6"
                                    ng-click="assetAllocation=true;">Under Management</button>
                                <button type="button" id="btns_group_advisor_1" class="btn btn-lg btn_1 btn-liabilties btn_management advisor_btns_3 advisorHeldAway_btn"
                                    ng-click="assetAllocation=false;">Held Away</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-default panel-minimal panel-margin-bottom">
                    <div class="panel-body client-dash-body_2">
                        <div class="panel-heading panel-heading-chart">Activity feed</div>
                        <div  class="advisor_content_3 responsive-content_4">
                            <md-content class="advisor_content_3">
                                <section>
                                    <md-list layout="column" layout-padding="">
                                        <md-list-item class="md-3-line messages-advisor-dash" ng-repeat="message in messages">
                                            <img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">
                                            <div class="md-list-item-text">
                                                <p>
                                                    {{message.notes}}
                                                </p>
                                            </div>
                                        </md-list-item>
                                    </md-list>

                                    <md-list layout="column" layout-padding="">
                                        <md-list-item class="md-3-line messages-advisor-dash" ng-repeat="message in messages">
                                            <img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">
                                            <div class="md-list-item-text">
                                                <p>
                                                    {{message.notes}}
                                                </p>
                                            </div>
                                        </md-list-item>
                                    </md-list>
                                </section>
                                <a class="inner-m-link inner-link-align-act">See all activity</a>
                            </md-content>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-4" ng-init="contacts=true;">
                <div class="panel panel-default panel-minimal panel_body_height advisor-dash-body-height panel-margin-bottom">
                    <div class="panel-body">
                        <div class="panel-heading panel-heading-chart">Contacts</div>
                        <div class="row con-sec" ng-show="contacts">
                            <div class="col-md-12 text-center">
                                <span class="contact-value advisor-dash-charts-value">78</span>
                                <div class="contact-value-add advisor-dash-charts-value_2">+ 2 New</div>
                            </div>
                        </div>
                        <div class="row con-sec" ng-show="!contacts">
                            <div class="col-md-12 text-center">
                                <span class="contact-value advisor-dash-charts-value">137</span>
                                <div class="contact-value-add advisor-dash-charts-value_2">+ 17 New</div>
                            </div>
                        </div>
                        <div class="multiple-btns">
                            <div id="selector" class="btn-group goals_btn_group_1 advisor-dash-btns_2 advisor-btns_charts_3">
                                <button type="button" id="btns_group_advisor_1" class="btn active btn-lg btn_1 btn-2 advisor_btns_2 advisor_client_btn_2 advisorDash_btn_6"
                                    ng-click="contacts=true;">Clients</button>
                                <button type="button" id="btns_group_advisor_1" class="btn btn-lg btn_1 btn-liabilties advisor_btns_3 btn_4_advisor advisorDash_btn_7"
                                    ng-click="contacts=false;">Prospects</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4" ng-init="networthToggle=true;">
                <div class="panel panel-default panel-minimal advisor-dash-body-height panel-margin-bottom">

                    <div ng-controller="linechartController">

                        <div class="row advisor_dash_chart_row" ng-show="networthToggle">
                            <div class="panel-body">
                                <div class="col-md-6 col-sm-6 col-xs-6 net_worth_column">
                                    <div class="panel-heading panel-heading-chart">Net Worth</div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 net-values worth_value-2">
                                    <h3>$629,012</h3>
                                    <p>+ <i>2 % ($ 24,000)</i></p>
                                </div>
                            </div>
                            <canvas id="myChart1" height="auto" class="chart net_worth_chart chart-line" chart-legend="false" chart-data="data1" chart-colours="colours1"
                                chart-labels="labels1" chart-legend="true" chart-series="series1" chart-options="options1" chart-click="onClick">
                            </canvas>
                            <div class="chart-div-advisor chartDiv_advisor_3"></div>

                        </div>

                        <div class="row advisor_dash_chart_row" ng-show="!networthToggle">
                            <div class="panel-body">
                                <div class="col-md-6 col-sm-6 col-xs-6 net_worth_column">
                                    <div class="panel-heading panel-heading-chart">Net Worth</div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 net-values worth_value-2">
                                    <h3>$49,062,936</h3>
                                    <p>+ <i>2 % ($ 1,872,000)</i></p>
                                </div>
                            </div>
                            <canvas id="myChart2" height="auto" class="chart net_worth_chart chart-line" chart-legend="false" chart-data="data2" chart-colours="colours2"
                                chart-labels="labels2" chart-legend="true" chart-series="series2" chart-options="options2" chart-click="onClick">
                            </canvas>
                            <div class="chart-div-advisor chartDiv_advisor_4"></div>
                        </div>

                    </div>


                    <!--<div class="chart-outer">

                        </div>-->
                    <div class="chart-outer">
                        <div class="multiple-btns my_btns_networth">

                            <div id="selector" class="btn-group advisor-networth-btns">

                                <button type="button" id="btns_group_advisor_1" class="btn active btn-lg btn_1 btn-2 advisor_btns_2 advisorDash_btn_6" ng-click="networthToggle=true;">Average</button>

                                <button type="button" id="btns_group_advisor_1" class="btn btn-lg btn_1 btn-liabilties advisor_btns_3 advisorDash_btn_7"
                                    ng-click="networthToggle=false;">Total</button>

                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-4" ng-init="goalsToggle=true;">
                <div class="panel panel-default panel-minimal panel_body_height advisor-dash-body-height">
                    <div class="panel-body">
                        <div class="panel-heading panel-heading-chart goals-charts-headings-advisor">Goals</div>

                        <div class="row goal-inner" ng-show="goalsToggle">
                            <div class="col-md-12 col-sm-12 col-xs-12" style="text-align:center;">
                                <span class="chart-advisor_4">
                                    <div id="advisorHomePieToday" style="width: 100px; height: 100px; margin: 0 auto"></div>
                                </span>
                                <span class="goals_value goals-chart-value-4">+ 1.3%</span>
                            </div>
                        </div>

                        <div class="row goal-inner" ng-show="!goalsToggle">
                            <div class="col-md-12 col-sm-12 col-xs-12" style="text-align:center;">
                                <span class="chart-advisor_4">
                                    <div id="advisorHomePieFuture" style="width: 100px; height: 100px; margin: 0 auto"></div>
                                </span>
                                <span class="goals_value goals-chart-value-4">+ 1.3%</span>
                            </div>
                        </div>

                        <div class="multiple-btns goal-sec-btn">

                            <div id="selector" class="btn-group goals_btn_group_1 my_btns_group_3 advisor-dash-btns_3 my-advisor-btns-charts_3">
                                <button type="button" id="btns_group_advisor_1" class="btn active btn-lg btn_1 btn-2 advisor_btns_2 advisorDash_btn_6" ng-click="goalsToggle=true;">Today</button>
                                <button type="button" id="btns_group_advisor_1" class="btn btn-lg btn_1 btn-liabilties advisor_btns_3 advisorDash_btn_7"
                                    ng-click="goalsToggle =false;">Future</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
   $(function () {     
   $('#selector button').click(function() {
   $(this).addClass('active').siblings().removeClass('active');
   });
   });

</script>