<style>
    .nv-y {
        display: none;
    }
    
    .chart-line .chart-labels {
        display: none;
    }
    .insurance-container {
    padding: 16px 16px !important;
}
</style>
<div ng-controller="ClientDashesController">
<div class="page">
    <div class="row ui-section">
        <div class="panel panel-default" style="margin-bottom: 0;">
            <div style="padding: 0px 14px !important;">
                <div class="row">
              <div class="client-record">
			<div class="row legend_row">
				<div class="col-md-3 client-img_1">
					<div class="leo">
						<a href="javascript:void(0);" ui-sref="oranj.advisorClientProfile"><img src="images/client.jpg" class="client-img_2 img-responsive"/></a>
					</div>
				</div>
				
				<div class="col-md-5 Client-name_5">
					<div class="col-md-12 client_name_1">
						<ul class="leonardo">
							<li class="caprio">Leonardo DiCaprio</li>
							<li><a href="#"><i class="fa fa-star fa-lg fa-2x star-icon-1" aria-hidden="true"></i></a></li>
							<li id="profile_name">Client</li>
							<li><a href="#"><i class="fa fa-check fa-lg check-icon-1" aria-hidden="true"></i></a></li>
						</ul>
						
						<p class="leo_2">(Leo)</p>
						<span class="number_mailID">+<i>1(312)871-1239 lio@dicaprio.com</i></span>
						
						
						
						
						
						<table class="table table_2">
							
							<tbody>
							  <tr>
								<td class="income client_income"s>INCOME</td>
								<td class="income">$300,000</td>
								
							  </tr>
							  
							  <tr>
								<td class="income client_income">D.O.B</td>
								<td class="income">11/11/1974<span class="client_income">(41)</span></td>
								
							  </tr>
							  
							   <tr>
								<td class="income client_income">CONTACT SINCE</td>
								<td class="income">1/1/2013</td>
								
							  </tr>
							  
							   <tr>
								<td class="income client_income">LAST LOGIN</td>
								<td class="income">2/13/2016</td>
								
							  </tr>
							  
							</tbody>
						  </table>
						 
						
						
						
						
					</div>
				</div>
				
				<div class="col-md-3 col-sm-12 legend_values_2">
					<div class="net_worth">
						<span>NET WORTH</span>
						<h4>$1,629,012.76</h4>
					</div>
				</div>
				
				
				<div class="col-md-1 icons-lists">
					<ul class="icons_1">
					
						<li class="col-md-12 col-sm-3 col-xs-3 list_3"><a href="javascript:void(0)">
								<i class="fa fa-comments-o fa-lg icons-color" aria-hidden="true"></i>
							</a>
						</li>
						
						<li class="col-md-12 col-sm-3 col-xs-3 list_3"><a href="javascript:void(0)">
								
								<i class="fa fa-envelope fa-lg icons-color" aria-hidden="true"></i>
							</a>
						</li>
						
						<li class="col-md-12 col-sm-3 col-xs-3 list_3"><a href="javascript:void(0)">
								<i class="fa fa-lock fa-lg icons-color" aria-hidden="true"></i>
							</a>
						</li>
						
						<li class="col-md-12 col-sm-3 col-xs-3 list_3">
						<a href="javascript:void(0)">
								<i class="fa fa-cog fa-lg icons-color" aria-hidden="true"></i>
							</a>
						</li>
						
					</ul>
				</div>
				
				
			</div>
		</div>




                    <div ng-cloak>
                        <md-content>
                            <md-tabs class="inner-sec-tab" md-selected="data.selectedIndex" md-dynamic-height md-border-bottom>
                                <md-tab label="Summary" ug-click=includeClientDash('Summary')">
                                </md-tab>

                                <md-tab label="Goals" ng-click="includeClientDash('Goals')">
                                </md-tab>

                                <md-tab label="Investments" ng-click="includeClientDash('Investments')">
                                </md-tab>

                                <md-tab label="Insurance" ng-click="includeClientDash('Insurance')">
                                </md-tab>

                                <md-tab md-selected label="Net worth"  ng-click="includeClientDash('Net worth')">
                                </md-tab>

                                <md-tab label="Accounts" ng-click="includeClientDash('Accounts')">
                                </md-tab>

                            </md-tabs>
                            
                        </md-content>
                        
                    </div>

                </div>
            </div>

       


        
 </div>
   <div>
</div>
    </div>
</div>
<div ng-include="clientdashpage"></div>
</div>

<script type="text/javascript">
    
        
$('#selector button').click(function() {
    $(this).addClass('active').siblings().removeClass('active');

    // TODO: insert whatever you want to do with $(this) here
});
        
        
           
          

</script>