
<div class="investment-container">
    <div class="investment-planner-info">
    	<div layout="row" layout-align="left center">
			  <div class="grid-col width-15">
			  		<span>Account:</span> <span class="tex-score">2</span>
			  </div>
			  <div class="grid-col width-30">
			  		<span>Balance:</span> <span class="tex-score"> 4</span>
			  </div>
			  <div class="grid-col width-30">
			  		<span>NEED:</span> <span class="tex-score"> $2,850.00</span>
			  </div>
			  <div class="grid-col width-15">
			  		<span>HAVE: </span> <span class="tex-score"> $2,300.00</span>
			  </div>
			  <div class="grid-col width-10">
			  		<a href="javascript:void(0)"><span class="random-icon"><i class="fa fa-random"></i></span></a>
			  </div>
		</div>
	</div>

	<!-- Chart and gaudge  -->
    <div class="page-wrapper">
        <div class="row">
            <div class="col-md-7">
		        <div class="panel panel-default">
		             <div class="panel-body panel-body">
		                 <img src="images/client-insurance.png" class="img-responsive">
		            </div>
		        </div>
		    </div>
            <div class="col-md-5">
                <div class="panel panel-default">
                    <div class="panel-body panel-body">
                         <img src="images/client-insurance.png" class="img-responsive">
                    </div>
                </div>
            </div>
		</div>
	</div>

	<!-- account table format -->
	<div class="row">
					<div class="col-md-12">
						<div class="panel panel-default">
							<div class="panel-body">
							<!-- Table Layout-->
							
								<div class="table-responsive">
									<h4>Accounts</h4>
									<div class="table-responsive">
												</div><table class="table table-Account">
										<thead>
											<tr>
												<td>Name</td>
												<td>Type</td>
												<td>Institution</td>
												<td>Balance</td>
												<td>Changes(%)</td>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>
													 <a href="javascript:void(0);"><i class="fa fa-caret-right fa-caret-icon" aria-hidden="true"></i></a> &nbsp;Oscar Winnings
												</td>
												<td>401k</td>
												<td>JpMorgan</td>
												<td>$1,192,014.73</td>
												<td class="PercentChangeUp"><i class="fa fa-arrow-up fa-arrow-icon" aria-hidden="true"></i> 19,072.22(1.6%)</td>
											</tr>
											<tr>
												<td>
													 <a href="javascript:void(0);"><i class="fa fa-caret-down fa-caret-icon" aria-hidden="true"></i></a> &nbsp;Leo's Fund 
													 <i class="fa fa-random"></i>
												</td>
												<td>IRA</td>
												<td>TD Ameritrade</td>
												<td>$1,63,031.78</td>
												<td class="PercentChangeDown"><i class="fa fa-arrow-down fa-arrow-icon" aria-hidden="true"></i> 521.67(0.32%)</td>
											</tr>
											
											</tbody></table><table class="table table-inner">
													<thead>
														<tr>
															<td>Name</td>
															<td>Symbol</td>
															<td>Shares</td>
															<td>Price</td>
															<td>Value</td>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td>Alphabet</td>
															<td>GOOG</td>
															<td>187.22</td>
															<td>$718.77 &nbsp; <span class="PercentChangeUp"><i class="fa fa-arrow-down fa-arrow-icon" aria-hidden="true"></i> 40.37(5.32%)</span></td>
															<td>$134,564.67</td>
														</tr>
														<tr>
															<td>iShares Investment Grade Corporate Bond</td>
															<td>LQD</td>
															<td>237.9</td>
															<td>$119.66 &nbsp; <span class="PercentChangeDown"><i class="fa fa-arrow-up fa-arrow-icon" aria-hidden="true"></i> 0.13(0.11%)</span></td>
															<td>$ 28,467.11</td>
														</tr>
													</tbody>
												</table>
											 </div>
										
									
									<p class="addAccount"><a href="javascript:void(0);"><i class="fa fa-plus fa-plus-icon" aria-hidden="true"></i></a> &nbsp;Add Account</p>
								</div>
							</div>
							
						</div>
					</div>
    <div class="row">
    	  <div class="col-md-12">
    	  	    
    	  </div>
    </div>

</div>
