<div class="investment-container">
    <div class="investment-planner-info">
    	<div layout="row" layout-align="left center">
			  <div class="grid-col width-15">
			  		<span></span> <span class="tex-score">Leo's Fund</span>
			  </div>
			  <div class="grid-col width-30">
			  		<span></span> <span class="tex-score ">IRA</span>
			  </div>
			  <div class="grid-col width-30">
			  		<span>Balance:</span> <span class="tex-score"> $163,031.78</span>
			  </div>
			  <div class="grid-col width-15">
			  		<span>Goals:</span> <span class="tex-score"> 1</span>
			  </div>
			  <div class="grid-col width-10">
			  		<a href="javascript:void(0)"><span class="random-icon"><i class="fa fa-random"></i></span></a>
			  </div>
		</div>
	</div>

	<!-- Chart and gaudge  -->
    <div class="page-wrapper">
        <div class="row">
            <div class="col-md-7">
		        <div class="panel panel-default">
		             <div class="panel-body panel-body">
		                 <img src="images/client-investment.png" class="img-responsive">
		            </div>
		        </div>
		    </div>
            <div class="col-md-5">
                <div class="panel panel-default">
                    <div class="panel-body panel-body">
                         <img src="images/client-investment-gaduge.png" class="img-responsive">
                    </div>
                </div>
            </div>
		</div>
	</div>

	<!-- account table format -->
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
			        <div class="panel-header">
				    	 <div class="col-xs-12">Holdings</div>
				    </div>
				<div class="panel-body">
				<!-- Table Layout-->
				    <!-- <h4>Holdings</h4> -->
            	    <div class="table-responsive">
	                     <table class="table client-investment-table">
						    <thead>
						      <tr>
						        <th class="width-30">Name</th>
						        <th class="width-10">Symbol</th>
						        <th class="width-10">Shares</th>
						        <th class="width-20">Price</th>
						        <th class="">Value</th>
						      </tr>
						    </thead>
						    <tbody>
						      <tr>
						        <td><span>Alphabet</span></td>
						        <td>GOOG</td>
						        <td>187.22</td>
						        <td><span>$ 718.77</span> &nbsp;
	                			     <span class="changeAmountDown"><i class="fa fa-arrow-down" aria-hidden="true"></i>&nbsp; 40.37(5.32%)</span>
	                			</td>
						        <td>$134,564.67</td>
						      </tr>
						      <tr>
						        <td><span>iShares Investment Grade Corporate Bond</span></td>
						        <td>LQD</td>
						        <td>273.9</td>
						        <td><span>$ 119.66</span> &nbsp;
	                			     <span class="changeAmountUp"><i class="fa fa-arrow-up" aria-hidden="true"></i>&nbsp; 0.13(0.11%)</span>
	                			</td>
						        <td>$28,467.11</td>
						      </tr>
						    </tbody>
						 </table>
					</div>	
						<!-- <p class="add-account"><a href="javascript:void(0);" class="add-policy"><i class="fa fa-plus fa-plus-icon" aria-hidden="true"></i>&nbsp;Add Account</a></p> -->
				</div>
				
			</div>
		</div>

</div>
