<style>
    .edit-financial {
        text-align: left;
    }
    .md-scroll-mask {
        background: none !important;
    }
    
    .finanacial-insurance {
        padding-left: 0;
    }
    
    .finanacial-insurance_add {
        padding-left: 15px !important;
        font-size: 15px;
        position: relative;
        top: -30px;
    }
    
    .label_name_width {
        width: 200px;
        max-width: 200px;
    }
    
    .financial_date {
        font-size: 11px !important;
        padding-left:2px;
    }
    
    .label-color {
        color: #9d9c9d !important;
        font-size:15px;
    }
    
    .financial_date_picker_1 {
        margin-left: -17px !important;
    }
    
    .financial_date_picker_1 input {
        margin-left: -17px !important;
    }

    .finance_date_picker_2{
        margin-left:5px;
    }

.finanial-policy-row{
    margin-top: 20px;
}


.death-benifit{
    padding-right:0 !important;
}

.years{
    padding-left:0 !important;
}

.financial_beneficiary_2{
    margin-top:0;
}

.per_year{
    font-size: 12px !important;
}




 @media screen and (max-width: 1300px) and (min-width: 992px) {
        
.financial_main{
    width: 100% !important;
}

.financial-type{
    width:100% !important;
}



    }



 @media screen and (max-width: 1050px) and (min-width: 992px) {
        
.financial_date {
        font-size: 10px !important;
    }


.label-color {
        font-size: 12px;
    }


    }





    
    @media screen and (max-width: 991px) {
        .edit-financial {
            text-align: center !important;
        }
    }
</style>



<div class="page page-form" ng-controller="editFinencialCtrl">

    <div class="row ui-section">
        <div class="panel panel-default">
            <div class="panel-body body-dark hhd">
                <div class="row">

                    <div class="col-md-6 col-xs-12 col-sm-12 hhd-1">
                        <div class="profile-info">
                            <div class="detail-cont edit-financial details_cont_2">
                                EDIT A FINANCIAL
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-xs-12 col-sm-12 hhd-3">
                        <ul class="add_goal_buttons pull-right btns_add_goal">
                            <li><button ui-sref="page.insurance" class="md-raised btn-w-sm md-primary md-button md-ink-ripple btn-grey btn_AddGoal"
                                    type="button"><span class="ng-scope">Cancel</span><div class="md-ripple-container"></div></button></li>
                            <li><button class="md-raised btn-w-sm md-primary md-button md-ink-ripple btn-save btn_AddGoal"
                                    type="button"><span class="ng-scope">Save</span><div class="md-ripple-container"></div></button></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body panel-body-inner panel-head-bold legend_panel_head">
                <div class="row">
                    <h2 class="outer-head outer_head_1">Financial Type: Insurance</h2>
                    <div class="col-md-1 col-sm-12 col-xs-12 financial-type"></div>
                    <div layout="column" class="col-md-9 col-sm-12 col-sm-offset-0 financial_main" ng-cloak class="md-inline-form inputdemoBasicUsage">
                        <div layout-padding>
                            <form class="account-form">
                                <h3>Details</h3>
                                <div class="row">
                                    <div class="col-md-5 col-sm-12 col-xs-12  form-group">
                                        <div layout layout-sm="column">
                                            <md-input-container>
                                                <label class="label-color">Coverage Type</label>
                                                <md-select ng-model="coverage.coverageData">
                                                    <md-option ng-repeat="coverageData in coverageTypeData" value="{{coverageData.abbrev}}">
                                                        {{coverageData.abbrev}}
                                                    </md-option>
                                                </md-select>
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div class="col-md-5 col-sm-12 col-xs-12 col-md-offset-2 form-group">
                                        <md-input-container>
                                            <label class="label-color">Policy Type</label>
                                            <md-select ng-model="coverage.policyData">
                                                <md-option ng-repeat="policyData in policyType" value="{{policyData.abbrev}}">
                                                    {{policyData.abbrev}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="row finanial-policy-row">
                                    <div class="col-md-5 col-sm-12 col-xs-12 form-group">
                                        <md-input-container>
                                            <label class="label-color">Policy Name*</label>
                                            <input ng-model="editData.policyName" md-maxlength="30">
                                        </md-input-container>
                                    </div>



                                    <div class="col-md-2 col-sm-12 col-xs-12 col-md-offset-2 death-benifits form-group" style="padding-right:0;">
                                        <md-input-container>
                                            <label class="label_name_width label-color">Death Benefit*</label>
                                            <input ng-model="editData.deathBenefit">
                                        </md-input-container>
                                    </div>

                                    <div class="col-md-2 col-sm-10 col-xs-10 form-group death-benifits death-benifit">
                                        <md-input-container>
                                            <label class="label_name_width label-color">Term of Policy*</label>
                                            <md-select ng-model="coverage.policyTerms">
                                                <md-option ng-repeat="policyTerms in policyTerm" value="{{policyTerms.abbrev}}">
                                                    {{policyTerms.abbrev}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>

                                    <div class="col-md-1 col-sm-2 col-xs-2 form-group years">
                                        <md-input-container>
                                            <label class="label_name_width label-color per_year">years</label>

                                        </md-input-container>
                                    </div>


                                </div>

                                <div class="row">
                                    <div class="col-md-5 col-sm-12 col-xs-12 form-group">
                                        <md-input-container>
                                            <label class="label_name_width label-color">Carrier</label>
                                            <input ng-model="editData.carrier" md-maxlength="30">
                                        </md-input-container>
                                    </div>

                                    <div class="col-md-3 col-sm-12 col-xs-12 col-md-offset-2 form-group">
                                        <md-input-container>
                                            <label class="label_name_width label-color">Purchased By</label>
                                            <md-select ng-model="coverage.purchased">
                                                <md-option ng-repeat="purchased in purchasedBy" value="{{purchased.abbrev}}">
                                                    {{purchased.abbrev}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-5 col-sm-12 col-xs-12 finanacial-insurance form-group">
                                        <div class="col-md-6 cl-sm-12 col-xs-12 form-group">
                                            <label class="label_name_width label-color financial_date">Policy Purchase Date</label>
                                            <md-input-container style="margin:-5px !important;">
                                               
                                                <datepicker date-format="MM/dd/yyyy">
                                                    <input type="text" class="date-input finance_date_picker_2" ng-model="editData.policypdate">
                                                </datepicker>
                                            </md-input-container>
                                        </div>

                                        <div class="col-md-6 cl-sm-12 col-xs-12 form-group">
                                            <label class="label_name_width label-color financial_date">Policy Expiration Date</label>
                                          <md-input-container style="margin:-5px !important;">
                                               
                                                <datepicker date-format="MM/dd/yyyy">
                                                    <input type="text" class="date-input finance_date_picker_2" ng-model="editData.policyexpdate">
                                                </datepicker>
                                            </md-input-container>
                                        </div>
                                    </div>

                                    <div class="col-md-5 col-sm-12 col-xs-12 col-md-offset-2 finanacial-insurance form-group">
                                        <div class="col-md-6 col-sm-12 col-xs-12 form-group death-benifit">
                                            <md-input-container>
                                                <label class="label_name_width label-color">Premium Payment</label>
                                                <input ng-model="editData.permiumPayment">
                                            </md-input-container>
                                        </div>
                                        <div class="col-md-1 col-sm-2 col-xs-2 form-group">
                                            <md-input-container>
                                                <label class="label_name_width label-color per_year">Per</label>
                                            </md-input-container>
                                        </div>

                                        <div class="col-md-2 col-sm-10 col-xs-10 form-group">
                                            <md-input-container>
                                                <md-select ng-model="coverage.year">
                                                    <md-option ng-repeat="year in years" value="{{year.abbrev}}">
                                                        {{year.abbrev}}
                                                    </md-option>
                                                </md-select>
                                            </md-input-container>
                                        </div>
                                    </div>
                                </div>



                                <div class="row">
                                    <div class="col-md-5 col-sm-12 col-xs-12 form-group">
                                        <md-input-container class="financial_beneficiary_2">
                                            <label class="label_name_width label-color">Beneficiaries</label>
                                            <input ng-model="editData.beneficiaries" md-maxlength="30">
                                        </md-input-container>
                                    </div>

                                    <div class="col-md-3 col-sm-12 col-xs-12 col-md-offset-2 form-group">
                                        <md-input-container class="financial_beneficiary_2">

                                            <md-select ng-model="coverage.conti">

                                                <md-option ng-repeat="conti in contingent" value="{{conti.abbrev}}">
                                                    {{conti.abbrev}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>

                                    <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                                        <md-input-container class="financial_beneficiary_2">
                                            <input ng-model="editData.contingentPer">
                                        </md-input-container>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="add-ff col-md-8 finanacial-insurance_add">
                                        <a href="" style="color: #e4e4e7;">+ Add Additional Beneficiary</a>
                                    </div>

                                </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>



</div>
</div>
</div>