<style>
    .edit-financial {
        text-align: left;
    }
    .md-scroll-mask {
        background: none !important;
    }
    
    .finanacial-insurance {
        padding-left: 0;
    }
    
    .finanacial-insurance_add {
        padding-left: 15px !important;
        font-size: 15px;
        position: relative;
        top: -30px;
    }
    
    .label_name_width {
        width: 200px;
        max-width: 200px;
    }
    
    .financial_date {
        font-size: 11px !important;
        padding-left:2px;
    }
    
    .label-color {
        color: #9d9c9d !important;
        font-size:15px;
    }
    
    .financial_date_picker_1 {
        margin-left: -17px !important;
    }
    
    .financial_date_picker_1 input {
        margin-left: -17px !important;
    }

    .finance_date_picker_2{
        margin-left:5px;
    }

.finanial-policy-row{
    margin-top: 20px;
}


.death-benifit{
    padding-right:0 !important;
}

.years{
    padding-left:0 !important;
}

.financial_beneficiary_2{
    margin-top:0;
}

.per_year{
    font-size: 12px !important;
}




 @media screen and (max-width: 1300px) and (min-width: 992px) {
        
.financial_main{
    width: 100% !important;
}

.financial-type{
    width:100% !important;
}



    }



 @media screen and (max-width: 1050px) and (min-width: 992px) {
        
.financial_date {
        font-size: 10px !important;
    }


.label-color {
        font-size: 12px;
    }


    }





    
    @media screen and (max-width: 991px) {
        .edit-financial {
            text-align: center !important;
        }
    }
</style>



<div class="page page-form" ng-controller="editFinencialCtrl">

    <div class="row ui-section">
        <div class="panel panel-default">
            <div class="panel-body body-dark hhd">
                <div class="row">

                    <div class="col-md-6 col-xs-12 col-sm-12 hhd-1">
                        <div class="profile-info">
                            <div class="detail-cont edit-financial details_cont_2">
                                EDIT A FINANCIAL
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-xs-12 col-sm-12 hhd-3">
                        <ul class="add_goal_buttons pull-right btns_add_goal">
                            <li><button ui-sref="oranj.networthMain" class="md-raised btn-w-sm md-primary md-button md-ink-ripple btn-grey btn_AddGoal"
                                    type="button"><span class="ng-scope">Cancel</span><div class="md-ripple-container"></div></button></li>
                            <li><button class="md-raised btn-w-sm md-primary md-button md-ink-ripple btn-save btn_AddGoal"
                                    type="button"><span class="ng-scope">Save</span><div class="md-ripple-container"></div></button></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body panel-body-inner panel-head-bold legend_panel_head">
                <div class="row">
                    <h2 class="outer-head outer_head_1">Financial Type: Property</h2>
                    <div class="col-md-2 col-sm-12 col-xs-12 financial-type"></div>
                    <div layout="column" class="col-md-8 col-sm-12 col-sm-offset-0 financial_main" ng-cloak class="md-inline-form inputdemoBasicUsage">
                        <div layout-padding>
                            <form class="account-form">
                                <h3>Details</h3>
                                <div class="row">
                                    <div class="col-md-5 col-sm-12 col-xs-12  form-group">
                                        <div layout layout-sm="column">
                                            <md-input-container>
                                                <label class="label-color">Property Type</label>
                                                <input ng-model="editfinProperty.propertyType">
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div class="col-md-5 col-sm-12 col-xs-12 col-md-offset-2 form-group">
                                        <md-input-container>
                                            <label class="label-color">Address</label>
                                             <input ng-model="editfinProperty.address">
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="row finanial-policy-row">

                                     <div class="col-md-3 col-sm-12 col-xs-12 form-group" style="padding-right:0;">
                                        <md-input-container>
                                            <label class="label_name_width label-color">City</label>
                                            <input ng-model="editfinProperty.city">
                                        </md-input-container>
                                    </div>

                                    <div class="col-md-2 col-sm-10 col-xs-10 form-group death-benifits death-benifit">
                                        <md-input-container>
                                            <label class="label_name_width label-color">Zip</label>
                                             <input ng-model="editfinProperty.zip">
                                        </md-input-container>
                                    </div>

                                    <div class="col-md-2 col-sm-12 col-xs-12 col-md-offset-2 death-benifits form-group" style="padding-right:0;">
                                        <md-input-container>
                                            <label class="label_name_width label-color">State</label>
                                            <md-select ng-model="editfinProperty.policyTerms">
                                                <md-option ng-repeat="policyTerms in policyTerm" value="{{policyTerms.abbrev}}">
                                                    {{policyTerms.abbrev}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>

                                    <div class="col-md-2 col-sm-10 col-xs-10 form-group death-benifits death-benifit">
                                        <md-input-container>
                                            <label class="label_name_width label-color">Country</label>
                                            <md-select ng-model="editfinProperty.policyTerms">
                                                <md-option ng-repeat="policyTerms in policyTerm" value="{{policyTerms.abbrev}}">
                                                    {{policyTerms.abbrev}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>



                                   

                                   


                                </div>

                                  <div class="row">
                                    <div class="col-md-5 col-sm-12 col-xs-12  form-group">
                                        <div layout layout-sm="column">
                                            <md-input-container>
                                                <label class="label-color">My Value</label>
                                                 <input ng-model="editfinProperty.myvalue">
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div class="col-md-5 col-sm-12 col-xs-12 col-md-offset-2 form-group">
                                        <md-input-container>
                                            <label class="label-color">Property Value</label>
                                             <input ng-model="editfinProperty.propertyvalue" disabled>
                                        </md-input-container>
                                    </div>
                                </div>

                                  <div class="row">
                                    <div class="col-md-5 col-sm-12 col-xs-12  form-group">
                                        <div layout layout-sm="column">
                                            <md-input-container>
                                                
                                                <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="advisorindv.active" class="md-primary">
           Use my value
          </md-checkbox>
                                            </md-input-container>
                                        </div>
                                    </div>
                                  
                                </div>

                            

                               



                               

          
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>



</div>
</div>
</div>