<style type="text/css">
    .nav-collapsed-min .fa-search {
        display: block !important;
    }
</style>
<div class="page">
    <div class="row ui-section">
	  <div>
        <div class="panel panel-default panel-minimal">

            <div class="panel-body-main panel-head-bold">
                <div class="row client-head-top">
                    <div class="col-md-7 col-sm-3">
                        <h3>All Contacts <span>({{ TotalContact }} Total Contacts)</span></h3>
                    </div>
                    <div class="col-md-3 col-sm-5 col-md-offset-2">
                        <div class="inpSearch">
                            <input type="text" placeholder="Search Contacts" class="inpStyl">
                            <i class="fa fa-search"></i>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12" infinite-scroll-disabled='busy' infinite-scroll='increaeContactLimit()'>
                        <div class="table-responsive">
                            <table class="table no-margin table-responsive table-contacts table-top" ng-init="sortReversefirstName=false; sortType = 'lastName'">
                                <thead>
                                    <tr>
                                        <th class="evn-icn">
                                        </th>
                                        <th>
                                        </th>
                                        <th ng-click="sortReversefirstName = !sortReversefirstName; sortType = 'firstName'">
                                            First Name <img src="images/userFilter.png" class="cls-image-filter">

                                        </th>
                                        <th ng-click="sortReversefirstName = !sortReversefirstName; sortType = 'lastName'">
                                            Last Name <img src="images/userFilter.png" class="cls-image-filter">
                                        </th>
                                        <th ng-click="sortReversefirstName = !sortReversefirstName; sortType = 'roles[0].name'">
                                            Status <img src="images/userFilter.png" class="cls-image-filter">
                                        </th>
                                        <th ng-click="sortReversefirstName = !sortReversefirstName; sortType = 'lastlogin'">
                                            Last Login <img src="images/userFilter.png" class="cls-image-filter">
                                        </th>
                                        <th ng-click="sortReversefirstName = !sortReversefirstName; sortType = 'networth'">
                                            Net Worth <img src="images/userFilter.png" class="cls-image-filter">
                                        </th>
                                        <th ng-click="sortReversefirstName = !sortReversefirstName; sortType = 'investmentTotal'">
                                            Total Investment <img src="images/userFilter.png" class="cls-image-filter">
                                        </th>
                                        <th ng-click="sortReversefirstName = !sortReversefirstName; sortType = 'goalGauge'">
                                            Goal Progress <img src="images/userFilter.png" class="cls-image-filter">
                                        </th>

                                    </tr>
                                </thead>

                                <tbody>
                                    <tr ng-repeat="advisorData in advisorGridData | orderBy : sortType : sortReversefirstName | limitTo:pageSize">

                                        <td class="con-icn">
                                            <!--<i class="{{advisorData.star}}" aria-hidden="true">

                                            </i>-->
                                        </td>
                                        <td class="con-highlight" ng-if="advisorData.avatarUrl"><img data-ng-src="{{advisorData.avatarUrl}}"></td>
                                        <td class="con-highlight" ng-if="!advisorData.avatarUrl"><span class="category-icon"> {{advisorData.firstNameIndx}}{{advisorData.lastNameIndx}} </span></td>
                                        <td class="con-highlight"><a ui-sref="page.advisor.contacts.clientDash.summary({id:advisorData.userId,name:advisorData.fullName})">{{advisorData.firstName}}</a></td>
                                        <td class="con-highlight"><a ui-sref="page.advisor.contacts.clientDash.summary({id:advisorData.userId,name:advisorData.fullName})">{{advisorData.lastName}}</a></td>
                                        <td class="con-status" ng-if="advisorData.roles.length != '0'"><span ng-class="{Client:advisorData.roles[0].name =='ROLE_CLIENT', Prospect:advisorData.roles[0].name =='ROLE_PROSPECT' }">{{advisorData.roles[0].name=='ROLE_CLIENT'?'Client':'Prospects'}}</span></td>
                                        <td class="con-status" ng-if="advisorData.roles.length == 0"></td>
                                        <td ng-if="!advisorData.inviteSent" ng-click="sendCredentialsToClient(advisorData.userName,advisorData.userId)">{{advisorData.lastLogin | date:'MM/dd/yyyy'}} <a>{{advisorData.lastLogin == null ? 'Send Credentials':''}}</a></td>
                                        <td ng-if="advisorData.inviteSent"> Credentials Sent</td>
                                        <td>${{advisorData.networth}}</td>
                                        <td>${{advisorData.investmentTotal}}</td>
                                        <td>{{advisorData.goalGauge}}%</td>


                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>

            </div>

        </div>

		<div ng-show="busy" ng-if="!hideloader" class="loader primary-loader loader--style3" title="2">
		  <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		     width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
		  <path fill="#000" d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z">
		    <animateTransform attributeType="xml"
		      attributeName="transform"
		      type="rotate"
		      from="0 25 25"
		      to="360 25 25"
		      dur="0.6s"
		      repeatCount="indefinite"/>
		    </path>
		  </svg>
		</div>
	</div>
        <!-- <div class="loading-more" ng-show="isLoading">Loading....</div> -->


    </div>
</div>
