<style type="text/css">
.nav-collapsed-min .fa-search {
    display: block !important;
}
</style>
<div class="page" ng-controller="createContactCtrl">
    <div class="row ui-section">

                <div class="panel panel-default panel-minimal">

                    <div class="panel-body-main panel-head-bold">
<div class="row client-head-top">
                        <div class="col-md-7 col-sm-3">
                            <h3>All Contacts <span>(4 Total Contacts)</span></h3>
                        </div>
<div class="col-md-3 col-sm-5 col-md-offset-2">
       <div class="inpSearch">
                    <input type="text" placeholder="Search Contacts" class="inpStyl">
                    <i class="fa fa-search"></i>
                </div>
</div>
                       
                        </div>
<div class="row">
                        <div class="col-md-12">
                         <div class="table-responsive">
                <table class="table no-margin table-responsive table-contacts table-top" ng-init="sortReversefirstName=true; sortType = 'firstName'">
                    <thead>
                        <tr>
                             <th class="evn-icn">
                            </th>
                             <th>
                            </th>
                            <th ng-click="sortReversefirstName = !sortReversefirstName; sortType = 'firstName'">First Name <img src="images/userFilter.png" class="cls-image-filter">
                              
                            </th>
                            <th ng-click="sortReversefirstName = !sortReversefirstName; sortType = 'lastName'">Last Name <img src="images/userFilter.png" class="cls-image-filter">
                               </th>
                                <th ng-click="sortReversefirstName = !sortReversefirstName; sortType = 'status'">Status <img src="images/userFilter.png" class="cls-image-filter">
                                </th>  
                            <th ng-click="sortReversefirstName = !sortReversefirstName; sortType = 'lastlogin'">Last Login <img src="images/userFilter.png" class="cls-image-filter">
                                </th>
                            <th ng-click="sortReversefirstName = !sortReversefirstName; sortType = 'networth'">Net Worth <img src="images/userFilter.png" class="cls-image-filter">
                               </th>
                            <th ng-click="sortReversefirstName = !sortReversefirstName; sortType = 'totalinvesment'">Total Investment <img src="images/userFilter.png" class="cls-image-filter">
                               </th>
                            <th ng-click="sortReversefirstName = !sortReversefirstName; sortType = 'goalprogress'">Goal Progress <img src="images/userFilter.png" class="cls-image-filter">
                              </th>
                                 
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="advisorData in advisorGridData | orderBy : sortType : sortReversefirstName ">

                            <td class="con-icn"><i class="{{advisorData.star}}" aria-hidden="true">
                                
                              </i>
                            </td>
                             <td class="con-highlight"><img ng-src='{{advisorData.imgfirstname}}'></td>
                            <td class="con-highlight"><a ui-sref="advisor-record">{{advisorData.firstName}}</a></td>
                            <td class="con-highlight"><a ui-sref="advisor-record">{{advisorData.lastName}}</a></td>
                            <td class="con-status"><span ng-class="advisorData.status">{{advisorData.status}}</span></td>
                            <td>{{advisorData.lastlogin}}</td>
                            <td>{{advisorData.networth}}</td>
                            <td>{{advisorData.totalinvesment}}</td>
                            <td>{{advisorData.goalprogress}}</td>
                          
                          
                        </tr>
                    </tbody>

                </table>
</div>
                        </div></div>
                  
                    </div>

                </div>
          

<div class="loading-more">Loading more....</div>
       

    </div>
</div>
