<style>
    md-input-container {
        width: 100%
    }
.md-scroll-mask {
        background: none !important;
    }
.review_heading_1{

margin-left:420px;

}


.review_heading{

margin-left:320px;

}


.child_1{
	padding:0;

}


.btn_AddGoal{

min-width:90px !important;
}

.legend_panel_head{
	padding: 22px 75px !important;

}




.beneficiary{

padding-left:0;
margin-top:20px;


}



.col-md-2.col-sm-2.col-xs-2.legend-children_1 {
    margin-top: 20px;

}








@media screen and (max-width: 1300px) {

	.legend_panel_head_1{
		padding: 22px 18px !important;

	}


.review_heading_1{

margin-left:0px;

}


.review_heading{

margin-left:0px;

}


}



@media screen and (max-width: 1200px) and (min-width:992px) {
.userinfo_1{
width:50%;
margin-left:10%;
}



}



@media only screen and (max-width:991px){

        .btns_add_goal{
            float:left !important;
            padding:0;
        }



.info_1{
float: none;
}



.col-md-2.col-sm-2.col-xs-2.legend-children_1 {
    margin-top: 20px;
}





}







@media only screen and (max-width: 768px) {

.children_toggle{

padding-left:0;
float: left;
width: 100%

}

.emp_details{
float:left;

}



}









@media only screen and (max-width: 600px) and (min-width: 500px) {
    

   .legend-children_1 {
    margin-right: 70px;
    margin-top: 20px !important;
}



.beneficiary{
	margin-top: 20px !important;
      margin-right: 60px;

}

}





@media only screen and (max-width:500px){
	
       .outer_head_1{

	padding-left:30px;

   }
	
.legend_panel_head{
   padding: 22px 15px !important;

}




    .legend-children_1{
      
      margin-top: 20px !important;
      margin-right: 40px;

     }


.beneficiary{
	margin-top: 20px !important;
      margin-right: 40px;

}


}





</style>

<div class="page page-form" ng-controller="createContactCtrl">
    <div class="row ui-section" >
        

        <div class="panel panel-default">
            <div class="panel-body panel-body-inner panel-head-bold legend_panel_head">

                <div class="row">
                    <h2 class="outer-head outer_head_1">Create Contact</h2>


                    <div layout="column" class="col-md-8 col-md-offset-2" ng-cloak class="md-inline-form inputdemoBasicUsage">
                        <div layout-padding>
                            <form name="form_contact" class="account-form">
                              
                                <div class="row">
                                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                        <div layout layout-sm="column">
                                            <md-input-container>
                                                <label>First Name</label>
                                                <input ng-model="contact.firstName" required name="firstname" maxlength="35" ng-pattern="/^[a-zA-Z{}`\\!&()\-_?/,.':;&quot;\[\]](?!.*?\s$)[a-zA-Z{}`\\!&()\-_?/,.':;&quot;\[\]\s]{1,35}$/" ng-trim="false">
                                                <div ng-messages="form_contact.firstname.$error" md-auto-hide="false" ng-if="form_contact.firstname.$touched">
                                                    <div ng-message="required">Please enter your client's first name.</div>
                                                    <div ng-message="maxlength">This field can be at most 35 characters long.</div>
                                                    <div ng-message="pattern">This field must be a valid first name.</div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                        <md-input-container>
                                            <label>Last Name</label>
                                            <input ng-model="contact.lastName" required name="lastname" maxlength="35" ng-pattern="/^[a-zA-Z{}`\\!&()\-_?/,.':;&quot;\[\]](?!.*?\s$)[a-zA-Z{}`\\!&()\-_?/,.':;&quot;\[\]\s]{1,35}$/" ng-trim="false">
                                            <div ng-messages="form_contact.lastname.$error" md-auto-hide="false" ng-if="form_contact.lastname.$touched">
                                                <div ng-message="required">Please enter your client's last name.</div>
                                                <div ng-message="maxlength">This field can be at most 35 characters long.</div>
                                                <div ng-message="pattern">This field must be a valid last name.</div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                </div>
                                 <div class="row">
                                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                        <div layout layout-sm="column">
                                            <md-input-container>
                                                <label>Email</label>
                                                <input ng-model="contact.email" required type="text" name="email" maxlength="50" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/">
                                                <div ng-messages="form_contact.email.$error" md-auto-hide="false" ng-if="form_contact.email.$touched">
	                                                <div ng-message="required">Please enter your client's email address.</div>
	                                                <div ng-message="pattern">This field must be a valid email address.</div>
	                                                <div ng-message="maxlength">This field can be at most 50 characters long.</div>
	                                            </div>
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                        <md-input-container>
                                            <label>Phone Number</label>
                                            <input ng-model="contact.phone" required name="phone" maxlength="12" phoneformat>
                                            <div ng-messages="form_contact.phone.$error" md-auto-hide="false" ng-if="form_contact.phone.$touched">
                                                <div ng-message="required">Please enter your client's phone number.</div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                           <md-input-container>
                                            <label>Date of Birth</label>
                                             <datepicker date-format="MM/dd/yyyy">
											  <input ng-model="contact.dob" class="date-input" type="text" required name="dob" age-check/>
											  <div ng-messages="form_contact.dob.$error" md-auto-hide="false" ng-if="form_contact.dob.$touched">
	                                             <div ng-message="required">Please enter your client's birthday.</div>
	                                             <div ng-message="dob">Sorry, your client must be at least 18-years-old to use the system.</div>
	                                          </div>
											</datepicker>
                                        </md-input-container>
                                      
                                    </div>
                                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                        <md-input-container>
                                            <label>Annual Income</label>
                                            <input ng-model="contact.income" required name="income" ui-money-mask="1">
                                            <div ng-messages="form_contact.income.$error">
                                             	<div ng-message="required">Please enter your client's annual income.</div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                </div>

                           

                                <div class="row">
                                     <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                        <md-input-container>
                                            <label>Type</label>
                                              <md-select class="option-select" ng-model="contact_type" required>
								              	<md-option ng-repeat="type in types" value="{{type.abbrev}}">
								                	{{type.abbrev}}
								              	</md-option>
								           	 </md-select>
                                        </md-input-container>
                                    </div>
                                      <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                        <md-input-container>
                                            <label>Marital Status</label>
                                              <md-select class="option-select" ng-model="contact.maritalStatus" required>
								              	<md-option ng-repeat="maritalstatus in maritalstatus" value="{{maritalstatus.abbrev}}">
								                	{{maritalstatus.abbrev}}
								              	</md-option>
								           	  </md-select>
                                        </md-input-container>
                                    </div>
                                  
                                </div>
                                
                                <div ng-show="spouseStat">
                                	
                                	<div class="row">
	                                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
	                                        <div layout layout-sm="column">
	                                            <md-input-container>
	                                                <label>Spouse First Name</label>
	                                                <input ng-model="contact.spouse.name" ng-required="spouseStat" name="spouseName" maxlength="35" ng-pattern="/^[a-zA-Z{}`\\!&()\-_?/,.':;&quot;\[\]](?!.*?\s$)[a-zA-Z{}`\\!&()\-_?/,.':;&quot;\[\]\s]{1,35}$/" ng-trim="false">
	                                                <div ng-messages="form_contact.spouseName.$error">
		                                             	<div ng-message="required">Please enter your client's spouse's first name.</div>
		                                             	<div ng-message="maxlength">This field can be at most 35 characters long.</div>
		                                             	<div ng-message="pattern">This field must be a valid first name.</div>
		                                            </div>
	                                            </md-input-container>
	                                        </div>
	                                    </div>
	                                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
	                                        <md-input-container>
	                                            <label>Spouse Last Name</label>
	                                            <input ng-model="contact.spouse.last" ng-required="spouseStat" name="spouseLast" maxlength="35" ng-pattern="/^[a-zA-Z{}`\\!&()\-_?/,.':;&quot;\[\]](?!.*?\s$)[a-zA-Z{}`\\!&()\-_?/,.':;&quot;\[\]\s]{1,35}$/" ng-trim="false">
	                                            <div ng-messages="form_contact.spouseLast.$error">
	                                             	<div ng-message="required">Please enter your client's spouse's last name.</div>
	                                             	<div ng-message="maxlength">This field can be at most 35 characters long.</div>
	                                             	<div ng-message="pattern">This field must be a valid last name.</div>
	                                            </div>
	                                        </md-input-container>
	                                    </div>
	                                </div>
	                                
	                                <div class="row">
	                                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
	                                           <md-input-container>
	                                            <label>Spouse Date of Birth</label>
	                                             <datepicker date-format="MM/dd/yyyy">
												  <input ng-model="contact.spouse.dob" class="date-input" type="text" ng-required="spouseStat" name="spouseDob" age-check/>
												</datepicker>
												<div ng-messages="form_contact.spouseDob.$error" md-auto-hide="false" ng-if="form_contact.spouseDob.$touched">
	                                             	<div ng-message="required">Please enter your client's spouse's birthday.</div>
	                                             	<div ng-message="dob">Sorry, your client's spouse must be at least 18-years-old to use the system.</div>
	                                            </div>
	                                        </md-input-container>
	                                      
	                                    </div>
	                                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
	                                        <md-input-container>
	                                            <label>Spouse Annual Income</label>
	                                            <input ng-model="contact.spouse.income" ng-required ="spouseStat" name="spouseIncome">
	                                            <div ng-messages="form_contact.spouseIncome.$error">
	                                             	<div ng-message="required">Please enter your client's spouse's annual income.</div>
	                                            </div>
	                                        </md-input-container>
	                                    </div>
	                                </div>
                                </div>

								<div class="row child_1">
		                                <div class="form-group">
		                                    <div class="col-md-2 col-sm-2 col-xs-2 sub_child">Children</div>
		                                    <div class="col-md-6 col-sm-6 col-xs-6 col-sm-offset-4">
		                                        <md-switch ng-model="switchData.children" aria-label="Default">{{ switchData.children === true?'Yes':'No' }} </md-switch>
		                                    </div>
		                                </div>
								</div>

                                  <div class="row" ng-show="switchData.children">
                                     <div ng-repeat="child in contact.children track by $index">
                                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                        <md-input-container>
                                            <label>Child First Name</label>
                                            <input ng-model="contact.children[$index].name" ng-required="switchData.children" name="children_name_{{$index}}" maxlength="35" ng-pattern="/^[a-zA-Z{}`\\!&()\-_?/,.':;&quot;\[\]](?!.*?\s$)[a-zA-Z{}`\\!&()\-_?/,.':;&quot;\[\]\s]{1,35}$/" ng-trim="false">
                                            <div ng-messages="form_contact['children_name_'+$index].$error">
                                             	<div ng-message="required">Please enter your client's child's first name.</div>
                                             	<div ng-message="maxlength">This field can be at most 35 characters long.</div>
                                             	<div ng-message="pattern">This field must be a valid first name.</div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                       <md-input-container>
                                            <label>Child Last Name</label>
                                            <input ng-model="contact.children[$index].last" ng-required="switchData.children" name="children_last_{{$index}}" maxlength="35" ng-pattern="/^[a-zA-Z{}`\\!&()\-_?/,.':;&quot;\[\]](?!.*?\s$)[a-zA-Z{}`\\!&()\-_?/,.':;&quot;\[\]\s]{1,35}$/" ng-trim="false">
                                            <div ng-messages="form_contact['children_last_'+$index].$error">
                                             	<div ng-message="required">Please enter your client's child's last name.</div>
                                             	<div ng-message="maxlength">This field can be at most 35 characters long.</div>
                                             	<div ng-message="pattern">This field must be a valid last name.</div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                        <md-input-container>
                                            <label>Child Date of Birth</label>
                                             <datepicker date-format="MM/dd/yyyy">
											  <input ng-model="contact.children[$index].dob" class="date-input" type="text" ng-required="switchData.children" name="children_dob_{{$index}}" child-age/>
											</datepicker>
											<div ng-messages="form_contact['children_dob_'+$index].$error" md-auto-hide="false" ng-if="form_contact['children_dob_'+$index].$touched">
                                             	<div ng-message="required">Please enter your client'schild's birthday.</div>
                                             	<div ng-message="dob">Cannot enter a future date for your client's child's birthday.</div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                    <div class="clearfix"></div>
                                    
                                      <div class="b-btn col-md-8">
		                                <a ng-click="removeChild($index);">Remove</a>
		                            </div>
                             </div>
                                     
                                   
                                          <div class="b-btn col-md-8">
                                            <a ng-click="addChidren();">+ Add Child</a>
                                        </div>

                                    
                                </div>
                               

                                        <div class="row bottom-form-btn">
                                         <ul class="add_goal_buttons pull-right btns_add_goal">
				                            <li><button class="btn_AddGoal md-raised btn-w-sm md-primary md-button md-ink-ripple btn-grey" type="button"><span class="ng-scope">Cancel</span><div class="md-ripple-container"></div></button></li>
				                            <li><button class="btn_AddGoal md-raised btn-w-sm md-primary md-button md-ink-ripple btn-save" type="button" ng-click="saveContact();" ng-disabled="!form_contact.$valid"><span class="ng-scope">Create</span><div class="md-ripple-container"></div></button></li>
				                            <!-- <li><button ui-sref="confirm-contact" class="btn_AddGoal md-raised btn-w-sm md-primary md-button md-ink-ripple btn-save" type="button"><span class="ng-scope">Create</span><div class="md-ripple-container"></div></button></li> -->
				                        </ul>
                                        </div>
                                   
				
				

                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </div>



    </div>
</div>
</div>
