<style>
    md-input-container {
        width: 100%
    }

.review_heading_1{margin-left:420px;}

.review_heading{margin-left:320px}

.child_1{padding:0;}

.btn_AddGoal{min-width:90px !important;}

.legend_panel_head{padding: 22px 75px !important;}
.beneficiary{padding-left:0;margin-top:20px;}


.col-md-2.col-sm-2.col-xs-2.legend-children_1 {margin-top: 20px;}


@media screen and (max-width: 1300px) {

.legend_panel_head_1{padding: 22px 18px !important;}

.review_heading_1{margin-left:0px;}

.review_heading{margin-left:0px;}

}

@media screen and (max-width: 1200px) and (min-width:992px) {
.userinfo_1{width:50%;margin-left:10%;}
}



@media only screen and (max-width:991px){
.btns_add_goal{float:left !important;padding:0;}
.info_1{float: none;}
.col-md-2.col-sm-2.col-xs-2.legend-children_1 {margin-top: 20px;}
}

@media only screen and (max-width: 768px) {
.children_toggle{padding-left:0;float: left;width: 100%}
.emp_details{float:left;}

}

@media only screen and (max-width: 600px) and (min-width: 500px) {
.legend-children_1 {margin-right: 70px;margin-top: 20px !important;}
.beneficiary{margin-top: 20px !important;margin-right: 60px;}
}

@media only screen and (max-width:500px){ 
.outer_head_1{padding-left:30px;} 
.legend_panel_head{padding: 22px 15px !important;}
.legend-children_1{margin-top: 20px !important;margin-right: 40px;}
.beneficiary{margin-top: 20px !important;margin-right: 40px;}
}


/*--------*/
.preview-label{color: rgba(0,0,0,0.54);font-size: 12px;margin:0;}
.preview-div{background-color:#f1f1f1;padding: 0 15px 15px;}
.btn-sub{text-transform: none;margin-bottom:6px;}

@media only screen and (max-width:1050px) and (min-width:320px){ 
  .button-row{
    float:right;
  }
  }



</style>

<div class="page page-form" ng-controller="createContactCtrl">
    <div class="row ui-section" >
        
        <div class="panel panel-default">
            <div class="panel-body panel-body-inner panel-head-bold legend_panel_head">

                <div class="row">
                    <h2 class="outer-head outer_head_1">Invite Contact</h2>


                    <div layout="column" class="col-md-8 col-md-offset-2" ng-cloak class="md-inline-form inputdemoBasicUsage">
                        <div layout-padding>
                            <form class="account-form">
                              
                                <div class="row">
                                    <div class="col-md-6 col-xs-12 form-group">
                                        <div layout layout-sm="column">
                                            <md-input-container>
                                                <label>Email</label>
                                                <input ng-model="invite.email" required>
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xs-12 form-group">
                                        <md-input-container>
                                            <label>Full Name</label>
                                            <input ng-model="invite.fullname" required>
                                        </md-input-container>
                                    </div>
                                </div>

                                 <div class="row">
                                    <div class="col-md-12 col-xs-12 form-group">
                                        <div layout layout-sm="column">
                                            <md-input-container class="md-block">
                                                <label>Message</label>
                                                <textarea ng-model="invite.message" md-maxlength="500" rows="8" style="height:auto !important;" md-select-on-focus></textarea>
                                           </md-input-container>
                                        </div>
                                    </div>
                                </div>

                                <!-- Preview template-->

                                 <div class="row">
                                    
                                    <div class="col-md-12 col-xs-12 form-group" >

                                    <label class="preview-label">Preview</label><br><br>
                                        <div class="preview-div">
                                            <div layout layout-sm="column" >
                                                <md-input-container class="md-block">
                                          
                                                    <div ng-bind="invite.message"></div>
                                                   <!--  <textarea ng-model="invite.message" md-maxlength="500" rows="8" style="height: 250px;" md-select-on-focus></textarea> -->
                                               </md-input-container>
                                            </div>
                                            <div>
                                                 Follow this link to get started.<a href="#">Click here!</a><br>
                                                 Sincerely,<br>
                                                 <i> The Matt Frost Firm Team </i>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- End of preview template-->

                                  <div class="row bottom-form-btn">
                                  <div class="button-row">
                                    <ul class="add_goal_buttons pull-right btns_add_goal">
                                      <li><button class="btn_AddGoal md-raised btn-w-sm md-primary md-button md-ink-ripple btn-grey btn-sub" type="button" style="margin-bottom: 6px;"><span class="ng-scope">Preview</span><div class="md-ripple-container"></div></button></li>
                                      <li><button ui-sref="confirm-invite" class="btn_AddGoal md-raised btn-w-sm md-primary md-button md-ink-ripple btn-save btn-sub" type="button"><span class="ng-scope">Submit</span><div class="md-ripple-container"></div></button></li>
                                    </ul>
                                  </div>
                                  </div>
                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

