<style>
    .btn-cont{margin-bottom: 6px;text-transform:none;}
</style>

<div class="page page-form" >

    <div class="row ui-section" >


        <div class="panel panel-default">
            <div class="panel-body body-dark hhd" style="padding: 20px 0px 28px 25px !important;">
                <div class="row">

                    <div class="col-md-8 col-xs-12 col-sm-8 hhd-1">
                        <div class="profile-info">
                            <div class="detail-cont">
                               Congratulations, you have successfully invited John Doe
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

         <div class="panel panel-default">
            <div class="panel-body panel-body-inner panel-head-bold">
                <div class="row">
                        <div layout="column" class="col-md-12">
                                <div layout-padding style="padding:77px 0">
                                    <p class="ac-con"> Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras justo odio,sis in,
                                    </p> 
                                    <ul class="add_goal_buttons tcenter">
                                        <li><button ui-sref="invite-contact" class="md-raised btn-w-sm md-primary md-button md-ink-ripple btn-grey btn-cont" type="button" ><span class="ng-scope">Continue</span><div class="md-ripple-container"></div></button></li>

                                        <li><button class="md-raised btn-w-sm md-primary md-button md-ink-ripple btn-save btn_save_2 btn-cont" type="button"><span class="ng-scope">Invite Another User</span><div class="md-ripple-container"></div></button></li>
                                    </ul>    
                                </div>
                        </div>
                </div>          

            </div>
        </div>
    </div>
</div>
