<style>
    .container {
        width: 1170px;
        max-width: 100%;
        margin: 0 auto;
        padding: 10px 0px;
        background: #2a303d;
    }
    
    md-input-container {
        width: 100%
    }










@media only screen and (max-width:405px){

.md-raised.btn-w-sm.md-primary.md-button.md-ink-ripple.btn-save.btn_save_2 {
    margin-top: 20px;
}

}












</style>

<div class="page page-form" ng-controller="FormCtrl">
    <div class="ui-section" ng-controller="OpenAccount">

        
                 <div class="panel panel-default">
             <div class="panel-body panel-body-inner panel-head-bold"">


                

                <div class="row">
                       
                        <div layout="column" class="col-md-12">
                                <div layout-padding style="padding:77px 0">
                              <p class="ac-con"> You have successfully sent your new contact their login credentials.</p> 
                                 <ul class="add_goal_buttons tcenter">
                        <li><button ui-sref="page.advisor.home" class="md-raised btn-w-sm md-primary md-button md-ink-ripple btn-save" type="button">
                            <span class="ng-scope">Close</span><div class="md-ripple-container"></div>
                            </button
                            ></li>
                      
                        </ul> 
                                <!--<ul class="add_goal_buttons tcenter">
                        <li><button ui-sref="create-contact" class="md-raised btn-w-sm md-primary md-button md-ink-ripple btn-grey" type="button"><span class="ng-scope">View Contact</span><div class="md-ripple-container"></div></button></li>
                        <li><button class="md-raised btn-w-sm md-primary md-button md-ink-ripple btn-save btn_save_2" type="button"><span class="ng-scope">Send Login Credential</span><div class="md-ripple-container"></div></button></li>
                        </ul>    -->
 </div>
       </div></div>          

                </div>
            </div>


                



            
    </div>
       </div>
