<style>
    md-input-container{width:100%}


.legend_panel_head_1{
	padding: 22px 24px !important;

}

</style>

<div class="page page-form" ng-controller="createContactCtrl">
    <div class="row ui-section">

        <div class="panel panel-default">
             <div class="panel-body panel-body-inner panel-head-bold">

                <div class="row">
                    <div class="legend_panel_head_1">
                        <div class="bbottom">
                       <span> <label class="outer-head-nob outer_head_1">Thomos Fox</label></span>
                        <span class="user-st-btn">Active</span>
                        <span class="pull-right mfull">
                                    <a href="" class="color-grey-light">+ Add Another Advisor</a>
                            </span>
                            </div>
                        
             <div class="col-md-3 col-xs-12 profile-img-main">
                    <div class="panel-body">
                        <div class="profile-img">

                            <img alt="" src="images/g1.jpg" class="img-circle">
                            <span class="badge badge-md up badge badge-profile-info m-l-n-sm count" style="display: inline-block;">
                               <i class="fa fa-camera fa-lg" aria-hidden="true"></i>
                               </span>
                            <!--<img alt="" src="images/g1.jpg" style="width: 70%;" class="img-circle">
                            <span class="badge badge-profile-info bg-violet"><i class="fa fa-camera fa-lg" aria-hidden="true"></i></span>-->
                        </div>
                    </div>
                </div>
                           
                        <div class="col-md-9 userinfo_1">
                                <div layout-padding>
                                    <form class="account-form">
                                 
                        <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12 form-group">
              <div layout layout-sm="column">
            <md-input-container>
            <label>First Name</label>
            <input ng-model="advisorindv.firstname" disabled>
            </md-input-container>
              </div>
        </div>
         <div class="col-md-6 col-sm-12 col-xs-12 form-group">
            <md-input-container>
            <label>Last Name</label>
            <input ng-model="advisorindv.lastname" disabled>
            </md-input-container>
        </div>
          </div>
          <div class="row">
             <div class="col-md-6 col-sm-12 col-xs-12 form-group">
            <md-input-container>
            <label>Title</label>
            <input ng-model="advisorindv.tittle">
            </md-input-container>
        </div>
         <div class="col-md-6 col-sm-12 col-xs-12 form-group">
            <md-input-container>
            <label>Email</label>
             <input ng-model="advisorindv.email" disabled>
            </md-input-container>
        </div>
                        </div>            
                        
                                    
                       
                          <div class="row">
             <div class="col-md-6 col-sm-12 col-xs-12 form-group">
            <md-input-container>
            <label>Phone*</label>
            <input ng-model="advisorindv.phone">
            </md-input-container>
        </div>
          <div class="col-md-6 col-sm-12 col-xs-12 form-group">
            <md-input-container>
            <label>Cell</label>
            <input ng-model="advisorindv.cell">
            </md-input-container>
        </div>
                        </div>
                        
                           
              <div class="row">
             <div class="col-md-6 col-sm-12 col-xs-12 form-group">
            <md-input-container>
            <label>Fax</label>
             <input ng-model="advisorindv.fax">
            </md-input-container>
        </div>
         <div class="col-md-6 col-sm-12 col-xs-12 form-group">
           <span>
          <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="advisorindv.active" class="md-primary">
           Active
          </md-checkbox>
        </span>
         <span class="ch-left">
          <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="advisorindv.admin" class="md-primary">
           Admin
          </md-checkbox>
        </span>
        </div>
                        </div>  
                        
                        <div class="row">
             <div class="col-md-12 col-sm-12 col-xs-12 form-group">
            <md-input-container>
            <label>Email Signature</label>
             <input ng-model="advisorindv.emailsign">
            </md-input-container>
        </div>
   
                        </div>  
                        
                         <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                        <div layout layout-sm="column">
                                            <md-input-container class="md-block">
          <label>Bio</label>
          <textarea ng-model="advisorindv.bio" md-maxlength="500" rows="8" style="height: 62px;" md-select-on-focus></textarea>
        </md-input-container>
                                        </div>
                                    </div>
                                  
                                </div> 
                               
                         
                                
                                
                                        <div class="row">
                                         <ul class="forms-buttons">
                            <li><button class="btn_AddGoal md-raised btn-w-sm md-primary md-button md-ink-ripple btn-grey" type="button"><span class="ng-scope">Send Invitation</span><div class="md-ripple-container"></div></button></li>
                            <li><button class="btn_AddGoal md-raised btn-w-sm md-primary md-button md-ink-ripple btn-save" type="button"><span class="ng-scope">Save</span><div class="md-ripple-container"></div></button></li>
                        </ul>
                                        </div>
                                           
                      



  </form>
 </div>
       </div></div></div>          

                </div>
            </div>



        </div>
    </div>
</div>
</div>
</div>

