<style>
    md-input-container {
        width: 100%
    }
    
    .btn_AddGoal {
        min-width: 90px !important;
    }
    
    .legend_panel_head_1 {
        padding: 22px 75px !important;
    }
    
    @media screen and (max-width: 1300px) {
        .legend_panel_head_1 {
            padding: 22px 18px !important;
        }
    }
    
    @media screen and (max-width: 1200px) and (min-width:992px) {
        .userinfo_1 {
            width: 50%;
            margin-left: 10%;
        }
    }
    
    @media only screen and (max-width:991px) {
        .btns_add_goal {
            float: left !important;
            padding: 0;
        }
    }
    
    @media only screen and (max-width:500px) {
        .outer_head_1 {
            padding-left: 30px;
        }
    }
    
    .add_another_advisor_1 b {
        position: relative;
        top: 25px;
    }
    
    .advisor_padd_2 {
        padding-left: 15px;
    }
    
    .add_advisor_2 {
        padding-left: 0;
    }
    
    .advisor_add_4 {
        margin-top: 20px;
    }
    
    .active-users_3 {
        text-align: right;
        padding-right: 0;
    }
    
    .active-users_3 p {
        color: #d6d6d6;
    }
</style>

<div class="page page-form" ng-controller="advisorController">
    <div class="row ui-section">

        <div class="panel panel-default panel-minimal">

            <div class="panel-body panel-body-inner panel-head-bold">
                <div class="row client-head-top">
                    <div class="col-md-9 legend_account_2">
                        <h3 class="advisor_padd_2">Advisors</h3>
                    </div>
                    <div class="col-md-3 col-sm-4 legend-add-account add-com" style="margin-top: 15px;">
                        <a>+ Add Another Advisor</a>
                    </div>
                </div>
<div class="table-responsive">
                <table class="table no-margin table-responsive table-goal table-account" ng-init="sortReversefirstName=true; sortType = 'firstName'">
                    <thead>
                        <tr>
                            <th ng-click="sortReversefirstName = !sortReversefirstName; sortType = 'firstName'">First Name <img src="images/userFilter.png" class="cls-image-filter">
                               
                            </th>
                            <th ng-click="sortReversefirstName = !sortReversefirstName; sortType = 'lastName'">Last Name <img src="images/userFilter.png" class="cls-image-filter">
                               </th>
                            <th ng-click="sortReversefirstName = !sortReversefirstName; sortType = 'title'">Title <img src="images/userFilter.png" class="cls-image-filter">
                                </th>
                            <th ng-click="sortReversefirstName = !sortReversefirstName; sortType = 'email'" style="width: 25%;">Email <img src="images/userFilter.png" class="cls-image-filter">
                             </th>
                            <th ng-click="sortReversefirstName = !sortReversefirstName; sortType = 'phone'">Phone <img src="images/userFilter.png" class="cls-image-filter">
                               </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="advisorData in advisorGridData | orderBy : sortType : sortReversefirstName ">
                            <td>{{advisorData.firstName}}</td>
                            <td>{{advisorData.lastName}}</td>
                            <td>{{advisorData.title}}</td>
                            <td>{{advisorData.email}}</td>
                            <td>{{advisorData.phone}}</td>
                            <td class="evn-icn"><i class="fa fa-envelope" aria-hidden="true">
                                 <md-tooltip>
                                  Send Invitation
                                 </md-tooltip>
                              </i>
                            </td>
                        </tr>
                    </tbody>

                </table>
</div>
                <div class="add-com advisor_add_4">
                    <div class="col-md-8 add_advisor_2">
                        <a>+ Add Another Advisor</a>
                    </div>

                    <div class="col-md-4 active-users_3">
                        <p>4 of 5 Users Active</p>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>
