<style>
    md-input-container{width:100%}

.md-scroll-mask {
        background: none !important;
    }

a.tip {

    text-decoration: none
}
a.tip:hover {
    cursor: default;
    position: relative
}
a.tip span {
    display: none
}
a.tip:hover span {
    padding: 7px 10px 8px 15px;
    display: block;
    z-index: 100;
    background: #333;
    margin: 10px;
    width: 250px;
    position: absolute;
    top: 10px;
    text-decoration: none;
    color:#fff;
    border-radius:5px;
    font-size:13px;

}

</style>

<div class="page page-form" ng-controller="createContactCtrl">
    <div class="row ui-section">

        <div class="panel panel-default">
             <div class="panel-body panel-body-inner panel-head-bold">

                <div class="row">
                    <div class="legend_panel_head_1">
                        <h2 class="outer-head outer_head_1" style="margin-left: 22px;margin-right: 22px;">Firm Info</h2>
                        
                        
                         <div id="sidebar2" class="col-md-3" style="margin-top: 20px;">
                                
                                <div class="card-main">
                                    <h3>Logo</h3>
      <md-card>
          <div class="card-img-bg">
        <img src="images/oranj-vertical.png" width="100px" height="150px" class="md-card-image">
          </div>
        <md-card-title class="card-tit">
          <md-card-title-text>
            <span class="md-headline">Oranj_logo.png</span>
          </md-card-title-text>
           <md-button class="md-icon-button" aria-label="Favorite">
            <md-icon class="card-icon" md-svg-icon="images/menu.svg"></md-icon>
          </md-button>
        </md-card-title>
  
      </md-card>
     
     
    </div>
                <div class="card-main">
                                   <ul class="card-head"><li>Favicon</li> 
    <li> 
<a ng-href="" class="tip"><i class="fa fa-info-circle" aria-hidden="true"></i><span>Favicons are small square icons that
are displayed next to the url of your
Oranj app in a brower's address bar</span></a>

     </li>
      </ul>
      <md-card>
          <div class="card-img-bg">
        <img src="images/oranj_favi.jpg" width="80px" height="120px" class="md-card-image" style="padding: 54px;">
          </div>
        <md-card-title class="card-tit">
          <md-card-title-text>
            <span class="md-headline">favicon.png</span>
          </md-card-title-text>
           <md-button class="md-icon-button" aria-label="Favorite">
            <md-icon class="card-icon" md-svg-icon="images/menu.svg"></md-icon>
          </md-button>
        </md-card-title>
  
      </md-card>
     
     
    </div>
                                                 
                             </div>
                           
                        <div class="col-md-9 border-lef">
                               
                                    <form class="account-form">
                                 
                        <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12 form-group">
              <div layout layout-sm="column">
            <md-input-container>
            <label>Firm Name</label>
            <input ng-model="firminfo.name">
            </md-input-container>
              </div>
        </div>
         <div class="col-md-6 col-sm-12 col-xs-12 form-group">
            <md-input-container>
            <label>Phone</label>
            <input ng-model="firminfo.phone">
            </md-input-container>
        </div>
          </div>
          <div class="row">
             <div class="col-md-6 col-sm-12 col-xs-12 form-group">
            <md-input-container>
            <label>Address 1</label>
            <input ng-model="firminfo.address1">
            </md-input-container>
        </div>
         <div class="col-md-6 col-sm-12 col-xs-12 form-group">
            <md-input-container>
            <label>Address 2</label>
             <input ng-model="firminfo.address2">
            </md-input-container>
        </div>
                        </div>            
                        
                                    
                       
                          <div class="row">
             <div class="col-md-6 col-sm-12 col-xs-12 form-group">
            <md-input-container>
            <label>City</label>
            <input ng-model="firminfo.city">
            </md-input-container>
        </div>
         <div class="col-md-6 col-sm-12 col-xs-12 form-group">
       <md-input-container>
                                            <label>State</label>
                                            <md-select ng-model="user.state">
                                                <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                                                    {{state.abbrev}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
        </div>
                        </div>
 
              <div class="row">
             <div class="col-md-6 col-sm-12 col-xs-12 form-group">
            <md-input-container>
            <label>ZIP</label>
            <input ng-model="firminfo.zip">
            </md-input-container>
        </div>
         <div class="col-md-6 col-sm-12 col-xs-12 form-group">
            <md-input-container>
                                            <label>Country*</label>
                                            <md-select ng-model="firminfo.country">
                                                <md-option ng-repeat="country in count" value="{{country.code}}">
                                                    {{country.name}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
        </div>
                        </div>   
                        
                         <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                        <div layout layout-sm="column">
                                            <md-input-container class="md-block">
          <label>Disclaimer</label>
          <textarea ng-model="firminfo.disclaimer" rows="8" style="height: 80px;" md-select-on-focus></textarea>
        </md-input-container>
                                        </div>
                                    </div>
                                  
                                </div> 
                                <h3 style="padding-bottom: 12px;">Configuration</h3>  
                                
                                 <div class="row">
        <div class="col-md-3 col-sm-12 col-xs-12 form-group">
              <div layout layout-sm="column">
            <md-input-container>
            <label>Rate of Inflation <i class="fa fa-info-circle fa-lg color-icn-pr" aria-hidden="true"></i>
     </label>
            <input ng-model="firminfo.roi">
            </md-input-container>
              </div>
        </div>
         <div class="col-md-4 col-md-offset-1 col-sm-12 col-xs-12 form-group">
            <md-input-container>
            <label>Annual Rate of Return  <i class="fa fa-info-circle fa-lg color-icn-pr" aria-hidden="true"></i></label>
            <input ng-model="firminfo.ror">
            </md-input-container>
        </div>
         <div class="col-md-3 col-md-offset-1 col-sm-12 col-xs-12 form-group">
            <md-input-container>
            <label>Life Expectancy  <i class="fa fa-info-circle fa-lg color-icn-pr" aria-hidden="true"></i></label>
            <input ng-model="firminfo.lifeexp">
            </md-input-container>
        </div>
          </div>
                                
                                   <div class="row">
                                         <ul class="forms-buttons">
                            <li><button class="btn_AddGoal md-raised btn-w-sm md-primary md-button md-ink-ripple btn-grey" type="button"><span class="ng-scope">Cancel</span><div class="md-ripple-container"></div></button></li>
                            <li><button class="btn_AddGoal md-raised btn-w-sm md-primary md-button md-ink-ripple btn-save" type="button"><span class="ng-scope">Save</span><div class="md-ripple-container"></div></button></li>
                        </ul>
                                        </div>
                                     
                                           
                      



  </form>
 
       </div></div></div>          

                </div>
            </div>



        </div>
    </div>
</div>
</div>
</div>

