<style>
   /** .control-border{border:none;} **/
    .panel-border{border:none;}
    .panel-header-padding{padding: 15px 0px 0px;}
    .table-responsive-padding{padding:0 0px;}
    .table.manage-account-table thead tr th{border-top: 1px solid #ddd !important;}
    .table.manage-account-table thead tr th{border-bottom: 1px solid #ddd;}
    .table.manage-account-table thead tr th, .table tbody tr td{padding: 8px 4px;vertical-align:middle;}
    .table.manage-account-table tbody tr td .control-border{padding: 0;border:none;}
    .td-trash{width: 4%;text-align: right;}
    .td-trash a {color:#666 !important;}
    .td-trash a:hover {color:#004a43 !important;}
    .cls-image-filter{width: 9px;max-width: 9px;}
    .btn-cont{margin-bottom: 6px;text-transform:none;}
    .image-search{top:4px;}
    .footer-buttons{float:right;margin-right: 25px;}
    .nav-collapsed-min .user-details-panel .fa-search {display: block;}
    .user-details-panel .fa-search {
    top: 3px !important ;color: rgba(130, 148, 164, 0.46) !important;font-size: 13px !important;}
    .app > .main-container{min-height: auto !important;}
   
    .select-input-width{width:180px;}
  .btn-cancel-margin{margin-right: 8px;}
  @media screen and (max-width:475px){
    .media-block{display: block;}
}

</style>

<div class="page page-form ng-scope">
<div class="row">
<div class="md-12">
<div class="panel panel-default panel-border user-details-panel">
             <div class="panel-header panel-header-padding" >
                <div class="row nw-main">
                    <div class="col-xs-7">
                        <span class="pull-left">
                            <div id="selector" class="font-14">
                                <span class="bold font-16">Managed Account </span >
                                <span  class="media-block">(18 Total Accounts)</span>
                            </div>
                        </span>
                    </div>
                    <div class="col-xs-5">
                        <span class="pull-right">
                             <span class="serchByNameIDiv">
                                 <input type="text" placeholder="Search" class="inpStyl">
                                <i class="fa fa-search"></i>
                                 </span>
                        </span>
                    </div>
                </div>
            </div>
             <div class="panel-body" style="max-height: calc(100vh - 225px);overflow: auto;">

                    <div class="table-responsive table-responsive-padding">
                        <table class="table manage-account-table no-margin">
                            <thead>
                                <tr>
                                <th>Account Info <span><img src="images/userFilter.png" class="cls-image-filter" ></span>
                                    </th>
                                <th>Account Type</th>
                                <th>Balance </th>
                                <th>Account Owner </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <span class="bold">Andrew Miller Corporation</span><br> 
                                        <span class="bold">source:</span> <span>TD Ameritrade Institutional <span><br>
                                        <span class="bold">Acct.#: </span> <span>90076247672</span>
                                    </td>

                                    <td>
                                        <select class="form-control control-border select-input-width">
                                            <option>Universal Life Insurance</option>
                                            <option>Aducational saving Account</option>
                                            <option>Brokerage Account</option>
                                            <option>Non-Taxable Brokerage</option>
                                        </select>                                        
                                    </td>

                                    <td>
                                      $1,633,565,45  
                                    </td>
                              
                                    <td>
                                        <select class="form-control control-border select-input-width">
                                            <option>John Dary Marquez</option>
                                            <option>Rona Smith</option>
                                            <option>Emmy Thompson</option>
                                            <option>Nicole Fairbanks</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="bold">Andrew Limited Liability</span><br> 
                                        <span class="bold">source:</span><span> TD Ameritrade Institutional</span> <br>
                                        <span class="bold">Acct.#:</span><span> 90076247626</span>
                                    </td>

                                    <td>
                                        <select class="form-control control-border select-input-width">
                                            <option>Universal Life Insurance</option>
                                            <option>Aducational saving Account</option>
                                            <option>Brokerage Account</option>
                                            <option>Non-Taxable Brokerage</option>
                                        </select>                                        
                                    </td>

                                    <td>
                                      $16,500,74 
                                    </td>
                              
                                    <td>
                                        <select class="form-control control-border select-input-width">
                                            <option>John Dary Marquez</option>
                                            <option>Rona Smith</option>
                                            <option>Emmy Thompson</option>
                                            <option>Nicole Fairbanks</option>
                                        </select>
                                    </td>
                                </tr>
  
                            </tbody>
                        </table>
                        </div>
                    </div>


    <div class="panel-footer">
        <div class="footer-buttons"> 
            <button  class="md-raised btn-w-sm md-primary md-button md-ink-ripple btn-grey btn-cont btn-cancel-margin" type="button" >Cancel</button>
            <button class="md-raised btn-w-sm md-primary md-button md-ink-ripple btn-save btn-cont btn-save-margin" type="button">Save</button>
        </div>
    </div>

</div>
</div>
</div>
</div>
