<style>
.md-scroll-mask {
        background: none !important;
    }
    canvas {
    width: auto !important;
    min-width: auto;
}

</style>
<div class="page" ng-controller="matchedPortfolioController">
    <div>

        <div class="row">
            <div class="col-md-12">

                <div class="panel panel-default panel-margin-bottom panel-minimal">

                    <div class="panel-body-main panel-head-bold">

                        <h3>{{PortfolioNameHeading}}</h3>
                    </div>

                </div>
            </div>

            <div class="col-md-6">

                <div class="panel panel-default panel-margin-bottom panel-minimal cl-block-height matchedPortfolio_body_height">

                    <div class="panel-body-main panel-head-bold">

                        <h3>Asset Allocation</h3>
                    </div>
                    <div class="panel-body-main panel-head-bold">
                        <div class="row">
                            <div class="col-md-8" id="canvasDiv">
                                <canvas id="matchedPortfolioDoughnut" class="canvas-matchedPortfolio-circle"></canvas>
                            </div>

                            <div class="col-md-2 my-legend_1 legend-matchedPortfolio">
                                <div id="matchedPortfolio-legend" class="chart-legend"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">

                <div class="panel panel-default panel-margin-bottom panel-minimal cl-block-height matchedPortfolio_body_height">

                    <div class="panel-body-main panel-head-bold">
                        <h3>Asset Percentage</h3>
                    </div>
                    <div class="goalChartDiv">
                        <div class="common-container-mp">
                            <div class="chart-outer">
                                <div class="panel-body">
                                    <div class="progressbar-container">
                                        <uib-progressbar class="progressbar-md us-stock" value="assetPercentages.low1" type="success"></uib-progressbar>
                                        <p class="desc">US Stock <span class="pull-right">{{assetPercentages.low1}}%</span></p>
                                    </div>
                                    <div class="progressbar-container">
                                        <uib-progressbar class="progressbar-md non-us-stock" value="assetPercentages.low2" type="info"></uib-progressbar>
                                        <p class="desc">Non US Stock <span class="pull-right">{{assetPercentages.low2}}%</span></p>
                                    </div>

                                    <div class="progressbar-container">
                                        <uib-progressbar class="progressbar-md us-bond" value="assetPercentages.low3" type="danger"></uib-progressbar>
                                        <p class="desc">US Bond<span class="pull-right">{{assetPercentages.low3}}%</span></p>
                                    </div>
                                    <div class="progressbar-container">
                                        <uib-progressbar class="progressbar-md non-us-bond" value="assetPercentages.low4" type="warning"></uib-progressbar>
                                        <p class="desc">Non US Bond<span class="pull-right">{{assetPercentages.low4}}%</span></p>
                                    </div>
                                    <div class="progressbar-container preferred-color">
                                        <uib-progressbar matchedPortfolioControllerclass="progressbar-md prefferd" value="assetPercentages.low5" type="warning"></uib-progressbar>
                                        <p class="desc">Preferred<span class="pull-right">{{assetPercentages.low5}}%</span></p>
                                    </div>
                                    <div class="progressbar-container">
                                        <uib-progressbar class="progressbar-md convertible" value="assetPercentages.low6" type="warning"></uib-progressbar>
                                        <p class="desc">Convertible<span class="pull-right">{{assetPercentages.low6}}%</span></p>
                                    </div>
                                    <div class="progressbar-container">
                                        <uib-progressbar class="progressbar-md cash" value="assetPercentages.low7" type="warning"></uib-progressbar>
                                        <p class="desc">Cash<span class="pull-right">{{assetPercentages.low7}}%</span></p>
                                    </div>
                                    <div class="progressbar-container">
                                        <uib-progressbar class="progressbar-md other" value="assetPercentages.low8" type="warning"></uib-progressbar>
                                        <p class="desc">Other<span class="pull-right">{{assetPercentages.low8}}%</span></p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <div class="col-md-12">
                <div class="panel panel-default panel-minimal">
                    <div class="panel-body-main panel-head-bold">
                        <div class="panel-header">
                            <div class="col-xs-6" style="padding-left: 0;">
                                <h3>Portfolios</h3>
                            </div>
                            <div class="col-xs-6 text-right">
                                <div class="add-com-right">
                                    <a>+ Add a Portfolio</a>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>



                            <div class=div-responsive">
                            <div class="Table Table_2">
                                <div class="Title">

                                </div>
                                <div class="Heading" style="border-bottom:1px solid #000;">
                                    <div class="Cell portfoio-table-heading">
                                        <p class="table-heading_name headings_names">Portfolio Name</p>
                                    </div>
                                    <div class="Cell" style="">
                                        <p class="table-heading_name headings_names">Risk Tolerance</p>
                                    </div>
                                  
                                </div>
                                <hr style="margin:0px !important;border-top: 1px solid #ddd;">
                                <div class="Row">
                                    <div class="Cell cell_2 portfoio-table-heading">
                                        <p class="table-data_name">Smith Financial Very Conservative <button style="border:0;  cursor: default; background:#33b7b5; color:#fff;"><span ng-class="activeUser && activeUserColor || !activeUser && activeUserColor">{{activeUser}}</span></button></p>
                                    </div>
                                    <div class="Cell cell_2 conservative">
                                        <p class="table-data_name">Very Conservative</p>
                                    </div>
                                    <div class="Cell cell_2" style="text-align:right; float:right;">
                                        <p class="icon-inner-grid icon-inner_grid_2"><a><i class="fa fa-cog fa-lg" aria-hidden="true" ng-click="edit = !edit" style="padding-right:20px;"><md-tooltip>Edit</md-tooltip></i></a>
                                            <a><i class="fa fa-lg fa-trash-o" style="color:#9e9c9d;" aria-hidden="true" ng-click="showDelete($event)"><md-tooltip>Delete</md-tooltip></i></a>
                                        </p>
                                    </div>
                                </div>




                                <div class="clearfix"></div>
                                <div ng-show="edit" style="margin-top:30px;">
                                    <div class="row">

<div class="col-md-6 col-md-offset-3 col-sm-12 col-sm-offset-0 port-inner-main matchedPortfolio-slider">
                                    

                                        
                                      
                                          
                                       
                                  
<div class="clearfix"></div>

                                    <ul class="asset-per matched_portfolio_list">
                                            <div class="row">
                                            <div class="col-md-4 col-sm-12 col-xs-12">
                                                <md-input-container>
                                                    <label style="font-size:17px;">Portfolio Name</label>
                                                    <input type="text" ng-model="PortfolioName">
                                                </md-input-container>
                                            </div>

                                            <div class="col-md-5 col-sm-12 col-xs-12">
                                                <md-input-container>
                                                    <label style="font-size:17px;">Risk Tolerance</label>
                                                    <md-select ng-model="Tolerance.Risk">
                                                        <md-option ng-repeat="Risk in coverageTypeData" value="{{Risk.abbrev}}">
                                                            {{Risk.abbrev}}
                                                        </md-option>
                                                    </md-select>
                                                </md-input-container>
                                            </div>

                                            <div class="col-md-3 col-sm-12 col-xs-12">
                                                <md-checkbox md-no-ink aria-label="Checkbox No Ink" class="md-primary" style="margin-top: 28px; margin-left: 15px;" ng-model="activebox">Active</md-checkbox>
                                            </div>
                                             </div>
                                        <h3 class="alocation-percentage">Set Allocation Percentage</h3>
                                        <li>
                                            <span class="matched_stock">US Stock</span>
                                            <span><div class="slider-outerDiv"><rzslider rz-slider-model="percentages.low1" class="retSlider percenage_total slider-percentage" rz-slider-options="percentages.options1"></rzslider></div></span>
                                            <span class="rz-value rz-percentage-value">{{percentages.low1}}%</span>
                                        </li>
                                        <li><span class="matched_stock">Non US Stock</span>
                                            <span><div class="slider-outerDiv"><rzslider rz-slider-model="percentages.low2" class="retSlider percenage_total slider-percentage" rz-slider-options="percentages.options2"></rzslider></div></span>
                                            <span class="rz-value rz-percentage-value">{{percentages.low2}}%</span>
                                        </li>
                                        <li><span class="matched_stock">US Bond</span>
                                            <span><div class="slider-outerDiv"><rzslider rz-slider-model="percentages.low3" class="retSlider percenage_total slider-percentage" rz-slider-options="percentages.options3"></rzslider></div></span>
                                            <span class="rz-value rz-percentage-value">{{percentages.low3}}%</span>
                                        </li>
                                        <li><span class="matched_stock">Non US Bond</span>
                                            <span><div class="slider-outerDiv"><rzslider rz-slider-model="percentages.low4" class="retSlider percenage_total slider-percentage" rz-slider-options="percentages.options4"></rzslider></div></span>
                                            <span class="rz-value rz-percentage-value">{{percentages.low4}}%</span>
                                        </li>
                                        <li><span class="matched_stock">Preferred</span>
                                            <span><div class="slider-outerDiv"><rzslider rz-slider-model="percentages.low5" class="retSlider percenage_total slider-percentage" rz-slider-options="percentages.options5"></rzslider></div></span>
                                            <span class="rz-value rz-percentage-value">{{percentages.low5}}%</span>
                                        </li>
                                        <li><span class="matched_stock">Convertible</span>
                                            <span><div class="slider-outerDiv"><rzslider rz-slider-model="percentages.low6" class="retSlider percenage_total slider-percentage" rz-slider-options="percentages.options6"></rzslider></div></span>
                                            <span class="rz-value rz-percentage-value">{{percentages.low6}}%</span>
                                        </li>
                                        <li><span class="matched_stock">Cash</span>
                                            <span><div class="slider-outerDiv"><rzslider rz-slider-model="percentages.low7" class="retSlider percenage_total slider-percentage" rz-slider-options="percentages.options7"></rzslider></div></span>
                                            <span class="rz-value rz-percentage-value">{{percentages.low7}}%</span>
                                        </li>
                                        <li><span class="matched_stock">Other</span>
                                            <span><div class="slider-outerDiv"><rzslider rz-slider-model="percentages.low8" class="retSlider percenage_total slider-percentage" rz-slider-options="percentages.options8"></rzslider></div></span>
                                            <span class="rz-value rz-percentage-value">{{percentages.low8}}%</span>
                                        </li>
                                      
                                       
                                       
                                            <span class="pull-right values-portfolio">
                                        Total: {{percentages.low1 + percentages.low2 + percentages.low3 + percentages.low4 +
                                        percentages.low5 + percentages.low6 + percentages.low7 + percentages.low8}}%
                                        </span>
                                       
                                       
                                  


                                    <div class="content_row_memo">
                                
                                  
                                        <div layout layout-sm="column">
                                            <md-input-container class="memo-textArea">
                                                <label>Memo</label>
                                                <textarea ng-model="Tolerance.memo" md-maxlength="250" rows="5" md-select-on-focus></textarea>
                                            </md-input-container>
                                        </div>
                                 
                                
                                    </div>
                                    </ul>
                                    </div>
</div>

                                   


                                    <div class="col-md-12 portfolio-content_memo col-sm-12 col-xs-12 form-group" style="padding-right:0px;">

                                        <ul class="add_goal_buttons pull-right btns_add_goal">
                                            <li><button class="btn_AddGoal md-raised btn-w-sm md-primary md-button md-ink-ripple btn-grey"
                                                    ng-click="savePercentages(percentages);edit = !edit" type="button"><span class="ng-scope">Cancel</span><div class="md-ripple-container"></div></button></li>
                                            <li><button class="btn_AddGoal md-raised btn-w-sm md-primary md-button md-ink-ripple btn-save"
                                                    ng-click="savePercentages(percentages);edit = !edit" type="button"><span class="ng-scope">Save</span><div class="md-ripple-container"></div></button></li>
                                        </ul>
                                    </div>

                                </div>


                            </div>
                            </div>
                         
                            
                       








                        <div class="table-responsive table-responsive_3 table_legends table_res">
                            <table class="table no-margin table-goal">
                                <!--<thead>
                                    <tr>-->
                                <!--<th class="table-heading_name">Active</th>-->
                                <!--<th style="width:35%" class="table-heading_name">Portfolio Name</th>
                                        <th class="table-heading_name" id="table-headings-padd">Risk Tolerance</th>-->
                                <!--<th class="table-heading_name" id="table-headings-padd">Asset Allocation</th>-->
                                <!--<th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>-->
                                <tbody>
                                    <!--<tr>-->
                                    <!--<td>
                                            <md-checkbox md-no-ink aria-label="Checkbox No Ink" class="md-primary"></md-checkbox>
                                        </td>-->
                                    <!--<td class="table-data_name">Portfolio Awesome <span ng-class="activeUser && activeUserColor || !activeUser && activeUserColor">{{activeUser}}</button></td>
                                        <td class="table-data_name">Very Conservative</td>
                                        <td class="icon-inner-grid"><a><i class="fa fa-cog" aria-hidden="true" ng-click="edit = !edit"><md-tooltip>Edit</md-tooltip></i></a><a><i class="fa fa-trash-o" aria-hidden="true" ng-click="showDelete($event)"><md-tooltip>Delete</md-tooltip></i></a></td>
                                        <td></td>
                                    </tr>-->

                                    <!--<tr style="border:0;width:100%;">
                                        <td>
                                            
                                         
                                             </div>
                                        </td>
                                    </tr>-->



                                    <tr>
                                        <!--<td>
                                            <md-checkbox md-no-ink aria-label="Checkbox No Ink" class="md-primary"></md-checkbox>
                                        </td>-->
                                        <td class="table-data_name lorem" style="width:40%;"> Smith Financial Moderate</td>
                                        <td class="table-data_name lorem">Moderate</td>
                                        <td class="icon-inner-grid lorem icon-inner_grid_2" style="text-align:right; padding-right:0 !important;"><a><i class="fa fa-cog fa-lg" style="padding-right:20px;" aria-hidden="true" ng-click="edit2 = !edit2"><md-tooltip>Edit</md-tooltip></i></a>
                                            <a><i class="fa fa-lg fa-trash-o" style="color:#9e9c9d;" aria-hidden="true" ng-click="showDelete($event)"><md-tooltip>Delete</md-tooltip></i></a>
                                        </td>

                                    </tr>
                                    <!--<tr ng-show="edit2">
                                        <td>
                                            <div class="md-dialog-content">
                                                <div class="row">
                                                    <ul class="asset-per">
                                                        <li><span class="rz-label">US Stock</span>
                                                            <rzslider rz-slider-model="percentages.low1" class="retSlider" rz-slider-options="percentages.options1"></rzslider><span class="rz-value">{{percentages.low1}}%</span>
                                                        </li>
                                                        <li><span class="rz-label">Non US Stock</span>
                                                            <rzslider rz-slider-model="percentages.low2" class="retSlider" rz-slider-options="percentages.options2"></rzslider><span class="rz-value">{{percentages.low2}}%</span>
                                                        </li>
                                                        <li><span class="rz-label">US Bond</span>
                                                            <rzslider rz-slider-model="percentages.low3" class="retSlider" rz-slider-options="percentages.options3"></rzslider><span class="rz-value">{{percentages.low3}}%</span>
                                                        </li>
                                                        <li><span class="rz-label">Non US Bond</span>
                                                            <rzslider rz-slider-model="percentages.low4" class="retSlider" rz-slider-options="percentages.options4"></rzslider><span class="rz-value">{{percentages.low4}}%</span>
                                                        </li>
                                                        <li><span class="rz-label">Prefferd</span>
                                                            <rzslider rz-slider-model="percentages.low5" class="retSlider" rz-slider-options="percentages.options5"></rzslider><span class="rz-value">{{percentages.low5}}%</span>
                                                        </li>
                                                        <li><span class="rz-label">Convertible</span>
                                                            <rzslider rz-slider-model="percentages.low6" class="retSlider" rz-slider-options="percentages.options6"></rzslider><span class="rz-value">{{percentages.low6}}%</span>
                                                        </li>
                                                        <li><span class="rz-label">Cash</span>
                                                            <rzslider rz-slider-model="percentages.low7" class="retSlider" rz-slider-options="percentages.options7"></rzslider><span class="rz-value">{{percentages.low7}}%</span>
                                                        </li>
                                                        <li><span class="rz-label">Other</span>
                                                            <rzslider rz-slider-model="percentages.low8" class="retSlider" rz-slider-options="percentages.options8"></rzslider><span class="rz-value">{{percentages.low8}}%</span>
                                                        </li>
                                                    </ul>


                                                    <div class="rz-total-value">Total: {{percentages.low1 + percentages.low2 + percentages.low3 + percentages.low4
                                                        + percentages.low5 + percentages.low6 + percentages.low7 + percentages.low8}}%
                                                    </div>


                                                    <ul class="add_goal_buttons pull-right btns_add_goal">
                                                        <li><button class="btn_AddGoal md-raised btn-w-sm md-primary md-button md-ink-ripple btn-grey"
                                                                ng-click="cancel()" type="button"><span class="ng-scope">Cancel</span><div class="md-ripple-container"></div></button></li>
                                                        <li><button class="btn_AddGoal md-raised btn-w-sm md-primary md-button md-ink-ripple btn-save"
                                                                ng-click="cancel()" type="button"><span class="ng-scope">Save</span><div class="md-ripple-container"></div></button></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>-->
                                </tbody>
                            </table>
                        </div>

                        <div class="add-com portfoliio-add">
                            <a>+ Add a Portfolio</a>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>
</div>

