<style type="text/css">
    .md-scroll-mask {
        background: none !important;
    }
</style>
<md-dialog class="memo-dialog" ng-cloak>
  <form>

    <md-dialog-content>
      <div class="md-dialog-content" >
        <md-input-container class="md-block">
          <label>Memo</label>
          <textarea ng-model="Memo.name" md-maxlength="250" rows="5" md-select-on-focus></textarea>
        </md-input-container>
        <div class="row">
          <ul class="add_goal_buttons pull-right btns_add_goal">
            <li><button class="btn_AddGoal md-raised btn-w-sm md-primary md-button md-ink-ripple btn-grey" ng-click="cancel()" type="button"><span class="ng-scope">Cancel</span><div class="md-ripple-container"></div></button></li>
            <li><button class="btn_AddGoal md-raised btn-w-sm md-primary md-button md-ink-ripple btn-save" ng-click="cancel()" type="button"><span class="ng-scope">Save</span><div class="md-ripple-container"></div></button></li>
          </ul>
        </div>
      </div>
    </md-dialog-content>

  </form>
</md-dialog>