<style>
    md-input-container{width:100%}

.md-scroll-mask {
        background: none !important;
    }


md-checkbox .md-container {
    position: absolute;
    top: 0;}
md-checkbox .md-label {

    margin-left: 33px;
    top: -11px;
}
md-checkbox {
    margin-bottom: 0px;

</style>

<div class="page page-form" ng-controller="questionnaireCtrl">
    <div class="row ui-section">

        <div class="panel panel-default">
             <div class="panel-body panel-body-inner panel-head-bold">

                <div class="row">
                    
                    <div class="legend_panel_head_1">
                        <div class="bbottom-full">
                       <span> <label class="outer-head-nob outer_head_1">Questionnaire</label></span>
                        
                        <span class="pull-right mfull" style="padding-top: 3px;">
                                 You can use the default questions or select your own questions below (5 questions are required)
                            </span>
                            </div>
                     
                       
                        <div class="col-md-12">
                        <div layout-padding>
                            <span ng-repeat="question in questions">
                                    <div layout layout-sm="column" >
                                        <md-checkbox md-no-ink aria-label="Checkbox No Ink" class="md-primary ques-check">
           <b>{{question.question}}</b>
          </md-checkbox>
                                      
                                    </div>

                                    <div layout layout-sm="column" class="ques-bottom">
                                        <ul ng-class='addDymCLass($index);' ng-model="question.selected">
                                            <li ng-repeat="option in question.options" ng-value="option.value" aria-label="{{option.lable}}">
                                            {{option.lable}}
                                            </li>
                                        </ul>
                                    </div>
                             </span>
                        </div>
                    </div>
                        </div></div>          

                </div>
            </div>



        </div>
    </div>
</div>
</div>
</div>

