<style type="text/css">
    .md-scroll-mask {
        background: none !important;
    }
</style>
<md-dialog class="setpercen-dialog" ng-cloak>


    <md-dialog-content>
      <div class="md-dialog-content">
        <div class="row" >
          <ul class="asset-per">
            <li><span class="rz-label">US Stock</span>
            <span>
              <rzslider rz-slider-model="percentages.low1"  class="retSlider" rz-slider-options="percentages.options1"></rzslider></span><span class="rz-value">{{percentages.low1}}%</span>
            </li>
            <li><span class="rz-label">Non US Stock</span>
              <rzslider rz-slider-model="percentages.low2" class="retSlider" rz-slider-options="percentages.options2"></rzslider><span class="rz-value">{{percentages.low2}}%</span>
            </li>
            <li><span class="rz-label">US Bond</span>
              <rzslider rz-slider-model="percentages.low3" class="retSlider" rz-slider-options="percentages.options3"></rzslider><span class="rz-value">{{percentages.low3}}%</span>
            </li>
            <li><span class="rz-label">Non US Bond</span>
              <rzslider rz-slider-model="percentages.low4" class="retSlider" rz-slider-options="percentages.options4"></rzslider><span class="rz-value">{{percentages.low4}}%</span>
            </li>
            <li><span class="rz-label">Prefferd</span>
              <rzslider rz-slider-model="percentages.low5" class="retSlider" rz-slider-options="percentages.options5"></rzslider><span class="rz-value">{{percentages.low5}}%</span>
            </li>
            <li><span class="rz-label">Convertible</span>
              <rzslider rz-slider-model="percentages.low6" class="retSlider" rz-slider-options="percentages.options6"></rzslider><span class="rz-value">{{percentages.low6}}%</span>
            </li>
            <li><span class="rz-label">Cash</span>
              <rzslider rz-slider-model="percentages.low7" class="retSlider" rz-slider-options="percentages.options7"></rzslider><span class="rz-value">{{percentages.low7}}%</span>
            </li>
            <li><span class="rz-label">Other</span>
              <rzslider rz-slider-model="percentages.low8" class="retSlider" rz-slider-options="percentages.options8"></rzslider><span class="rz-value">{{percentages.low8}}%</span>
            </li>
          </ul>
          
          
            <div class="rz-total-value">Total: {{percentages.low1 + percentages.low2 + percentages.low3 + percentages.low4 + percentages.low5 + percentages.low6 + percentages.low7 + percentages.low8}}% </div>
          

          <ul class="add_goal_buttons pull-right btns_add_goal">
            <li><button class="btn_AddGoal md-raised btn-w-sm md-primary md-button md-ink-ripple btn-grey" ng-click="cancel()" type="button"><span class="ng-scope">Cancel</span><div class="md-ripple-container"></div></button></li>
            <li><button class="btn_AddGoal md-raised btn-w-sm md-primary md-button md-ink-ripple btn-save" ng-click="cancel()" type="button"><span class="ng-scope">Save</span><div class="md-ripple-container"></div></button></li>
          </ul>
        </div>
      </div>
    </md-dialog-content>


</md-dialog>