<style>
/*    .control-border{border:none;}*/
    .panel-border{border:none;}
    .panel-header-padding{padding: 20px 0px 0px;}
    .table-responsive-padding{padding:0 0px;}
    .table.user-details-table thead tr th{border-top: 1px solid #ddd !important;}
    .table.user-details-table thead tr th{border-bottom: 1px solid #ddd;}
    .table.user-details-table thead tr th, .table tbody tr td{padding: 8px 4px;vertical-align:middle;}
    .table.user-details-table tbody tr td .control-border{padding: 0;border:none;}
    .td-trash{width: 4%;text-align: right;}
    .td-trash a {color:#666 !important;}
    .td-trash a:hover {color:#004a43 !important;}
    .cls-image-filter{width: 9px;max-width: 9px;}
    .btn-cont{margin-bottom: 6px;text-transform:none;}
    .image-search{top:4px;}
    .footer-buttons{float:right;margin-right: 25px;}
    .nav-collapsed-min .user-details-panel .fa-search {display: block;}
    .user-details-panel .fa-search {
    top: 3px !important ;color: rgba(130, 148, 164, 0.46) !important;font-size: 13px !important;}
    .app > .main-container{min-height: auto !important;}
    .mobile-input-width{width:100px;}
    .select-input-width{width:130px;}

    

    .btn-cancel-margin{margin-right: 8px;}

    /*====*/


</style>

<div class="page page-form ng-scope">

<div class="row">
<div class="md-12">
<div class="panel panel-default panel-border user-details-panel">
             <div class="panel-header panel-header-padding" >
                <div class="row nw-main">
                    <div class="col-xs-6">
                        <span class="pull-left">
                            <div id="selector" class="font-14">
                                <span class="bold font-16">User Details</span> <span class="media-block"> (30 Total Users)</span>
                            </div>
                        </span>
                    </div>
                    <div class="col-xs-6">
                        <span class="pull-right">
                                 <span class="serchByNameIDiv">
                                     <input type="text" placeholder="Search" class="inpStyl">
                                    <i class="fa fa-search"></i>
                                 </span>
                        </span>
                    </div>
                </div>
            </div>
             <div class="panel-body" style="max-height: calc(100vh - 225px);overflow: auto;">

                    <div class="table-responsive table-responsive-padding">
                      <table class="table user-details-table no-margin">
                         <thead>
                            <tr>
                             <th>First Name <span><img src="images/userFilter.png" class="cls-image-filter" ></span></th>
                             <th>Last Name <span><img src="images/userFilter.png" class="cls-image-filter" ></span></th>
                             <th>Email <span><img src="images/userFilter.png" class="cls-image-filter" ></span></th>
                             <th>Phone <span> <img src="images/userFilter.png" class="cls-image-filter" ></span></th>
                             <th>Advisor</th>
                             <th></th>
                            </tr>
                         </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="form-control control-border" value="Alicia"/> </td>
                                    <td><input type="text" class="form-control control-border" value="Butera"/></td>
                                    <td>abutera@runoranj.com</td>
                                    <td><input type="text" class="form-control control-border mobile-input-width" value="312-635-0711"/></td>
                                    <td>
                                        <select class="form-control control-border select-input-width">
                                            <option>Jim Mallony</option>
                                            <option>Donna Langford</option>
                                            <option>Johny Drama</option>
                                            <option>Michael smith</option>
                                        </select>
                                    </td>
                                    <td class="td-trash">
                                        <a href="javascript:void(0);"><i class="fa fa-trash-o" title="delete"></i></a>
                                    </td>
                                </tr>

                                <tr>
                                    <td><input type="text" class="form-control control-border" value="Chip"/> </td>
                                    <td><input type="text" class="form-control control-border" value="Goeb"/></td>
                                    <td>chipster45@yahoo.com</td>
                                    <td><input type="text" class="form-control control-border mobile-input-width" value="312-456-3321"/></td>
                                    <td>
                                        <select class="form-control control-border select-input-width">
                                            <option>Jim Mallony</option>
                                            <option>Donna Langford</option>
                                            <option>Johny Drama</option>
                                            <option>Michael smith</option>
                                        </select>
                                    </td>
                                    <td class="td-trash"><a href="javascript:void(0);"><i class="fa fa-trash-o" title="delete"></i></a></td>
                                </tr>   

                                <tr>
                                    <td><input type="text" class="form-control control-border" value="Dan"/> </td>
                                    <td><input type="text" class="form-control control-border" value="Smith"/></td>
                                    <td>dsmith@gmail.com</td>
                                    <td><input type="text" class="form-control control-border mobile-input-width" value="838-393-0303"/></td>
                                    <td>
                                        <select class="form-control control-border select-input-width">
                                            <option>Jim Mallony</option>
                                            <option>Donna Langford</option>
                                            <option>Johny Drama</option>
                                            <option>Michael smith</option>
                                        </select>
                                    </td>
                                    <td class="td-trash"><a href="javascript:void(0);"><i class="fa fa-trash-o" title="delete"></i></a></td>
                                </tr> 
                            </tbody>
                        </table>
                        </div>
                    </div>


    <div class="panel-footer">
        <div class="footer-buttons"> 
            <button  class="md-raised btn-w-sm md-primary md-button md-ink-ripple btn-grey btn-cont btn-cancel-margin" type="button" >Cancel</button>
            <button class="md-raised btn-w-sm md-primary md-button md-ink-ripple btn-save btn-cont btn-save-margin" type="button">Save</button>
        </div>
    </div>

</div>
</div>
</div>
</div>